- locals.date = '2014-08-27';
- locals.preview = 'Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet';
- locals.slug = 'something-beautiful'

p Helloooo World

.div.divulescu Lololololwasexdfghbjnkml
