- locals.date = '2014-09-09';
- locals.preview = 'Lorem ipsum dolor sit amet Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet';
- locals.slug = 'apple-iphone';
- locals.thumb = 'http://placekitten.com/600/600';
- locals.title = 'Ceva Titlu';

p Helloooo ios8

.div.divulescu lalal
