- locals.date = '2014-10-03 12:00';
- locals.thumb = '/assets/img/posts/avocatul-poporului.jpg';
- locals.title  = 'Monica Macovei: SUA avertizează clasa politică de la București că NATO nu este o umbrelă pentru corupție';
- locals.slug = 'nato-nu-este-umbrela-pentru-coruptie';
- locals.preview = 'SUA, principalul nostru prieten politic și aliat militar, avertizează clasa politică de la București că NATO nu este o umbrelă pentru corupție';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['comunicat'];
p
  em (București, 03.10.2014) Monica Macovei – Declarație de presă
p Într-un discurs la Washington, Victoria Nuland, subsecretar de stat american, a declarat că în Europa de Centrală și de Est există lideri politici care amenință justiția, libertatea și democrația, prin:
ol(type='1')
  li protejarea pe față a oficialilor corupți,
  li afaceri care cresc dependența de Estul nedemocratic,
  li cenzură,
  li atacuri împotriva societății civile și 
  li limbaj ultra-naționalist.
p Statele Unite, principalul nostru prieten politic și aliat militar, avertizează clasa politică de la București că NATO nu este o umbrelă pentru corupție și lipsă de democrație.
ol(type='1')
  li 
    h2
      strong De ce nu poate fi Victor Ponta președinte. 
    p Ponta, candidat la președinție, cap al mafiei PSD și prim-ministru, face o pasiune pentru modelul Partidului Comunist Chinez. Întors din China, își serbează ziua de naștere pe stadion, dă ordine pentru concedierea jurnaliștilor incomozi, atacă independența justiției și își protejează prietenii și subordonații politici de anchetele procurorilor. Ponta promite prin miniștrii săi  “aprofundarea cooperării militare bilaterale” cu China și reluarea curselor aeriene directe spre China, fără, însă, a sufla o vorbă despre o cursă directă București-Washington, de exemplu. 
    p
      strong Cum va păstra Ponta direcția Vest a României când opțiunile lui publice sunt spre Est?
  li
    h2
      strong De ce nu poate fi Călin Popescu Tăriceanu președinte. 
    p Tăriceanu, candidat la președinție, șef al Senatului și coadă de topor a PSD, tergiversează rezolvarea cererilor DNA pentru începerea urmăririi penale împotriva a doi pesediști suspectați de corupție în dosarul Microsoft. 
    p
      strong Cum va respecta Tăriceanu justiția și lupta anticorupție dacă le pune piedici?
  li 
    h2
      strong De ce nu poate fi Elena Udrea președinte. 
    p Udrea, candidat la președinție și președinte de partid, insinuează că Direcția Națională Anticorupție face dosare la comandă politică atunci când afirmă că audierea ei la DNA, în calitate de martor într-un dosar penal, nu este „o coincidență”. 
    p
      strong Cum va apăra Udrea independența DNA dacă nu crede în ea, iar parteneri de ai ei de afaceri sau politici sunt prinși în dosare de corupție?
  li
    h2
      strong De ce nu poate fi Klaus Johannis președinte. 
    p Johannis, candidat la președinție din partea ACL și fost candidat la funcția de prim-ministru din partea PSD-PNL-Voiculescu, președinte PNL și președinte ACL, tolerează condamnați pentru corupție din propriul partid în Parlamentul României și tace mâlc în legătură cu încălcarea Constituției și modificarea Codului penal în favoarea unor infractori din partide. El însuși este în proces cu ANI pe motiv de incompatibilitate.
    p
      strong Cum va apăra legea Johannis dacă tace complice la încălcarea ei?
  li
    h2
      strong De ce nu poate fi Teodor Meleșcanu președinte. 
    p Meleșcanu, candidat la președinția României și fost șef SIE, și-a strâns semnăturile, în timp ce era șef al Serviciului de Informații Externe, prin intermediul unei organizații cu simpatii kaghebiste și legături cu Moscova. În plus, în spațiul public apar informații privind interlopi care ar fi sponsorizat campania de strângere de semnături.
    p
      strong Cum va apăra Meleșcanu securitatea națională dacă are legături cu organizații pro-ruse?
.row
  .col-xs-4
  .col-xs-4
    a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/NATO nu este umbrela pentru coruptie 3 oct.docx", rel="download")
     | Descarcă
     br
     | declarația de presă integrală
  .col-xs-4