- locals.date = '2014-10-12 21:00';
- locals.thumb = '/assets/img/posts/MM-interviu.jpg';
- locals.title  = 'Interviu Monica Macovei';
- locals.slug = 'interviu-video-monica-macovei';
- locals.preview = 'Asigurarea independentei energetice a Romaniei este "vitala pentru securitatea nationala si independenta tarii", a declarat Monica Macovei pentru WALL-STREET.RO, candidata independenta la prezidentiale subliniind ca piata de energie trebuie liberalizata prin asigurarea unui mediu economic predictibil.';
- locals.author = 'Dan Tapalaga si Cristian Pantazi'
- locals.source = 'http://www.hotnews.ro/stiri-politic-18293940-monica-macovei-interviu-live-video-live-text-hotnews-ora-12-00.htm';
- locals.tags = ['articol'];

div(style="text-align: center")
  iframe(width='560', height='315', src='//www.youtube.com/embed/VWiJhcD5A8E', frameborder='0', allowfullscreen='allowfullscreen')

br
strong Transcriptul interviului:
em
  br
  br
  br
  | Cum si cand, in ce context, v-a venit ideea candidaturii?
  br
br
| Dupa ce am vazut cele doua candidaturi de stanga si dreapta - Ponta si Iohanis - am decis ca im ambele cazuri Romania se duce inapoi, in nici un caz nu merge inainte. Atunci am luat decizia sa candidez, pentru a duce Romania inainte.
br
br
| Si doi, amindoi candidatii de mai sus reprezinta aceeasi clasa politica la putere de 25 de ani
em ,
| care ne fura, ne insulta inteligenta, ne minte si ca atare nu vor aduce nici o schimbare: Romania va ramine la fel.
em
  br
  br
  | V-ati lansat recentul programul de candidat. Care sunt principalele doua-trei lucruri importante pe care va propuneti sa le realizati?
  br
br
| La 25 de ani de la Revolutie as vrea sa schimb Romania. Reforma clasei politice, economia libera, educatie, sanatate, relatiile internationale - care acum sunt de o importanta covarsitoare, siguranta nationala, moralitatea.
br
em
  br
  | Care ar fi cheia de bolta a programului dvs.?
br
br
| Ca sa incep cu politica externa, categoric este mentinerea directia spre Vest, mai ales in aceasta perioada cand suntem la granita intre democratie si nedemocratie. Cand spun Vest acum ma refer in primul rand la SUA si NATO in aceste conditii cand avem o agresiune si un razboi la granita de est a Romaniei. Trebuie sa profitam de aceasta situatie, sa o transformam intr-o oportunitate ca SUA sa investeasca in Romania politic, economic si militar. Va aduc aminte ca asa au facut SUA in Israel si in Coreea de Sud. Este o situatie in plus, care nu exista in 2004 cind Traian Basescu a preluat presedintia. Trebuie sa faci lobby pentru asta, sa ceri investitii economice si militare in Romania.
br
br
| O alta chestiune este transformarea relatiei dintre politician si oameni. Oamenii trebuie sa inteleaga ca presedintele, parlamentarii, ministrii sunt angajatii lor. De aici deriva democratia participativa: Dragi oameni, nu decidem noi pentru voi. Haideti si decicem impreuna.
br
br
| Facem referendum si dedicem pe zece chestiuni: vrem in zona euro? Vrem 6% din PIB pentru Sanatate? Dupa care stam pe capul Parlamentului si al Guvernului sa respecte vointa poporului.
br
br
em
  | Dar daca referendumul nu e pus in aplicare - cum e deja cazul cu referendumul pentru rudecerea numarului de parlamentari - nu se banalizeaza? La ce instrumente va ganditi sa puteti folosi institutia referendumului?
br
br
| Pina cind se schimba Constitutia, vom face presiune asupra Parlamentului sa schimbe legea. Nu ne lasam. Schimbam jocul. Politicienii trebuie sa asculte de popor. Trebuie sa invatam pe oameni sa participe, ca puterea este la ei.
br
em
  br
  | Nu e totusi riscant?
em Cum veti face reforma clasei politice?
br
br
| Asa cum am facut DNA si o parte a clasei politice a fost nevoita sa plece de la putere, pentru ca fura, cu aceeasi dfeterminare voi face urmatorul pas. Si il repet mai explicit: asa se intimpla in Elvetia, Canada, SUA: invatam oamenii, ceea ce nu au fost invatati 25 de ani, sa isi spuna parerea pe orice chestiune importanta, fie ca e a comunitatii, fie ca e a tarii.
br
br
| Va dau un exemplu: cand s-a facut politica comuna agricola, s-a lucrat 3-4 ani de zile. Au primit scrisori de la fermieri de la toate statele UE, numai de la romani nu au primit. Mi-au spus "pai nu ne-am gandit ca putem". Scrieti scrisori parlamentarilor.
br
em
  br
| Sunt datoare cu a treia chestiune: depolitizarea institutiilor. Nu mai vreau sa existe directori la spitale, la scoli, la CNA sau la ANAF care sa fie numiti politic.
br
em
  br
  | Dar asta depinde tot de partide.
br
br
| Sigur ca da. Dar daca o tinem ca depinde de partide - PSD, PNL, PDL - atunci nu schimbam nimic in tara. Singurul lucru pe care il putem face este sa implicam oamenii. Mai putem introduce regula prin care - exista in SUA si Canada, din doi in doi ani, se fac alegeri. Sau daca esti nemultumit de Parlamentarul tau, ai facut unr eferendum si i-ai luat jumatate din mandat, sau trei sferturi din mandat.
br
br
em
  | Cine sunt oamenii din echipa dvs pe care ii veti aduce la Cotroceni in posturi-cheie? Sef al cancelariei, principali consilieri?
br
br
| Nu o sa va dau nume acuma, insa eu lucrez cu oameni din sistemul privat in toate domeniile, nu din sistemul politic, cu antreprenori. Cu cei pe care ii am in cap sigur ca am discutat.
br
br
em
  | Va ganditi la un nou partid?
  br
  br
| Da, se vor aduna voturi si este un entuziasm foarte mare si nemaintalnit pana acum in Romania; toata lumea lucreaza voluntar - companii de IT, regizori, studenti, dar si pensionari.
br
| Da, va raspund la intrebare. Exista presiune si dorinta din partea acestor oameni sa continuam sa facem ceva, indifirent de rezultat. In situatia in care cistig si cred ca voi cistiga, oricum am nevoie de un partid.
br
br
em Va doriti sa conduceti un nou partid?
br
br
| Voi vedea daca imi doresc. Imi doresc reforma clasei politice, o idee pe care o am din 2005. Sa spunem transformarea clasei politice.
br
em
  br
  | Nu va temeti ca un rezultat sub asteptarile dvs ar putea compromite ideea de reforma, de care e legata si imaginea dvs?
br
br
| Daca iei in calcul toate temerile, nu mai faci nimic in viata. Mi-au spus prietenii:
em Nu te gandesti - daca este un scor foarte mic, iti strici imaginea
| . Le-am spus: Nu imi pasa de imaginea mea, imi pasa de tara.
br
br
em Sunteti de acord cu exploatarea gazelor de sist?
br
br
| Daca sunt sigure pentru mediu, da. Dar nu cred ca trebuie sa ajungem la gazele de sist. Orice facem pe siguranta energetica trebuie sa facem cu tari aliate. Deci energia nucleara, rezervele de titei din Marea Neagra, energie regenerabila.
br
br
em
  | Tocmai a avut loc un miting pan-european anti TTIP. Care este pozitia dvs fata de acest acord in negociere. Credeti ca de acest acord vor beneficia doar corporatiile, in detrimentul cetatenilor asa cum reclama cateva ONG-uri?
  br
br
| Eu sint de acord cu acest acord si vreau ca Romania trebuie sa-l urmeze.
br
br
em Cine sunt cei mai mari trei donatori din campanie
| ?
br
br
| Nu m-am uitat la nume. Sunt transparenta in sensul ca am deschis cont la banca, am discutat cu banca sa blocheze contributia financiara daca este ceva suspect. Dar sa stiti ca sunt sume destul de mici.
br
br
em
  | Relatia cu Traian Basescu. I-ati cerut sa initieze referendum pentru ridicarea imunitatii, nu a raspuns. De ce?
br
br
| Probabil ca sustine alt candidat si ca atare considera ca ar fi in defavoarea acelui candidat, dna Udrea, banuiesc. Sau nu crede in ceea ce am initiat. Eu am repetat propunerea si o voi repeta.
br
br
em
  | Care a fost mai exact momentul in care s-a rupt relatia cu presedintele?
  br
br
| Pactul pe justitie pe care l-a facut cu Victor Ponta. ZIua aceea in care a renuntat la procedura de selectie de buna practica care exista din 2005 si era 2013. Ponta s-a dus la CSM sa le propuna fara procedura de selectie. Traian Basescu a iesit la televizor si a zis nu facem procedura de selectie, negociem noi - adica el cu Ponta - si Daniel Morar este o problema constitutionala. Or, Daniel Morar e omul care a construit DNA. Si a spune asta despre Morar mi s-a parut ca a fost o executie in direct.
br
br
em
  | La un an si jumatate dupa acest moment, cum evaluati activitatea DNA dupa acordul pe procurori? Institutia functioneaza la fel ca inainte sau diferit?
br
br
| Activitatea DNA e buna. Eu atunci am cerut sa fie cineva din DNA la sefia institutiei. Sa speram ca si in instanta vor continua la fel dosarele.
br
br
em
  | Seful SRI, George Maior, a zis ca-si pune mandatul la dispozitie viitorului presedinte. Ce faceti cu mandatul pus la dispozitie de seful SRI?
br
br
| O sa reflectez. In acest momnet nu am ce sa-i reprosez dlui Maior, dar nici nu am destule informatii ca sa stiu daca activitatea dansului este... Deci nu inseamna ca nu poate sa continue domnul Maior, doar spun ca nu am informatii.
br
br
em
  | Cat de reformate vi se pare serviciile secrete si ce schimbari ati face acolo daca ati face?
br
br
| Iarasi, fara sa am informatii: ele s-au reformat in procesul de integrare in NATO si apoi in procesul de colaborare cu NATO si se vede asta. Ele apara democratia in Romania. Sunt implicate si in lupta anticoruptie. Cred insa ca exista in continuare persoane, din ce citesc in presa, care nu au ce cauta acolo, au totul felul de contracte dubioase.
br
br
em
  | DL Ghita de exemplu, vi se pare ok cum functioneaza comisiile de control (din Parlament)?
br
br
| Nu, nu cred ca isi fac treaba bine.
br
br
em
  | Au aparut zvonuri cum ca acest candidat - membru al unui serviciu secret - ar fi din SIPA, serviciu pe care l-ati desfiintat. Aveti informatii? Vi se pare verosimil?
br
br
| Nu. Eu stiu ce sa va spun? Nu am idee despre ce vorbeste Traian Basescu.
br
br
| Eu nu m-am uitat in arhiva SIPA. Am numit o comisie cu un procuror si un judecator sa se uite in ea - dar arhiva era sub cheie, nu intra oricine - si istorici, ca apoi sa facem public ce-a facut SIPA ca principiu. A facut politie politica. Astea erau informatiile, ca s-a ocupat nu numai de magistrati, ci si de politicieni.
br
br
| A venit apoi dl Chiuariu (la ministerul Justitiei - n. red), a desfiintat comisia, si inteleg ca a intrat in arhiva oricine a vrut.
br
br
em Acele arhive nu au fost predate?
br
br
| Eu am desfiintat SIPA, dar am ramas cu arhiva. Arhiva a ramas in la Administratia Nationala a Penitenciarelor, intr-un hol cu zabrele si lacat. Am zis ca arhiva sa fie studiata ca sa stim ce este in ea. S-au urmarit magistrati, avocati, politicieni? Repet, asa erau informatiile, se spunea ca PSD-ul folosise acest serviciu si sa urmareasca opozantii politici. Dar nu s-a finalizta din pacate asta. Dar as vrea sa spun ca sint singurul ministru care a desfiintat prorpiul serviciu de informatii.
br
br
em
  | Daca ati fi presedinte astazi si ati afla ca unul dintre candidati este ofiter acoperit, i-ati da numele?
br
br
| Traian Basescu nu i-a dat numele din cite stiu.
br
br
| Pentru ca este grav ca presedintele tarii sa fie ofiter de informatii - sa fie santajabil -  ca atare, daca as fi facut asta, as fi spus de la inceput numele. Sau as fi vorbit cu acel om si i-as fi spus sa se retraga. Dar nu asa ca e cineva si o sa va spun mai incolo.
br
br
em
  | Pe cine ati pune la sefia SIE in locul lui Teodor Melescanu?
  br
br
| In nici un caz pe Teodor Melescanu, si nici nu l-as vota la presedintie. Deodata aflam ca in timp ce era director SIE, cineva a strans semnaturi. Deci seful unui serviciu de informatii care trebuie sa apara Romania isi strange in secret semnaturi - ceea ce nu-i ok. Doi, in randul celor care au strans semnaturi se afla o asociatie prorusa, colonelul Dogaru. Ma intreb: de cine a aparat Romania Melescanu? Ce fel de presedinte ar fi Melescanu? Ne duce spre Rusia?
br
br
em
  | Cazul Lukoil. Ati spus ca Victor Ponta ar trebui cercetat pentru obstructionarea justitiei pentru declaratiile facute in dosarul Lukoil. De ce nu faceti dvs sau sustinatorii dvs o sesizare?
  br
br
em
| Sesizarea se poate face din oficiu. Daca Nitu nu face nimic, ok, ma duc sa o scriu.
br
br
em
  | Cum caracterizati comportamentul Parchetului General in cazul Lukoil?
  br
br
| Au inceput bine, dar apoi au plecat spatele in fata lui Ponta. Sefa biroului de urmarire penala de la Parchetul de pe langa Curtea de Apel Ploiesti ar fi sotia dlui Nitu. (A demisionat, este procuror simplu acum - n.r.). Atunci cand anchetezi si exista prejudiciu, pui sechestru. Altfel vine confiscarea si nu mai ai ce sa confisti. Apoi vine Ponta si zice ca nu au cum sa fuga cu rafinaria din tara - practic a criticat procurorul - apoi a fost ridicat partial sechestrul.
br
br
| Presedintele a spus ce am spus si eu trei zile la rand. Este inadmisibil ce a fauct premierul ce a facut ambasaodrul rus, care a spus ca ancheta sa fie in conformitate cu legea dar si cu relatiile dintre Romania si Rusia.
br
br
em
  | Cazurile Microsoft si EADS. Ati simtit cand erati in guvern ca este ceva suspect?
br
br
| Nu imi aminesc si ca atare nu. La EADS tin minte ca s-a renegociat contractul de catre ministrul de interne de atunci si s-a facut public.
br
br
em
  | Credeti ca minoritatea maghiara din Romania este folosita de Putin prin intermediul Budapestei in incercarea de a destabiliza Romania asa cum a estimat un centru de analiza britanic?
  br
br
| Da, sigur, am fost prima care a spus asta. Cand ai un conflict la granita de est care vine tocmai dintr-un conflict inghetat, nu faci asa ceva.
br
br
| Ponta este ca o pisicuta in fata rusilor. Vine ambasadorul rus si Ponta da o palma justitiei.  In capul lui vrea sa ne duca spre rusi.
br
br
em
  | Vinerea trecuta s-a predat comanda bazei de la Deveselu. De ce credeti ca nu a fost nicio oficiliatate romana, nu a fost un mare eveniment?
br
br
| Banuiesc ca americanii nu au venit la nivel mai inalt pentru ca Ponta se poarta cum se poarta cu rusii si chinezii si au vazut ca nu este Romania reprezentata la nivel inalt. E foarte grav, si in aceeasi zi s-a dus la Chisinau si de acolo a criticat-o pe Victoria Nuland.
br
br
| Cu atitudinea asta pune in pericol si siguranta Rep. Moldova. Tot SUA trebuie sa o apere.
br
br
br
em
  | Rep: Ati avut contributii importante la aproopierea republicii Moldova de UE. Considerati ca Moscova va incerca sa-si recupereze in forta influenta asa cum a procedat in Ucraina?
strong
  br
  | Monica Macovei:
| E foarte posibil, da. O sa inceapa cu Transnistria, probabil. Deocamdata ii santajeaza de vreo doi ani. Si eu am trecut prin multe in Parlamentul European. Stiti ca Moldova a semnat Acordul de Asociere cu UE - un prim pas in procesul de aderare. La semnarea acelui acord, trebuia aprobarea prealabila a Parlamentului European. In aprilie 2014 am initiat eu o rezolutie in PE sa dam aceasta aprobare prealabila, inainte de campania electorala pentru noul PE. Stiti cine nu a semnat aceasta rezolutie in care PE spunea ca e acord ca Georgia si Moldova sa aplice imediat Acordul de Asociere cu UE? Grupul Socialist. Ponta zice ca e prieten cu Schulz. Eu cum am convins PPE sa semneze? Ei de ce nu au convins grupul socialist?
#tt-wrapper4962741(style='margin: 0px 0px 10px; padding: 0px; overflow: hidden; width: auto; height: 0px; position: absolute; left: -999em; text-align: center; max-width: 100%; min-width: 230px;')
  div(style='width: 100%; height: 15px; background: transparent url(//cdn.teads.tv/img/ir/mention_ro.png) top center no-repeat;')  
  #tt-container4962741(style='width: 100% !important; height: auto !important; overflow: hidden; padding-top: 56.25%; position: relative;')
    #tt-viewport4962741(style='width: 5px; position: absolute; top: 0px; left: -999em; height: 32.25px; margin-top: 58.05px;')  
br
br
em Rep:
| Cum se explica refuzul socialistilor?
br
strong Monica Macovei:
| Poate-l intrebati pe Ponta
br
br
| Tot socialistii au vrut sa amane - inclusiv romanii - 3-4 luni eliminarea vizelor pentru cetatenii Republicii Moldova. O alta poveste.
br
br
em Rep:
| Cine?
br
strong Monica Macovei:
| Ministerul de Externe. Cind am vazut ca vor sa amine si ca nu fac ce trebuie sa faca, mi-au spus "Dar Monica, pana la urma de ce sa le dam vizele acum, nu mai bine mai incolo, aproape de alegeri"?
br
br
em Rep:
| Cind se intimpla asta?
br
strong Monica Macovei:
| In februarie 2014
br
br
em Rep:
| Si cu cine ati discutat in Ministerul de Externe?
br
strong Monica Macovei:
| Data viitoare
br
br
em Rep:
| Pai spuneti acum. Ministrul de externe?
br
strong Monica Macovei:
| Nu, ambasadorul Motoc (Mihnea Motoc - n.red.), seful Reprezentantei Permanente a României pe lângă Uniunea Europeană. Era presedintia greaca (a UE - n.red.), erau probleme, era o greseala de traducere in limba romana - in loc de Moldova Republic of - in romana se tradusese Moldova Republica a, in loc de Republica Moldova.
br
br
| Iata ca aceasta mare greseala nu se putea corecta decit in vreo saptamana, adica dupa ce se termina sesiunea parlamentara a PE, adica dupa ce noi incheiam mandatul.
br
br
em Rep:
| Care a fost deznodamintul?
br
strong Monica Macovei:
| Nu m-am lasat, si s-a votat in februarie. Dar luptindu-ma inclusiv cu romanii socialisti sau cu romanii din ambasada.
br
br
| La un moment dat replica a fost: "De ce ne grabim sa le dam vizele acum?" Pentru ca le dai vize unor oameni sa calatoreasca, nu le dai viza in functie de alegerile tale.
br
em
  br
  | Credeti ca dupa alegerile din Republica Moldova se va schimba orientarea guvernului?
br
br
| Nu cred ca se va schimba directia guvernului in Moldova.  Dar daca vin comunistii la putere, din pacate...
br
br
em
  | Relatia cu UE, doua mari curente: cresterea cheltuielilor vs. rigoarea
  br
br
| Pai nu ai de unde sa cheltui daca nu ai bani. Dar asta nu insemana taieri de salarii si pensii. Nu este austeritate, cheltuielile sa fie absolut necesare.
br
br
em
  | Evaluati campania urmatorilor: Iohannis, Ponta, Udrea.
  br
br
| V Ponta: Lansarea a fost faraonica, penibila, intr-o tara in recesiune si atata lume saraca, sa faci o asemenea lansare este si de prost gust. Este gen Coreea de Nord. Daca banii sunt de la partid trebuie vazut de unde sunt. Campania lui nu are mesaj. Mandri ca va furam, poate. Este de doi ani jumate la guvernare si vrea sa devina preseidnte ca sa schimbe Romania.
br
br
| K. Iohannis: Mi-amintesc ce a scris Aligica in ultimul articol: In acest moment, pentru noi Ponta si Iohannis sunt acelasi lucru daca ne gandim la vara lui 2012. Poate o fi vreo diferenta, nu stiu. Eu cred ca trebuia sa ceara foarte clar scuze electoratului pentru ceea ce a facut in vara lui 2012 cand a pus in pericol toata siguranta nationala. La fel martea neagra cand au votat superimunitatea. Si nu are niciun fel de experienta pe politica externa si pe siguranta nationala. Plus ca Sibiul a fost capitala europeana si a primit multe fonduri.
br
br
| Elena Udrea: Nici nu am urmarit campania Elenei Udrea foarte clar. Vad ca e prezenta in multe locuri, se mai dezbraca, se mai... Nu o iau foarte in serios.
br
br
em
  | Propria dvs campanie:
  br
br
| Eu lucrez cu oamenii, nu e un partid in spate organizat. Romanii spun ca ne-am saturat de partidele care ne0au mintit si o parte dintre ei spun ca nu am sanse ca nu am partid in spate. Inca nu exista partidul Alba ca Zapada. Campania mea este simpla, este putin costisitoare, nu o sa ma vedeti pe panouri, si Google, Facebook e mai scump dar nu atat de scump. Merg in multe locuri, vb cu multi oameni.
br
br
em
  | Intrarea pe motocicleta intr-un studiou, compararea cu Nelson Mandela, le vedeti ca erori?
br
br
| Eu la principiu m-am referit, poate nu as mai spune Nelson Mandela. "Totul este imposibil pana cand se face" eu cred in acest principiu. Nu ma compar cu nimeni, eu sunt eu. EU m-am referit la acela care a enuntat acel principiu.
br
br
| Cu motocicleta a fost un fel de santaj. Am inceput sa merg cu motocicleta, eu nu am permis, dar Sorin Avram cu care lucrez vine la birou cu motocicleta. Intr-o zi cand asteptam taxiul m-a luat pe motocicleta. Vazandu-ne cu motocicleta, Teo a spus vino cu motocicleta in emisiune. Daca nu veniti, o sa va pun sa calcati. Atunci am zis bine, cu motocicleta.
br
br
em
  | Ati oferit zambind un cartus de mitraliera cadou.
  br
br
| Nu am vrut sa fie straniu. Am vrut sa vb despre viata mea, si lucrurile care mi-au dat mie putere si suferinta au fost cele din Bosnia. Eu am venit cu cateva cartuse din Bosnia si am vrut sa incep aceasta poveste cu ceva real.
br
br
em
  | Nume de oameni cu ati vrea sa lucrati, pe cine vreti premier?
  br
br
| Numele de vis este Daniel Morar, daca ma intrebati ce as vrea. Nu am vorbit cu el. Este prima oara cand spun un nume.
br
br
em
  | Alta varianta? Victor Ponta va veni cu propunere in turul doi, pe cine veti aduce dvs?
br
br
| O sa am discutii pana atunci, eu v-am spus care cred ca ar fi cuplul ideal pentru Romania, presedinte - premier. Dupa ce a condus DNA, Morar stie tot, nu ar putea fi pacalit de nimeni in Guvern.
br
br
em
  | Pentru ca exista bariera parlamentului...
  br
br
| Il propun de doua ori, si a doua oare Parlamenul stie ca va pleca acasa daca nu voteaza. Dl Morar va opri acest furt din bani publici. Bani in Romania sunt, problema este ca sunt furati, evaziunea mare fiscala nu se duce nimeni dupa ea, se duc dupa micii antreprenori, ii sufoca.
br
br
em
  | Cat aveti in sondaje?
  br
br
| Sunt in cursul efectuarii unui sondaj, insa pot sa va spun din sondajele altor partide, pe care acestea le tin secrete. Aveam 16% intr-un sondaj al PDL ca intentie de vot, ceva mai putin - dar peste 10% intr-un sondaj PSD. Eu am asteptat sa afle cat mai multi oameni ca eu candidez.
