- locals.date = '2014-11-02 22:40';
- locals.thumb = '/assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg';
- locals.title  = 'Prin reușita noastră de astăzi începe acțiunea noastră. Astăzi a început Revoluția oamenilor cinstiți';
- locals.slug = 'astazi-a-inceput-revolutia-oamenilor-cinstiti';
- locals.preview = 'Astăzi s-a născut în România al treilea pol. Astăzi, împreună, am demonstrat că suntem o forță vie, o forță în creștere.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (2 noiembrie 2014) – Monica Macovei – Declarație de presă 

p
  strong Prin reușita noastră de astăzi începe acțiunea noastră. Astăzi a început Revoluția oamenilor cinstiți

p Astăzi s-a născut în România al treilea pol. Astăzi, împreună, am demonstrat că suntem o forță vie, o forță în creștere.
p Fără partide politice, fără baroni, fără finanțări oculte, fără finanțări murdare, astăzi am arătat că noi contăm. Am arătat că se poate corect, decent și simplu. Rezultatele reale de după numărarea voturilor vor confirma că suntem și mai mulți.
p Și am fi fost și mai mulți dacă toți cei din diaspora ar fi putut vota. Vedeți ce prost au organizat alegerile acest guvern. Vedeți ce cozi sunt la secțiile de votare din străinătate și ce scandaluri.
p Vă reamintesc că sunt singurul candidat care a propus votul electronic pentru românii din România și din diaspora.
p Vă mulțumesc pentru încredere, vă mulțumesc pentru sprijin, vă mulțumesc că vă pasă de România, am demonstrat că suntem mai mulți decât credeau ei. Vă mulțumesc pentru mobilizare, pentru sprijin, pentru vot.
p Voturile mele sunt ale dumneavostră, nimeni nu mai poate să ne ignore – suntem o forță uriașă de schimbare, ne vrem țara înapoi. România e a noastră, nu a lor.
p Prin reușita noastră de astăzi începe acțiunea noastră. Astăzi a început Revoluția oamenilor cinstiți.
p Vă invit să rămânem împreună într-o nouă construcție care să ne reprezinte valorile: dreptate, justiție, demnitate, integritate.
p Suntem mulți, suntem chiar mai mulți decât cei care azi au mers la vot. În timp, mult mai mulți ni se vor alătura. Și, în timp, vom arăta că suntem o forță uriașă de schimbare. Asta e de fapt România – România oamenilor!
p Totul e să îndrăznim să credem în acest vis. Eu am crezut și cred și cu toții vom vedea că acest vis devine realitate.   
p Pornim acum un proiect pe termen lung. Împreună putem transforma România. Vocea noastră va fi auzită.
p Vă mulțumesc pentru tot, ați fost extraordinari! Împreună schimbăm România!
