- locals.date = '2014-10-14 17:00';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = ' Monica Macovei: Cine l-a acoperit pe spionul Victor Ponta?​ ';
- locals.slug = 'mm-cine-l-a-acoperit-pe-spionul-victor-ponta';
- locals.preview = 'Situația spionului Ponta trebuie lămurită cât mai curând posibil. În acest moment, Victor Ponta nu mai are nicio credibilitate în fața partenerilor noștri euro-atlantici, deoarece ca fost ofițer SIE putea să aibă misiuni în orice țară din lume, inclusiv în țări europene sau în SUA.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (14 octombrie 2014) – Monica Macovei – Declarație de presă
 
 
h3 Cine l-a acoperit pe spionul Victor Ponta?

p Cazul spionului Victor Ponta ridică o serie de întrebări, la care au de răspuns atât președintele României, precum și alți politicieni care au avut funcții în stat:
ol(type='1')
  li Foștii președinți ai României, Ion Iliescu și Emil Constantinescu, care în perioada 1997-2001 erau șefi ai CSAT, aveau cunoștință în perioada respectivă că SIE încalcă Constituția angajând un procuror ca ofițer acoperit?
 
  li Foștii șefi ai SIE din perioada 1 ianuarie 1997- 31 decembrie 2001, Ioan Talpeș, Cătălin Harnagea și Gheorghe Fulga, aveau cunoștință că SIE încalcă Constituția recrutând și lucrând cu un procuror ca ofițer acoperit?

  li Cine din SIE de la acea vreme se face responsabil de recrutarea lui Victor Ponta ca spion, încălcând Constituția cu bună știință?

  li De unde a avut președintele Băsescu informația că Ponta este spion? 

  li De ce președintele Băsescu nu l-a revocat pe Meleșcanu, când a aflat că acesta face jocuri politice, apărându-l pe Ponta?

  li A știut Mihai Răzvan Ungureanu că Victor Ponta este “fost spion”? Dacă a știut, l-a informat pe Președinte în 2009, când Ponta a fost numit ministru în guvernul Boc? 

p În 2005, când am fost ministru al Justiției, am introdus în lege interdicția ca procurorii și judecătorii să fie ofițeri activi sau în rezervă ai serviciilor de informații. De asemenea, am desființat serviciul de informații (SIPA) al Ministerului Justiției.
 
p Am militat întotdeauna pentru respectarea democrației și a statului de drept. De aceea am propus, încă de acum câteva săptămâni, să avem reguli clare care să împiedice serviciile secrete să recruteze jurnaliști și politicieni.
 
p Am propus de asemenea ca șefii serviciilor de informații să nu poată ocupa o altă funcție de demnitate publică, aleasă sau numită, cel puțin cinci ani după încetarea mandatului de la conducerea serviciilor.
 
p Este nevoie de un control parlamentar mai riguros în activitatea serviciilor secrete din România.
 
p Situația spionului Ponta trebuie lămurită cât mai curând posibil. În acest moment, Victor Ponta nu mai are nicio credibilitate în fața partenerilor noștri euro-atlantici, deoarece ca fost ofițer SIE putea să aibă misiuni în orice țară din lume, inclusiv în țări europene sau în SUA.
 
p Ponta a încălcat Constituția în perioada în care a fost și procuror, și spion. Cu un asemenea trecut, nu ne așteptăm ca Ponta să apere Constituția nici acum când este prim-ministru, nici dacă va fi ales președinte. O eventuală alegere a sa ca președinte ar rupe România de lumea democratică.  

p România a mai avut un președinte care asculta de ordinele Moscovei, Ion Iliescu. Ar fi o dramă pentru România dacă ne-am întoarce în timp 25 de ani.

p Spionul Victor Ponta trebuie să plece astăzi din funcția de prim-ministru și să renunțe să mai candideze, pentru a nu izola România.