- locals.date = '2014-09-24 13:00';
- locals.thumb = '/assets/img/posts/RazvanChiruta.jpg';
- locals.title  = 'Alegerile care pot distruge România.';
- locals.slug = 'razvan-chiruta-alegerile-care-pot-distruge-romania';
- locals.preview = 'Miza alegerilor prezidențiale de anul acesta este mai uriașă ca oricând, din moment ce politicienii și serviciile secrete aruncă în luptă, pe față și fără menajamente, toată muniția de care dispun. Varianta optimistă ar fi să credem că se confruntă două zone de influență, două blocuri care vor să îndrepte țara fie spre democrația din Vest, fie spre autoritarismul din Est. Dar în realitate, e doar un război al unor grupuri de oameni care s-au săturat să facă afaceri oneroase tot mai pe ascuns, al unor personaje care s-au jucat destul de-a justiția independentă și acum s-au plictisit să fie “hăituite” de procurori.';
- locals.author = 'Razvan Chiruta';
- locals.source = 'http://www.romanialibera.ro/opinii/editorial/alegerile-care-pot-distruge-romania-350736';
- locals.tags = ['opinie','presa'];

p Miza alegerilor prezidențiale de anul acesta este mai uriașă ca oricând, din moment ce politicienii și serviciile secrete aruncă în luptă, pe față și fără menajamente, toată muniția de care dispun. Varianta optimistă ar fi să credem că se confruntă două zone de influență, două blocuri care vor să îndrepte țara fie spre democrația din Vest, fie spre autoritarismul din Est. Dar în realitate, e doar un război al unor grupuri de oameni care s-au săturat să facă afaceri oneroase tot mai pe ascuns, al unor personaje care s-au jucat destul de-a justiția independentă și acum s-au plictisit să fie “hăituite” de procurori.

p Urmăriți discursurile publice ale celor care și-au anunțat deja candidatura la prezidențiale și veți vedea că, dintre toți, doar Monica Macovei afirmă vocal și cât se poate de clar că susține întărirea instituțiilor statului de drept și a Justiției.

p În rest, ceilalți politicieni ne aburesc fie cu marea unire, fie cu ofițerii acoperiți, fie cu o nouă suspendare și ce altceva vor mai inventa, doar pentru a nu discuta cu adevărat despre ceea ce îi doare pe ei și pe noi cel mai tare.
.post
  .media-body
    a.read-more.pull-right(href='http://www.romanialibera.ro/opinii/editorial/alegerile-care-pot-distruge-romania-350736', target='_blank') Citește restul articolului…
