- locals.date = '2014-10-16 16:00';
- locals.thumb = '/assets/img/posts/TM 1.jpg';
- locals.title  = 'Monica Macovei: Integrarea Europeană a Republicii Moldova este o prioritate a României';
- locals.slug = 'mm-integrarea-europeana-a-republicii-moldova-este-o-prioritate';
- locals.preview = 'Membrii Comisiei pentru Afaceri Externe (AFET) din Parlamentul European au acordat astăzi, 16 octombrie 2014, consimţământul juridic şi au adoptat, cu o majoritate comfortabilă, o rezoluţie cu privire la încheierea unui Acord de Asociere între Uniunea Europeană şi Republica Moldova. ';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];

p
  em (Bruxelles, 16 octombrie 2014) – Monica Macovei – Comunicat de presă
p Membrii Comisiei pentru Afaceri Externe (AFET) din Parlamentul European au acordat astăzi, 16 octombrie 2014, consimţământul juridic şi au adoptat, cu o majoritate comfortabilă, o rezoluţie cu privire la încheierea unui Acord de Asociere între Uniunea Europeană şi Republica Moldova. 
p Votul din Plenul Parlamentului European, din luna noiembrie, va da, în mod formal, undă verde Consiliului pentru ratificarea Acordului.
p Monica Macovei, membru al Comisiei AFET şi candidat independent la Preşedinţia României, şi-a exprimat satisfacţia cu privire la rezultatul votului şi a îndemnat statele membre să ratifice rapid Acordul de Asociere, susținând astfel alegerea pro-Europeană clară a Republicii Moldova. 
blockquote
  em "Acordul de Asociere reprezintă un remarcabil pas în faţă şi o precondiţie pentru procesul de aderare a Republicii Moldova. România are un puternic interes naţional în consolidarea integrării Europene a Republicii Moldova. Am primit cu bucurie eforturile prietenilor noştri de peste Prut de a efectua o modernizare ambiţioasă a ţării. Acordul include stabilirea unei zone de comerţ liber care va duce la creştere economică şi la crearea de locuri de muncă."
  |, a declarat Monica Macovei.
blockquote
  em "Stabilitatea politică şi consolidarea instituţiilor democratice sunt aspecte cruciale. Există încă provocări în ceea ce priveşte statul de drept, lupta împotriva corupţiei şi crimei organizate şi drepturile omului. Avem încredere că, după următoarele alegeri, Parlamentul şi Guvernul moldovean vor întări relaţiile cu UE." 
  |, a mai spus Monica Macovei, fost preşedinte al delegaţiei UE-Moldova în Parlamentul European.
blockquote
  em "Până în Decembrie 2018, la un secol după Marea Unire, aş vrea ca UE să asigure un calendar clar pentru aderarea Republicii Moldova şi sunt convinsă că aceasta va fi în topul priorităţilor Presedinţiei Române a Uniunii Europene din 2019"
  |, a concluzionat candidatul independent Monica Macovei. 
.row
  .col-xs-4
  .col-xs-4
    a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/Republica Moldova ratificare Acord 16 oct.docx", rel="download")
     | Descarcă declarația aici
  .col-xs-4