- locals.date = '2014-09-02';
- locals.thumb = 'assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg';
- locals.title  = 'Monica Macovei și-a anunțat demisia din PDL';
- locals.slug = 'monica-macovei-a-anuntat-demisia-din-pdl';
- locals.preview = 'Într-o conferință de presă ce a avut loc la sediul de campanie, Monica Macovei a anunțat că demisionează din PDL: "Demisionez din PDL. E o decizie gândită îndelung, nu e un gest făcut în pripă. Cred că ceea ce se întâmplă azi cu PDL este greșit."';
- locals.author = 'Monica Macovei Presedinte';
- locals.source = 'https://www.youtube.com/watch?v=6XV1Ed-ahbE&list=UUeqNP-Wt7YNjPyH6XhMYPxw';

div.
  <iframe width="560" height="315" src="//www.youtube.com/embed/6XV1Ed-ahbE" frameborder="0" allowfullscreen></iframe>
blockquote Am demisionat din PDL. E o decizie gândită îndelung, nu e un gest făcut în pripă. Cred că ceea ce se întamplă azi cu PDL este greșit.
blockquote Stim ca in ultimii ani domnul Iohannis a facut intelegeri cu PSD si Voiculescu, a fost chiar premierul lor desemnat. Domnul Iohannis nu a dovedit ca reprezinta dreapta si nici ca apara legea sau ca este impotriva coruptiei.
blockquote Din pacate, ultimele decizii ale liderilor PDL au indus multa confuzie. Nu am inteles de ce PDL nu poate avea propriul candidat la alegerile pentru functia de presedinte.
blockquote Multi membrii si simpatizanti mi-au pus aceasta intrebare: “cu ce suntem noi mai prejos decat PNL?”, “de ce nu putem sustine un candidat al nostru pentru alegeri ?”
  | Si eu mi-am pus aceleasi intrebari si nu am gasit un raspuns.
  | Poate doar ca unii lideri ai partidului au fost mai interesati de combinatiile de culise decat de binele partidului si al tarii.
blockquote Sunt o adepta a unitatii dreptei. Dar nu inainte de clarifica spre binele si lamurirea celor care ne voteaza ce s-a intamplat in vara anului 2012 si de a clarifica votul din “martea neagra”, menit sa dea superimunitate demnitarilor, la care a participat si PNL. Nu trebuie sa lasam trecutul sa ne desparta, dar suntem datori electoratului cu aceste clarificari.
blockquote Doresc sa le multumesc oamenilor din PDL care mi-au fost alaturi in campaniile electorale si in momentele grele pentru tara in care am aparat statul de drept in Romania. Este greu sa te desparti de oamenii cinstiti din PDL alaturi de care ai fost si la bine si la greu.
blockquote Nu ma inscriu in nici un alt partid politic. Candidez independent pentru ca sunt convinsa ca romanii merita un Presedinte al lor, nu un Presedinte al partidelor.
blockquote Sunt singurul om care de 25 de ani va da, in mod real, aceasta sansa. Un presedinte care sa fie cu adevarat independent de partide asa cum spune Constitutia, un presedinte care sa apere interesele cetatenilor, un presedinte care sa garanteze interesele nationale ale Romaniei alaturi de partenerii nostri din NATO.
blockquote Fara SUA si UE, Romania ar fi fost acum in situatia Ucrainei, sub invazia ruseasca. Nu vrem sa intoarcem tara, inapoi, cu 20 de ani, domnule Ponta! Nu vream modelele politice din China si Federatia Rusa. Vrem alaturi de Occident si va garantez ca din functia de Presedinte al Romaniei voi pastra tara pe aceasta directie.
blockquote Siguranta tarii si relatia cu SUA nu sunt negociabile. Aceste lucruri nu sunt negociabile, domnilor Ponta, Iohannis si ceilalti candidati! 
blockquote Am intalnit multi oameni care spun ca m-ar vota, dar ca nu am o masinarie de partid in spate. Eu le spun tuturor: sansa mi-o da votul fiecaruia dintre voi.
