- locals.date = '2014-10-08 13:00';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = 'Monica Macovei: Voiculescu își pune slugile la treabă';
- locals.slug = 'voiculescu-isi-pune-slugile-la-treaba';
- locals.preview = 'Ventilatorul cu mizerii Antena 3 al pușcăriașului Voiculescu, condamnat pentru că a furat 60 de milioane de euro din banii românilor, a dat în urmă cu câteva minute, sub regim de Breaking news, o știre ticăloasă, intitulată “Monica Macovei este cercetată de DIICOT”.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p 
  em (8 octombrie 2014) – Monica Macovei – Declarație de presă 

p Ventilatorul cu mizerii Antena 3 al pușcăriașului Voiculescu, condamnat pentru că a furat 60 de milioane de euro din banii românilor, a dat în urmă cu câteva minute, sub regim de Breaking news, o știre ticăloasă, intitulată “Monica Macovei este cercetată de DIICOT”.

p Antena 3, televiziunea de casă a lui Victor Ponta, a preluat o “știre” apărută pe site-ul Grupului de Investigații Politice (GIP), al lui Mugur Ciuvică, din familia slugilor plătite de infractorul Voiculescu pentru a târî în noroi buna-credință și oamenii onești din România. 

p Faptele, pe scurt: pe 11 iulie 2014, GIP-Ciuvică și fundația FACIAS (alt ONG finanțat de Voiculescu) depun la Parchetul General o plângere penală împotriva mea, pentru că am afirmat că evenimentele din 2012 au reprezentat o tentativă a PSD, PNL și PC de a da o lovitură de stat. Urmarea: Parchetul General a răspuns plângerii prin declinarea competenței către DIICOT. 

p Dacă, de exemplu, astăzi fac o plângere penală împotriva Antenei 3 și a lui Ciuvică pe motiv că sunt ticăloși, procurorii vor fi obligați să înregistreze cererea, să deschidă un dosar și să verifice dacă e adevărat. 

p Asta nu înseamnă că slugile lui Voiculescu ar fi vinovate de o faptă penală și nici că eu aș putea să dezinformez opinia publică sugerând că sunt tot niște infractori ca și stăpânul lor Voiculescu. Înseamnă doar că procurorii sunt obligați să respecte niște proceduri, indiferent cât de aberantă ar fi plângerea penală.

p Pe de altă parte, chiar mă bucur că televiziunea de casă a lui Ponta îmi dă oportunitatea să vorbesc țării despre obișnuința PSD de a frauda votul românilor. Sunt deja 5 dosare finalizate cu condamnări pentru fraudele de la referendum. Domnul Dragnea este trimis în judecată tot pentru fraude.

.row
  .col-xs-4
  .col-xs-4
    a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/raspuns pentru stirile fabricate de televiziunea de casa a lui Ponta 8 oct.docx", rel="download")
     | Descarcă
     br
     | declarația integrală
  .col-xs-4