- locals.date = '2014-09-02';
- locals.thumb = '/assets/img/posts/victor-ponta.jpg';
- locals.title  = 'Comunicat de presă: Ponta ne duce spre China și spre Est. România trebuie să păstreze direcția Vest și să-și întărească relațiile cu SUA si NATO';
- locals.slug = 'comunicat-de-presa-ponta-ne-duce-spre-china-si-spre-est';
- locals.preview = 'Monica Macovei, candidat independent pentru funcția de Președinte al României, a catalogat recentele declarații ale lui Victor Ponta din China drept o nouă dovadă că acesta dorește să schimbe direcția Occidentală a României și să o mute spre China și spre Est.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['comunicat'];

p Prezent în China, Ponta a declarat: „sunt convins că în continuare vom vedea zece ani mult mai fructuoși și cu mult mai multe rezultate concrete ale parteneriatului dintre China și România”.
p “Guvernul Ponta și PSD ne duc spre Est. Aduc aminte României, românilor, că direcția noastră trebuie să rămână Vest, în principal NATO, Statele Unite. Mai ales în situația geopolitică de astăzi, având în vedere agresivitatea armată a Rusiei. Și eu cred că Putin vrea să refacă Uniunea Sovietică. Nu vreau să se sperie nimeni, dar trebuie să fim foarte atenți (…) Este un semnal politic. România va fi apărată întotdeauna de NATO și de Statele Unite ale Americii, nu de China sau de Est”, a declarat Monica Macovei în emisiunea “Butonul de panică” de la postul de televiziune B1 Tv.
p Afirmațiile lui Victor Ponta vin în contextul în care România are deja un parteneriat strategic cu Statele Unite care implică, pe lângă o strânsă colaborare militară, și strânse relații economice.
p “Eu nu văd că Ponta se duce să aducă investitori americani. Știți de ce? Pentru că investitorii americani vor un mediu liber de corupție, vor achiziții corecte, vor competiții corecte și vin și investesc serios. Vin și creează locuri de muncă trainice și de lungă durată. Să se ducă Dragnea și cu Ponta, dacă sunt primiți, în America, să-i lămurească să vină să investească în România pe marii investitori americani” a mai spus Monica Macovei.
p Monica Macovei a comentat și declarația ministrului Liviu Dragnea, care le-a spus investitorilor chinezi: “putem să înțelegem că nu vă este ușor cu legislația europeană, nici nouă nu ne-a fost” și a subliniat că România poate încheia contracte cu China, dar că modelul economic trebuie să fie altul.
p “Este inadmisibil să spui așa, că te încurcă legislația europeană. Asta arată vrem să fraudăm, vrem să furăm bani europeni, care sunt ai oamenilor. Pentru că de-asta vin, să facem ce avem nevoie în țară, să dezvoltăm țara”, a spus Monica Macovei.
p Candidatul independent la alegerile prezidențiale a mai declarat că direcția României trebuie să rămână direcția Vest, în principal NATO și Statele Unite.
