- locals.date = '2014-10-25 19:00';
- locals.thumb = '/assets/img/posts/Andreea-Pocol.jpg';
- locals.title  = 'Macovei reconfirmă: Oamenii lui Băsescu voiau să amân anunţul candidaturii';
- locals.slug = 'mm-oamenii-lui-basescu-voiau-sa-aman-anuntul-candidaturii';
- locals.preview = 'Monica Macovei reprezintă un fenomen aparte în politica românească şi, tocmai de aceea, fenomenul Macovei nu trebuie “citit” strict în logica apropiatului scrutin prezidenţial. Nu este un om de show dar este, cu siguranţă, unul de combat. ';
- locals.author = 'Andreea Pocol';
- locals.source = 'http://www.paginadepolitica.ro/macovei-reconfirma-oamenii-lui-basescu-voiau-sa-aman-anuntul-candidaturii/';
- locals.tags = ['interviu'];
p
   |Monica Macovei reprezintă un fenomen aparte în politica românească şi, tocmai de aceea, fenomenul Macovei nu trebuie “citit” strict în logica apropiatului scrutin prezidenţial. Nu este un om de 
   strong show 
   |dar este, cu siguranţă, unul de 
   strong combat
   |. A plecat din poziţia outsiderului şi beneficiază de o comunitate entuziastă de adepţi pe reţelele sociale. Sondajele nu o creditează cu şanse reale să acceadă în turul II iar televiziunile de ştiri o cam ignoră sau îi fac ferfeniţă discursurile din studio, întrerupând-o cu intervenţii live ale – cui credeţi?:-) – Elenei Udrea.

p 
   em (Sigur, ne putem aminti cum o grămadă de institute au aruncat pe piaţă sondaje la scrutinele din ultimii ani şi s-au făcut de râs într-un mod incredibil iar acum, mizând pe faptul că românii proşti sunt mulţi sau au memoria pisicii, vin cu noi evaluări ale intenţiilor de vot. Evaluari lovite de prezumţia de lipsă a onestităţii…În sfârşit, despre sondaje merită să vorbim pe larg altă dată.)

p Macovei dispune însă de un capital de imagine bazat pe ideea de cinste şi integritate. Oricât de mult s-au demonetizat aceste cuvinte într-o ţară sufocată de corupţie, de mica şmecherie larg tolerată şi de balcanisme resuscitate din vremea fanarioţilor, cinstea şi integritatea i-au adus candidatului independent câteva procente – nu foarte multe – de susţinere electorală reală în doar câteva luni. Când sau dacă va decide Monica Macovei să dea o formă concretă – de partid – acestei susţineri publice, rămâne să aflăm în curând. Un interviu cu candidatul independent, în continuare.
blockquote
   p
      strong PaginadePolitică.ro
      |: 
      em Doamna Monica Macovei, ce v-a mânat în cursa prezidențială? Aveți un contracandidat de care să vă temeți?

   p
      strong Monica Macovei
      |: Am deciz să candidez independent când am văzut că nu mă regăsesc ca cetățean în ofertele electorale ale partidelor politice și am realizat că partidele au făcut blat să iasă Ponta președinte. Toate partidele vor să se termine cu lupta anticorupție și preferă să îl aibă pe Ponta președinte, pentru ca acesta să ia controlul politic asupra DNA și să controleze justiția. Uitați-vă la protestele baronilor PSD din teritoriu care în aceste zile sunt chemați la DNA. Toți spun că îl vor susține pe Ponta dacă, în schimb, le va garanta libertatea de a fura în liniște, cum s-a întâmplat pe timpul lui Iliescu. Am văzut și lideri PSD care își negociază în Parlament o lege a amnistiei și grațierii. De partea cealaltă, uitați-vă și la actuala opoziție. Tăriceanu a trimis Senatul în vacanță pentru ca senatorii să nu poată vota ridicarea imunității senatorilor Andronescu și Mihăilescu, implicați în scandalul Microsoft, iar Opozitia a tăcut. Opozitia trebuia să ceară zilnic lui Tăriceanu să aducă senatorii din vacanță să voteze, dar nu a făcut-o. Ieri (joi, 23 octombrie, n.r.) i-am cerut, din nou, printr-o scrisoare publică, lui Tăriceanu să grăbească procedura ridicării imunității acestor senatori. Blatul dintre toate partidele este evident.

   p Îl avem, așadar, pe Victor Ponta, candidatul oligarhilor socialiști, care s-au îmbogățit pe spinarea poporului. Ponta a spus că vrea să ducă România spre est, modelul său politic fiind Partidul Comunist Chinez. După cum se vede, Ponta și PSD se comportă ca și cum România ar fi propria lor feudă, condusă de câțiva baroni și oligarhi. Îl avem apoi pe Klaus Iohannis, propus candidat în urma unei înțelegeri nefirești între PNL și PDL. Acesta este un candidat vulnerabil și fără experiență politică națională și internațională. De asemenea, domnul Iohannis a colaborat cu PSD și a fost propunerea securistului Voiculescu pentru funcţia de prim-ministru în 2009. În calitate de președinte PNL, vedem că menține în continuare în partid parlamentari condamnați penal și colaboratori ai Securității. Pe Sorin Roșca Stănescu l-a dat afara din PNL abia când acesta era în fața porții închisorii. Îl avem apoi pe Tăriceanu, cobaiul lui Ponta, care speră să păcălească pe cât mai mulți să-l voteze în turul întâi pentru a transfera acele voturi lui Ponta în turul doi. Slugărnicia lui Tăriceanu față de PSD este deja de notorietate. Aduceți-vă aminte cum a devenit președinte al Senatului. Asupra lui Meleșcanu planează mari îndoieli că a apărat interesul României cât timp a fost șef al SIE. Meleșcanu, la fel ca Tăriceanu, speră ca Iohannis să fie declarat incompatibil. O avem și pe Elena Udrea, care l-a călcat în picioare pe Cristian Diaconescu să intre în cursa pentru prezidențiale. Din declarațiile sale publice, reiese că vrea să ia un procent cât mai mare de voturi pentru a-i da șansa lui Traian Băsescu să reintre în politică după noiembrie. Deci, nu e vorba despre un proiect politic pentru țară sau pentru oameni. Iar informațiile publice din presă – că Victor Ponta a fost avocatul de casă al lui Dorin Cocoș, fostul soț al doamnei Udrea, care este acuzat în dosarul Microsoft alături de alți 9 foști miniștri din 4 guverne – ne arată tabloul complet al acestor alegeri.

   p Vedem, așadar, fel și fel de înțelegeri meschine transpartinice, care nu au legatură cu interesul național și bunăstarea românilor. Ca cetățean onest, niciunul dintre acești candidați nu mi-a oferit garanția că va păstra România pe direcția vest și va continua lupta anticorupție. Cred că este vremea ca România să aibă un președinte independent, departe de interesele partidelor politice și ale frăției penalilor transpartinici. În plus, sunt singurul candidat credibil din aceasta cursă care poate menține țara pe Vest și care își dorește consolidarea parteneriatului România-Statele Unite. Eu nu vreau modelele politice din China și Federația Rusă, promovate de Ponta. Sunt apoi singurul candidat care nu a colaborat niciodata cu PSD. Nu mi-e teamă de niciun contracandidat în această campanie. Este evident că toți contracandidații mei răspund intereselor oligarhilor care-i finanțează și nu țin cont de așteptările oamenilor. Eu sunt independent si voi fi președintele oamenilor, nu al partidelor politice corupte și combinațiilor politice imorale.

   p
      strong PaginadePolitică.ro
      |: 
      em Spuneați recent că vi l-ați dori pe Daniel Morar premier. Cine sunt oamenii din echipa dvs pe care îi veți aduce la Cotroceni în posturi-cheie? Șef al cancelariei, principali consilieri?

   p
      strong Monica Macovei
      |: Am fost întebată ce premier “de vis” mi-aș dori și am răspuns: Daniel Morar. Acesta a dovedit, ca procuror șef al DNA, nu numai că este un om incoruptibil și un excepțional profesionist, dar a arătat că este un bun manager, știind să își construiască o echipă cu care să lucreze constructiv, în folosul românilor. Principalele probleme pe care le văd în Guvern, în administrație în general, sunt corupția și incompetența. Mă gândesc că, având un om ca Daniel Morar în fruntea Guvernului, aș fi sigură că“robinetul de bani” ar fi gestionat de un om onest și integru. Mai sunt însă oameni ca Daniel Morar în țară, onești, integri și buni profesioniști, oameni cu care doresc să lucrez. Veți cunoaște echipa cu care voi lucra în prima zi a mea la Cotroceni.

   p
      strong PaginadePolitică.ro
      |: 
      em Seful SRI, George Maior, a spus că-și pune mandatul la dispoziția viitorului președinte. Ce aţi face cu mandatul pus la dispoziție de șeful SRI?

   p
      strong Monica Macovei
      |: Nu doresc să speculez pe marginea mandatului domnului Maior pentru că nu am nicio informație până în prezent din care să reiasă că a încălcat legea sau și-a încălcat atribuțiile. Impresia pe care mi-a dat-o până acum este că George Maior a reușit să țină SRI departe de politică. (subl.n) Nu același lucru pot spune, însă, despre Teodor Meleșcanu, fostul director SIE, care a beneficiat de sprijinul unei organizații pro-ruse în timp ce el trebuia să ne păzească de dușmanii externi. Cazul Meleșcanu este un exemplu, nefast, despre cum directorul unui serviciu de siguranță națională nu trebuie să se comporte. Serviciile de informații românești nu mai sunt cele de acum 20 de ani. Acestea s-au reformat în procesul de integrare în NATO, iar pentru asta trebuie să le mulțumim partenerilor occidentali. Ca președinte, voi veghea ca serviciile de informații să rămână independente și neimplicate politic, preocupându-se strict de siguranța națională, așa cum le e menirea. Vă aduc aminte ca în 2006, în calitate de ministru al Justiției, am desființat SIPA, un serviciu de informații populat de foști securiști care era folosit de PSD pentru a spiona și șantaja judecători și procurori. Lângă mine nu veți găsi nici oameni ce vin din regimul comunist, nici persoane implicate în scandaluri de corupție sau ale căror acțiuni pun în pericol securitatea națională.

   p
      strong PaginadePolitică.ro
      |: 
      em Daca aţi fi preşedinte astăzi şi aţi afla că unul dintre candidaţi este ofiţer acoperit, i-aţi da numele?

   p
      strong Monica Macovei
      |: Modul cum președintele Traian Băsescu a aruncat pe piață subiectul cu ofițerul acoperit mi s-a părut nepotrivit și nu a condus la nicio finalitate. Îmi amintesc că a și spus într-un interviu că i s-a propus, odată, un ministru care a fost ofițer acoperit; l-a sunat (Băsescu pe candidatul la funcţia de ministru, n.r.) și i-a spus că ori recunoaște public acest lucru, deci se deconspiră, ori se retrage. Înțeleg că persoana a ales să se retragă. La fel putea proceda și în acest caz. Apoi, dacă Ponta a fost ofițerul acoperi, a încălcat legea, iar dacă președintele are dovezi, trebuie să le prezinte justiției. Este dreptul poporului român să știe totul despre cei care îi cer votul. Un politician nu trebuie să aibă dublă comandă. În politică trebuie să servești doar cetățeanul. Eu am desființat un serviciu secret, am introdus în lege ca magistrații să nu fie ofițeri ai serviciilor de informații și susțin ca acestea să nu mai recruteze ofițeri din rândul politicienilor și al jurnaliștilor. În plus, am propus ca șefii serviciilor de informații să nu mai poată ocupa o funcție publică, aleasă sau numită, timp de 5 ani de zile.

   p
      strong PaginadePolitică.ro
      |: 
      em Ați înființat Direcția Națională Anticorupție, ați făcut reforma în Justiție, ați promovat, ca parlamentar European, Legea confiscărilor averilor ilicite. Cum veți putea recupera prejudiciul în cazul Voiculescu și ce veți face cu banii?

   p
      strong Monica Macovei
      |: Am creat DNA în 2005 și acum rezultatele se văd. Dacă toate instituțiile din România ar lucra așa cum o face DNA, cred că am fi astăzi într-o situație mult mai bună. Am pus bazele ANI și am făcut declarațiile de avere în urma cărora acum știm ce averi au politicienii și ce interese au când ocupă funcții publice. Dacă nu era ANI, nu știam despre mătușa Tamara a lui Năstase. De recuperarea prejudiciului se ocupă ANAF, instituție aflată în subordinea ministrului de Finanțe. Din păcate, instituția a fost căpușată cu șefi politici incompetenți sau slugarnici, care în loc să recupereze banii de la marii evazioniști sufocă prin controale micii antreprenori. Ceea ce eu susțin este recuperarea prejudiciilor, adică banii furați de corupti să ajungă, din nou, în bugetul public, la cetățeni. După cum vedeți din ultimele scandaluri de corupție, România are bani, totul este să fie oprit furtul.

   p
      strong PaginadePolitică.ro
      |: 
      em Considerați că PSD se va putea menține la putere fără să câștige scrutinul din această toamnă?

   p
      strong Monica Macovei
      |: PSD nu este un partid, ci, vedem cu toții, o clică de mafioți care se devorează între ei în interior, dar dacă se simt amenințați din afară toți fac front comun, asemenea hienelor. Este, așa cum s-a autodefinit, un grup infracțional organizat (face referire la o expresie folosită de Ioan Rus, n.r.) Și acum au început deja să se bată pe funcția de președinte al acestui grup infracțional organizat. Și pentru această funcție se negociază legi de grațiere, se modifică legi, astfel încât liderii partidelor politice să nu mai fie cercetați pentru trafic de influență. În cazul în care Ponta pierde Președinția, va pierde și sefia partidului. Deja văd că stau la rând care să-i ia locul și capul. Mi-aș dori să se găsească o majoritate de parlamentari responsabili care să facă o moțiune de cenzură pentru a-l da jos pe Ponta din fruntea guvernului cât mai repede după alegerile prezidențiale. România are nevoie de un premier credibil, responsabil, matur, cinstit și care pune interesul oamenilor pe primul loc, nu al corupților din partid.

   p
      strong PaginadePolitică.ro
      |: 
      em I-ați cerut președintelui să inițieze referendum pentru ridicarea imunității; nu a răspuns. Dar dacă referendumul nu e pus în aplicare – cum e deja cazul cu referendumul pentru reducerea numărului de parlamentari – nu se banalizeaza? La ce instrumente vă gândiți să puteți folosi instituția referendumului?

   p
      strong Monica Macovei
      |: Eu nu privesc o provocare sau un proiect din perspectiva „dar dacă nu se poate”. Vă amintesc că în 2005, când am creat DNA, mulți spuneau că e imposibil, că nici nu poți visa ca miniștri sau parlamentari să fie arestați pentru corupție. Iată că astăzi sunt, e o realitate. La fel este și cu referendumul de ridicare a imunității și cu orice proiect care să fie în favoarea oamenilor. Trebuie să pornim de undeva și să ne folosim de uneltele democratice pentru a promova un proiect bun. Va veni vremea când voința poporului va fi respectată, când trebuie să punem în practică rezultatele unui referendum. Apoi, în 2016 vor fi alegeri locale și parlamentare. Vreau să văd partidul care nu va fi de acord cu eliminarea imunității politicienilor cum va da ochii cu oamenii când va merge să le ceară votul. Primul lucru pe care îl voi face, ca președinte, este să emit decretul de organizare a referendumului prin care oamenii să decidă dacă sunt de acord cu eliminarea imunităților pentru politicieni. În plus, aș vrea ca pentru parlamentari să introducem un sistem prin care aceștia să poată fi revocați de popor înainte de termen dacă nu își fac treaba. Fără imunitate parlamentară care să îi protejeze când fură și cu posibilitatea de a-i revoca dacă nu își fac treaba, curățăm clasa politică de corupți într-un ciclu electoral.

   p
      strong PaginadePolitică.ro
      |: 
      em E adevărat că, înainte să vă anunțați candidatura, v-a căutat de două ori un emisar al președintelui Traian Băsescu și v-a rugat să vă amânați pentru o scurtă perioadă acest anunț, pentru că exista intenția să vi se propună să deveniți candidata PMP? Ar fi fost bine să aveți susținerea președintelui Băsescu?

   p
      strong Monica Macovei
      |: Am primit astfel de semnale, însă nu știu dacă acestea erau expresia propriei dorințe a “emisarilor” sau veneau de la președinte. După cum vedeți însă, am decis să candidez independent. Ar fi fost bine ca dreapta să aibă un candidat fără vulnerabilități care să-l înfrunte pe Victor Ponta. Acest candidat trebuia selectat în urma unui proces transparent, ținând cont de dorințele și așteptările oamenilor, și nu în urma unei ințelegeri între liderii unor partide. În fond, președintele trebuie să fie al oamenilor, nu al partidelor. Nu înțeleg nici azi de ce liderii PDL au preferat să susțină un candidat vulnerabil ca domnul Iohannis, în loc să fi avut propriul candidat la Președinție cu care să câștige Președinția. Cât despre președintele Traian Băsescu, după cum știți, drumurile noastre s-au despărțit în 2013, când eu am condamnat trocul pe care l-a facut cu PSD și Ponta la numirea procurilor. De asemenea, președintele Băsescu are propriul candidat pe care-l susține, inclusiv de la pupitrul de la Cotroceni. Mă bucură însă faptul ca oameni de calitate care au fost în jurul președintelui Băsescu sau l-au susținut, acum sunt alături de mine. Mă refer în special la intelectuali precum Gabriel Liiceanu sau Vladimir Tismăneanu, la profesorul Marian Preda, ca să dau doar câteva exemple.

   p
      strong PaginadePolitică.ro
      |: 
      em Ați fost membru PDL din 2009 și datorită acestei formațiuni ați obținut de două ori un fotoliu de parlamentar european. Acum, încercați să-i convingeți pe oameni că partidele nu sunt bune. Nu credeți că un președinte, fie el și independent, va trebui să lucreze cu partidele?

   p
      strong Monica Macovei
      |: Am intrat în Parlamentul European datorită votului oamenilor, iar prezența mea pe lista PDL a adus voturi partidului. Din acest motiv m-au și atacat liderii PMP – pentru că am rămas în PDL – acuzându-mă, la fel ca cei din USL, că am “trădat” pentru că nu am mers cu ei. Am refuzat să mă asociez cu acel proiect (cu PMP, n.r.), fiind de atunci evident că era făcut pentru o persoană, preferând în schimb să rămân alături de colegii din PDL cu care am dus cele mai grele bătălii politice. Am plecat din PDL când era evident că partidul și-a pierdut direcția, iar liderii au hotărât să-l facă dispărut. Partidele sunt necesare într-o democrație, pentru că sunt materializarea dreptului la libera asociere a oamenilor pentru a-și lua destinul în propriile mâini. Din cauza legii actuale a partidelor, viața politică din România este monopolizată de o clasă politică lipsită de orice credibilitate. Un proiect politic pe care îl am este modificarea legii partidelor, pentru ca acestea să se poată înființa cu minimum de 3 membri. Trebuie să le dăm șansa oamenilor și comunităților locale să se organizeze cum vor, iar cele mai bune idei vor reuși. Competitivitatea este cheia bunăstării, atât în economia de piață, cât și în viața politică. Ca președinte, evident ca voi lucra cu partidele politice. De aceea, toți oamenii care s-au strâns în jurul meu vorbesc despre crearea unei mișcări care să devină partid și să câștige alegerile în 2016. Avem în față atâtea cazuri recente de corupție și este important pentru toți românii să realizeze că fără valori morale nu poți face politică în folosul oamenilor. Politica fără valori morale este numai o unealtă de exploatare a maselor în beneficiul propriu. Privind în trecut, găsim oameni politici români de valoare. Mă gândesc aici la Iuliu Maniu, pentru care ordinea valorilor era: credința în Dumnezeu, dragostea de neam și familia. Gândiți-vă unde ar fi această țară dacă politicienii ar respecta numai două porunci: să nu furi și să nu minți.

   p
      strong PaginadePolitică.ro
      |: 
      em Ati avut contribuții importante la apropierea Republicii Moldova de UE. Considerați că Moscova va încerca să-și recupereze în forță influența, așa cum a procedat în Ucraina?

   p
      strong Monica Macovei
      |: Am fost președinta comitetului de cooperare UE – Republica Moldova. Din poziția pe care am avut-o, am făcut tot posibilul pentru a aduce Republica Moldova cât mai aproape de Europa și a o ține departe de influența rusă. Una dintre reușite, la care țin foarte mult și sentimental, a fost contribuția la eliminarea vizelor cetățenilor Republicii Moldova, ca aceștia să poată circula liber în Uniunea Europeană. Am fost singurul om politic din România care a participat la zborul cu „avionul fără vize”, când primii moldoveni au intrat în UE fără vize. Am fost deseori la 
      strong Chișinău 
      |și la 
      strong Tiraspol
      |, în 
      strong Transnistria
      |, pentru a vizita comunitatea românească de acolo. Sunt în contact cu directorii școlilor de limbă română și cu profesorii de la cele 8 școli din regiunea separatistă Transnistria unde se mai predă limba română cu grafie latină. I-am sprijinit cu tot ce aveau nevoie. Din păcate, românii care trăiesc în Transnistria sunt sub o presiune și teroare continuă din partea autorităților de la Tiraspol, care încearcă să le șteargă identitatea. Îi invit pe politicienii din România să meargă acolo să vadă ce înseamnă cu adevărat să fii mândru că ești român. Vedem că Rusia a devenit o amenințare nu numai la adresa Republicii Moldova, dar și la adresa României și a întregii regiuni. Ca președinte al României, doresc întărirea relației strategice cu Statele Unite și NATO și consolidarea statului de drept în România, astfel încât țara noastră să devină un punct de stabilitate în zonă.