- locals.date = '2014-10-01 12:00';
- locals.thumb = '/assets/img/posts/mm-depunere-semnaturi.jpg';
- locals.title  = 'Lansare Decalog politic Monica Macovei - Comunicat de presă';
- locals.slug = 'lansare-decalog-politic';
- locals.preview = 'Monica Macovei, candidat independent pentru funcția de președinte al României, și-a lansat astăzi, 1 octombrie 2014, programul prezidențial –Decalog politic: Zece porunci pentru politicieni, o Sută de principii și de proiecte pentru România.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  strong
    | Monica Macovei: 
    em Șansa mea sunteți voi, toți cei care spuneți că ați vota cu mine. Votați cu inima în primul tur.

p
  blockquote Dacă credeți în omul Monica Macovei, dacă credeți în valorile mele, dacă credeți în programul politic pe care îl propun, dacă credeți în onestitatea mea, atunci votați-mă! E foarte simplu! Votați-mă și voi câștiga! Și împreună vom transforma România!
.row
  .small.pull-right
    p (Monica Macovei, 1 octombrie 2014)

p Monica Macovei, candidat independent pentru funcția de președinte al României, și-a lansat astăzi, 1 octombrie 2014, programul prezidențial – Decalog politic: Zece porunci pentru politicieni, o Sută de principii și de proiecte pentru România.

p Cele 10 porunci pentru clasa politică, pe care este construit programul politic, sunt:
ol(type='1')
  li 
    a(href='http://macoveipresedinte.ro/program-politic/1-sa-nu-ai-alti-stapani/', target='_blank') Să nu ai alt stăpân decât cetățeanul.
  li 
    a(href='http://macoveipresedinte.ro/program-politic/2-sa-nu-tradezi-interesul-national/', target='_blank') Să nu trădezi interesul național.
  li 
    a(href='http://macoveipresedinte.ro/program-politic/3-sa-nu-ataci-institutiile-statului/', target='_blank') Să nu ataci instituțiile statului.
  li 
    a(href='http://macoveipresedinte.ro/program-politic/4-sa-nu-furi-banul-public/', target='_blank') Să nu furi și să nu risipești banul public.
  li 
    a(href='http://macoveipresedinte.ro/program-politic/5-sa-nu-minti/', target='_blank') Să nu minți, să nu plagiezi, să nu calomniezi, să nu mituiești.
  li 
    a(href='http://macoveipresedinte.ro/program-politic/6-sa-ti-inmultesti-banii-si-creatia/', target='_blank') Să-ți înmulțești banii și talentul.
  li 
    a(href='http://macoveipresedinte.ro/program-politic/7-sa-ti-educi-copiii/', target='_blank') Să-ți educi copiii.
  li 
    a(href='http://macoveipresedinte.ro/program-politic/8-sa-ti-respecti-parintii-si-semenii/', target='_blank') Să-ți respecți părinții și să îți ajuți semenii.
  li 
    a(href='http://macoveipresedinte.ro/program-politic/9-sa-cultivi-solul-si-sa-protejezi-natura/', target='_blank') Să cultivi solul și să protejezi natura.
  li  
    a(href='http://macoveipresedinte.ro/program-politic/10-sa-ti-respecti-identitatea/', target='_blank') Să-ți respecți identitatea, valorile și trecutul, ca să ai un viitor.

p 
  blockquote 
    em Cazul meu este unul special între candidați. Mulți spun ‘aș vota cu Monica Macovei, dar nu cred că are șanse’ și șansa mea sunteți voi, toți cei care spuneți că ați vota cu mine. Dacă credeți în omul Monica Macovei, dacă credeți în valorile mele, dacă credeți în programul politic pe care îl propun, dacă credeți în onestitatea mea, atunci votați-mă! E foarte simplu! Votați-mă și voi câștiga! Și împreună vom transforma România! Acesta este îndemnul meu către toți cei care mai au dubii: mă vreți președinte, credeți în mine, votați-mă! Cu inima în primul tur!
    |, a spus Monica Macovei, la începutul conferinței de presă.

p Monica Macovei a mai spus că în România se minte și se fură de foarte mulți ani. 
blockquote 
  em În România, interesul personal și cel de clică și cel de partid predomină. Șmecheria predomină. De prea multă vreme în România noi plătim și răbdăm, iar șmecherii și hoții se îmbogățesc și râd de noi. Ca mulți alți cetățeni din România, m-am săturat de asta! De ani buni mă lupt cu sistemul corupt
  |, a continuat Monica Macovei.

p Monica Macovei a amintit că a creat Direcția Națională Anticorupție și a dat garanții că va asigura funcționarea și independența DNA pe mai departe.

blockquote 
  em Am promovat în Parlamentul European confiscarea extinsă a averilor care provin din infracțiuni și voi face asta în continuare. Toți banii furați trebuie să se întoarcă în bugetul public, adică la noi, la cei furați. Toate privatizările și toate contractele frauduloase cu statul din ultimii 25 de ani, trebuie verificate și acolo unde e posibil, trebuie să ne recuperăm banii
  |, a mai spus Monica Macovei.

p Monica Macovei a subliniat că programul politic prezentat nu este un program de guvernare, fiindcă Președintele nu guvernează, ci este viziunea pentru România.
blockquote 
  em Președintele poate propune idei de bună guvernare și are datoria să o facă
  |, a adăugat aceasta.

p Monica Macovei a prezentat câteva dintre măsurile care însoțesc cele 10 porunci. Fiecare punct din Decalogul politic are câte 10 măsuri concrete.

p
  em Decalogul politic: Zece porunci pentru politicieni, o Sută de principii și de proiecte pentru România 
  |poate fi citit pe pagina de internet 
  a(href='http://www.macoveipresedinte.ro/', target="_blank") Monica Macovei Președinte
  |.
.row
  .col-xs-4
  .col-xs-4
    a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/Lansare Decalog politic Monica Macovei - comunicat de presa.docx", rel="download")
     | Descarcă
     br
     | decalogul politic
  .col-xs-4