- locals.date = '2014-10-09 16:00';
- locals.thumb = '/assets/img/posts/victor-ponta.jpg';
- locals.title  = 'Ponta fuge de dezbateri, dar atacă prin interpuși. Sunt deschisă să am o dezbatere cu el la orice televiziune dorește.';
- locals.slug = 'ponta-fuge-de-dezbateri-dar-ataca-prin-interpusi';
- locals.preview = 'L-am provocat pe Victor Ponta la o dezbatere publică despre direcția și viitorul României încă din 22 august 2014.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];

p
 em (București, 9.10.2014) Monica Macovei – Declarație de presă
p
 strong Ponta fuge de dezbateri, dar atacă prin interpuși. Sunt deschisă să am o dezbatere cu el la orice televiziune dorește

p L-am provocat pe Victor Ponta la o dezbatere publică despre direcția și viitorul României încă din 22 august 2014.
p Ponta a avut nevoie de o lună și jumătate ca să răspundă cu propria propunere: o singură dezbatere înainte de primul tur de scrutin cu toți cei 14 candidați. Evident, o întâlnire între 14 candidați nu poate duce la o dezbatere, ci la circ.

p Pe scurt, Ponta a răspuns la invitațiile de dezbateri astfel:
  ul
    li A fugit de o dezbatere cu mine.
    li Marioneta lui Ponta, Tăriceanu, a adoptat aceeași tactică: a fugit de mine.
    li A avut o oportunitate sa se prezinte într-o dezbatere la TVR cu un contracandidat și a refuzat sa participe.
    li Televiziunile lui de casă, Antena 3 și România TV au răspândit acuzația mincinoasă că sunt cercetată de DIICOT pentru a aduce în noroi, la nivelul lui, singurul candidat care nu are probleme cu legea.
    li Și-a pus purtătoarea de cuvânt să-l atace abject pe unul dintre contracandidați prin referiri la o situație intimă familială.

p Toate acestea arată josnicie. Fiecare din aceste gesturi ale lui Victor Ponta arată josnicie și dispreț la adresa românilor chemați să decidă și să voteze cea mai bună soluție pentru țară în următorii 5 ani.
p Insist cu solicitarea către Victor Ponta să accepte o dezbatere față în față cu mine, în care să vorbim despre viitorul României și să nu se mai ascundă în spatele purtătorilor de cuvânt sau a unei propuneri nepractice de dezbatere.

p Îl las pe Victor Ponta să aleagă locul și data dezbaterii.
