- locals.date = '2014-09-20 10:00';
- locals.thumb = '/assets/img/posts/vladimir-tismaneanu.jpg';
- locals.title  = 'Contre vents et marées: Monica Macovei și resurecția speranței';
- locals.preview = 'Monica Macovei ia în serios responsabilitatea funcției prezidențiale. Pentru ea nu este vorba de un podium al gloriei ori de un eșafodaj al extravaganțelor narcisiste. Sobră fără a fi austeră, evitând stridențele de orice natură, atentă la nuanțe și deschisă către dialog, candidata prezidențială Monica Macovei simbolizează un nou tip de președinte.';
- locals.author = 'Vladimir Tismăneanu';
- locals.source = 'http://www.contributors.ro/politica-doctrine/contre-vents-et-marees-monica-macovei-%C8%99i-resurec%C8%9Bia-speran%C8%9Bei/';

figure.pull-right
  img.img-responsive(src="/assets/img/posts/vladimir-tismaneanu.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

p Cei care prevesteau eșecul Monicăi Macovei în campania pentru strângerea celor 200.000 de semnături s-au înșelat. Nu numai că le-a obținut, dar a depășit cu mult acest prag. Eroarea pesimiștilor (mă refer la cei de bună-credință) a fost că au subestimat forța de mobilizare spontană a celor care nu mai suportă cinismul, corupția și minciuna. Ni s-a spus că Monica nu are un partid care să o susțină. Eu cred că tocmai aici se află secretul popularității ei crescânde, în independența ei politică asumată. Mai precis, în ceea ce, într-un articol scris împreună cu Marius Stan, numeam altruismul civic. Este vorba de o forță galvanizantă, de un dinam politic și moral pe care partidele Establishment-ului nu-l înțeleg, îl ignoră și îl desfid. Ceea ce părea o utopie acum câteva săptămâni, este azi o șansă reală. Monica Macovei poate intra în turul doi. Atunci se vor despărți apele. Cetățenii României vor putea alege între marele măsluitor al adevărului și consecventa apărătoare a dreptății.

p Au vorbit ori au scris pentru Monica Macovei oameni din toate categoriile profesionale: de la filosoful Gabriel Liiceanu, la criticul de artă Pavel Șușară, de la profesoara Mihaela Miroiu și profesorul Marian Preda, la jurnaliștii Andrei Gheorghe și Dragoș Ghițulete, de la cântăreața de etnojazz Maria Răducanu, la analistul politic Cristian Ghinea. Au vorbit scriitorul T. O. Bobe și cântăreața Mihaela Mihai. Lista e lungă, am pomenit doar unele nume. Îi invit pe cititori să meargă pe site-ul campaniei la rubrica 
  a(href="/sustinatori/") “Testimoniale” 
  | și vor vedea.

p Nu știu alt candidat care să fi magnetizat atâtea voci proeminente. Dar, cel mai important, este că vorbesc pentru Monica Macovei oamenii simpli și curați ai acestei țări, cetățenii care s-au săturat de balivernele unor politicieni pentru care statul de drept este un inamic personal iar drepturile omului sunt doar vorbe-n vânt. La un ceas când speranța părea surghiunită, Monica Macovei a făcut-o să renască.

p Monica Macovei ia în serios responsabilitatea funcției prezidențiale. Pentru ea nu este vorba de un podium al gloriei ori de un eșafodaj al extravaganțelor narcisiste. Sobră fără a fi austeră, evitând stridențele de orice natură, atentă la nuanțe și deschisă către dialog, candidata prezidențială Monica Macovei simbolizează un nou tip de președinte. Nu se definește prin recursul la ironii și polemici, nu aruncă vorbele spre a face plăcere unora și altora, nu face băi de mulțimi. Nu critic aici o persoană anume, vorbesc despre un stil politic proaspăt. Ca președinte, Monica Macovei ar fi un compas, o busolă, un hub uman de idei și propuneri, un partener în proiecte, un arbitru social, capabil și dispus să se întâlnească, atunci când situația o va cere, cu varii grupuri de protestatari, pe diferite subiecte. Ar fi ceva nou, o paradigmă complet schimbată în raport cu toți președinții pe care i-am avut.

p Inchei acest articol cu un citat din Vaclav Havel, extrem de pertinent, cred eu, in actualele condiții din România. Cred că orice om onest va ințelege de ce suntem unii, tot mai mulți, care credem ca Monica Macovei merită pe deplin să fie aleasă președinte al României: “Oricat de ridicol si donquijotesc poate sa sune acest lucru astăzi, un lucru mi se pare cert – faptul că este responsabilitatea mea să accentuez, mereu si necontenit, originea morală a oricărei politici autentice, să subliniez semnificatia valorilor si standardelor morale in toate domeniile vietii sociale, inclusiv economia, si să explic că, dacă nu incercăm, in noi insine, să descoperim ori să redescoperim ori să cultivăm ceea ce eu numesc o ‘responsabilitate mai inaltă’, lucrurile vor merge teribil de rău in țara noastră.” (Vaclav Havel, “Summer Meditations”, 1991)

a(href="http://www.contributors.ro/politica-doctrine/pentru-monica-macovei-poarta-noastra-catre-normalitate-articol-de-vladimir-tismaneanu-si-marius-stan/", target='_blank') http://www.contributors.ro/politica-doctrine/pentru-monica-macovei-poarta-noastra-catre-normalitate-articol-de-vladimir-tismaneanu-si-marius-stan/

p Un dialog extrem de interesant cu Monica Macovei, derulat in 2005, la care au participat regretatii Lena Boiangiu si Alex Leo Serban, poate fi cititi aici:

a(href="http://dilemaveche.ro/sectiune/dileme-line/articol/monica-macovei-justitia-e-oameni-nu-dosare-0", target='_blank') http://dilemaveche.ro/sectiune/dileme-line/articol/monica-macovei-justitia-e-oameni-nu-dosare-0

p 
  strong Update: 
  | 20 septembrie 2014: Despre Victor Ponta am scris pe blogul meu, pe 1 august, ca minte galactic. Intre timp, pe 15 septembrie, intr-un puseu sicofantic care intrece chiar isteriile cultice ale “Epocii de Aur”, un turiferar in transa l-a numit pe megaplagiator “o galaxie româna in devenire”. Azi hiper-galacticul personaj, “micul Ceausescu” cum l-a numit Monica Macovei, se va desfata intr-o baie de multimi organizata cu tot fastul imaginabil de aparatul propagandistic al baronilor vechi si noi. Va fi uns (a cata oara?), candidat prezidential al mafiei pesediste. Baronul Dragnea vesteste iminenta eliberare a tarii de sub jugul basist. Zeci de mii de oameni participa, “mandri ca sunt români,” la grotescul circ pontocratic. Lipsesc faimoasele cartonase. Nu va faceti griji, vin si ele, se lucreaza asiduu in magazia de idei a PSD-ului. Cu aceeasi sinceritate debordanta care il caracteriza pe Petre Roman cand anunta ca este “os de ardelean”, admiratorul lui Che Guevara spune acum: “Sunt un roman ca oricare alt roman, sunt un roman care usnt mandru de tara mea. sunt stranepotul unui roman din Ardeal care in 1917 a cerut cetatnia romana si a luptat alaturi de romani pentru marea unire. Sunt nepot de preot de la care am invatat sa cred in Dumnezeu.” Curat socialist, indeed! Se rasuceste Karl Marx in mormantul sau de la cimitirul Highgate din Londra…

p Pe blogul sau, Ioan T. Morar a scris un text remarcabil pe acest subiect. Este limpede cum ar arata România sub calcaiul de beton al acestui Kim Jong-un de Dambovița. Iata acel jalnic exercitiu de versificație care va intra, negresit, in analele marii rusini naționale:

blockquote “Victor, o galaxie romana in devenire,
  br
  | Rasare in universul zidit pe rastigniri,
  br 
  | Pe temelie veche, de piatra si jertfire,
  br
  | El reinalta o tara a vechilor romani!
  br
  | Victor Ponta presedinte!”
