- locals.date = '2014-08-02';
- locals.thumb = 'assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg';
- locals.title  = 'Monica Macovei și-a anunțat demisia din PDL';
- locals.slug = 'monica-macovei-a-anuntat-demisia-din-pdl';
- locals.preview = 'Într-o conferință de presă ce a avut loc la sediul de campanie, Monica Macovei a anunțat că demisionează din PDL: "Demisionez din PDL. E o decizie gândită îndelung, nu e un gest făcut în pripă. Cred că ceea ce se întâmplă azi cu PDL este greșit."';
- locals.author = 'B1 Tv';
- locals.source = 'https://www.youtube.com/watch?v=6XV1Ed-ahbE&list=UUeqNP-Wt7YNjPyH6XhMYPxw';

div.
  <iframe width="560" height="315" src="//www.youtube.com/embed/6XV1Ed-ahbE" frameborder="0" allowfullscreen></iframe>
