- locals.date = '2014-10-28 13:00';
- locals.thumb = '/assets/img/posts/interviu-metropotam-10.jpg';
- locals.title  = ' "Doresc să continui și să intensific lupta anti-corupție, deoarece corupția a devenit o amenințare la adresa siguranței și bunăstării tuturor românilor"';
- locals.slug = 'mm-interviu-metropotam';
- locals.preview = 'M-a speriat pur și simplu gândul că Ponta poate ieși președinte, el fiind protectorul corupților și dorindu-și să ducă țara spre Rusia și China. România și românii merită un președinte onest, responsabil, incoruptibil, nu un mincinos și apărător al corupților ca Ponta.';
- locals.author = 'Metropotam';
- locals.source = 'http://metropotam.ro/La-zi/interviu-monica-macovei-prin-sustinerea-elenei-udrea-presedintele-traian-basescu-isi-face-rau-siesi--art4403474927/';
- locals.tags = ['interviu'];
p
   strong Monica Macovei 
   |este candidatul la presedintie cel mai activ si simpatizat in mediul online. Din acest punct de vedere, este deja o performanta. Insa, in acelasi timp este candidatul care a starnit si cele mai mari dezbateri din mediul online. 
p
   |Programul ei politic a fost aspru criticat in mai multe articole, cel al lui 
   a(href='http://www.criticatac.ro/26474/monica-macovei-program-impotriva-srciei-pogrom-impotriva-sracilor-portrete-de-candidai/', target ='_blank') Vasile Ernu 
   |fiind cel mai de impact, atragand si atentia doamnei Macovei, care ii cerea lui 
   a(href='http://macoveipresedinte.ro/posts/o-obscenitate-vasile-ernu-si-semnificatia-cuvantului-pogrom', target='_blank') Ernu sa-si ceara scuze public
   |. Pe de alta parte, numeroase personalitati si-au manifestat direct sprijinul pentru Monica Macovei, in clipuri, declaratii publice sau comunicate de presa.
p Nici eu nu pot spune ca ma regasesc in programul politic al Monicai Macovei, asa ca am incercat sa lamuresc unele dileme (multe dintre ele inca raman) printr-un interviu:  
.content
   .row
      .col-sm-8.col-sm-offset-2
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-1.jpg') 
         em.small
            |sursa foto: 
            a(href='https://www.facebook.com/MonicaMacoveiUE/', target='_blank') Monica Luisa Macovei
p
   em
      strong Ce v-a determinat sa candidati pentru presedintia Romaniei? De ce credeti ca ati face o treaba buna tocmai din aceasta functie si nu din alta: ministru, avocat al poporului, parlamentar, europarlamentar etc.?

p Primul motiv pentru care am decis sa candidez a fost pentru ca doresc sa continui si sa intensific lupta anti-coruptie, deoarece coruptia a devenit o amenintare la adresa sigurantei si bunastarii tuturor romanilor.

p
   |Al doilea motiv pentru care am decis sa candidez a fost ca 
   strong Romania sa isi continue directia spre vest
   |, sa devina o forta in Uniunea Europeana, sa isi intareasca prezenta in NATO si sa consolideze parteneriatul strategic cu Statele Unite. Relatia cat mai stransa cu vestul este singura noastra protectie in fata unei Rusii tot mai agresive si expansive.

p
   |Am luat decizia de a candida in momentul in care am vazut ca nu ma regasesc, ca cetatean, in nici unul dintre potentialii candidati si am vazut ca 
   strong partidele au facut blat sa iasa Ponta presedinte.

blockquote
   p 
      em M-a speriat pur si simplu gandul ca Ponta poate iesi presedinte, el fiind protectorul coruptilor si dorindu-si sa duca tara spre Rusia si China. Romania si romanii merita un presedinte onest, responsabil, incoruptibil, nu un mincinos si aparator al coruptilor ca Ponta.
p Daca va uitati la CV-ul meu veti vedea ca am facut lucruri cat de bine s-a putut, oriunde am fost.

p Dupa ce am iesit din procuratura, vazand abuzurile care s-au facut pe timpul lui Iliescu, am devenit avocat pentru drepturile omului. Am fost presedintele APADOR-CH si ca avocat am cele mai multe cazuri castigate la CEDO, aparandu-i pe romanii abuzati de stat.

p
   |Ca Ministru al Justitiei am creat DNA, care se lupta cu marea coruptie, si am trecut legile care au pus bazele reformei in justitie. Cat timp am fost ministru am promovat procurori integri, incoruptibili, care vedeti ca si-au facut treaba. Ca europarlamentar am fost, de departe, cel mai activ europarlamentar roman, cu 40 de legi de adoptate. 
   strong Oriunde am lucrat am reusit.

p Ca presedinte imi voi face treaba la fel de bine, dedicandu-ma trup si suflet pentru bunastarea acestei tari, asa cum am facut-o mereu.
.content
   .row
      .col-sm-6
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-2.jpg') 
      .col-sm-6
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-3.jpg')
   em.small
      |sursa foto: 
      a(href='https://www.facebook.com/MonicaMacoveiUE/', target='_blank') Monica Luisa Macovei
p 
   em
      strong Nu ati fost aleasa niciodata direct intr-o functie: pana acum ati candidat pe liste (europarlamentare) sau ati fost numita (ministerul justitiei) ce v-a facut sa capatati increderea necesara pentru a candida la o functie pentru obtinerea careia e nevoie de cel mai mare numar de voturi?

p Cand am luat decizia de a candida, primul lucru la care m-am gandit a fost viitorul acestei tari. A fost un risc pe care mi l-am asumat, dar am facut-o pentru tara. Mi-am dat seama de pericolul care paste Romanie daca iese Ponta presedinte in urma acelui blat intre partide, asa ca m-am decis sa candidez pe ultima suta de metri. In august eu aveam programata o vizita in Statele Unite pe care a trebuit sa o anulez.

p Au fost, apoi, prietenii din jurul meu care au avut incredere in mine si in acest proiect si m-au sustinut de la bun inceput.

blockquote
   p
      em Calatoriile prin tara si intalnirile cu oamenii simpli mi-au confirmat ca am luat o decizie buna.
p Oamenii vor un presedinte al lor, al oamenilor, nu al partidelor politice. In plus de asta, oamenii vor o altfel de clasa politica si ma bucur ca prin candidatura mea le-am dat speranta ca se poate face si o altfel de politica. O politica in folosul si pentru binele oamenilor, nu al coruptilor din partide.

.content
   .row
      .col-sm-6
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-4.jpg') 
      .col-sm-6
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-5.jpg')
   em.small
      |sursa foto: 
      a(href='https://www.facebook.com/MonicaMacoveiUE/', target='_blank') Monica Luisa Macovei
p
   strong
      em Cum va arata Romania peste 5 ani, daca castigati alegerile?

p La incheierea primului meu mandat de presedinte, Romania va fi o tara mai putin corupta, cu o clasa politica  reformata in buna parte, cu mai multi bani la buget, de unde vom putea da salarii mai mari profesorilor si doctorilor, vom putea mari pensiile si alocatiile fara a ne imprumuta.

blockquote
   p
      em
         |De asemenea, la finalul primului meu mandat vom avea 
         strong cel putin o autostrada care va lega Constanta de Oradea si Arad.
p Nu in ultimul rand, la finele primului meu mandat de presedinte vom avea investiile straine in Romania, pentru ca va exista predictibilitate fiscala si stabilitate. Investitiile straine vor produce locuri de munca care vor da speranta tinerilor din Romania sa ramana in tara si, de ce nu, celor din diaspora sa se intoarca.

p
   strong 
      em Cum va arata daca le pierdeti in fata lui Ponta sau Iohannis?

p
   |Daca 
   strong Ponta castiga 
   |presedintia, 
   strong Romania se va intoarce in timp 25 de ani 
   |si se va distruge tot ce s-a construit cu atata efort de la Revolutie incoace. Ponta va schimba traiectoria Romaniei spre est, intrand in parteneriat direct cu China si sub influenta Rusiei. Experienta din trecut ne-a aratat ca nimic ce vine dinspre est, nici chiar vantul, nu e bun.

p Ponta va crea un sistem oligarhic, va controla toate parghiile din stat facand din Romania o feuda a PSD. Am auzit foarte multi tineri care mi-au spus ca, daca iese Ponta, singura lor alternativa este sa plece din tara. Am auzit chiar taximetristi de 40-50 de ani de care spun acelasi lucru.

blockquote
   p
      em Ar fi o tragedie nationala sa iasa Ponta.
p
   strong Daca iese Iohannis, cred ca si el va duce Romania inapoi cu cel putin 10 ani. 
   |Problema sunt coruptii si oligarhii din spatele lui, care-i controleaza orice miscare. PNL a actionat deschis alaturi de PSD pentru oprirea luptei impotriva coruptiei. In plus, Iohannis este un om care nu are experienta politica nationala si internationala si a avut atitudini contradictorii fata de Rusia. Va amintiti ca in 2012, in timpul suspendarii presedintelui, cei din PNL raspundeau la ordinele date pe fata de la Moscova prin Vocea Rusiei.

p Romania are nevoie de un presedinte care sa continue lupta anticoruptie si care sa mentina Romania pe traiectoria vest. Sunt singurul candidat care poate face acest lucru.
.content
   .row
      .col-sm-8.col-sm-offset-2
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-6.jpg') 
         em.small
            |sursa foto: 
            a(href='https://www.facebook.com/MonicaMacoveiUE/', target='_blank') Monica Luisa Macovei
p
   strong 
      em Ati fost procuror inainte de ’89, care au fost realizarile dvs. / lucrurile cu care va mandriti cel mai tare din acea perioada?

p Am terminat facultatea de drept cu nota 10. Am fost trimisa initial in Giurgiu, apoi am lucrat in Bucuresti, si am anchetat furturi din trenuri.

blockquote
   p
      em Nu faceam anchete politice.
p In timpul Mineriadei din 13-15 iunie 1990, am refuzat sa emit mandate de arestare pentru manifestanti, au facut-o alti procurori, si, ulterior, am decis scoaterea de sub urmarire penala a manifestantilor.

p Mai mult chiar, am analizat, din proprie initiativa, legalitatea masurilor de arestare preventiva in dosarele Mineriadei si am cerut in scris sa fie cercetati procurorii care au dispus ilegal retinerea si arestarea manifestantilor din Piata Revolutiei.

p Este o parte a activitatii mele ca procuror cu care sunt extrem de impacata, pentru ca stiu ca am ajutat multe victime de la Mineriada pentru care am luat, apoi, decizia de a le scoate de sub urmarire penala.

p
   strong
      em Din declaratiile dvs. reiese ca nu sunteti o persoana religioasa la modul habotnic. Care este pozitia dvs. in ceea ce priveste avortul? Stim ca exista aici o mica controversa. 

p
   |Nu cred ca o persoana habotnica este neaparat religioasa cu adevarat. Papa Ioan Paul al II-lea a spus: "Credinta si ratiunea sunt ca doua aripi care te inalta la cer". 
   strong Un om religios trebuie sa tina in balanta credinta cu ratiunea.

p
   |Mie, de exemplu, 
   strong credinta mi-a dat putere sa lupt cu raul si coruptia 
   |fara frica. Credinta a fost esentiala sa stau pe calea dreapta a ratiunii de a lupta impotriva raului, indiferent de riscuri. 

p Ca om politic ai nevoie de valori morale, etice, altfel nu poti face politica in folosul oamenilor. Cand esti la "robinetul de bani", cum spunea cineva, poti gasi scapari legale care sa te acopere cand furi. Sunt insa valorile tale interioare, intrinseci, care iti spun ca nu e bine, nu e corect si nici drept sa furi, pentru ca faci rau oamenilor.

p Ai nevoie sa crezi in valori absolute de bine si rau, care sunt dincolo de lege. Parlamentul, de exemplu, poate trece o lege sa dea drumul la furat pentru 24 de ore, la fel cum au dat drumul la traseismul primarilor pentru 45 de zile. O astfel de lege nedreapta nu ar face furtul drept, chiar daca ar fi legal.

blockquote
   p
      em Referitor la avort, sunt in favoarea alegerii informate si constiente a vietii.
p Sunt studii care arata ca principalul motiv pentru care fetele, femeile sau familiile decid sa recurga la avort este situatia economica si temerea ca nu vor avea cu ce sa isi creasca copilul. Ca presedinte vreau sa promovez predictibilitatea fiscala si reducerea taxelor, care vor facilita cresterea economica. Cand exista locuri de munca stabile si bine platite, vor fi mai putine femei sau familii puse in situatia de a trebui sa faca astfel de alegeri dureroase. 
.content
   .row
      .col-sm-6
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-7.jpg') 
      .col-sm-6
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-8.jpg')
   em.small
      |sursa foto: 
      a(href='https://www.facebook.com/MonicaMacoveiUE/', target='_blank') Monica Luisa Macovei
p
   strong
      em Sunteti pro sau contra casatoriilor intre persoanele de acelasi sex?

blockquote
   p 
      em Sunt in favoarea casatoriei traditionale.
p
   |In acelasi timp, sunt 
   strong impotriva discriminarii homosexualilor 
   |pentru orientarea pe care o au.

p
   strong
      em Ce parere aveti despre legalizarea marijuanei in Statele Unite, in scopuri medicinale? Credeti ca in Romania ar fi posibil acest lucru intr-un viitor apropiat? 

p O schimbare a legii in acest sens necesita acordul Parlamentului.

blockquote
   p 
      em In opinia mea, ar trebui consultata populatia printr-un referendum, asa cum si in unele state din SUA a fost consultata.
p
   strong 
      em Exista voci care v-au criticat programul politic din prisma dorintei de privatizare a sistemelor de sanatate si educatie. Nu credeti ca astfel vor fi afectati foarte multi oameni care, dintr-un motiv sau altul, nu se bucura de o situatie materiala buna?

p Eu am vorbit in programul meu despre crearea de case de sanatate private, astfel incat omul sa poata alege unde sa-i mearga contributia la asigurarile de sanatate. Intre propunerile mele se afla si alinierea bugetului Sanatatii la media europeana de 6%. O masura necesara, pentru ca nu mai vreau ca Romania sa fie tara cu cei mai prost platiti medici si cu cele mai slab dotate spitale publice. Si nu mai vreau ca medicii sa emigreze.
blockquote
   p
      em 
         |In privinta scolilor, sustin principiul 
         strong "banul sa urmeze elevul"
         |, iar statul sa dea subventia catre scoala unde parintele isi da copilul, indiferent ca acea scoala este publica sau privata.
p Tot in progarmul meu scrie negru pe alb ca niciun copil nu trebuie lasat in urma sau pe margine. Un stat minimal, adica unul care nu va trebui sa se ocupe de toate, se va concentra pe zonele si cazurile cu reale dificultati si va sustine fiecare copil sa mearga la scoala.
p Eu am scris clar in programul meu ca monopolul statului in educatie trebuie sa inceteze, adica parintii si copiii sa-si poata alege furnizorul de educatie. Asta nu inseamna ca toate scolile de stat sa fie privatizate, ci ca, asa cum spuneam, finantarea sa urmeze elevul. Este in folosul tuturor ca piata de educatie sa fie liberalizata.
blockquote
   p 
      em 
         strong Competitia de pe piata, de fapt, ii ajuta pe cei saraci
         |, nu pe cei bogati. Cei bogati isi permit sa isi cumpere orice, ca au cu ce. Pentru cei saraci, insa, nu e tot una ce servicii primesc pentru 50 de lei.
p Cand in piata exista monopol, ai numai o optiune care e scumpa si proasta. Cand exista insa competitie, firmele se lupta sa iti ofere cele mai bune servicii la cele mai competitive preturi, altfel ies din business. Asta te avantajeaza pe tine, ca si consumator.
p Cel mai bun exemplu sunt companiile de telefoane celulare. Aduceti-va aminte ce preturi se practicau la telefonia celulara in anii ’90, cand existau numai doua companii pe piata, si ce preturi si oferte sunt acum, cand piata a devenit competitiva. Cati oameni saraci isi permiteau un telefon celular in anii ’90 si cati isi permit acum?
p Acelasi principiu functioneaza si in acest caz. Existenta de alternative private in educatie si sanatate, spargand monopolul statului, de fapt ii ajuta si pe cei saraci si limitati in resurse.
.content
   .row
      .col-sm-8.col-sm-offset-2
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-9.jpg') 
         em.small
            |sursa foto: 
            a(href='https://www.facebook.com/MonicaMacoveiUE/', target='_blank') Monica Luisa Macovei
p
   strong
      em Saracia e o stare de fapt pentru care sunt responsabili doar cei care se afla in aceasta situatie sau exista si o responsabilitate publica pentru bunastarea celor care nu au mostenit averi sau nu au reusit in plan profesional?

p Saracia nu este un accident, ci este cauzata de furt si coruptie. Sunt si cazuri de familii care sunt sarace pentru ca nu vor sa munceasca, dar nu cred ca sunt foarte multe.

p In Romania, la scara larga, saracia este cauzata de o clasa politica corupta care acapareaza toate resursele, astfel incat acestea nu mai ajung la populatie. Uitati-va numai la scandalurile de coruptie din ultima luna. E vorba de sute de milioane de euro, cu care se puteau face sute de kilometri de autostrazi, care generau zeci de mii de locuri de munca.

p Numai adunand prejudiciile din dosarele Microsoft, Lukoil si dosarul retrocedarilor ilegale de paduri ajungem la peste 600 milioane de euro.

blockquote
   p 
      em 
         |De-asta tot spun: 
         strong in Romania exista bani, totul este sa nu mai fie furati
         |. Banii sa fie folositi pentru nevoile reale ale oamenilor.
p Ca sa scapi de saracie ai nevoie de progres economic. Progresul este generat de inovatie care vine din competitivate. Clasa corupta, insa, vrea monopol pe tot, tocmai pentru a opri competitivatea si progresul. Pentru a avea monopol, clasa politica se foloseste de coruptie. Din acest motiv spun, cand incepi sa lupti impotriva coruptiei, spargi monopolul coruptilor, ceea ce liberalizeaza piata, care conduce la progres si bunastare in societate.
.content
   .row
      .col-sm-8.col-sm-offset-2
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-10.jpg') 
         em.small
            |sursa foto: 
            a(href='https://www.facebook.com/MonicaMacoveiUE/', target='_blank') Monica Luisa Macovei
p
   strong
      em In ceea ce priveste lumea artelor, in programul dvs. politic este specificat: “Voi promova ideea mecenatului, cu scutiri ample de impozite pentru privatii si intreprinderile care finanteaza creatia si premiaza meritul.” Ce se va intampla, daca castigati, cu ICR-ul, cu AFCN-ul si alte astfel de organizatii care erau pana acum finantate de Stat?

p Da, tot in programul meu apare si observatia ca meritul si talentul in domeniul artelor si literelor au fost mereu sprijinite de oamenii bogati si de intreprinderile private. Este o alternativa pe care o voi incuraja si care nu exclude si un alt tip de sprijin din partea statului.

blockquote
   p 
      em Arta, in toate formele ei, trebuie sustinuta financiar si de mediul privat.
p Cat despre ICR, rolul sau este sa promoveze cultura si artistii, creatorii romani in strainatate, nu sa promoveze un Guvern sau un ministru al Culturii.  Avem nevoie in continuare de astfel de “ambasadori” ai culturii si artei in lume. ICR, AFCN si alte organizatii trebuie sa sustina si sa promoveze nediscriminatoriu talentele reale, nu "cantaretii" de partid.

p
   strong 
      em Ati mai fost criticata ca nu aveti o pozitie clara in ceea ce priveste gazele de sist. Ne puteti spune daca veti fi pro sau contra acestui tip de exploatare, daca veti fi aleasa in functia de presedinte al Romaniei? De asemenea, lasand de-o parte coruptia din spatele afacerii Rosia Montana, sunteti de acord cu acest tip de exploatare, cu cianuri?  

p In cazul Rosia Montana, am fost impotriva acestui proiect inca de la inceput, plasandu-ma impotriva presedintelui Basescu atunci cand o mare majoritate din PDL avea alta opinie. Nu sunt de acord cu cianurile la Rosia Montana sau in orice alt loc din Romania. Am fi iresponsabili sa lasam in urma noastra lacuri de cianuri pentru generatiile care vin dupa noi.

p In cazul gazelor de sist, acest tip de exploatare este adus tot mai des in discutie deoarece Romania cauta sa devina independenta energetic de gazul rusesc. Vedem ca Rusia foloseste gazul ca o unealta de santaj, iar daca dorim sa ramanem independenti nu ne permitem ca tara sa fim santajati de Federatia  Rusa. 

blockquote
   p 
      em 
         |Nevoia de gaz a Romaniei poate fi acoperita 
         strong exploatand gaz in siguranta
         |, fara sa afectam nediul. Putem exploata resursele de titei si gaz din Marea Neagra si energiile regenerabile.
p Mai exista si varianta energiei nucleare, dar astfel de proiecte trebuie facute in conditii de maxima siguranta pentru populatie si in mod cert cu companii romanesti si eventual cu parteneri straini, dar obligatoriu cu companii din state aliate pe dimensiunea sigurantei nationale. Este un atentat la siguranta nationala sa-i lasam pe chinezi sa contruiasca reactoare nucleare in Romania, asa cum vrea Ponta sa faca.

p Exploatarea gazelor de sist este un subiect care preocupa pe toata lumea si in nici un caz nu sunt adepta unei pozitii duplicitare cum a avut Ponta, care a fost anti-exploatare, cand a fost in opozitie, si apoi pro-exploatare, cand a ajuns la putere. Oricum, "arestarea" unui sat sau a unei comunitati, asa cum s-a intimplat la Pungesti, este inadmisibila si indica dictatura.

p Acordul comunitatii este esential. Insa, asa cum am spus, independenta energetica a Romaniei, de care depinde independenta politica, poate fi bine si sigur asigurata de energia nucleara, de resursele din Marea Neagra si de energiile regenerabile.

p Este evident ca independenta energetica si implicit politica a Romaniei trebuie sa fie asigurata, pentru a nu fi dependenti de gazul rusesc. Prin vene ne curge sange, si nu gaz rusesc. Haideti sa ramanem independenti, caci nu mai vrem sub rusi, am fost, am vazut, acum spunem "nu!" pentru noi si copiii nostri.
.content
   .row
      .col-sm-8.col-sm-offset-2
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-11.jpg') 
         em.small
            |sursa foto: 
            a(href='https://www.facebook.com/MonicaMacoveiUE/', target='_blank') Monica Luisa Macovei
p
   strong 
      em Pana acum, cele mai dure atacuri ale dvs. au fost la adresa PSD-ului si, oarecum, este normal. Cu toate acestea nu putem uita ca ati facut ani buni parte din PDL, un partid care este si el plin de oameni corupti. Poate de aici vi se trage si cel mai mare handicap, pentru ca oamenii de rand nu pot sa va voteze cu inima impacata din cauza alaturarii, care inseamna intr-o mare masura complicitate. Prin ce argumente ii convingeti pe acesti oameni ca sunteti diferita de politicieni precum Videanu, Berceanu, Udrea etc.?  

p PSD este un grup mafiot de crima organizata, cum singuri l-au definit lideri ai partidului, pus sa jefuiasca romanii si avutiile tarii. Asta se vede clar din actiunile lor si din stenogramele in care isi imparteau zeci de mii de hectare de padure si pamant.PDL, de partea cealalta, cu toate greselile lui, a avut niste merite care puteau face din el cel mai puternic partid din Romania. Exact asta era intentia mea cand am candidat la presedentia acestui partid in 2013.

p PDL a fost primul partid care a adoptat un cod de etic pe care l-am propus, care prevedea clar ca nu se va face zid in jurul coruptilor.

blockquote
   p
      em
         strong Au fost corupti si in PDL, insa partidul nu i-a aparat.
p Iar eu nu am tacut niciodata in PDL. Am cerut sanctiuni impotriva celor care, de pilda, au votat alaturi de PSD si PNL pentru modificarea Codului penal sau pentru reducerea atributiilor ANI. Am cerut ca parlamentarii PDL care au decizii definitive de incompatibilitate sa plece din Parlament. Si am cerut toate aceste lucruri public, cand eram in PDL. Nu am facut compromisuri cu nimeni.

p Este regretabil ca liderii PDL au preferat sa ingroape acel partid, cand putea deveni cea mai mare forta politica din Romania care se reforma. Ii cunosc pe militantii din partid, care s-au luptat la baza partidului, si sunt niste oameni deosebiti.

blockquote
   p
      em
         strong Problema a fost la varf. 
         |Pur si simplu nu pot sa inteleg de ce conducerea partidului i-a tradat pe proprii militanti si i-a lasat fara partidul pentru care au muncit.
p In momentul de fata PDL a fost omorat de catre actuala conducere, iar eu candidez ca independent. Prin urmare, nu mai pot fi comparata cu un partid din care am iesit si care nu mai exista.

p Ii invit pe romani sa ma voteze pentru proiectele pe care doresc sa le fac pentru ei si pentru Romania. Vreau sa continui lupta anticoruptie, sa pastrez directia vest a Romaniei si sa facilitez o crestere economica care sa creeze locuri de munca. Daca va uitati in trecutul meu, tot ce am spus ca fac am facut. Le cer romanilor sa ma angajeze ca presedintele lor si ii asigur ca nu vor fi dezamagiti.

p Stiti, cand angajezi pe cineva, nu il angajezi pe cel mai frumos, ci pe cel mai calificat, care stie sa faca job-ul cel mai bine. Stiu sa fac ce am promis si fac bine.
.content
   .row
      .col-sm-8.col-sm-offset-2
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-12.jpg') 
         em.small
            a(href='http://www.obiectiv.info/oamenilor-lui-basescu-nu-le-ies-din-cap-abordarile-securiste_52493.html.', target='_blank') sursa foto
p
   strong
      em Ati fost o apropiata a presedintelui Traian Basescu, ce parere aveti acum despre acesta, avand in vedere ca o sustine pe Elena Udrea? 

p Parerea mea este ca, prin sustinerea Elenei Udrea, presedintele Traian Basescu isi face rau siesi si tarii. Toata aceasta degringolada pe partea dreapta se datoreaza acestui lucru.

p
   strong
      em Din cate am inteles, sunteti nascuta in Bucuresti. Care sunt locurile dvs. preferate din Bucuresti? Ce parere aveti despre cum arata Bucurestiul acum, dupa doua mandate Sorin Oprescu? De asemenea, care credeti ca a fost cel mai bun primar al Bucurestiului?

p M-am nascut in Bucuresti si am copilarit la Sangeorz Bai, in judetul Bistrita-Nasaud. Acolo am invatat ce inseamna toleranta intre oameni de diverse religii si etnii, ce inseamna cuvantul dat, cu alte cuvinte, ce inseamna spiritul ardelean. De acel loc ma leaga cele mai frumoase amintiri.

blockquote
   p
      strong Bucurestiul este un oras gri
      |, cu multe santiere unde se lucreaza in ritm de melc, cu strazi gaurite sau carpite, cu bani aruncati pe borduri, fantani si piste pentru biciclisti care se opresc in stalpi. Adica un oras in care banii sunt risipiti, cheltuiti haotic si in functie de interese.
p In Bucuresti, tot timpul iarna ia prin surprindere autoritatile, iar vara este irespirabil din cauza poluarii. Si este orasul in care oamenii stau ore in sir la coada la administratii sau sunt muscati de caini in parcuri.
p Nu pot spune ca a fost un primar "cel mai bun" pana acum.
.content
   .row
      .col-sm-8.col-sm-offset-2
         img.img-responsive(src='/assets/img/posts/interviu-metropotam-13.jpg') 
         em.small
            |sursa foto: 
            a(href='https://www.facebook.com/MonicaMacoveiUE/', target='_blank') Monica Luisa Macovei
p
   strong
      em Dar cel mai bun presedinte al Romaniei, care credeti ca a fost?

p Fara sa-mi dati un punct de referinta sau o persoana fata de care sa-i compar pe presedintii Romaniei, nu pot raspunde la aceasta intrebare.

blockquote
   p
      em
         |Cred insa ca sunt lucruri bune pe care le-au facut pentru tara atat presedintele 
         strong Emil Constantinescu
         |, cat si 
         strong Traian Basescu
         |.
p Pe timpul lui Emil Constantinescu s-a initiat intrarea Romaniei in NATO. Daca nu eram in NATO, azi eram in situatia Ucrainei. Apoi, pe timpul presedintelui Basescu s-a pornit reforma in justitie, lupta anti-coruptie si apropierea de vest. Acestea sunt merite pe care trebuie sa le recunoastem acestor fosti presedinti indiferent de alte pozitii ale lor cu care putem sa fim sau nu de acord.

p
   |Ce pot sa spun cu certitudine este ca 
   strong cel mai catastrofal presedinte pentru Romania a fost Ion Iliescu
   |. Acest om scolit la Moscova, care a raspuns la ordinele rusilor, a tinut pe loc Romania, sa nu evolueze, cand putea deveni o floare a Europei. La umbra lui Iliescu au crescut numai spini si scai, ca Nastase, Hrebenciuc si Ponta.

p
   strong
      em Daca nu intrati in turul 2, pe cine o sa sprijiniti?

p
   |Nu iau in discutie aceasta optiune. In acest moment ma concentrez sa-i conving pe oameni sa ma voteze sa intru in turul doi, pentru ca 
   strong sunt singurul candidat care il poate invinge pe Ponta
   |.

blockquote
   p
      em 
         strong In primul tur votezi cu candidatul care reprezinta cel mai bine valorile in care crezi.
p Credeti in continuarea luptei anti-coruptie, in mentinerea Romaniei pe directia vest, in stimularea economiei pentru crearea de locuri de munca? Votati-ma si convingeti-i si pe altii sa o faca si voi ajunge in turul doi si-l bat pe Ponta.


