- locals.date = '2014-10-11 12:00';
- locals.thumb = '/assets/img/posts/vladimir-tismaneanu.jpg';
- locals.title  = 'Cine este, totusi, dl Iohannis?';
- locals.slug = 'cine-este-totusi-dl-iohannis';
- locals.preview = 'Datoria luciditatii nu trebuie sa fie contrapusa dreptului la speranta. Nu e vorba de reverii, ci de participare civica autentica, de obligatia de a sti cine sunt candidatii prezidentiali, de unde vin, ce-au facut in viata, ce valori ii definesc, pentru ce valori au luptat si lupta.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = 'http://www.contributors.ro/editorial/cine-este-totusi-dl-iohannis/';
- locals.tags = ['articol'];

p
    | Datoria luciditatii nu trebuie sa fie contrapusa dreptului la speranta. Nu e vorba de reverii, ci de participare civica autentica, de obligatia de a sti cine sunt candidatii prezidentiali, de unde vin, ce-au facut in viata, ce valori ii definesc, pentru ce valori au luptat si lupta.  Altfel ne miscam haotic din esec in esec, din dezamagire in dezamagire, din anxietate in anxietate, tot mai acriti, mai dezgustati si mai dezarmati. In ceea ce o priveste pe Monica Macovei, lucrurile sunt limpezi: nu e nevoie de niciun fel de ornamente retorice, biografia ei este transparenta, stim ce valori slujeste si ce practici condamna. Macar in primul tur, cetatenii romani care cred in statul de drept, in independenta justitiei si in valorile euro-atlantice au dreptul sa voteze fara temeri inutile pentru aceste principii. Cei care se regasesc in ele au pentru cine vota. Eu unul nu cred ca idealismul are limita de varsta. Nu cred ca realismul trebuie sa se confunde cu utilitarismul oportunist. Dar cred ca nimeni nu poate nega faptul ca dl Iohannis nu s-a despartit transant de cei care au fost la un pas de distrugerea statului de drept in trista vara a anului 2012.
    p
      | Stiu ca sunt unii alarmati ca orice umbra de critica la adresa candidatului ACL ar duce la intarirea sanselor de victorie electorala ale plagiatorului iubitor de Lukoil. Mai sunt si cei care, zi si noapte, cobesc in ce priveste sansele Monicai Macovei, asigurandu-ne ca doar domnul Iohannis poate salva Romania de pacostea pesedista. Nu ma pronunt aici si acum asupra acestor viziuni. Nu ma refer la un autor anume, ci la o stare de spirit care induce, volens nolens, un fel de resemnare a ineluctabilitatii unui algoritm presupus irevocabil. Tin sa precizez ca atacul lui Dan Sova la adresa candidatului ACL mi se pare incalificabil si dovedeste incapacitatea amicului lui Victor Ponta de a distinge intre limbajul de crasma si confruntarea politica.
      strong
        | O polemica intre exponentii unor formatiuni politice nu trebuie confundata cu pugilismul de mahala.
        br
      br
      | Primar respectat al unui oras de dimensiuni medii, dl Iohannis a intrat in politica nationala sub egida triumviratului Victor Ponta-Crin Antonescu-Dan Voiculescu. Tot asa cum Victor Ponta a intrat in politica nationala patronat de Adrian Nastase. Dl Iohannis are asadar o ereditate politica precisa, incontestabil marcata de afinitatile sale useliste inca nedezmintite. Reprezentantul in Parlament al Forumului Democratic German a votat pentru suspendarea presedintelui legitim al tarii. Dl Iohannis nu s-a delimitat, ba chiar dimpotriva. Tot atunci a fost inlocuit dl Vasile Blaga ca presedinte al Senatului de catre unul dintre cei trei autori ai scenatiului pucist, candidatul prezidential uselist, Crin Antonescu. Azi dl Blaga apare mereu surazator langa dl Iohannis. Cum sa nu privesti uluit acest cadril (ori poate vodevil) politic?
      p
        | Datoria luciditatii nu trebuie sa fie contrapusa dreptului la speranta. Nu e vorba de reverii, ci de participare civica autentica, de obligatia de a sti cine sunt candidatii prezidentiali, de unde vin, ce-au facut in viata, ce valori ii definesc, pentru ce valori au luptat si lupta.  Altfel ne miscam haotic din esec in esec, din dezamagire in dezamagire, din anxietate in anxietate, tot mai acriti, mai dezgustati si mai dezarmati. In ceea ce o priveste pe Monica Macovei, lucrurile sunt limpezi: nu e nevoie de niciun fel de ornamente retorice, biografia ei este transparenta, stim ce valori slujeste si ce practici condamna. Macar in primul tur, cetatenii romani care cred in statul de drept, in independenta justitiei si in valorile euro-atlantice au dreptul sa voteze fara temeri inutile pentru aceste principii. Cei care se regasesc in ele au pentru cine vota. Eu unul nu cred ca idealismul are limita de varsta. Nu cred ca realismul trebuie sa se confunde cu utilitarismul oportunist. Dar cred ca nimeni nu poate nega faptul ca dl Iohannis nu s-a despartit transant de cei care au fost la un pas de distrugerea statului de drept in trista vara a anului 2012.
    p
      | Consilier personal al domnului Iohannis, dl Andrei Muraru, protejat candva (nu atat de demult) al actualului puscarias Relu Fenechiu, a lucrat in preajma lui Calin Tariceanu pe vremea cand acesta era premier. A fost numit presedinte executiv al IICCMER prin decizia semnata de premierul plagiator. A demisionat in semn de solidaritate cu Crin Antonescu. Traseul sau politic este de penelist tariceano-antonescian. Unul dintre favoritii “Antenei 3″. Il puteti vedea aici:
    p
      a(href='http://www.youtube.com/watch?v=1F89xnGz7js') http://www.youtube.com/watch?v=1F89xnGz7js
    p
      | Despre SRS, alt personaj care pare sa fi fost influent in anturaj, am scris un intreg articol. Se pare ca dl Iohannis isi alege sfatuitorii din lumea celor care, in vara anului 2012, jubilau ca au scapat de “dictator” si aplaudau actiunile iresponsabile ale piromanilor uselisti.  In concluzie, tinand cont de atatea incertitudini legate de candidatul ACL, de ale sale taceri mai mult sau mai putin elocvente, ne putem intreba:
      strong
        | Cine este, totusi, dl Iohannis? Ne-o putem imagina pe Monica Macovei cu asemenea sfatuitori?
        br
      br
      | Citesc pe blogul lui Ioan T. Morar, cunoscutul  jurnalist, poet si prozator, un graitor comentariu despre anturajul domnului Klaus Iohannis:
    p
      em
        | “Am aflat că actualul pușcăriaș Sorin Roșca Stănescu era un fel de consilier al lui Klaus Johannis, după ce îl frecventase, la urecher, și pe Crin Antonescu. Tupeul extraordinar al lui Ciripoi era imparabil, drept pentru care avea intrare oricînd în preajma neamţului, redactînd, în numele PNL diverse comunicate de presă. Doar polițiștii care l-au ridicat i-au putut smulge pixul de partid din mînă.  Apetența primarului de Sibiu pentru pușcăriași pare evidentă, din moment ce, și în prezent, pleacă urechea la cuvintele unuia din “gemenii lui Fenechiu”, Andrei Muraru, fost șef la IICMER. Nu pot să nu văd în această tristă situație altceva decît dorința lui Johannis de a scăpa de corvoada de candidat și de a se întoarce la primăria Sibiului. Pălăria de la Cotroceni i-ar fi prea mare.”
    p
      a(href='http://blog.itmorar.ro/spune-mi-cine-te-sfatuieste-ca-sap-ti-spun-cit-de-prost-esti/')
        | http://blog.itmorar.ro/spune-mi-cine-te-sfatuieste-ca-sap-ti-spun-cit-de-prost-esti/
    p De asemenea:
    p
      a(href='http://inliniedreapta.net/insemnare/oameni-ajunsi-functii-publice-2012-ca-membri-ai-partidului-national-liberal/')
        | http://inliniedreapta.net/insemnare/oameni-ajunsi-functii-publice-2012-ca-membri-ai-partidului-national-liberal/
    p
      a(href='http://www.contributors.ro/cultura/destinul-lui-srs-sau-saloperia-ca-mod-de-via%c8%9ba/')
        | http://www.contributors.ro/cultura/destinul-lui-srs-sau-saloperia-ca-mod-de-via%c8%9ba/
    p
      strong Update:
      | Nu este scopul articolului de mai sus sa replice unui text al domnului Andrei Cornea aparut in revista “22″. Am facut doar unele remarci catusi de putin sarcastice despre criticile aduse idealismului care, ni se spune din varii parti, ar motiva sustinerea de catre unii intelectuali a candidaturii Monicai Macovei. Daca as fi dorit sa polemizez cu dl Cornea, as fi facut-o. Il respect profund, chiar si atunci cand ne aflam in dezacord. Textul meu se ocupa de absenta greu de negat a unor analize si informatii legate de profilul politic si optiunile reale ale candidatului ACL. Nu ma refer la declaratii mai mult sau mai putin conjuncturale facute in plina campanei electorala, ci la ceea ce se numeste
      strong track record
      | .
    p
      | Asocierea (de verificat) cu SRS, dar si aceea, indubitabila, cu extrem de controversatul Andrei Muraru, ridica unele semne de intrebare legitime privind angajamentul d-lui Iohannis in favoarea statului de drept. Nu poti avea drept consilier personal pe favoritul organizatorilor loviturii de stat ratata din vara lui 2012 si pretinde ca nu ai nimic comun cu acel moment de rusine nationala. Nu a fost un episod oarecare din istoria post-decembrista a tarii, ci o calamitate comparabila ca efecte politice cu mineriada din iunie 1990. Daca, pe buna dreptate, nu vom conteni sa le amintim lui Ion Iliescu si lui Petre Roman acele momente, de ce am fi subit timizi cand discutam despre actualul presedinte al PNL? Nu cred ca exista o coalitie anti-Iohannis. Dar exista multi oameni care vor sa traiasca, vorba lui Vaclav Havel, in adevar. Sa vorbim, poate, despre o
      strong mare coalitie anti-minciuna
      | . Dl Iohannis i se poate asocia. Dar, mai intai, ar trebui sa rupa cu tot ce e indoielnic in trecutul sau recent…
    p
      | Intrucat prietenul meu Andrei Cornea ma aminteste in al doilea sau text despre o presupusa “mare coalitie anti-Iohannis”, trimit aici la textul sau originar, la raspunsul profesorului Adrian Papahagi si la noul articol al profesorului Cornea:
    p
      a(href='http://www.revista22.ro/coalitia-antiiohannis-ii--raspuns-domnului-adrian-papahagi-48567.html')
        | http://www.revista22.ro/coalitia-antiiohannis-ii–raspuns-domnului-adrian-papahagi-48567.html
    p
      a(href='http://www.contributors.ro/dezbatere/monica-macovei-un-vot-bine-investit-raspuns-domnului-profesor-andrei-cornea/')
        | http://www.contributors.ro/dezbatere/monica-macovei-un-vot-bine-investit-raspuns-domnului-profesor-andrei-cornea/
    p
      a(href='http://www.revista22.ro/articol.php?id=48385') http://www.revista22.ro/articol.php?id=48385
    p
      | O intrebare pentru cei pe care ii mahneste si ii irita orice critica, oricat de calma si ponderata, la adresa d-lui Iohannis.
      strong
        | Oare care este candidatul care va continua lupta pentru deschiderea dosarelor mineriadei, fie ca este ales/aleasa presedinte, fie ca nu?
        br
      br
      a(href='http://www.digi24.ro/Stiri/Digi24/Actualitate/Justitie/EXCLUSIV+Ion+Iliescu+despre+Dosarul+Mineriadei+Fostul+presedinte')
        | http://www.digi24.ro/Stiri/Digi24/Actualitate/Justitie/EXCLUSIV+Ion+Iliescu+despre+Dosarul+Mineriadei+Fostul+presedinte
    p
      | Simptomatic mi se pare si faptul ca tribunii stangismului autohton sunt in plina ofensiva impotriva … cui credeti?
      br
      | Deci daca tot vorbim de “marea coalitie”:
    p
      a(href='http://www.criticatac.ro/26474/monica-macovei-program-impotriva-srciei-pogrom-impotriva-sracilor-portrete-de-candidai/')
        | http://www.criticatac.ro/26474/monica-macovei-program-impotriva-srciei-pogrom-impotriva-sracilor-portrete-de-candidai/
        br
    p
      | Utilizarea termenului “pogrom” in acest context este, o spun cu deplina responsabilitate,
      strong o obscenitate
      | . Mai suntem unii care au auzit in familie ce insemna un pogrom. Ma intreb ce au de spus cei care conduc Institutul “Wiesel” despre lejeritatille metaforice ale d-lui Vasile Ernu? Maine ne vom trezi ca o acuza pe Monica Macovei de “indemn la genocid”, tot ca metafora,
      em n’est-ce pas?
      | Nu stiu administratorii site-ului “CriticAtac” ce inseamna un pogrom? N-au auzit de pogromul de la Iasi? De pogromul de la Chisinau? Nu stiu ce inseamna cuvantul “pogromist”? Fratele tatalui meu, sotia sa si doi copii, un baietel si o fetita, au murit arsi de vii la Odessa, in timpul infioratorului masacru. Ii transmit domnului Ernu ca eu unul ma simt jignit personal de titlul pe care a gasit de cuviinta sa-l dea articolului sau. Este un ultragiu adus memoriei victimelor Holocaustului. La o zi de la comemorarea acestor victime.
    p
      a(href='http://macoveipresedinte.ro/posts/democratia-romaneasca-nu-isi-poate-construi-viitorul')
        | http://macoveipresedinte.ro/posts/democratia-romaneasca-nu-isi-poate-construi-viitorul
    p
      strong Nou update
      | –Enormitatea lui Ernu a fost reluata si aici:
    p
      a(href='http://adevarul.ro/news/politica/portrete-candidati-i-monica-macovei-program-impotriva-saraciei-pogrom-saracilor-1_5437b1990d133766a8d26b20/index.html')
        | http://adevarul.ro/news/politica/portrete-candidati-i-monica-macovei-program-impotriva-saraciei-pogrom-saracilor-1_5437b1990d133766a8d26b20/index.html
    p
      | Am vazut recent ca pe diverse bloguri stangiste, inclusiv “CritcAtac”, semneaza un domn numit
      strong Alexandru Racu
      | . Cred ca este aceeasi persoana cu cel care, prin 2007, era redactor la revista “22″. Absolvent de stinte politice la Bucuresti, masterat in Grecia, doctorat in Canada. Fostul publicist de la “22″, dar, paradoxal, si de la revista “Rost”, a virat, se pare, spre extrema stanga. Am regasit un text care poate spune ceva despre istoria luptei impotriva coruptiei in Romania acestor ani. Este semnat de Alexandru Racu. Pe atunci ii trimitea martisoare Monicai Macovei:
    p
      | “Marti 27 februarie, in Piata Universitatii a avut loc un miting de sustinere a ministrului Justitiei, Monica Macovei. Evenimentul intitulat  “Martisor anti-coruptie” a fost organizat de Grupul pentru Dialog Social, Societatea Academica din Romania, APADOR-CH, Grupul Offensive, Academia de Advocacy si Freedom House. Manifestatia s-a vrut a fi o reactie ferma a societatii civile in fata demersurilor antireformiste ale actualei clase politice, demersuri ce s-au concretizat prin adoptarea de catre Senat a motiunii simple anti-Macovei. Reamintim ca motiunea a continut o serie de acuzatii false, cum ar fi aceea ca nu s-a facut reforma in justitie, ba, mai mult, ca ministrul Macovei nu ar avea nici macar o strategie de reforma a justitiei.
    p
      | In ciuda vremii nefavorabile, in fata  Teatrului National s-au strans peste 1.500 de oameni care, timp de o ora si jumatate, au scandat numele ministrului Justitiei, precum si lozinci ca: “Jos Voiculescu”, “Jos Patriciu, Anticipate”, “Parlament curat”, “Nu se mai poate”. Organizatorii au distribuit manifestantilor martisoare anticoruptie si au initiat o lista de semnaturi intitulata “Vot de blam pentru Senat. Noi o sustinem pe Monica Macovei si Agentia Nationala de Integritate” pe care au semnat-o 1.739 de persoane.”
    p
      a(href='http://www.revista22.ro/martisor-pentru-monica-3540.html') http://www.revista22.ro/martisor-pentru-monica-3540.html
