- locals.date = '2014-10-31 17:00';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = ' Monica Macovei: Românii au de ales între candidați corupți, între marionete ale partidelor și proiectul Macovei, cu oameni liberi și demni';
- locals.slug = 'romanii-au-de-ales-intre-candidati-corupti-si-proiectul-macovei';
- locals.preview = 'Alegerile din această duminică sunt decisive pentru România: mergem înainte sau mergem înapoi. Mergem înainte cu dreptate și justiție în toate sau mergem înapoi cu hoție, minciună și înșelăciune, așa cum avem de 25 de ani.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
   em (31 octombrie 2014) – Monica Macovei – Declarație de presă 
            
            
p
   strong Românii au de ales duminică între candidați corupți, între marionete ale partidelor și proiectul Macovei, cu oameni liberi și demni
 
 
p
   |Alegerile din această duminică sunt decisive pentru România: mergem înainte sau mergem înapoi. 
   strong Mergem înainte cu dreptate și justiție în toate sau mergem înapoi cu hoție, minciună și înșelăciune
   |, așa cum avem de 25 de ani.
 
p De aceea, alegerile din această duminică sunt pentru Monica Macovei - care înseamnă dreptate și adevăr în toate, în economie, în justiție, în învățământ, în sănătate,-  sau înseamnă în continuare furt din banii noștri, furt din sănătate, copii needucați, popor needucat, popor bolnav, dar politicieni bogați, corupți, care ne râd în nas și care își bat joc de noi.
 
p
   |România se află la răscruce, independența noastră este în joc – politică, energetică și economică – și independența fiecăruia dintre noi ca indivizi, și libertatea fiecăruia dintre noi de a ne decide soarta singuri. Și haideți să ne gândim și la cei din diasporă care vor să vină acasă și, deocamdată, nu au unde. Pentru că 
   strong sunt mulți hrebenciuci care ne fură aerul curat, ne fură banii, pădurile, care ne fură viața.
 
p
   strong Românii au de ales duminică între candidați corupți, între marionete ale partidelor și proiectul Macovei - cu oameni liberi și demni și care gândesc liber. 
   |Eu cred că cea mai puternică forță din această țară sunteți voi, oamenii. Și de aceea am spus tot timpul că eu 
   strong voi fi președintele Oamenilor, și nu președintele partidelor și nu voi servi interesele partidelor și nu voi fi președintele combinațiilor.
 
p Sunt foarte mulți oameni în această țară care cred că puterea trebuie să fie în mâna lor, și nu a partidelor corupte. Sunt foarte mulți oameni în România care vor să trăiască într-o țară fără corupție, care vor să trăiască demn, care vor să li se zâmbească când iau contact cu admnistrația. Sunt foarte mulți oameni care vor să stea cu fruntea sus oriunde se duc, atunci când spun că sunt români.
 
p
   |Am văzut cu toții în această perioadă, în aceste ultime luni, 
   strong frăția penală a politicienilor din România, din toate partidele politice.
 
p
   |Am văzut cum își dau mâna la televizor și cum în spate fac afaceri de sute de milioane de euro, pe care le bagă în buzunarul lor și de aceea noi suntem săraci. Fiindcă, dragii mei, 
   strong sărăcia nu este un accident
   |. 25 de miliarde de euro costă corupția pe an. Gândiți-vă ce am face cu banii aceștia: am ieși din sărăcie, în primul rând.
 
p A vă duce la vot înseamnă 7 minute. Gândiți-vă! 7 minute să scăpăm de sărăcie, să scăpăm de corupți, să avem o țară liberă, să decidem noi soarta noastră, să avem o țară prosperă și o țară care să meargă înainte, și nu înapoi.
 
p Politicienii candidează unii împotriva altora. Dar în timpul acesta fac afaceri împreună, își dau mâna ca să fure din banii publici și în aceste momente presupun că își dau mâna și ca să scape de anchetele împotriva lor.
 
p
   |Acești politicieni ne-au condus atâția ani, într-o  formă sau alta au fost toți la putere și acum mimează o campanie electorală, și acum mimează o competiție sau mimează atacuri. 
   strong În realitate, sunt toți împreună, în realitate este frăția politicienilor corupți.
 
p
   |De aceea, încă o dată, 
   strong haideți în proiectul Macovei
   |, haideți să votăm pentru noi, pentru oameni, pentru libertatea noastră, pentru demnitatea noastră și pentru a nu mai fi săraci.
 
p
   |Știți că 
   strong nu am făcut niciodată jocurile nimănui
   |, nu le fac nici acum și nu o să le fac niciodată. Știți că 
   strong nimeni nu mă poate șantaja cu nimic
   |, știți că am spus mereu binelui bine și răului rău. Și 
   strong m-am luptat cu răul fără frică
   |. De ce să ne fie frică? Dacă toți ne luptăm cu răul, să știți că durează 7 minute cât mergem la vot să-l învingem.
 
p
   strong Eu nu am avut nici un partid în spate, nici PDL, nici PNL, nici banii lui Cocoș, nici banii baronilor corupți, nici susținerea baronilor.
 
p
   strong Am avut cel mai minunat lucru în spate: am avut oamenii
   |, v-am avut pe dumneavoastră. 
   strong Și le mulțumesc minunaților voluntari din toată țara 
   |care și-au dat din timpul lor, din energia lor, din entuziasmul lor, din nopțile lor nedormite ca să lucreze pentru acest proiect în care au crezut, ca să lucreze ca România să se transforme astăzi, la 25 de ani de la Revoluție.
 
p
   |Toată campania mea a fost susținută din donații oneste de la oameni, nu de partide, nu de hoți, nu de unii care apoi te trag de mânecă și spun 
   em „Te-am făcut președinte, dă-mi și mie un contract”
   |, 
   em „Te-am făcut președinte, vreau și eu să fiu ministru.”.
   |Nu!
 
p
   strong N-am nicio obligație pentru nimeni
   |, am numai obligații față de oamenii onești care au muncit, care au donat, fiecare cât a putut, tocmai ca să trăim în România pe care o visăm, în România în care mergem pe stradă și zâmbim, pentru că e o Românie fericită.
 
p
   |Am început cu câțiva oameni, am crescut în fiecare zi și suntem mulți. 
   strong Suntem mult mai mulți decât credeți
   |. Ieșim la vot și îi învingem, e atât de ușor. 
   strong Ieșim la vot și îi învingem! 
   |Ieșim la vot pentru noi, ieșim la vot pentru părinții noștri batjocoriți, ieșim la vot pentru copiii noștri, pentru viitorul lor, ieșim la vot pentru noi toți, pentru țara noastră.
 
p Încă o data, le mulțumesc tuturor celor care cred în mine. Și eu cred în voi. Și nu uitați! Suntem mulți, partidele au puțini și îi aduc la vot cu autocarele. Noi luăm tramvaiul, metroul, sau mergem pe jos sau luăm mașina, dar mergem la vot pentru că vrem să transformăm România.
 
p
   |În final, aș vrea să vă mai spun că votul din primul tur este votul cu mintea și cu inima. 
   strong În primul tur votați cu mintea și cu inima, votați candidatul în care credeți, candidatul pe care vi-l doriți și, după cum am spus suntem foarte mulți.
 
p Abia în turul 2 puteți să reflectați, dacă vreți, asupra votului util. Dar nu uitați: în primul tur votați cu mintea și cu inima. Sunt pe poziția 11 în buletinul de vot. Și 11 în oglindă este M. 