- locals.date = '2014-11-13 18:00';
- locals.thumb = '/assets/img/posts/interviu-ziare.jpg';
- locals.title  = 'Macovei: A fost o panică mare și au schimbat cifrele. Ponta și Corlățean erau trimiși în judecată deja';
- locals.slug = 'mm-a-fost-o-panica-mare-si-au-schimbat-cifrele';
- locals.preview = 'Voi vota cu dl Iohannis, pentru că răul cel mare e dl Ponta. Mergem spre dezastru, spre dictatură, spre sărăcie, spre est. Cei săraci vor fi și mai săraci sub Ponta. Iar statul de drept și anticorupția se încheie cu Ponta, a declarat Monica Macovei.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = 'http://www.ziare.com/monica-macovei/candidat-alegeri-prezidentiale-2014/macovei-a-fost-o-panica-mare-si-au-schimbat-cifrele-ponta-si-corlatean-erau-trimisi-in-judecata-deja-interviu-video-1332937';
- locals.tags = ['interviu'];
blockquote
    p
        em Voi vota cu dl Iohannis, pentru ca raul cel mare e dl Ponta. Mergem spre dezastru, spre dictatura, spre saracie, spre est. Cei saraci vor fi si mai saraci sub Ponta. Iar statul de drept si anticoruptia se incheie cu Ponta, 
        |a declarat Monica Macovei.
p Intr-un interviu acordat Ziare.com, fostul candidat la prezidentiale a explicat in ce fel poate interfera un presedinte in activitatea Justitiei: "la propunerea ministrului Justitiei, in cazul de fata Cazanciuc, ruda cu Victor Ponta, poate sa schimbe cativa sefi de sectie care fac dosare importante. Sau poate sa spuna ca face DNA mai bun, mai eficient si sa-l uneasca cu alta institutie, sa schimbe legea, sa schimbe denumirea".
p Monica Macovei a atras atentia si asupra faptului ca procurul sef DIICOT, Alina Bica, ar fi trebuit sa demisioneze: "Si eu daca as lucra la un serviciu de informatii as vrea sa vad ce face procurorul sef al directiei care se ocupa si de chestiuni de terorism. Cu cine se intalneste? Unde se duce?".
p Monica Macovei ne-a vorbit si despre noul partid pe care vrea sa il infiinteze.
p
        em Veti vota pozitiv sau negativ duminica?
blockquote
    p
        |Voi vota cu dl Iohannis, pentru ca raul cel mare e dl Ponta. Mergem 
        strong spre dezastru, spre dictatura, spre saracie, spre est
        |. Ponta dezbina romanii si tot ce face el cu gasca lui de baroni inseamna saracie. Cei saraci vor fi si mai saraci sub Ponta. Iar statul de drept si anticoruptia se incheie cu Ponta.
    p
            em Contraargumentul dlui Ponta este ca a propus-o pe dna Kovesi in fruntea DNA si ca nu a luat nicio masura ca premier care sa blocheze in vreun fel anticoruptia.
    p Sunt multe declaratii ale dlui Ponta impotriva procurorilor care au instrumentat dosare cu politicieni. Sa ne amintim cum au vrut sa-l schimbe pe Papici, cand l-a trimis pe Dragnea in judecata. Numirea dnei Kovesi a urmat unei intelegeri cu Traian Basescu. Ponta si l-a pus pe Nitu la Parchetul General, unde e totul blocat. Justitia nu trebuie sa intre in negociere politica.
p
        em Cum anume in mod concret ar putea un presedinte sa blocheze Justitia, prin ce mijloace?
blockquote
    p
        |De exemplu, la propunerea ministrului Justitiei, in cazul de fata Cazanciuc, ruda cu Victor Ponta, poate sa schimbe cativa sefi de sectie care fac dosare importante. 
        strong N-o sa inceapa cu dna Kovesi, sunt sigura.
    p Sau poate sa spuna ca face DNA mai bun, mai eficient si sub acest ambalaj cu funda sa-l uneasca cu alta institutie, sa schimbe legea, sa schimbe denumirea.
p
        em Si daca ii schimba denumirea, nu mai face anticoruptie?
blockquote
    p Spune ca e alta institutie si o luam de la capat cu numirile, cu tot. De exemplu, ministrul de atunci al Culturii din Cabinetul Tariceanu, dl. Iorgulescu, a venit intr-o sedinta a Guvernului cu o hotarare prin care Opera Nationala isi schimba denumirea. Automat toata lumea era data afara si urmau noi angajari. De ce? Pentru ca voia sa scape de directorul care era acolo prin concurs si nu putea fi dat afara altfel.
p
        em
            |Vorbind de anticoruptie, cum va explicati un semn de intrebare care exista in societate si anume ca marile dosare de coruptie, cu prejudiciile cele mai mari, adevaratele retele transpartinice, apar de-abia acum? In 
            a(href='http://www.ziare.com/microsoft/', target='_blank') Microsoft
            |, de exemplu, exista informatii ca din 2010 in 2013 nu s-a facut mai nimic.
blockquote
    p Nu am o explicatie. Trebuie intrebati procurorii. Cel mai important este ca dosarele sunt reale. Vedem probe, stenograme. Asta e cel mai important lucru. Justitia funtioneaza paralel cu viata politica. Am tot auzit: E campanie, ma aresteaza! Eu nu cred in asta. Ai facut ceva sau nu? Ai luat spaga sau nu? Asta e tot ce ma intereseaza.
    p Coruptia saraceste, as vrea sa intelega asta oamenii. Atunci cand un contract e mai scump, noi toti platim mai multi bani din propriul buzunar. Asfaltarea, pixul, parculetul sau fantana arteziana din centrul comunei vor costa mai mult.
    p Am calculat ca numai hotararile judecatoresti de condamnare din ultimii ani in dosarele DNA au insumat prejudicii de 210 milioane de euro. Ce putem face cu ei? Putem cumpara 330 de elicoptere pentru SMURD, putem cumpara ghiozdane pentru toti copiii timp de 10 ani etc. Banca Mondiala ne-a spus acum doi ani ca evaziunea e 540 de miliarde de euro. Daca recuperezi numai jumatate, faci 800 de km de autostrada intr-un an.
p
        em Considerati ca implicarea in dosarul Microsoft a unui apropiat al presedintelui, dl Cocos, umbreste bilantul in materie de justitie al lui Traian Basescu?
blockquote
    p Nu stiu daca Traian Basescu stia ce face Cocos, dar categoric pune o umbra asupra dnei Udrea, care are de raspuns la multe intrebari referitoare la bani. In declaratia de avere apar sume cu multe zero-uri primite de la dl Cocos. Nu poti sa spui ca nu stii nimic. Inteleg ca dl Cocos avea contracte si cu Victor Ponta. E ciudat ca dna Udrea a luat scorurile cele mai mari in judetele rosii, ale lui Ponta.
    p Presedintele nu a intervenit nici in dosarul fratelui. Supararea mea a ramas din 2013 cand a negociat numirea procurorilor. Da, inteleg ca aveau 70% in Parlament, dar presedintele avea painea si cutitul si putea sa nu numeasca, sa spuna: "Nu Nitu, nu Bica, da-mi altul mai bun!".
p
        em Dna Bica, procurorul sef al DIICOT, este in atentia Inspectiei Judiciare a CSM pentru episodul cumparaturilor de la Paris in compania dnei Udrea. Care este lectura dvs asupra acestui episod atat de controversat? A fost o chestiune de viata privata a unui magistrat aflat in timpul liber?
blockquote
    p Nu exista asa ceva. Cand esti procurorul sef al parchetului specializat pe crima organizata si terorism, nu se poate sa fii cu un politician in vacanta. M-au suparat intrebarile de tipul: cine le-a urmarit? Nu ma intereseaza. Eu cred ca au urmarit-o pe dna Bica.
    p
        strong Daca eu as lucra la un serviciu de informatii
        |, as vrea sa vad ce face procurorul sef al directiei care se ocupa si de chestiuni de terorism. Cu cine se intalneste? Unde se duce? Vreau sa stiu lucrurile acestea. Am aflat ca Ponta e spion si e rau. Hai sa vedem si altii ce sunt si ce fac.
    p Vorbim de siguranta nationala aici. Problema e ce cauta dna Bica cu un politician. Nu ma intereseaza politicianul, ci magistratul care trebuia sa-si dea demisia a doua zi. Vrei viata privata? Nu ai aceasta pozitie. De ce Cazanciuc nu a propus revocarea dnei Bica, daca ea nu a demisionat? Sunt criterii in lege.
p
        em Va multumeste scorul pe care l-ati obtinut pe 2 noiembrie?
blockquote
    p
        |In marile orase am avut un scor bun si foarte bun. In Bucuresti, Cluj, Iasi 12%. In Timisoara peste 11%. In Constanta 9%. In disapora am vazut 15%, desi cu cateva zile inainte era 18%, ma rog. In toate orasele mari, am fost pe locul al treilea. 
        strong Mi-am propus mai mult si am avut in mod real mai mult.
    p 
        |Pana la ora 16, cifrele erau cu totul altele si atunci inteleg ca a fost o panica mare pentru locul al treilea, trebuia sa fie Tariceanu, 
        strong si atunci au inceput sa se schimbe cifrele. Stiu de la oameni care au lucrat cu PSD, pentru ca sociologii vorbesc intre ei. 
        |Mi-am asumat posibilitatea sa fiu fraudata, n-am avut delegati in sectiile de vot. In mod real am fost pe locul al treilea, sunt multumita.
p
        em Cat din electoratul dvs va asteptati sa va urmeze indemnul de vot pentru turul al doilea?
blockquote
    p
        |Sa vedem. Eu am facut tot ce mi-a stat in putinta sa ii reprezint pe acesti oameni, solicitand acele cerinte minimale in scrisoarea catre dl Iohannis. Dl Iohannis a spus ca e de acord cu toate. Oamenii nu m-au votat pe mine ca persoana, ci principiile pentru care am luptat. 
        strong Sper sa ma urmeze, pentru ca raul cel mai mare e Ponta. Votul pozitiv a fost in primul tur.
p
        em
            |L-am auzit pe dl Dragnea invocand urmatorul argument pentru refuzul de a infiinta noi sectii de votare in strainatate pentru turul al doilea: oricare dintre candidatii iesiti din cursa in primul tur va putea sa conteste la 
            a(href='http://www.ziare.com/ccr/', target='_blank') CCR 
            |inegalitatea de sanse si ar putea obtine anularea alegerilor din aceasta cauza. V-ati gandit sa faceti asa ceva?
blockquote
    p L-am auzit pe Ponta aseara spunand ca dreptul la vot e o lozinca. Asa gandeste. De asta fraudeaza la toate alegerile. Pentru ei e o lozinca.
    p
        strong Sa puna sectii mai multe pentru romanii din diaspora
        |, nu ma gandesc sa contest. Dar nu vor pentru ca le e frica.
p
        em Va asteptati ca experienta din 2 noiembrie sa sporeasca sau sa diminueze prezenta la vot in diaspora duminica viitoare?
blockquote
    p Cred ca vor veni mai multi. Si ii indemn pe toti sa vina la vot. Am vazut o pancarta in fata unei sectii de vot, la Londra: "Vrem sa votam, Romania s-o scapam!". Sa vina la vot si sa ia cu ei camere de filmat, aparate de fotografiat, sa arate tot ce se intampla.
    p
        strong Eu am facut o plangere penala impotriva lui Ponta si Cazanciuc. 
        |E infractiune impiedicarea prin orice mijloace a dreptului de a alege. A fost impiedicat dreptul de a alege al romanilor din strainatate care au stat la cozi si nu au putut vota.
p
        em Inteleg ca si la CEDO este o jurisprudenta bogata si multe state condamnate pentru impiedicarea dreptului la vot.
blockquote
    p Da, dar pentru a ajunge la CEDO trebuie epuizate caile interne. Cat mai multi romani care au stat la coada si au plecat fara sa voteze sa depuna plangere. N-am destule sectii, cabine, stampile, declaratii, toate sunt incalcarea dreptului la vot.
    p
        |Am depus plangerea in nume personal si denunt, am facut o revenire, sunt toate probele pe ecrane. Dl Nitu ar trebui sa ancheteze. 
        strong Intr-un stat de drept si Ponta si Corlatean si Stanoevici, toti cei care au participat la aceasta infractiune, erau trimisi in judecata deja.
    p Daca Nitu, pus acolo sa ocroteasca politicienii, va da NUP, se contesta in instanta, apoi la CEDO si se castiga pentru ca dreptul de a alege e si in Conventia Europeana a Drepturilor Omului.
p
        em Ce veti face cu acest capital politic?
blockquote
    p
        strong Mai intai o asociatie 
        |care merge mai repede decat un partid. Un prim obiectiv al asociatiei va fi o initiativa cetateneasca pentru votul prin corespondenta si vot electronic nu numai pentru diaspora, ci pentru toti romanii. Clasa politica nu vrea asta ca sa manevreze votul.
    p Al doilea obiectiv priveste modificarea legii partidelor, sa putem infiinta un partid cu minimum 3 membri, asa cum e in majoritatea statelor UE. Cu 25 de mii de semnaturi ne apropiem de Rusia.
    p Sa vedem care e calea cea mai rapida sa facem partid. Daca incepem cu 25 de mii de semnaturi in 18 judete, dupa legea actuala....
p
        em Aveti speranta ca pe termen scurt actuala clasa politica va accepta o lege care sa deschida viata politica?
blockquote
    p Daca 100 de mii de cetateni cer, poate ii fortam.
p
        em La referendumul din 2009 cateva milioane au cerut parlament mai mic si iata ca avem unul mai mare.
blockquote
    p
        |Asta nu inseamna sa nu mai facem referendum. O sa gasim o solutie sa facem partidul cat mai repede. 
        strong Sunt multi oameni care vor acest partid, imi spun pe strada, la aeroport.
p
        em Aveti in gand un nume pentru partid?
blockquote
    p Si daca il am nu vi-l spun, ca-mi fura domeniile de pe Internet. Am mai patit asa.
p
        em Sunteti europarlamentar la inceputul celui de-al doilea mandat, credeti ca un partid nou poate fi construit si condus de la Bruxelles?
blockquote
    p
        |Eu vin in toate weekendurile, vin si in timpul saptamanii. Si nu sunt singura, suntem o echipa.
        strong Vreau sa fim un partid de echipa. 
        |Gasim un sistem de a lua deciziile in comun, chiar daca suntem imprastiati prin tara.
p
        em Un partid inseamna pe langa entuziasm si bani. De unde?

blockquote
    p Punem cotizatii.
p
        em Si se poate supravietui doar din cotizatii? 
blockquote
    p Incercam, daca suntem sceptici, nu facem nimic niciodata.



