- locals.date = '2014-10-11 11:30';
- locals.thumb = '/assets/img/posts/vladimir-tismaneanu.jpg';
- locals.title  = 'Profil de presedinte - V. Tismaneanu: Presedintele claritatii morale';
- locals.slug = 'profil-de-presedinte-v-tismaneanu';
- locals.preview = 'Dupa 25 de ani de experimentat presedinti in democratie, ne-am facut o idee despre cum ar trebui sa fie (sau nu) presedintele Romaniei';
- locals.author = 'Vladimir Tismaneanu';
- locals.source = 'http://www.ziare.com/alegeri/alegeri-prezidentiale-2014/profil-de-presedinte-v-tismaneanu-presedintele-claritatii-morale-1326298';
- locals.tags = ['articol'];

p
  strong Dupa 25 de ani de experimentat presedinti in democratie, ne-am facut o idee despre cum ar trebui sa fie (sau nu) presedintele Romaniei.

p Conteaza mai mult sa fie educat, diplomat, capabil sa gaseasca un echilibru intre fortele politice din tara sau trebuie sa fie dispus la compromisuri, la jocuri politice, la manipulari specifice clasei politice romanesti?

p Conteaza mai mult sa aiba o imagine buna in afara, sa aiba planuri pentru Romania, sa apere cu orice pret democratia sau sa nu faca niciun compromis atunci cand e vorba de coruptie?

p
  strong Ziare.com
  |  a intrebat personalitati din Romania si din strainatate care ar fi calitatile unui presedinte ideal in conditiile actuale ale Romaniei.

p
  strong Vladimir Tismaneanu isi doreste un presedinte cinstit, consecvent, orientat spre Occident.

p "In primul rand,
  strong  cinstea.
  |  Romania este, inca, bolnava de minciuna, de necinste, de cancerul coruptiei morale si institutionale. Un presedinte, barbat sau femeie, are nevoie de maxima credibilitate la acest capitol. Nu doar pentru cetatenii acestei tari, dar si pentru legitimitatea sa externa. Evident, un plagiator dovedit nu se califica din acest punct de vedere. Plagiatul inseamna furt, iar furtul este o inclacare a legii.

p In al doilea rand,
  strong consecventa viziunii.
  |  Deci
  strong #{' '}nu amatorism, nu oportunism, nu conjuncturism,
  | ci o perspectiva coerenta asupra prioritatilor strategice.

p In al treilea rand,#{' '}
  strong un atasament dovedit pentru valorile euro-atlantice.
  | Ca membra in NATO si in UE, Romania face parte dintr-o comunitate civilizationala. Acest lucru trebuie sa fie non-negociabil. Un presedinte al Romaniei care intelege in ce consta interesul national nu se va juca de-a aliantele, nu va cauta centre de greutate alternative in Est. Nu spun ca relatiile cu Rusia si China nu conteaza. Spun doar ca decisive pentru Romania sunt cele cu Vestul si in primul rand cu Statele Unite.

p Un al patrulea element tine de
  strong  stil.
  |  Astept un presedinte care sa fie prezent in dezbaterile publice de la inaltimea unei functii ce il sau o situeaza dincolo de partizanate efemere. Un presedinte al principiilor si al atitudinilor ferme in favoarea libertatii, demnitatii si civilitatii.

p Ma gandesc la un presedinte care
  strong  sa respecte traditiile,
  |  fara a le fetisiza demagogic. Un presdinte pentru care istoria conteaza si care sa stie sa faca distinctiile necesare cand se discuta chestiunile cele mai spinoase.

p In fine,
  strong  vointa politica,
  | capacitatea de a mobiliza energiile societatii civile in favoarea unui proiect modern, deschis, opus oricarui provincialism exclusivist si autarhic. La un sfert de veac de la naruirea dictaturii comuniste, Romania are nevoie de un presedinte al cetatenilor.

p Imi amintesc de cuvintele lui Vaclav Havel in primul sau discurs ca presedinte, spunand poporului din ceea ce era atunci Cehoslovacia ca puterea se reintorsese la el. Presedintele la care ma gandesc va sti sa convinga poporul ca unica sansa pentru bunastare morala si sociala este constitutionalismul democratic, cultivarea asidua a libertatii. Pe scurt, un presedinte al claritatii morale".

strong
  em Vladimir Tismaneanu locuieste la Washington, este profesor de stiinte politice la Universitatea Maryland din Statele Unite si autorul a numeroase carti, intre care "Stalinism pentru eternitate. O istorie politica a comunismului romanesc"
