- locals.date = '2014-10-14 20:00';
- locals.thumb = '/assets/img/posts/mm-conf-presa-24.jpg';
- locals.title  = 'Mergeți la vot, Ponta trebuie oprit să ajungă președinte!';
- locals.slug = 'ponta-trebuie-oprit-sa-ajunga-presedinte';
- locals.preview = 'În acest moment este datoria fiecărui cetățean român să se ducă la vot și să îl împiedice pe Ponta să ocupe funcția de Președinte al României.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (14 octombrie 2014) – Monica Macovei – Declarație de presă

h3 Mergeți la vot, Ponta trebuie oprit să ajungă președinte!

p În acest moment este datoria fiecărui cetățean român să se ducă la vot și să îl împiedice pe Ponta să ocupe funcția de Președinte al României.

p Un om care minte asupra trecutului său, un om care a încălcat Constituția încă de când era magistrat, acceptând colaborarea cu un serviciu secret, nu merită și nu trebuie să devină Președinte al României.

p Resping declarația oricărui contra-candidat care îndeamnă alegătorii să boicoteze al doilea tur de scrutin. Astfel de declarații sunt o iresponsabilitate. E datoria noastră de români liberi să oprim ascensiunea acestui personaj corupt și mincinos.

p Sper ca toți oamenii buni din aceasta țară să mă sprijine cu votul lor, atât în primul, cât și în al doilea tur de scrutin, pentru a-l opri pe Ponta să ajungă președinte.
