- locals.date = '2014-09-24 14:00';
- locals.thumb = '/assets/img/posts/monica-macovei-800x524.jpg';
- locals.title  = 'Primul interviu al Monicăi Macovei după demisia din PDL';
- locals.slug = 'primul-interviu-al-monicai-macovei-dupa-demisia-din-pdl';
- locals.preview = 'M-am uitat atent la ceilalți candidați de dreapta și niciunul nu m-a convins. Niciunul nu are o viziune pentru Romania, nu este capabil să schimbe țara și viața oamenilor, niciunul nu este capabil să oprească hoția din banii noștri și nici să susțină aplicarea egală a legii și anti-corupția, niciunul nu poate sau nu vrea să ne mențină pe direcția Vest, în principal parteneriatul cu SUA, esențial pentru securitatea României. România trebuie să meargă înainte și nu să se întoarcă cu 20 de ani înapoi. Acesta este scopul meu. De aceea am luat decizia să candidez. Sunt mai bună decât ei.';
- locals.author = 'Cristian Petcu';
- locals.source = 'http://psnews.ro/exclusiv-primul-interviu-al-monicai-macovei-dupa-demisia-din-pdl/';
blockquote
  em ”Știm că în ultimii ani domnul Johannis a făcut înțelegeri cu PSD și Voiculescu”.

p Candidatul independent la alegerile prezidențiale din acest an, Monica Macovei, a vorbit într-un interviu acordat PSnews despre prioritățile sale politice în următoarea perioadă.

p Care sunt motivele care au determinat-o să intre în bătălia pentru Cotroceni, ce a determinat-o până la urmă să părăsească PDL, dar și cum îi vede pe adversarii din campania electorală din această toamnă. Ar accepta o dezbatere televizată cu Elena Udrea? Dar cu Iohannis sau Ponta? Ce atribute le oferă principalilor contracandidați? Poate coabita cu Victor Ponta? Cum trebuie să fie premierul cu care ar colabora Monica Macovei? Răspunsuri la toate aceste întrebări regăsiți în interviul de mai jos.

p
  strong Reporter: 
  em În primul rând vreau să ne precizați care au fost principalele motive care v-au determinat să candidați la Președinția României?

p
  strong Monica Macovei: 
  |M-am uitat atent la ceilalți candidați de dreapta și niciunul nu m-a convins. Niciunul nu are o viziune pentru România, nu este capabil să schimbe țara și viața oamenilor, niciunul nu este capabil să oprească hoția din banii noștri și nici să susțină aplicarea egală a legii și anti-corupția, niciunul nu poate sau nu vrea să ne mențină pe direcția Vest, în principal parteneriatul cu SUA, esențial pentru securitatea României. România trebuie să meargă înainte și nu să se întoarcă cu 20 de ani înapoi. Acesta este scopul meu. De aceea am luat decizia să candidez. Sunt mai bună decât ei.

p Am intrat în această competiție ca să scot România din mlaștina în care se afundă pe zi ce trece. Toate partidele au fost la putere, în toate combinațiile posibile, și am ajuns aici, la mlaștina în care se fac afaceri transpartinice, se fură din banii noștri, se fac înțelegeri oculte între politicieni și toate duc la sărăcirea poporului.

p Obiectivul meu este să intru în al doilea tur de scrutin și să câștig în fața candidatului PSD. Nu am nicio înțelegere cu niciun partid, astfel de afirmații apărute în spațiul public nu sunt reale.

p Eu mă adresez tuturor celor care vor sa scoată România din mâinile politicienilor corupți. Ei au împărțit țara, eu vreau să împart dreptate. Vreau să folosim banii pierduți prin corupție și fraudă pentru investiții într-o economie sănătoasă, care să creeze locuri de muncă, să fie investiți în educație sau sănătate.

p Eu cred că România este o țară profund bună, cu oameni cinstiți și corecți. Vreau să construiesc împreună cu acești oameni un stat în care demnitarii să nu mai fure, funcționarii să nu mai ia șpagă, oamenii să nu mai fie umiliți la ghișee. Îmi doresc o Românie în care administrația este eficientă, rapidă, fără cozi, și civilizată. Un stat care își respectă propriii cetățeni. Un stat în care nu se mai „moare cu dreptatea în mână”.

p Și mai este ceva: de 25 de ani, mulți români au votat negativ, au dat un vot împotriva cuiva, și nu pentru ceva. Vreau să schimb acest lucru. Vreau să îi determin pe români să vină la vot și să fie un vot pozitiv, pentru mine, pentru proiectul meu care este și al lor. Vreau o Românie a noastră, o construcție solidă, pe care oamenii și-o asumă. Pentru că au participat la ea.

p Mă bazez pe toți cei care își doresc o Românie cu dreptate pentru toți, cu politicieni cinstiți, fără corupție în educație și în sănătate, fără clientelism politic, cu o economie solidă și corectă, care să genereze locuri de muncă.

p
  strong Reporter: 
  em Care considerați că vă sunt atuurile în lupta prezidențială din acest an? Dar minusurile?
p
  strong Monica Macovei: 
  | Atuurile sunt realizările mele și viziunea mea pentru România. Eu am ce le arăta românilor ca rezultate profesionale. Am creat instituții importante. Un exemplu este DNA. Am fost cel mai eficient europarlamentar român din mandatul 2009-2014. Eu singură am lucrat și negociat 40 de legi care au fost adoptate de Parlamentul European, mai mult decât toți europarlamentarii PSD și PNL la un loc. Despre asta vorbim: despre lucruri și proiecte pe care am demonstrat deja că putem să le facem. Eu vreau să devin președinte pentru România, nu pentru un partid sau grup de interese.

p Candidatura independentă este un alt atu, pentru că a venit vremea unui președinte independent de interesele partidelor politice. Sunt convinsă că românii merită un Președinte al lor, nu un Președinte al partidelor.

p Sunt singurul om care, în 25 de ani, le dă, în mod real, această șansă. Un președinte care să fie cu adevărat independent de partide, așa cum spune Constituția, un președinte care să apere interesele cetățenilor, un președinte care să garanteze interesele naționale ale României alături de partenerii noștri din NATO.

p Un alt atu este politica externă, am făcut și fac politică externă cu succes, și ca ministru al Justiției, și ca europarlamentar.

p Sunt singurul candidat credibil care duce țara spre Vest, care menține axa România-Statele Unite și NATO. Fără SUA și UE, România ar fi fost acum în situația Ucrainei, sub invazie rusească. Nu vrem să întoarcem țara înapoi cu 20 de ani. Nu vrem modelele politice din China și Federația Rusă. Vrem în Occident și vă garantez că din funcția de Președinte al României voi păstra țara pe această direcție, așa cum vor românii din țară și din diaspora.

p Sunt singurul candidat credibil în lupta cu corupția și pentru aplicarea egală a legii. Nu mai vreau ca în România „să se moară cu dreptatea în mână”.

p Plec în aceste alegeri aparent singură și știu că va fi greu, unii îmi spun că e imposibil, dar sunt convinsă că românii vor vedea adevărul și importanța momentului și mă vor urma. Am ales să candidez independent. Nu am în spatele meu o mașinărie de partid sau o coaliție de partide care să mă susțină.

p Contez însă pe voturile oamenilor care nu mai suportă nedreptatea, minciuna și hoția, care vor să construiască frumos și cinstit o țară pentru ei și copiii lor. Ei sunt forța mea, pentru ei lupt și știu că împreună putem schimba România. Am întâlnit  oameni care spun că vor să mă voteze, dar că nu cred că am șanse, pentru că nu am o mașinărie de partid în spate. Eu le spun tuturor: șansa mi-o dă votul fiecăruia dintre voi. Puterea mea stă în votul vostru. Aveți încredere și veniți lângă mine.

p
  strong Reporter: 
  em Tocmai ați decis să părăsiți PDL, partid care, în momentul de față, este într-o alianță politică pre-electorală cu PNL și împreună susțin candidatura lui Klaus Johannis. Dumneavoastră ați decis să candidați ca independent, gest care exprimă în definitiv o nemulțumire față de candidatul susținut de PNL și PDL. Până la momentul demisiei din PDL, ați luat vreun moment în calcul faptul că ați putea să fiți exclusă?

p
  strong Monica Macovei: 
  |Mi-am dat demisia din PDL. A fost o decizie gândită îndelung, nu a fost un gest făcut în pripă. Cred că ceea ce se întâmplă astăzi cu PDL este greșit. Ultimele decizii ale liderilor PDL au indus multă confuzie. Nu am înțeles, de pildă, de ce PDL nu poate avea propriul candidat la alegerile pentru funcția de președinte. Mulți membri și simpatizanți mi-au pus această întrebare: “cu ce suntem noi mai prejos decât PNL?”, “de ce nu putem susține un candidat al nostru pentru alegeri?”

p Și eu mi-am pus aceleași întrebări și nu am găsit un răspuns.

p PDL s-a trezit cu un candidat pe care nu îl cunoaște, nu îi știe proiectele pentru România și, după cum singur a spus, este “din alt film”. Este un candidat în care mulți dintre noi nu cred. Toate aceste schimbări s-au întâmplat peste noapte.

p Știm că în ultimii ani domnul Johannis a facut înțelegeri cu PSD și Voiculescu, a fost chiar premierul lor desemnat. Astăzi li se cere membrilor PDL să-l voteze pe Johannis pentru că reprezintă dreapta. Domnul Johannis nu a dovedit că reprezintă dreapta și nici că apără legea sau că este împotriva corupției.

p Nu plec fără regrete, este greu pentru că știu că sunt mulți oameni buni acolo și mă despart acum de vechi prieteni, împreună cu care am dus bătălii grele. Vreau însă să-i asigur pe toți oamenii buni din PDL că rămân cu sufletul alături de ei. Sper că și ei mă vor susține în bătălia pe care o duc în această toamnă.

p
  strong Reporter: 
  em Există informații, atât din zona PDL, cât și din partea PNL, care indică faptul că nu ați fi fost exclusă în cadrul PDL deoarece ați fi avut potențial să deveniți o soluție pentru Alianța Creștin Liberală, în cazul în care Klaus Johannis ar fi declarat incompatibil de către ANI? Cum comentați o astfel de ipoteză?

p
  strong Monica Macovei: 
  |Eu nu fac parte din niciun astfel de scenariu. Eu candidez independent, și nu din partea vreunei forțe politice. Semnăturile pentru candidatura mea se strâng în calitate de candidat independent. Gândiți-vă numai la acest lucru și veți înțelege ușor că oamenii sunt induși în eroare de astfel de scenarii nereale: din punct de vedere legal, ca să candidezi din partea unui partid sau alianțe politice sau electorale, pe formularul de semnături trebuie să apară acest lucru. Pe formularul meu de semnături scrie clar “candidat independent”.

p
  strong Reporter: 
  em Credeți că Klaus Johannis va fi declarat incompatibil de către Agenția Națională de Integritate ?

p
  strong Monica Macovei: 
  |Decizia instanței nu este cunoscută acum, prin urmare nu știu ce se va întâmpla cu procesele lui, dacă le va câștiga sau pierde. Aceasta este problema ACL. Din punctul meu de vedere, PDL nu trebuia să riște să susțină în alegeri un candidat vulnerabil și care în 2009 a fost propus de PSD și Voiculescu ca premier. În plus, nu a prezentat încă nicio viziune pentru România și nu știu ce vrea să facă el cu România. Vom vedea dacă va reuși să explice ceva în campanie.

p
  strong Reporter: 
  em În cazul în care ajungeți președinte al României, care ar fi primele 3 măsuri/demersuri pe care le-ați iniția?

p
  strong Monica Macovei: 
  |Eu îmi propun, ca președinte, „imposibilul” – vreau ca în 10 ani să reproiectez și să reconstruiesc complet sistemul politic și instituțional, pentru ca România să iasă din mlaștina în care se afundă din ce în ce mai rău.

p România nu mai poate aștepta îmbunătățiri graduale, țara este sugrumată și moare, uitați-vă pe cifre, cu emigrația masivă a tinerilor și scăderea natalității (acum am ajuns la cea mai mică natalitate din 1945 până în prezent). Oamenii s-au săturat să aștepte și au votat cu biletul de avion. Alții trăiesc în nesiguranță și nu se încumetă să aibă copii. Rezultatul e că am pierdut 3 milioane de oameni în 20 de ani și vom mai pierde încă 7 milioane până în 2060. E timpul să oprim declinul.

p Deși nu are atribuții executive, președintele poate împinge lucrurile în direcția corectă. Şi dacă va avea poporul de partea sa, se va forma un tăvălug al reformei. Nimeni nu ne va putea sta în cale. Nu ne vom împiedica de bișnițarii care conduc azi politica și statul. Și nu uitați că președintele promulgă sau nu bugetul țării și alte legi.

p Am o viziune pentru România. În primul rând, vreau ca fiecărui om să i se facă dreptate. Dreptatea înseamnă justiție în toate domeniile – vreau dreptate în educație, dreptate în sănătate, dreptate în economie, dreptate și în justiție. De pildă, în economie, acest lucru înseamnă competiții corecte, înseamnă reducerea birocrației, măsuri care să atragă investitori și să creeze locuri de muncă.

p Sănătatea va fi unul din domeniile cheie pentru mine. Mă uit și văd că rămânem fără medici, salariile sunt de mizerie, iar spitalele publice sunt în degradare, bolnavilor de cancer li se taie tratamentul pentru că guvernul folosește banii oamenilor ca să dea șpăgi, contracte cu statul primarilor care pregătesc găleți sau amicilor proprietari de televiziuni. Cine va avea grijă de copiii noștri, de bătrânii noștri peste câțiva ani? Pierdem 3.000 de medici pe an, în 10-12 ani rămânem complet descoperiți. Vreau ca doctorii și profesorii să muncească în România, să fie bine plătiți, în loc să fie nevoiți să plece din țară pentru un trai decent. Trebuie să aibă un trai decent și în România, trebuie să îi respectăm.

p Sănătatea e o problemă strategică și nu voi lăsa lucrurile să mai meargă așa, voi aduna experți români și internaționali și vom face un plan de redresare, iar dacă guvernul nu va dori să-l pună în practică, le vom zgâlțâi scaunele până când vor cădea de pe ele. Românii s-au săturat de guvernanți nepăsători care rânjesc pe la televizor, în timp ce oamenii suferă. Nu pot să înțeleg cum Ponta doarme noaptea când acțiunile lui ca prim-ministru distrug viața atâtor oameni. De exemplu, acum nu mai sunt bani pentru medicamente pentru bolnavii de cancer și SIDA.

p Apoi, președintele are atribuții în politica externă și definirea relațiilor internaționale, mă refer la parteneriatele strategice ale României: Statele Unite și Uniunea Europeană. Relațiile internaționale influențează încrederea investitorilor străini mari, puternici, care creează locuri de muncă, venind în România. Guvernul actual e complet compromis, atât în Europa, cât și in SUA – toată lumea știe că este corupt și incompetent, iar România este marginalizată. Simt acest lucru în primul rând românii care lucrează în Vest, mulți dintre ei se confruntă cu imaginea proastă de țară coruptă și săracă din care provin.

p
  strong Reporter: 
  em Ce teme ar trebui să fie dezbătute cu prioritate de către prezidențiabili în această campanie electorală?

p
  strong Monica Macovei: 
  |Cele care îi interesează pe români: locuri de muncă, educație, sănătate, justiție pentru toți, confiscarea banilor corupților. Eu merg prin țară, ascult oamenii și agenda candidaților trebuie să fie agenda lor. Acolo trebuie să aducem soluții, nu vorbe și promisiuni deșarte. Intrigile politice nu sunt pe agenda oamenilor, toți sunt scârbiți de politicieni și cred că sunt toți o apă și un pământ. Vă spun însă că am întâlnit oameni buni în partide, în ONG-uri, în universități, în orașe, în sate, peste tot, și dacă sunt adunate toate forțele binelui din țară, se va putea urni o reforma reală, radicală și vom duce țara pe drumul cel bun, vom repune România pe roți.

p
  strong Reporter: 
  em Dacă ar fi să vă detașați de poziția de candidat la președinția României și să comentați din postura de cetățean, ne puteți spune ce alt candidat ar fi o soluție pentru România?

p
  strong Monica Macovei: 
  |V-am spus, m-am uitat cu atenție și niciun alt candidat nu m-a convins că va duce România înainte și nu înapoi cu 15-20 de ani. A fost momentul în care am decis să candidez. Ponta și PSD sunt acum un real pericol. Ar fi o rușine pentru România să iasă Ponta președinte, un pericol de anulare a brumei de reforme care s-a mai făcut și probabil ar urma o luptă dură pentru salvarea a ce se mai poate salva. Cât despre Johannis, nu l-am văzut apărând legea, statul de drept ori susținând anti-corupția, și nici exprimând vreo viziune pentru România.

p
  strong Reporter: 
  em Puteți nominaliza un atribut principal pentru fiecare dintre candidații la prezidențiale? Victor Ponta? Klaus Johannis? Călin Popescu Tăriceanu? Elena Udrea?

p
  strong Monica Macovei: 
  |Ponta – hoția și falsitatea. Johannis – scoică goală. Tăriceanu- inconsistența. La doamna Udrea nu am nimic de spus.

p
  strong Reporter: 
  em Aveți un model politic de pe scena internațională care vă inspiră?

p
  strong Monica Macovei: 
  |Am principii și valori în care cred. Și pe care le-am regăsit, de-a lungul timpului, la alți lideri politici sau de opinie din România și din străinătate. Îi admir pe oamenii care au o viziune pentru țara lor și au tenacitatea de a o pune în practică în timpuri foarte complicate.

p Eu vreau să redau României dreptatea, bunăstarea și adevărul,  încrederea că se poate trăi bine și cinstit. Cred într-o Românie vie, creativă și inteligentă, care să devină o forță în Europa și în lume. Este visul meu și ca mine sunt mulți care au acest vis pentru România.

p
  strong Reporter: 
  em Actuala majoritate parlamentară pare destul de închegată, chiar și dacă UDMR ar ieși de la guvernare, ceea ce înseamnă că Victor Ponta are șanse mari să rămână premier chiar dacă va pierde alegerile prezidențiale. Ați fi dispusă spre a colabora cu Victor Ponta? Cum vă imaginați că ar arăta o astfel de relație de coabitare, în cazul în care ajungeți președinte al României?

p
  strong Monica Macovei:  
  |Eu nu voi coabita, nu sunt de acord cu acest termen. Este vorba de o colaborare intituțională, așa cum este ea reglementată de Constituție.

p Mă întrebați de colaborarea cu Victor Ponta după alegeri. Nu cred că are șanse să păstreze șefia partidului său după înfrângerea la vot. I-am mai văzut și în 2009 cum l-au debarcat pe Geoană și au venit la Cotroceni să se mute cu arme și bagaje la guvernul Boc. Păcatul acela ne-a facut mult rău, ne-am băgat șerpii în casă. Eu voi conlucra cu oamenii bine intenționați din toate partidele care vor să pună țara pe drumul cel drept. Dacă nu mă voi înțelege cu partidele sau văd că blochează reforma, voi fi vocală, voi explica poporului și politicienilor, voi îndemna oamenii să le ceară parlamentarilor pe care i-au ales să voteze cum vor ei, alegătorii. Pot iniția referendum pentru anumite măsuri precum reforma partidelor și finanțarea lor, unde mă aștept să opună rezistență structurile care controlează acum politica.

p Și să nu uităm că în 2016 vor fi alegeri parlamentare, din care va rezulta un nou guvern. Voi numi numai oameni care cred în democrație, în lege și care vor să servească într-adevăr România.

p
  strong Reporter: 
  em Cu cine considerați că ați putea lucra foarte bine, în interesul României, într-un tandem de tip președinte- premier?
p
  strong Monica Macovei:  
  |Voi lucra bine cu cei care vor binele României. Ponta a arătat că nu vrea binele românilor. Deși s-a cățărat la putere pe nemulțumirea populației față de președintele Băsescu, promițând marea cu sarea, el nu dă de fapt doi bani pe oameni.  Doar mimează empatia. Urmăriți-l când merge la inundații sau vreun dezastru, el face bășcălie cu « fă, Doina ». Când guvernul întrerupe tratamentul bolnavilor de cancer, un act criminal, el se veselește la ședințele de guvern. Eu spun că oamenii  trebuie să  fie mai atenți, Ponta, cel care le plângea pe umăr în 2012, i-a păcălit. S-a folosit de voi, dar îl doare în cot de viața voastră.

p 
  strong Reporter: 
  em Este prima oară în istoria politică a României când două doamne, cu vizibilitate crescândă, decid să intre în cursa prezidențială și care se luptă, în mare parte, pentru același electorat. În momentul de față care este relația cu Elena Udrea? Ați accepta o dezbatere televizată cu doamna Elena Udrea?

p
  strong Monica Macovei: 
  |Accept debateri televizate cu toți contracandidații care par să conteze. Vreau o dezbatere televizată cu domnii Johannis și Ponta.

p
  strong Reporter: 
  em O să vă prezentați în fața românilor într-un tandem președinte- premier?

p
  strong Monica Macovei: 
  |Nu, pentru că prim-ministrul nu este ales prin vot direct. Aceasta este Constituția, trebuie să o respectăm și să nu păcălim oamenii.

p Eu mă prezint în fața românilor cu o viziune pentru țară și cu oameni pricepuți și cinstiți. Tandemul meu este cu România.

p În mod sigur, doresc pentru România un premier care să fie corect, cu o viziune pentru țară similară cu a mea. Dar rămâne ca și românii să voteze un parlament care să propună o astfel de persoană, altfel progresul țării va fi greu de realizat.

p
  strong Reporter: 
  em Ce personalități politice sau din societatea civilă v-ar putea ajuta sau v-ar plăcea să vi se alăture în campania pentru prezidențiale?

p 
  strong Monica Macovei: 
  |Veți vedea în zilele următoare mulți lideri ai societății civile care mă susțin. Nu vreau să stric această surpriză. Ușa e deschisă pentru toți oamenii cu intenții bune, care doresc să ajute să scoatem România din mlaștina în care se afundă. Sper să vină alături de mine oameni din toate categoriile sociale și din toate ideologiile politice dacă sunt de bună credință – acum nu e momentul să ne certăm dacă să zugrăvim casa în nuanțe de roz sau albastru, avem de făcut lucrări radicale la fundație, altfel se dărâmă peste noi.

p
  strong Reporter: 
  em Aveți ceva să vă reproșați în cariera politică?

p
  strong Monica Macovei: 
  |Am convingeri, principii și loialități. Acestea m-au condus și în cariera politică și, din acest punct de vedere, nu am ce să îmi reproșez. Ba mai mult, nu mă gândesc nicio clipă să renunț la convingerile, principiile și loialitățile mele.

p
  strong Reporter: 
  em Cum va arăta România dacă dumneavoastră o să ajungeți la Cotroceni ?

p
  strong Monica Macovei: 
  |O România prosperă, cinstită, vie, educată, sănătoasă și cu oameni fericiți.