- locals.date = '2014-10-25 12:00';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = 'Monica Macovei: Spune Președintelui! – Caravana oamenilor – Etapa a II-a';
- locals.slug = 'mm-caravana-oamenilor-etapa-a-2-a';
- locals.preview = 'Cea de-a doua etapă a acțiunii "Spune Președintelui! Caravana oamenilor" începe sâmbătă, 25 octombrie 2014, la ora 10.00. Trei echipe de voluntari din campania electorală a candidatului independent pentru funcția de președinte al României, Monica Macovei, vor porni din București pe noi trasee.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
   em (25 octombrie 2014) – Monica Macovei – Comunicat de presă
 
p
   strong Spune Președintelui! – Caravana oamenilor – Etapa a II-a
 
p
   |Cea de-a doua etapă a acțiunii 
   strong "Spune Președintelui! Caravana oamenilor" 
   |începe sâmbătă, 25 octombrie 2014, la ora 10.00.
 
p
   strong Trei echipe de voluntari 
   |din campania electorală a candidatului independent pentru funcția de președinte al României, Monica Macovei, vor porni din București pe noi trasee. 
 
h4(style='text-decoration: underline')
   strong Sâmbătă, 25 octombrie 2014
 
p
   |Traseu 1:   
   strong Ploiești 
   |(11:00 – 12:30) - 
   strong Vălenii de Munte 
   |(13:10 – 14:20) – 
   strong Băicoi 
   |(15:40 – 16:40) - 
   strong Câmpina 
   |(17:00 – 18:30) 
 
p
   |Traseu 2: 
   strong Târgoviște 
   |(11:30 – 13:00) - 
   strong Câmpulung Muscel 
   |(14:20 – 15:50) - 
   strong Curtea de Argeș 
   |(17:30 – 18:30)
 
p
   |Traseu 3: 
   strong Mihăilești 
   |(11:00 – 12:00) - 
   strong Alexandria 
   |(13:00 – 14:00) - 
   strong Roșiorii de Vede 
   |(15:20 – 16:20) - 
   strong Drăgănești 
   |(17:00 – 18:00)
 
h4(style='text-decoration: underline')
   strong Duminică, 26 octombrie 2014
 
p
   |Traseu 1:  
   strong Săcele 
   |(09:10 – 10:10) – 
   strong Codlea 
   |(10:50 – 12:10) - 
   strong Sfântu Gheorghe 
   |(13:10 – 14:30) - 
   strong Covasna 
   |(15:50 – 17:10) - 
   strong Târgu Secuiesc 
   |(17:30 – 18:50)
 
p
   |Traseu 2: 
   strong Râmnicu Vâlcea 
   |(09:00 – 11:00) - 
   strong Brezoi 
   |(12:00 – 14:00) - 
   strong Petroșani 
   |(16:50 – 18:20)
 
p
   |Traseu 3: 
   strong Caracal 
   |(09:00 – 10:00) - 
   strong Corabia 
   |(10:50 – 11:50) - 
   strong Turnu Măgurele 
   |(12:30 – 13:30) - 
   strong Zimnicea 
   |(15:10 – 16:10)
 
p
   |Caravana 
   strong „Spune Președintelui” 
   |își propune să colecteze nemulțumirile populației din orașe și comune, cu scopul de a le analiza și găsi soluții de rezolvare, și să aducă la cunoștința oamenilor din  comunitățile locale programul Monicăi Macovei.
 
p În prima etapă, 2 echipe de voluntari au străbătut țara și au strâns mesajele dumneavoastră.  
 
p
   |Cele 3 trasee ale caravanei 
   strong “Spune Președintelui!”
   |, ora și localitățile străbătute, vor fi afișate zilnic pe pagina de Facebook 
   a(href='https://www.facebook.com/MonicaMacoveiUE', target ='_blank') Monica Luisa Macovei 
   | și pe pagina de internet  
   a(href='www.macoveipresedinte.ro', target='_blank') www.macoveipresedinte.ro
   |.
 
p Vino și spune ce vrei să facă Președintele Monica Macovei pentru tine și voluntarii vor duce cererile tale mai departe, pentru a fi auzite.