- locals.date = '2014-10-31 18:00';
- locals.thumb = '/assets/img/posts/mm-alb-negru.jpg';
- locals.title  = 'Monica Macovei votează la ora 12.00, la secția de votare din cadrul Școlii Gimnaziale Tudor Arghezi';
- locals.slug = 'monica-macovei-voteaza';
- locals.preview = 'Monica Macovei, candidat independent pentru funcția de președinte al României, votează duminică, 2 noiembrie 2014, la ora 12.00, la secția de votare din cadrul Școlii Gimnaziale Tudor Arghezi, strada Tudor Arghezi 46-50, sector 2.  ';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
   em (31 octombrie 2014) – Monica Macovei – Anunț de presă
p
   |Monica Macovei, candidat independent pentru funcția de președinte al României, 
   strong votează 
   |duminică, 2 noiembrie 2014, 
   strong la ora 12.00
   |, la secția de votare din cadrul Școlii Gimnaziale Tudor Arghezi, strada Tudor Arghezi 46-50, sector 2. 