- locals.date = '2014-10-10 17:30';
- locals.thumb = '/assets/img/posts/mm-depunere-semnaturi.jpg';
- locals.title  = 'Monica Macovei s-a întâlnit cu Secretarul General al Partidului Popular European, Antonio Lopez Isturiz';
- locals.slug = 'mm-intalnire-cu-antonio-lopez-isturiz';
- locals.preview = 'Acţiunea mea politică a fost întotdeauna inspirată de valorile Partidului Popular European: legalitatea, solidaritatea și integritatea. Aşadar, candidatura mea independentă este o expresie a libertăţii de a alege între mai multe opțiuni şi a pluralismului în România, iar experienţa mea la nivel internaţional este un atu pentru viitorul României.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p 
  em (10 octombrie 2014) – Monica Macovei – Comunicat de presă
h2 Comunicat de Presă - Monica Macovei, MEP, Candidat independent la Preşedinţia României 

p
  em Bruxelles, 10 octombrie 2014

p Candidatul independent la Preşedinţia României, doamna Monica Macovei, s-a întâlnit ieri, 9 octombrie 2014, cu Secretarul General al Partidului Popular European, domnul Antonio Lopez Isturiz.

p
  | În cadrul întrevederii din 9 octombrie 2014, Partidul Popular European (PPE) a afirmat că 
  strong justiţia şi statul de drept sunt răspunsurile la nevoile cetăţenilor români 
  |şi că a susţinut pe deplin, atât în Parlamentul European cât şi în România, toate eforturile făcute în aceste domenii.

p "Acţiunea mea politică a fost întotdeauna inspirată de valorile Partidului Popular European: legalitatea, solidaritatea și integritatea. Aşadar, candidatura mea independentă este o expresie a libertăţii de a alege între mai multe opțiuni şi a pluralismului în România, iar experienţa mea la nivel internaţional este un atu pentru viitorul României" a declarat Monica Macovei.
img.img-responsive(src='/assets/img/posts/ALIsturiz.jpg')