- locals.date = '2014-09-22 10:00';
- locals.thumb = '/assets/img/posts/alin-fumurescu.jpg';
- locals.title  = '...lasa, lasa, lasa, lasa, ca ne-ntoarcem noi acasa! Monica Macovei si diaspora';
- locals.slug = 'fumurescu-lasa-lasa-lasa-ne-intoarcem-noi-acasa';
- locals.preview = 'Rezultatul de pe 16 noiembrie e clar: Ponta pierde, de-o fi unul, de-o fi altul ce e scris si pentru noi. Important e ce se intampla pe 2 noiembrie, in primul tur. Mai exact, care dintre candidatii dreptei intra in finala. Asa ca va invit sa fiti realisti. Votati calul verde. Votati Monica Macovei.';
- locals.author = 'Alin Fumurescu';
- locals.source = 'http://www.contributors.ro/fara-categorie/lasa-lasa-lasa-lasa-ca-ne-ntoarcem-noi-acasa-monica-macovei-si-diaspora/';

figure.pull-right
  img.img-responsive(src="/assets/img/posts/alin-fumurescu.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

p … desi am scris mult (poate prea mult) inca de pe vremea cand eram student-redactor la Napoca Universitara. Nu zeci, nu sute, ci mii de texte. Cu toate acestea, textul care m-a facut faimos – pe internet cel putin – n-a fost scris de mine.

p Incepe asa: 
blockquote 
  em
    strong “Te arde. Ştiu că te arde. Dar dacă vii în România, aşteaptă-te să găseşti aici o societate profund polarizată, profund schizoidă. Din ce în ce mai polarizată şi mai schizoidă de la an la an.”

p Restul (desi ma indoiesc ca nu l-ati primit deja de la vreun prieten) il puteti gasi in Dilema Veche unde a aparut initial.

p L-am primit, da, pe internet, fara autor si m-am decis sa-l popularizez pe Voxpublica. Imediat dupa aceea am aflat si cine este autorul – Andreea Sepi - si m-am grabit sa fac precizarea. Degeaba. De atunci au trecut cativa ani. Circula in continuare, sub numele meu, cu titlul “Dor de Romania – Un text care doare“. Mama, care e recipientul multor mesaje mai mult sau mai putin pline de intelepciune, trimise mai departe de unul sau alta, il primeste regulat, cam de doua ori pe saptamana. Tot de atatea ori imi scrie, “sa dau dezmintire”, ca nu e frumos sa-ti cladesti reputatia pe spinarea altuia. Problema e ca nu poti da dezmintire … internetului. Am scris in stanga si-n dreapta ca nu sunt autorul textului. Fara folos. Oamenii apasa “forward” fara sa mai verifice informatia (ca veni vorba, mai aduceti-mi la zi CV-ul, ca nu mai predau la IUB de vreo patru ani).

p Nu scriu, insa, aceste randuri pentru a ma vaita (m-am vaitat, cu prieteneasca invidie, Andreei, da’ asta e alta poveste). Scriu pentru ca succesul textului are legatura directa cu actuala campanie prezidentiala. Si mai precis, are legatura directa cu Monica Macovei. 
  strong Daca textul Andreei se bucura de atata succes, de atata amar de ani, si zeci de mii de romani ii dau “forward”, se cheama ca atinge un punct sensibil din subconstientul colectiv. Raspunde unei nevoi. Aceleeasi nevoi careia ii raspunde candidatura Monicai Macovei.

p Atat in tara, cat si in diaspora, setea de Mos Craciun e imensa. 
  strong Gabriel Liiceanu 
  | a avut, inca o data, dreptate. Trebuie sa credem. Trebuie. Avem nevoie de asta. Visatul la cai verzi pe pereti e o nevoie la fel de autentica, de reala, de dureroasa, precum nevoia de paine. Sa fii cinic in ziua de astazi e deopotriva lesne si gresit. Dupa cum am mai tot scris, aparent paradoxal, cei mai ne-realisti sunt … realistii. Daca vrei sa-i intelegi, intreaba-i de caii verzi. 
  strong Oamenii se dau jos din pat zi de zi pentru caii verzi, merg la serviciu pentru caii verzi, mananca, fac copii si se arunca-n foc pentru caii verzi. Si, pentru ceea ce ne intereseaza acum voteaza pentru caii verzi. 
  | Fara caii verzi, omenirea n-ar putea functiona. Asta nu pot intelege cinicii. 
  strong Realistii se iluzioneaza.

p Da, de la distanta, Romania se vede altfel. Diaspora vede altfel Romania, Ana are mere, Xenia are pix. Vorba unui amic poet, 
  em “de aceea pastreaza continuu o cantitate de frig intre tine si lucruri, chiar daca afara-i canicula si animalul te striga pe diferite cai“. 
  | Nu va faceti iluzii. N-am plecat. N-avem cum, chiar daca, prin absurd, am vrea. Cine poate sari peste propria-i umbra? Nu e … realist.

p Dupa mai bine de cinsprezece ani de trait prin strainataturi, mutandu-ma de colo – colo, pot spune cu mana pe inima: De plecat din Romania, n-a plecat, de fapt, nimeni. Intr-un fel sau altul, toti am ramas. 
  strong Am ramas cel putin in masura in care voi, “ramasii”, ati plecat. 
  | C-ati plecat: pe internet, prin copii, cu excursiile, cu romenglish, ati plecat. Asa ca nu ne mai aratati cu degetul, ca devine plictisitor. Rade ciob de oala de sparta.


p.strong Nemuritorii
.embed-responsive.embed-responsive-16by9
  iframe.embed-responsive-item(src="//www.youtube.com/embed/V_3vAdg62PI?rel=0&iv_load_policy=3&showinfo=0&controls=0", modestbranding="1", frameborder="0", allowfullscreen)

p Asa ca sa revenim la oile noastre. Si-ale plecatilor, si-ale ramasilor. Oile noastre – candidatii pentru cursa la prezidentiale. Nu vreau sa vorbesc acum despre Victor Ponta. In diaspora, Ponta nu exista. De aici asa se vede, vorba bancului. Daca noi, astia din diaspora, suntem visatori, Victor Ponta e un cosmar din care tot incercam sa ne trezim. Sa va trezim. Wittgenstein zicea 
  em “despre ceea ce nu se poate vorbi trebuie sa se taca“, 
  | dar Ponta nu l-a citit pe Wittgenstein, asa ca 
  strong vorbeste cu nonsalanta despre ortodoxie, familie, romanitate, s.a.m.d., tarand in noroi caii verzi pana devin toti cafenii. 
  | Toti o apa si-un pamant. Mocirla, adica. Nu stiu ramasii cum sunt, dar stiu sigur ca plecatii sunt enervati rau de tot cand iti bati joc de caii lor verzi. Caii nostri verzi de pe pereti sunt tot ce ne-a mai ramas de-acasa. Tinem de ei cu dintii.

p Nu va mai tin cu sufletul la gura. 
  strong Rezultatul de pe 16 noiembrie e clar: Ponta pierde, de-o fi unul, de-o fi altul ce e scris si pentru noi. Important e ce se intampla pe 2 noiembrie, in primul tur. Mai exact, care dintre candidatii dreptei intra in finala. Asa ca va invit sa fiti realisti. Votati calul verde. Votati Monica Macovei.

p 
  strong George Soros 
  | recunostea ca e un geniu financiar pentru ca … are reputatia de a fi geniu financiar. Daca zice ca el crede ca dolarul va scadea si euro (sa zicem) va creste, lumea il crede, vinde dolari si cumpara euro. In consecinta, dolarul scade, euro creste, si toata lumea va zice 
  em “bai, iar a avut Soros dreptate!” 
  | In fapt, e ceea ce Soros insusi numeste “self-fulfilling prophecy” – o profetie care se implineste pentru ca toata lumea se asteapta s-o faca.

p Si-acum v-am facut cu ochiul, in cazul in care v-a scapat :)

p Lasa, lasa, lasa, lasa, ca ne-ntoarcem noi acasa! Laaaaa-sa!
