- locals.date = '2014-09-26 17:50';
- locals.thumb = '/assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg';
- locals.title  = 'Fața mai puțin văzută a Monicăi Macovei: despre fiul său, experiența din Bosnia - Herțegovina';
- locals.slug = 'fata-mai-putin-vazuta-a-monicai';
- locals.preview = 'Monica Macovei, candidat la alegerile prezidențialele din acest an, a fost prezentă miercuri în cadrul emisiunii Teo Show, găzduită de Kanal D. ';
- locals.author = 'Kanal D';
- locals.source = 'http://www.kanald.ro/multimedia/monica-macovei-la-teo-show_122961.html';
- locals.tags = ['tv','presa'];

p Monica Macovei, candidat la alegerile prezidențialele din acest an, a fost prezentă miercuri în cadrul emisiunii Teo Show, găzduită de Kanal D.

p Aceasta și-a făcut intrarea în platoul televiziunii într-un mod inedit, pe motocicletă. Macovei a povestit că merge deja de câteva săptămâni cu motorul prin București, spre surprinderea șoferilor, și că vrea să își ia permisul pentru motocicletă.

p Prima parte a emisiunii a fost filmată în casa Monicăi, ocazie cu care moderatoarea a aflat cum candidata la președinție a terminat Facultatea de Drept cu nota 10.

p Europarlamentarul Monica Macovei a povestit despre fiul său, student la arhitectură în străinătate, și despre cum a ajutat-o mama sa să își crească băiatul.

p La final, candidata i-a făcut cadou moderatoarei un cartuș de la un glonte de mitralieră, care a fost cules pe un câmp de luptă din Bosnia – Herţegovina.

p Iată mai jos înregistrarea emisiunii:
div.
  <object width="625" height="351" id="undefined" name="undefined" data="http://kdassets.kanald.ro/fp/flowplayer-3.2.16.swf" type="application/x-shockwave-flash"><param name="movie" value="http://kdassets.kanald.ro/fp/flowplayer-3.2.16.swf" /><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="flashvars" value='config={"playlist":[{"autoPlay":true,"url":"http://kdmedia.kanald.ro/video/201409/previews/media_141166030141863500.jpg","autoBuffering":true,"eventCategory":"Video view event"},{"autoPlay":true,"url":"mp4:video/201409/media_141166030141863500.mp4","ipadUrl":"http://kdmedia.kanald.ro/video/201409/media_141166030141863500.mp4","autoBuffering":false,"eventCategory":"Video play event","provider":"rtmp"}],"plugins":{"rtmp":{"url":"http://kdassets.kanald.ro/fp/flowplayer.rtmp-3.2.11.swf","netConnectionUrl":"rtmp://kdmedia.kanald.ro/vod/","durationFunc":"getStreamLength"},"controls":{"url":"http://kdassets.kanald.ro/fp/flowplayer.controls-3.2.15.swf","backgroundColor":"transparent","backgroundGradient":"none","sliderColor":"#D20001","progressColor":"#D20001","progressGradient":"none","bufferColor":"#ffffff","sliderBorder":"0px","volumeSliderColor":"#D20001","volumeBorder":"0px","timeColor":"#ffffff","durationColor":"#ffffff","tooltipColor":"rgba(255, 255, 255, 0.7)","tooltipTextColor":"#000000","height":20},"ova":{"url":"http://kdassets.kanald.ro/fp/flowplayer.ova-1.0.1.swf?v=3","debug":{"levels":"none"},"autoPlay":false,"ads":{"controls":{"skipAd":{"enabled":true,"html":"SKIP AD!","showAfterSeconds":15,"region":{"id":"my-new-skip-ad-button","verticalAlign":"top","horizontalAlign":"right","backgroundColor":"#cecece","opacity":0.3,"borderRadius":15,"padding":"1 0 0 10","width":80,"height":20}}},"schedule":[{"position":"pre-roll","tag":"http://realitatero.adocean.pl/ad.xml?id=ZqIx2RMvXH0P3dGGWH6hS92V4bd2SseFG1QtGB8d11f.n7"},{"zone":"28","startTime":"00:00:05","position":"auto:bottom","duration":"recommended:10","tag":"http://realitatero.adocean.pl/ad.xml?id=nXSQWHMwNv8rydcsJYFvJ0IN.M1.k.BQBGz.gsKzPfT.U7"}]}},"gatracker":{"url":"http://kdassets.kanald.ro/fp/flowplayer.analytics-3.2.8.swf","events":{"all":true},"debug":false,"accountId":"UA-5846596-1"}},"clip":{"url":"http://kdmedia.kanald.ro/video/201409/media_141166030141863500.mp4"}}' /></object>
