- locals.date = '2014-11-15 00:00';
- locals.thumb = '/assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg';
- locals.title  = 'Monica Macovei: Duminică avem de ales între libertate sau dictatură, între bunăstare sau sărăcie';
- locals.slug = 'duminica-avem-de-ales';
- locals.preview = 'Dacă Ponta iese președinte, săracii vor fi și mai săraci. Sărăcia nu este un accident. Sărăcia vine din corupție, iar Ponta protejează corupții. 25 de miliarde de euro pe an ne costă corupția din banii publici, fără a pune la socoteală șpagile. De aceea suntem mai săraci cu cel puțin 25 de miliarde de euro pe an. ';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
    em (14 noiembrie 2014) – Monica Macovei – Declarație de presă
 
h2
    strong Duminică avem de ales între libertate sau dictatură, între bunăstare sau sărăcie

p
    |La Cluj și Timișoara, acum câteva zile, se striga 
    em Jos comunismul!
    |. Asta nu s-a mai auzit în România din anii 90. Oamenii strigă 
    em Jos comunismul!
    |, pentru că simt pericolul real al întoarcerii la dictatură prin Victor Ponta.

p Dacă Ponta iese președinte, săracii vor fi și mai săraci. Sărăcia nu este un accident. Sărăcia vine din corupție, iar Ponta protejează corupții. 25 de miliarde de euro pe an ne costă corupția din banii publici, fără a pune la socoteală șpagile. De aceea suntem mai săraci cu cel puțin 25 de miliarde de euro pe an. 

p Dacă Ponta iese președinte, se va opri justiția independentă, se vor opri anchetele independente ale DNA. 

p Dacă Ponta iese președinte, toți baronii PSD sau din orice alt partid vor putea să fure nestingheriți din banii noștri, averile făcute ilegal nu le vor mai fi confiscate și ei nu vor mai fi pedepsiți, pentru că vor fi ocrotiți de președintele care unește hoții. 

p Dacă Ponta iese președinte, votul va fi o lozincă, și nu un drept. Dacă Ponta iese președinte, votul liber va fi înlocuit cu votul fraudat și votul-lozincă. 

p Dacă Ponta iese președinte, ne întoarcem sub ruși. 

p Duminică trebuie să mergem la vot cât mai mulți să ne salvăm țara. 

p Duminică trebuie să mergem la vot cât mai mulți, pentru a reduce impactul “fraudei Dragnea”. 

p Duminică trebuie să mergem la vot: tineri, părinți și bunici. Părinții să voteze cu gândul la viitorul copiilor lor, iar bunicii să voteze cu gândul la viitorul nepoților lor. 

p Duminică trebuie să mergem la vot. Chiar trebuie. 