- locals.date = '2014-10-12 21:00';
- locals.thumb = '/assets/img/posts/MM-interviu.jpg';
- locals.title  = 'Interviu Monica Macovei';
- locals.slug = 'interviu-monica-macovei';
- locals.preview = 'Asigurarea independentei energetice a Romaniei este "vitala pentru securitatea nationala si independenta tarii", a declarat Monica Macovei pentru WALL-STREET.RO, candidata independenta la prezidentiale subliniind ca piata de energie trebuie liberalizata prin asigurarea unui mediu economic predictibil.';
- locals.author = 'Oana Mihalache';
- locals.source = 'http://www.wall-street.ro/articol/Politic/173780/interviu-macovei.html';
- locals.tags = ['articol'];

div(style="width: 60%; text-align: center; margin: 0 auto")
  img(src="/assets/img/posts/MM-interviu.jpg", style="width:100%")
p
  strong WALL-STREET.RO: Cum vedeti batalia electorala pe axa candidati femei - candidati barbati? Credeti ca vor urma atacuri bazate pe unele prejudecati?
p
  strong Monica Macovei:
  |   Ar fi neelegant din partea unui contracandidat barbat sa se foloseasca de stereotipuri sau prejudecati pentru a ataca un oponent femeie. Cred ca romanii vor taxa la vot acea persoana.
p Am umblat prin tara in aceasta perioada si peste tot pe unde am fost lumea m-a intrebat de program si ce vreau sa fac pentru tara. Foarte multi romani sunt preocupati daca maine mai au un loc de munca, daca preturile cresc, daca o vor duce mai bine sau mai prost. Astea sunt preocuparile reale, si nu daca presedintele este barbat sau femeie.
p
  strong
  |  WALL-STREET.RO: In urma publicarii declaratiei de avere pe site-ul ANI, au fost voci din mass media care v-au caracterizat ca un "candidat instarit", avand in vedere ca detineti sase terenuri si trei apartamente. Cum comentati afirmatiile de acest tip?
p
  strong Monica Macovei:
  |  Va amintesc ca eu am facut declaratiile de avere publice si detaliate. Scopul cu care am creat declaratiile de avere a fost ca cetatenii sa vada cu ce avere intra cineva in politica si cu ce avere iese. Avem suficienti politicieni care dintr-un salariu de bugetar nu aveau cum sa isi faca adevarate averi.
p Inainte de a avea o functie publica, cea de ministru al Justitiei, din decembrie 2004, am fost avocat si expert al Consiliului Europei. Atunci am cumparat cele mai multe bunuri, cu banii obtinuti din avocatura si ca expert international. Dupa ce mi-am incheiat mandatul de ministru, in aprilie 2007, am fost doi ani de zile consilier anticoruptie al premierului Macedoniei, intr-un program al guvernului Marii Britanii si Irlandei de Nord. Apoi, am fost aleasa europarlamentar.
p Din 2001 locuiesc intr-un apartament de 66 mp, aflat in mansarda unei case. La 2 Mai, am cumparat mai intai terenul si apoi, cand am mai strans bani, am construit o casa cu 2 camere, atat are. Iar casa am construit-o eu, impreuna cu 2 muncitori din sat. Am pus singura atat gresia, cat si faianta in casa.
p
  strong
  |  WALL-STREET.RO: In ziua in care v-ati depus candidatura la Biroul Electoral Central spuneati ca trebuie sa "ne luam inapoi banii furati" si ca "toate contractele cu statul din ultimii 25 de ani vor fi cercetate". Care sunt marile carente ale Justitiei in momentul actual?
p
  strong Monica Macovei:
  |  Este important pentru toata lumea sa inteleaga ca banii de la buget sunt banii nostri ai tuturor. Cand un om politic sau un partid fura din acesti bani, fura de fapt din buzunarul nostru. Din acest motiv avem responsabilitate fata de cetateni sa aducem acesti bani inapoi si sa-i folosim pentru binele tuturor.
blockquote
p Vreau sa mergem si noi pe sistemul american unde un proces se judeca in fiecare zi pana cand se termina.
p De cand am pornit reforma in justitie, in 2005, s-au facut progrese enorme. Vedem astazi politicieni, ministri, fosti prim-ministri anchetati si arestati pentru coruptie, lucru greu de imaginat inainte de 2005. Avem judecatori si procurori care nu mai au frica de politic si vor sa ramana independenti si sa-si faca treaba. Evident, mai exista inca lucruri ce trebuie facute in justitie. Durata proceselor este unul dintre ele. Vreau sa mergem si noi pe sistemul american unde un proces se judeca in fiecare zi pana cand se termina. Este si ineficient, si costisitor ca un proces sa dureze ani de zile.
p Un alt lucru pe care-l voi sustine ca presedinte este unificarea jurisprudentei. Aceste doua reforme ar ajuta nu numai justitia, dar ar stimula si venirea de investitori in Romania. Si da, vreau verificarea tuturor privatizarilor din ultimii 25 de ani. Sa vedem unde au ajuns banii, si daca au fost privatizari ilegale, poate reusim sa recuperam banii. In cazurile in care faptele nu s-au prescris, solutia este ca Parchetul General sa le verifice.
p
  strong
  |  WALL-STREET.RO: De asemenea, spuneati ca vreti o reducere cu 50% a cheltuielilor Parlamentului. Ce implica asta, in afara de reduceri de salarii?
p
  strong Monica Macovei:
  |  In primul rand, trebuie sa punem in aplicare referendumul prin care romanii au stabilit reducerea numarului de parlamentari la 300. In prezent avem peste 550 de parlamentari. Reducandu-i la 300, reducem automat si cheltuielile. O tara in care sunt atatia oameni saraci, o tara care are deficit bugetar, nu poate sustine un Parlament supradimensionat.
p
  strong
  |  WALL-STREET.RO: In actualul context macroeconomic si cu cifrele bugetare prezente, ati recomanda continuarea acordului cu FMI?
p
  strong Monica Macovei:
  |  Da, acordul cu FMI trebuie continuat, in primul rand pentru ca este o forma prin care putem tine sub control derapajele, cheltuielile si deficitele iresponsabile. Acordul cu FMI mai contine si reforme structurale, masuri de reforma in sectoare cu probleme mari de coruptie ca energia, transporturile, companiile de stat. Si stim ca sunt reforme pe care niciun guvern n-a vrut sa le faca decat fortat.
p Din pacate, derapajele de anul acesta au fost atat de grave, incat nu stiu daca se va mai putea relua negocierea din punctul in care a ramas. Domnul Sova a dat afara managerii privati de la patru companii de stat, chiar in timpul negocierilor. De atunci, a mai fost reducerea CAS fara sa aratam din ce bani se va acoperi gaura la buget, amanarea liberalizarii pietei de gaz, dar si rectificari bugetare care iau de la investitii si dau discretionar la autoritatile locale.
p
  strong
  br
  |  WALL-STREET.RO: Considerati ca reducerea CAS este cea mai buna masura de stimulare a economiei in contextul in care se anunta un 2015 foarte greu in ceea ce priveste tintele asumate cu UE?
p
  strong Monica Macovei:
  |  Cred ca orice masura trebuie discutata cu sectorul privat. Or, tocmai asociatiile de business sunt ingrijorate de aceasta masura. Toata lumea isi da seama ca reducerea CAS s-ar putea sa fie compensata dupa alegeri, la anul, cu alte impozite si taxe. Guvernul, mai ales Guvernul Ponta, iti da cu o mana si iti ia cu trei.
blockquote
  p Cata vreme exista lipsa de predictibilitate, nu vom avea investitii.
p De pilda, in 2014, companiile au fost serios lovite de taxa pe stalp si de accizele suplimentare pe benzina, masuri care s-au luat fara sa aiba publicat un studiu de impact - nici nu stim daca s-a facut unul. Cata vreme exista lipsa de predictibilitate, nu vom avea investitii. Daca intrebati mediul de afaceri, toti se plang de lipsa de predictibilitate, adica de schimbarile prea dese ale legilor. Am modificat de peste 50 de ori Codul Fiscal in doi ani, prin ordonante de urgenta. Cea mai buna masura de stimulare si de atragere a investitorilor este agrearea unui cadru fiscal si de reglementare care sa nu se mai schimbe ani de zile.
p
  strong
  |  WALL-STREET.RO: Care sunt resursele economice prin care ar putea fi acoperit golul bugetar foarte mare care se prefigureaza in 2015?
p
  strong Monica Macovei:
  |  Resursele se gasesc in sectorul privat, nicidecum in imprumuturi externe sau in marirea taxelor, asa cum doreste sa faca Ponta. In primul rand, este necesara reducerea taxelor si impozitelor pentru ca sectorul privat sa aiba mai multi bani pentru a crea locuri munca. Cand oamenii au
  a(href='http://www.wall-street.ro/tag/locuri-de-munca.html', title='Stiri de business despre Locuri de munca')  locuri de munca
  |  creste consumul, banii se invart in economie si implicit statul castiga mai mult. In primul trimestru din 2015 doresc sa am o discutie cu Guvernul si oamenii de afaceri pentru eliminarea taxei pe stalp si eliminarea accizei pe carburant introduse de Guvernul Ponta. Aceste doua taxe au sugrumat economia si majorat preturile.
p Al doilea lucru pe care doresc sa-l fac este sa simplific reglementarile astfel incat sa fie cat mai usor pentru un roman sa porneasca si sa dezvolte o afacere in Romania. "Cand intreprinzatorii sunt liberi sa dezvolte idei noi, economia genereaza mai mult comert, atrage investitii si devine mai prospera" spunea recent presedintele ‎Obama‬ la Clinton Global Initiative 2014‬.‬‬‬‬‬‬‬
p Al treilea lucru pe care doresc sa-l promovez este eficientizarea si prioritizarea cheltuielilor. In prezent statul cheltuie o multime de bani pe proiecte inutile, numai pentru ca baronii si partidele sa aiba de unde face bani. De exemplu, se fac fantani arteziere in fata primariilor cand scoala din localiate nu are conditii minime de igiena.
p Nu in ultimul rand,
  a(href='http://www.wall-street.ro/tag/anaf.html', title='Stiri de business despre ANAF')  ANAF
  |  trebuie sa colecteze taxele de la marii rau platnici, nu sa-i hartuiasca zi de zi pe micii intreprinzatori. ANAF-ul trebuie sa se concentreze pe zona marii evaziuni fiscale. Daca evaziunea fiscala ar fi redusa cu macar 50%, cu jumatate, am aduce la bugetul public 8 miliarde de euro, din care putem face, intr-un singur an de zile, 800 de kilometri de autostrada. Firmele nu trebuie sa fie sufocate de impozite, de birocratie si de coruptie. Daca firmelor le merge bine, tuturor ne merge bine si avem locuri de munca.
p
  strong WALL-STREET.RO: Cum vedeti rezolvarea problemei somajului in randul tinerilor?
p
  strong Monica Macovei:
  |  Somajul in randul tinerilor este cauzat in principal de doua lucruri: lipsa investitiilor, care inseamna neaparitia unor locuri de munca, si lipsa unei pregatiri din scoala care sa raspunda la cerintele pietei muncii.
p In orice economie de piata sectorul privat este cel care creeaza locuri de munca. Pentru ca cineva sa isi deschida o firma in Romania, sa investeasca, sa creeze locuri de munca are nevoie de predictibilitate fiscala. Numai in ultimii doi ani codul fiscal s-a schimbat de 50 de ori. Vreau ca presedinte sa am o discutie cu Guvernul si patronatele, sa punem un moratoriu de un an pentru ca sa nu se mai schimbe nimic in Codul Fiscal, iar la sfarsitul anului sa decidem de comun acord ce schimbam si ce mentinem. Odata ce am cazut de acord si facem schimbarea in Codul Fiscal, acesta sa ramana neschimbat pentru urmatorii cinci ani.
p Cat priveste pregatirea tinerilor, pe termen mediu si lung este necesara schimbarea curiculumului scolar pentru a corespunde cu cerintele pietei. De exemplu, s-ar putea face un parteneriat intre scolile de arte si liceele de informatica pentru a face cursuri de grafica, web design si altele.
p
  strong
  |  WALL-STREET.RO:. Care este pozitia dumneavoastra cu privire la criza din Ucraina si cum credeti ca ar putea fi afectata Romania?
p
  strong Monica Macovei:
  |  In Ucraina avem de-a face cu violarea suveranitatii unui stat de catre un alt stat, ceea ce calca in picioare toate tratatele internationale. Cand ai un astfel de vecin la rasarit,
  a(href='http://www.wall-street.ro/tag/rusia.html', title='Stiri de business despre Rusia')  Rusia
  |  , tot mai agresiv, care isi incalca propriile tratate, trebuie sa fii preocupat.
p Pentru garantarea securitatii Romaniei este esentiala intarirea relatiei cu Statele Unite si
  a(href='http://www.wall-street.ro/tag/nato.html', title='Stiri de business despre NATO')  NATO
  |  . Ponta vedem ca vrea sa duca Romania spre Rusia si China. Conflictul din Ucraina trebui sa responsabilizeze fiecare om politic din Romania pentru ca, inaintea interesului de partid, principala preocupare este siguranta nationala. Pentru asta trebuie sa ne intarim armata, sa repornim industria de aparare si sa ne intarim aliantele cu partenerii occidentali.
p
  strong
  |  WALL-STREET.RO: Ce masuri ati lua pentru a asigura independenta energetica a Romaniei? Cum vedeti procesul de exploatare si utilizare a resurselor energetice neconventionale pana in 2020?
p
  strong Monica Macovei:
  |  In primul rand, trebuie liberalizata piata de energie. Nu vine nimeni sa investeasca daca preturile sunt tinute artificial prea jos. Independenta energetica se va atinge cand se vor face investitii private in tot ce inseamna energie -
  a(href='http://www.wall-street.ro/tag/electrica.html', title='Stiri de business despre Electrica')  electrica
  |  , gaze, petrol. Romania are un potential urias, acum cativa ani aveam foarte multi investitori interesati in sectorul de energie din Romania. Ce ii sperie e lipsa de predictibilitate.
p In ceea ce priveste resursele neconventionale, deocamdata suntem in faza de explorare, nici nu stim daca avem resurse sau daca pot fi exploatate profitabil. Daca avem gaz de sist, va trebui sa avem intai o dezbatere cu experti ca sa luam o decizie la nivel national: cat de sigura e exploatarea? Nici mie nu mi-e clar inca raspunsul la aceasta intrebare. Apoi, cum trebuie impartite profiturile intre companie, buget de stat si comunitatile locale? Nu am avut niciodata o asemenea dezbatere: Ponta a facut in 2012 motiune de cenzura la guvernul Ungureanu inclusiv pe tema gazelor de sist; a anuntat un "moratoriu" pana in noiembrie 2012, apoi s-a sucit la 180 de grade si a devenit sustinator entuziast.
p Independenta energetica a Romaniei este o chestiune vitala pentru securitatea nationala si independenta tarii, deci este o prioritate strategica nationala. Daca facem centrale nucleare, si se discuta acest lucru acum, sa terminam reactoarele 3 si 4 de la Cernavoda, atunci sa le facem cu companii din tarile aliate, din tarile democratice, nu cu altii. Tocmai pentru ca este vorba de chestiuni de siguranta nationala. De asemenea, independenta energetica de Rusia o eliminam daca exploatam - si voi insista pentru asta - titeiul si petrolul din marea Neagra.
p
  strong
  |  WALL-STREET.RO: Proiectul de autonomie a Tinutului Secuiesc a fost foarte discutat in ultima vreme. Cum vedeti acest proiect si cum incadrati aceasta miscare in contextul miscarilor separatiste din Europa?
  br
  strong
    br
    |  Monica Macovei:
  |  In Romania este nevoie de poduri intre oameni, nu de noi ziduri. Inteleg dorinta unor comunitati locale de a fi autonome teritorial, insa nu cred ca aceasta este solutia viitorului. Ar trebui sa ne gandim si la altceva. Puterea in Romania este centralizata la Bucuresti, iar deciziile se iau discriminatoriu de catre Guvern. Ati vazut ca Guvernul Ponta nu da bani primariilor decat daca primarul este de la PSD. Este o abordarea total nedreapta fata de romanii platitori de taxe.
p
  |  Personal pledez pentru o descentralizare, astfel incat structurile locale si judete sa aiba mai multa putere de decizie. De asemenea, pledez ca mai multi bani din taxe si impozite sa ramana la nivel local, astfel incat primarii sa aiba la dispozitie sume mai mari pentru a le investi in comunitate. Revenind, nu sunt de acord cu proiectul de autonomie a Tinutului Secuiesc. Sunt pentru autonomie culturala, drepturi pentru minoritati, dar nu autonomii teritoriale cu scopuri de separare a oamenilor. Trebuie sa dezvoltam insa regiuni economic viabile, care sa atraga investitii.
p
  strong
    |  WALL-STREET.RO: Ati avut o campanie catalogata drept "reusita" in social media. Cat ati investit in ea si cum ati colaborat cu cei care s-au ocupat de promovare, avand in vedere ca ati iesit oarecum din tiparele promovarii pentru un candidat la prezidentiale?
p
  strong Monica Macovei:
  |  Este prima campanie care se face in intregime numai cu voluntari. Nu am partide politice, firme sau bani negri in spate cu care sa-mi finantez campania, de aceea ma bazez in exclusivitate pe voluntari. Toti acesti voluntari au aratat ca oamenii sunt mai puternici decat partidele. Reusita din social media la care faceti referire, reusita cu strangerea de semnaturi, reusita pe care o vom avea in ziua votului li se datoreaza lor, si le multumesc.
p
  strong
    |  WALL-STREET.RO: Ce relatie aveti cu televiziunile, avand in vedere pozitionarea clara a marilor televiziuni de stiri in raport cu candidatii?
p
  strong Monica Macovei:
  |  Sunt televiziuni de stiri care in mod vizibil favorizeaza un candidat sau altul in functie de cine le sustine financiar. Unele sunt posturi de propaganda. Puterea mea, insa, sta in oameni. Aceasta campanie va arata ca romanii care gandesc liber sunt mai puternici decat orice post de televiziune care manipuleaza si distorsioneaza adevarul.
p
  |  Fac pe aceasta cale un apel la jurnalisti sa fie de partea adevarului si sa-i informeze corect pe romani. Poate unii patroni de presa isi platesc bine angajatii sa minta si sa dezinformeze. Insa jurnalistii sa se gandeasca ca nu se vor putea bucura de acei bani intr-o Romanie erodata de coruptie si iresponsabilitate.
p
  |  Am trecut in viziunea mea pentru Romania o masura care ar putea face curatenie in presa. Oamenii politici si rudele lor care detin trusturi de presa sa si le asume public. Sa stim ca este televiziunea lui X sau Y, si nu sa le declare independente, pentru ca asta manipuleaza cetatenii.
p
  strong
    |  WALL-STREET.RO: Cum comentati afirmatia presedintelui cu privire la candidatul fost ofiter al serviciilor secrete si ce legatura credeti ca este intre aceasta afirmatie si recenta auto-deconspirare a jurnalistului Robert Turcescu?
p
  strong Monica Macovei:
  |  Presedintele a ales sa arunce pe piata o astfel de afirmatie care nu poate fi probata, ceea ce a dus la o vanatoare de vrajitoare. Mai mult, afirmatiile respective au decredibilizat serviciile de informatii in fata partenerilor occidentali, ceea ce implicit vulnerabilizeaza Romania. Intr-o democratie, serviciile de informatii trebuie sa fie independente si sa nu se implice in politica ori in actul de justitie. Ca presedinte voi veghea ca serviciile sa ramane independente, avand ca singura preocupare securitatea nationala nu jocurile de putere.
blockquote
  p
    |  S-a creat o atmosfera de "securism", pe care am mai simtit-o la inceputul anilor 90.
p
  |  Un presedinte trebuie sa asculte numai de Constitutie, de constiinta lui si de oameni. Nu trebuie sa fie santajabil. Serviciile de informatii nu trebuie sa aiba oameni in presa, in politica si magistratura. Nu vreau sa intru in speculatiile presei. S-a creat o atmosfera de "securism", pe care am mai simtit-o la inceputul anilor 90.
p
  strong
    |  WALL-STREET.RO: Ce parere aveti de cazul celor 9 fosti ministri care risca sa fie pusi sub urmarire penala? Este doar un joc de campanie, asa cum a afirmat Ecaterina Andronescu?
p
  strong Monica Macovei:
  |  Toti politicienii cercetati spun ca este dosar politic. Acum, pentru ca este campanie electorala, mai nou, spun ca nu e o coincidenta ca se lucreaza acum in aceste dosare, ca e un joc. Eu cred ca sunt dosare reale, cu fapte de coruptie reale, pentru ca pana acum DNA a demonstrat cu prisosinta ca toate dosarele au fost reale, cu probe. De aceea au si fost multe condamnari. Sper ca dosarele acestora sa fie finalizate si daca vor ajunge in instanta, sa fie judecate cat de repede. Iar daca se dovedeste ca au furat romanii cu atatea zeci de milioane de euro, sa li se confiste averea obtinuta ilegal.
p
  |  Romanii mor cu zile in spitale insalubre, copiii incep anul scolar fara manuale, nu au conditii minime sanitare in scoli, iar ministrii si acolitii acestora fura zeci de milioane de euro. Asa ceva este intolerabil. Intolerabil este si faptul ca Senatul si-a luat vacanta pentru a-i putea apara pe senatorii acuzati de coruptie in acest caz. Din acest motiv am solicitat presedintelui Romaniei sa organizeze un referendum, pe 16 noiembrie, cand este al doilea tur de scrutin, si sa-i intrebe pe romani daca sunt de acord cu eliminarea imunitatii ministrilor si parlamentarilor anchetati pentru fapte penale. Parlamentul a devenit in acest moment un bastion al coruptilor.
p
  |  Dosarul
  a(href='http://www.wall-street.ro/tag/microsoft.html', title='Stiri de business despre Microsoft')  Microsoft
  |  , in care avem implicati 9 fosti ministri din 4 guverne, din partide diferite, ne arata ca in spatele cortinei politicienii fac intelegeri transpartinice, lucreaza impreuna pentru beneficiul lor, si nu al oamenilor. Adica suntem furati, suntem smecheriti de 25 de ani. Poate se prefac la televizor ca se cearta, dar dupa emisiune poate mai fac o afacere. Toate acestea pe banii nostri. Ma bucur ca DNA este o institutie puternica, ca face o astfel de ancheta de mare amploare, ii felicit pe cei de acolo. Am creat DNA in 2005 si, ca presedinte, ii voi asigura independenta in continuare, sa lucreze la fel de bine pana scapam de coruptia mare, politica, din tara.
