- locals.date = '2014-10-12 11:20';
- locals.thumb = '/assets/img/posts/avocatul-poporului.jpg';
- locals.title  = 'Sunt alături de românii de peste Prut.';
- locals.slug = 'sunt-alaturi-de-romanii-de-peste-prut';
- locals.preview = 'Marșul de “Solidaritate cu Basarabia” este unul din acei pași care pot da roade în istoria noastră. Nu sunt în București astăzi, ci în Timișoara. Gândurile mele sunt însă alături de cei cu care avem aceeași limbă, istorie și cultură. Suntem români și de o parte și de alta a Prutului.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['interviu'];

p
  em (București, 12.10.2014) Monica Macovei – Declarație de presă

p
  strong Sunt alături de românii de peste Prut

p Marșul de “Solidaritate cu Basarabia” este unul din acei pași care pot da roade în istoria noastră. Nu sunt în București astăzi, ci în Timișoara. Gândurile mele sunt însă alături de cei cu care avem aceeași limbă, istorie și cultură. Suntem români și de o parte și de alta a Prutului.

p În ultimii ani, am făcut tot ce mi-a stat în putință pentru a aduce românii din Basarabia cât mai aproape de România și de casa noastră europeană. Din 2009 până în 2014 am fost președinta Comitetului de Cooperare UE – Republica Moldova. Am fost de zeci de ori la Chișinău și la Tiraspol. Sunt în contact cu directorii și profesorii din cele 8 școli din regiunea separatistă Transnistria, unde se mai predă limba română cu grafie latină. I-am sprijinit cu ce aveau nevoie pentru școli și elevi. Românii care trăiesc în regiunea Transnistreană sunt sub presiune permanentă, uneori chiar sub teroare din partea autorităților de la Tiraspol.

p Una din reușite, la care țin foarte mult și sentimental, a fost contribuția la eliminarea vizelor cetățenilor Republicii Moldova pentru a călători în Uniunea Europeană. Am fost singurul om politic din România care a mers cu „avionul fără vize” pe 28 aprilie 2014, prima zi fără vize pentru Republica Moldova, în zborul simbolic organizat de guvernul de la Chișinău. A fost emoționant, pentru că în avion erau inclusiv copii care nu își văzuseră părinții de ani de zile, deoarece aceștia lucrau în țări ale Uniunii. 

p Știu că, la fel ca și în România, unii basarabeni privesc cu neliniște către viitor. Lor le transmit că voi fi avocatul lor pentru a fi împreună în familia Uniunii Europene. Când circumstanțele internaționale ne vor fi favorabile, vom îndeplini unirea pe care trebuia să o facem în 1990 și care nu s-a făcut, pentru că trădatorul de neam și comunistul Iliescu a spus “nu”, ascultând de Moscova, și nu de români.

p Republica Moldova trebuie să continue transformările democratice și să întărească instituțiile statului de drept. Le spun celor de peste Prut ceea ce le spun și românilor de dincoace de Prut: prin venele noastre nu curge gaz rusesc, ci sânge fierbinte, și nu ne vindem libertatea pe gaz. O să rezistăm împreună și vom rămâne liberi.
