- locals.date = '2014-10-05 12:00';
- locals.thumb = '/assets/img/posts/TM 1.jpg';
- locals.title  = 'Monica Macovei: Vreau să transform România împreună cu oamenii, așa încât președintele să fie angajatul românilor';
- locals.slug = 'vreau-sa-transform-romania-impreuna-cu-oamenii';
- locals.preview = 'Îmi încep campania la Timișoara pentru că acum 25 de ani aici a început libertatea noastră. Și pentru că și eu vreau – ca și dumneavoastră – să aflăm cine a tras în noi în decembrie 1989. Și vom afla.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
.row
  .col-xs-2
  .col-xs-8
    img.img-responsive(src='/assets/img/posts/TM5.jpg')
  .col-xs-2
p
  em (5 octombrie 2014) – Monica Macovei – Comunicat de presă

 

p 
  strong
    | Monica Macovei: 
    em Vreau să transform România împreună cu oamenii, așa încât președintele să fie angajatul românilor.

 

blockquote 
  em Îmi încep campania la Timișoara pentru că acum 25 de ani aici a început libertatea noastră. Și pentru că și eu vreau – ca și dumneavoastră – să aflăm cine a tras în noi în decembrie 1989. Și vom afla.

 

p Monica Macovei, candidat independent pentru funcția de președinte al României, a început campania electorală la Timișoara, cu un eveniment organizat sâmbătă, 4 octombrie 2014, de voluntarii și susținătorii ei. Monica Macovei a spus că dorește transformarea României, mai ales că toți ceilalți politicieni promit „schimbarea” țării, deși au stat ani de zile la putere.
blockquote 
  em Schimbarea deja nu mai înseamnă nimic, sunt cuvinte goale. Ponta e la putere de peste 2 ani de zile şi acum promite schimbarea României. Băsescu e preşedinte de 10 ani şi încă vorbeşte de schimbare. Johannis vorbeşte de asemenea de schimbare, deși PNL a fost la guvernare de mai multe ori. Tăriceanu şi Udrea vorbesc de schimbare, deşi au fost şi ei la putere. Vreau să transformăm România, așa încât președintele să fie angajatul românilor
  |, a declarat Monica Macovei.   

p Monica Macovei pledează pentru transformarea României prin cele 10 porunci pentru politicieni, incluse în viziunea pentru ţară, și prin cele 100 de măsuri și proiecte pentru România, pe care le propune. 

blockquote 
  em În final vreau să avem o Românie în care totul să se rezolve cu un zâmbet și un click. Noi să fim demni, să nu ne umilească nici politicienii, nici funcționarii, niciun fel de birocrație. Să mergem fericiți pe stradă,  pentru că ai noștri copii au școli bune, avem o sănătate decentă cel puțin, avem o slujbă și suntem liberi. Să nu fim cenușii, supărați, cu capul în jos, ci să mergem veseli și relaxați pe stradă. Acesta este drumul nostru pe care trebuie să mergem
  |, a declarat Monica Macovei, candidat independent la alegerile prezidențiale. 

p Monica Macovei a spus că șansele ei de a câștiga sunt mari și i-a chemat pe toți cei care se regăsesc în programul ei pentru România să meargă la vot și să o voteze în primul tur al alegerilor prezidențiale. 

.row
  .col-xs-4
  .col-xs-4
    a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/debut campanie electorala 5 oct.docx", rel="download")
     | Descarcă
     br
     | comunicatul de presă integral
  .col-xs-4