- locals.date = '2014-09-25 13:00';
- locals.thumb = '/assets/img/posts/scrisoare-monica-macovei.jpg';
- locals.title  = 'Scrisoarea unei tinere pentru Monica Macovei: “Dă-mi, te rog, șansa”';
- locals.slug = 'scrisoarea-unei-tinere-pentru-monica-macovei';
- locals.preview = 'Pentru mine tu ești deocamdata un "produs" discret. Pentru că nu mă deranjează prezența lui, sunt aproape sigură că poate fi valoros. Am învățat, din păcate, că greșesc mai puțin cu gândirea asta pe dos: tot ce e colorat și sună bine e cel mai adesea o mare minciună în țara asta. Așa că am să bifez răspununsul cel mai plauzibil: am să suprapun peste forța pe care o proiecteză marii candidați de pe ecran imaginea ta subțire și aparent vulnerabilă. Am să aleg printre hainele frumoase și strălucitoare ale candidaților, stilul tău de funcționar modest, în speranța că el arată preocupări adevărate. Am să elimin din grila de posibilități, discursurile elaborate , denumirile nu știu căror partide și am să încercuiesc un nume care n-are nimic în spate.';
- locals.author = 'Anca Murgoci';
- locals.source = 'http://www.dcnews.ro/monica-macovei-scrisoara-unei-tinere-pentru-monica-macovei-da-mi-te-rog-ansa_454515.html';
- locals.tags = ['presa','interviu','intalniri'];

p Roxana Dumitru, o tânără care în 2014 votează pentru prima dată, a transmis o scrisoare deschisă adresată Monicăi Macovei.
p Tânăra spune că Monica Macovei este printre puținii candidați care merită votul românilor. În plus, Roxana Dumitru i-a cerut un răspuns la scrisoare pentru a-i putea convinge și pe alții că este un candidat puternic.
p Iată scrisoarea Roxanei Dumitru:

p Dragă Monica,

p Sunt tânără și nu am exercițiul votului. Ăsta va fi primul an când trebuie să îmi aleg președintele. Am pus un fel de pariu cu cei mai buni prieteni ai mei, care-și râd de mine că iau treaba asta foarte în serios: au promis c-or să voteze și ei, dacă le dovedesc că merită s-o facă. Așa că m-am gândit că un răspuns de la tine ar fi suficient să-i impresionez. Îți scriu, așadar, în speranța c-am să mă laud cu popularitatea de care se pare că se bucură astăzi online mai mulți tineri ticluitori de scrisori inspirate.

p Își spun sincer că nu prea înțeleg nimic din ce se întâmplă în plan politic, așa că m-am gândit să procedez ca la testele-grilă pentru care nu m-am pregătit, recunosc, uneori, în liceu. Când nu sunt foarte sigură pe răspuns, aleg o variantă care-mi sună cât mai plauzibil. Am observat că și părinții mei fac același lucru, pentru că și ei sunt tare ocupați și mai ales obosiți să urmărească toată trăncăneala de pe ecranele televizorului. Și-au făcut aproape o religie din a comuta pe alte posturi când vine vorba de politică, talk-show-uri și dezbateri. Bunicul, care se mai uită uneori, îi critică, deși fără niciun rezultat în fața mâinii fluturate a lehamite. Ca să fiu și mai sinceră, cred că părinții mei au luat-o razna: sunt mandri că nu prea mai urmăresc politică și nu mai știu nimic din ce se mai întâmplă prin țară. Cred că i-a obosit viața. Au ales să se protejeze, să se retragă departe de lumea dezlănțuită. Ei zic ca celor ca tine nu le pasă cu adevărat de omul de rând.

p Așa că înțelegi probabil de ce pentru mine ar fi un triumf neașteptat să le flutur pe sub nas răspunsul tău.

p Îți scriu și pentru că îmi este teamă să nu mă satur exact cum au făcut-o părinții mei. Mă simt în fiecare zi invadată de muzică proastă, oameni obosiți, impolitețuri de tot felul, reclame stridente, informații contradictorii, drumuri blocate, șoferi nevrotici și miros de mâncare proastă. Ca să mă protejez, am învățat să fac alegeri nepopulare: nu-mi cumpăr niciodată șamponul cu reclama cea mai agresivă, nu intru deloc în farmaciile care au bannere uriașe și jingle-uri interpretate de cântăreți consacrați. Nu-mi iau fructe de la supermarket, nu merg la filmele de box-office, nici pe plajele cele mai aglomerate de pe litoralul nostru nu-mi place să mă plimb.

p După același sistem, m-am gândit să votez pentru tine. Pe toate posturile tv apar veșnic 2-3 candidați. N-am ureche pentru argumentele lor pro și contra, nu le înțeleg certurile, nu mă amuză cancanul atacurilor personale. E suficient să le văd fața zi de zi ca să înțeleg că e ceva putred la mijloc. Că cineva îi "vinde" agresiv, că disputele lor ne sunt băgate pe gât si imaginea lor lipita de retină în același stil în care sunt promovate brandurile de pe piață: primitiv, obsesiv si arogant.
p Pentru mine tu ești deocamdata un "produs" discret. Pentru că nu mă deranjează prezența lui, sunt aproape sigură că poate fi valoros. Am învățat, din păcate, că greșesc mai puțin cu gândirea asta pe dos: tot ce e colorat și sună bine e cel mai adesea o mare minciună în țara asta. Așa că am să bifez răspununsul cel mai plauzibil: am să suprapun peste forța pe care o proiecteză marii candidați de pe ecran imaginea ta subțire și aparent vulnerabilă. Am să aleg printre hainele frumoase și strălucitoare ale candidaților, stilul tău de funcționar modest, în speranța că el arată preocupări adevărate. Am să elimin din grila de posibilități, discursurile elaborate , denumirile nu știu căror partide și am să încercuiesc un nume care n-are nimic în spate.

p Votul meu o să fie împotriva curentului. Împotriva tuturor lucrurilor care mă enervează în drum spre casă. O să fie de dragul lucrurilor subtile, discrete și fără zorzoane în care cred. Nu știu exact ce se ascunde în spatele numelui tău. Recunosc, nu prea am urmărit. Am doar câteva instincte educate trist de piața românească și jurnalismul cancanistic de pe tv.


p Promite-mi cumva că n-o să mă păcălesc. Sau dă-mi, te rog, șansa să le arăt părinților mei că mai există cinevă căruia îi pasă!
