- locals.date = '2014-10-27 12:00';
- locals.thumb = '/assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg';
- locals.title  = 'Am creat DNA, am pornit reforma în justiţie, sunt incoruptibilă, neşantajabilă şi ce am spus că fac am făcut';
- locals.slug = 'mm-ce-am-spus-ca-fac-am-facut';
- locals.preview = 'Am decis să candidez independent deoarece consider că a venit momentul ca România să aibă un preşedinte al oamenilor, nu al partidelor. Un preşedinte care să ia decizii pentru oameni, nu pentru clientela de partid. Îi invit pe toţi cei care vor ca România să continue pe direcţia vest, să aibă o justiţie independentă şi să aibă un preşedinte al oamenilor, să mă voteze. Am creat DNA, am pornit reforma în justiţie, sunt incoruptibilă, neşantajabilă şi ce am spus că fac am făcut. Dorinţa mea este să avem o Românie prosperă, sănătoasă, cu tineri bine educaţi, o Românie în care corupţia, evaziunea fiscală, furtul din banii noştri sunt aspru pedepsite şi în care cei din ţară să îşi dorească să rămână, iar cei din diaspora să dorească să se întoarcă.';
- locals.author = ' Monica PARASCHIV, Marian COMAN';
- locals.source = 'http://www.obiectivbr.ro/%C2%ABam-creat-dna-am-pornit-reforma-in-justitie-sunt-incoruptibila-nesantajabila-si-_id98431';
- locals.tags = ['interviu'];
p Dincolo de gargara politică, dincolo de atacurile la adresa celorlalţi candidaţi, dincolo de afişe cu fotografii cosmetizate în Photoshop, cei care râvnesc la fotoliul prezidenţial şi-au adunat ideile în programe politice. În proiecte ce exprimă viziunea lor asupra României de mâine.

p Sub genericul "Bătălia pe proiecte", cotidianul "Obiectiv - Vocea Brăilei" îţi prezintă o serie de trei interviuri cu prezidenţiabilii cei mai importanţi, ale căror programe le-am publicat pe larg în urmă cu două săptămâni. Scopul acestor interviuri este acela de a încerca să-i facem pe candidaţi să răspundă mult mai aplicat, implicit mai credibil, la întrebări rezultate din temele generale ale propriilor proiecte de ţară. Dacă au răspuns sau nu sincer, tu eşti cel care decide! Fiindcă e bine să fii informat şi să ştii ce votezi!

p Astăzi, Monica Macovei, candidat independent.
 
p 
   em Cu 40 de legi adoptate în primul mandat de europarlamentar, Monica Macovei este cel mai de succes europarlamentar român. Macovei a fost ministrul Justiţiei care a promovat reforma reală a sistemului judiciar şi măsuri anticorupţie fără precedent. Este creatoarea Departamentului Naţional Anticorupţie (DNA) şi tot ea a pus bazele Agenţiei Naţionale de Integritate, instituţii care au început curăţenia pe scena politică, activitatea lor anticorupţie fiind apreciată în Europa şi Statele Unite. Tot Monica Macovei a introdus obligativitatea completării declaraţiilor de avere şi interese pentru funcţionari şi politicieni, aşa încât aceştia să nu-şi mai poată ascunde averile nejustificate, iar în Parlamentul European a scris şi negociat Directiva pentru confiscare extinsă, ce vizează confiscarea averilor celor condamnaţi pentru corupţie ori crimă, chiar dacă acestea sunt trecute pe numele unor rude.

p
   em Monica Macovei şi-a început cariera de procuror (1983 - 1997) instrumentând cazuri penale non-politice de furt, tâlhărie, vătămare etc. La începutul anilor 90, a investigat cazurile de încălcare a drepturilor omului din timpul mineriadei din 13-15 iunie 1990. A făcut cercetări cu privire la arestările ilegale şi a scos de sub urmărirea penală oameni nevinovaţi care fuseseră reţinuţi ilegal între 13-15 iunie 1990, apoi a elaborat un raport detaliat al abuzurilor din iunie 1990. Hărţuită de superiori, Monica Macovei a demisionat din funcţia de procuror în 1997 şi a devenit avocat al drepturilor omului şi, mai târziu, preşedinte al ONG-ului specializat în apărarea drepturilor omului APADOR-CH (1999-2004).

p
   em Monica Macovei a urmat cursurile Facultăţii de Drept din cadrul Universităţii Bucureşti (1978 - 1982) şi are un Master în Drept Constituţional Comparat la Universitatea Central-Europeană (1992-1993).
hr
p 
   strong
      em - Se spune că fără sprijinul Parlamentului nu o să puteţi implementa proiectul dumneavoastră de ţară în cazul în care o să câştigaţi alegerile din noiembrie. În fond, ce posibilităţi există să aplicaţi "cele 10 porunci" fără partid, fără majoritate, fără susţinere în Senat şi Camera Deputaţilor?

p - Atât preşedintele, cât şi membrii Parlamentului răspund oamenilor, pentru că aceştia îi votează. Propunerile din programul meu sunt făcute pentru binele şi bunăstarea oamenilor, ca ei să poată trăi o viaţă decentă în România. De exemplu, eliminarea imunităţii parlamentare, lupta împotriva corupţiei, investiţia în educaţie, crearea de locuri de muncă. Dacă parlamentarii nu vor dori să promoveze aceste legi în favoarea oamenilor, vor trebui să dea socoteală în faţa acestora în 2016 când vor candida din nou. 

p Eu cred că puterea preşedintelui stă în sprijinul pe care-l are din partea oamenilor. Să nu uităm că preşedintele este omul politic din România ales cu cele mai multe voturi, deci este, de departe, cel mai reprezentativ pentru oameni. 

p Preşedintele, apoi, poate negocia anumite lucruri cu membrii din Parlament. Activitatea mea din Parlamentul European, unde am reuşit să negociez cu peste 700 de europarlamentari votarea a 40 de legi, arată că ştiu să negociez eficient. Aşa am reuşit să trec legea confiscării averilor provenite din infracţiuni.

p În ultimă instanţă, preşedintele poate apela şi la referendum dacă nu poate ajunge la o înţelegere cu membrii Parlamentului în folosul oamenilor. Ceea ce ştiu este că nu voi fi niciodată de acord, de pildă, cu o lege de graţiere şi amnistie a corupţilor.
h4
   strong "Dacă parlamentarii nu doresc promovarea acestor legi va trebui să recurg la referendum"
p 
   strong
      em - Concret, ce şanse de reuşită vă acordaţi în ceea ce priveşte eliminarea tuturor imunităţilor pe care şi le-au însuşit demnitarii români?

p - Vedem cu toţii cum parlamentarii îşi apără colegii corupţi. Este clar că lupta eliminării imunităţii parlamentare nu va fi uşoară, însă sunt hotărâtă să o duc până la capăt. Nu se poate ca oamenii care trebuie să facă legi pentru toţi românii să îşi facă legi care să-i protejeze când îi fură pe români. 

p Pe lângă eliminarea imunităţii parlamentare, vreau să introduc şi posibilitatea anulării mandatului unui parlamentar înainte de termen, dacă alegătorii din colegiul său consideră că nu îi mai reprezintă şi nu lucrează în interesul lor. 

p Dacă parlamentarii nu doresc promovarea acestor legi va trebui să recurg la referendum. Am anunţat deja că primul act pe care îl voi emite ca Preşedinte al României va fi decretul de organizare a unui referendum naţional prin care oamenii să decidă dacă sunt de acord cu eliminarea imunităţilor pentru politicieni.

p 
   strong
      em - Dacă ajungeţi preşedintele României, cu cine v-ar plăcea să lucraţi în calitate de prim-ministru?

p -Mi-ar plăcea să lucrez cu un om corect şi competent care împărtăşeşte viziunea mea pentru România. Când am fost întrebată ce premier "de vis" mi-aş dori, am spus Daniel Morar. Cât timp a fost procuror şef la DNA, Daniel Morar a arătat că este un bun manager, că ştie să îşi construiască o echipă de profesionişti, cunoaşte legea şi este de partea românilor. 

p 
   strong
      em - Toţi candidaţii propun reforme în Educaţie. Dumneavoastră susţineţi că "universităţile şi şcolile trebuie curăţate de nepotism, corupţie, plagiatori, impostori". Cum aţi putea reuşi aşa ceva?

p - Principiul de bază pe care eu îl susţin este "depolitizarea" tuturor instituţiilor. Asta înseamnă că singurele funcţii numite politic să fie cea de ministru şi cea de secretar de stat. Aşa este şi în alte ţări, cum ar fi în Statele Unite. De la secretar de stat în jos, toate funcţiile trebuie să fie ocupate de oameni profesionişti, de tehnocraţi, care sunt promovaţi pe bază de competenţe şi examene. Numai în felul acesta putem avea educaţie competentă şi la standarde internaţionale. În acest moment tot sistemul este politizat de sus până jos. Am auzit că sunt cazuri în care până şi femeia de serviciu de la şcoală este numită politic. Modul acesta de numire bazat pe servilism, clientelă politică şi nepotism este principala cauză a corupţiei şi incompetenţei din educaţie.
h4
   strong "Românii trebuie să se trezească sau ţara va fi complet defrişată în câţiva ani"
p 
   strong
      em - În calitate de preşedinte al României ce pârghii aţi avea pentru a opri defrişarea pădurilor aşa cum aţi promis?

p - În primul rând, voi fi garantul unei justiţii independente. E necesar să ai o justiţie independentă, procurori şi judecători incoruptibili, care să oprească aceste abuzuri, după cum am văzut şi în cazul în care sunt implicaţi liderii PSD Hrebenciuc şi Ilie Sârbu, unde este vorba despre retrocedarea ilegală a peste 40.000 de ha de pădure.

p Dacă PSD câştigă Preşedinţia, e clar ce se va întâmpla - se vor fura şi pădurile rămase. Deja s-au furat şi s-au defrişat păduri în valoare de 5 miliarde de euro. Românii trebuie să se trezească sau ţara va fi complet defrişata în câţiva ani. În România sunt defrişate 3 hectare de pădure în fiecare oră. 

p În al doilea rând, vreau să colaborez mai îndeaproape cu organizaţii din societatea civilă preocupate de soarta pădurilor. În plus, cred că avem nevoie de legi dure împotriva defrişării şi poluării. Cei care poluează trebuie să suporte costul depoluării, cei ce defrişează ilegal trebuie să fie obligaţi să reîmpădurească.

p 
   strong
      em - Aşa cum arată lucrurile acum, credeţi că Justitia ar putea ajunge din nou sub cizma politicului?

p - Judecând după acţiunile celor de la PSD şi chiar a unora din ACL, par că într-acolo vor să ducă lucrurile. Gândiţi-vă că în urmă cu 10 ani, înainte să încep reforma în justiţie, era de neconceput ca un ministru sau parlamentar să fie urmărit penal şi să meargă la închisoare pentru fapte de corupţie. Înainte de 2004, pe timpul guvernării PSD a lui Năstase, dosarele penale erau stabilite la partid. Vă amintiţi stenogramele PSD, când ministru al Justiţiei era Rodica Stănoiu. Pur şi simplu se dădeau ordine politice cine să fie arestat sau urmărit penal. Ca preşedinte voi apăra justiţia independentă. Este important pentru bunul mers al României şi bunăstarea fiecărui român ca Justiţia să rămână independentă.

p 
   strong
      em - Credeţi că România ar putea fi pregătită în următorii 10 ani pentru trecerea la moneda euro?

p - Integrarea deplină în Uniunea Europeană se va realiza atunci când România va fi în spaţiul Schengen şi va adopta moneda euro. Este clar însă că România nu trebuie să adopte euro înainte de a fi pregătită. Altfel vor fi consecinţe dure pentru economie, iar Banca Naţională va avea mâinile legate.
h4
   strong Despre proiectele lui Ponta şi ale lui Iohannis
p 
   strong
      em - Ce reproşati proiectului de ţară al lui Victor Ponta?

p - Victor Ponta nu are un proiect de ţară, ci o sumă de slogane. Hârtia suportă orice. Dacă vă uitaţi însă la trecutul său, vedeţi că tot ce a spus a fost în foarte mare măsură o minciună. Apoi, Ponta a condus cel mai incompetent guvern, preocupat mai mult de bunăstarea corupţilor din PSD decât de soarta oamenilor. A lăsat oamenii fără medicamente de cancer sau SIDA, copiii au rămas fără manuale, a politizat chiar şi sportul. A mărit taxele şi a introdus taxe noi, forţând companiile să trimită oameni în şomaj. A ridicat acciza la combustibil spunând că va face autostrăzi, ca apoi să se dovedească iar că a minţit. În concluzie, unui hoţ şi unui mincinos nici sloganele nu-i pot fi credibile. 

p 
   strong
      em - Dar proiectului "România lucrului bine făcut" al lui Iohannis?

p - Pot fi idei bune în acest proiect. Problema nu este proiectul în sine. Problema este că în spatele lui Iohannis, ca şi în spatele altor candidaţi ai partidelor, stau grupuri de interese dubioase care văd România ca o pradă pe care să o împartă între ei. Iohannis l-a ţinut în PNL, de exemplu, pe Sorin Roşca Stănescu până când acesta era pe scările închisorii. În acest moment în PNL sunt condamnaţi penal şi colaboratori ai Securităţii. Senatorul Chiuariu, condamnat definitiv, este chiar în Comisia juridică. Toţi aceşti penali vor negocia poziţii cu Iohannis dacă va ieşi preşedinte. Aţi văzut din stenograme cum se negociază poziţiile în PSD. Şi din PNL au ieşit în presă stenograme.

p Am decis să candidez independent deoarece consider că a venit momentul ca România să aibă un preşedinte al oamenilor, nu al partidelor. Un preşedinte care să ia decizii pentru oameni, nu pentru clientela de partid. Îi invit pe toţi cei care vor ca România să continue pe direcţia vest, să aibă o justiţie independentă şi să aibă un preşedinte al oamenilor, să mă voteze. Am creat DNA, am pornit reforma în justiţie, sunt incoruptibilă, neşantajabilă şi ce am spus că fac am făcut.

p Dorinţa mea este să avem o Românie prosperă, sănătoasă, cu tineri bine educaţi, o Românie în care corupţia, evaziunea fiscală, furtul din banii noştri sunt aspru pedepsite şi în care cei din ţară să îşi dorească să rămână, iar cei din diaspora să dorească să se întoarcă.
.row
   .col-sm-3
   .col-sm-6
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width="560" height="315" src="//www.youtube.com/embed/i5fAP-IDFmU" frameborder="0" allowfullscreen)
   .col-sm-3