- locals.date = '2014-10-14 17:00';
- locals.thumb = '/assets/img/posts/MM_web3.jpg';
- locals.title  = 'Monica Macovei: Ponta trebuie să demisioneze în acest moment din funcția de prim-ministru și să-și retragă candidatura pentru funcția de președinte al României ';
- locals.slug = 'ponta-trebuie-sa-demisioneze-in-acest-moment';
- locals.preview = 'După demisie și retragere, Victor Ponta trebuie să explice oamenilor de ce a încălcat Constituția și a mințit atâția ani. Potrivit Constituției, Ponta, ca procuror, nu avea voie să fie și ofițer SIE, între cele două funcții existând o incompatibilitate.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (14 octombrie 2014) – Monica Macovei – Declarație de presă

h3 Ponta trebuie să demisioneze în acest moment din funcția de prim-ministru și să-și retragă candidatura pentru funcția de președinte al României


p După demisie și retragere, Victor Ponta trebuie să explice oamenilor de ce a încălcat Constituția și a mințit atâția ani.

p Potrivit Constituției, Ponta, ca procuror, nu avea voie să fie și ofițer SIE, între cele două funcții existând o incompatibilitate. Incompatibilitatea este prevăzută la art. 132 alin. 2 din Constituția în vigoare, și la art. 131 alin. 2 din Constituția în vigoare între 1991 și 2003.

p Ponta și cei din SIE, care l-au recrutat pe Ponta încălcând Constituția, trebuie să răspundă.

p Mai multe întrebări apar după dezvăluirea făcută de președinte, că Ponta a fost ofițer acoperit SIE în perioada 1997-2001:
ol(type='1')
  li Ce încredere pot avea românii și partenerii NATO ai României într-un prim-ministru fost ofițer acoperit și care, probabil, spiona aliații occidentali ai României?

  li Ce încredere pot avea românii și partenerii NATO ai României într-un prim-ministru fost ofițer acoperit care intervine în favoarea unei companii rusești suspectate de evaziune fiscală și spălare de bani la indicațiile ambasadorului rus? 

  li Ce încredere pot avea românii și partenerii NATO ai României într-un prim-ministru fost ofițer acoperit care a cedat total inexplicabil, printr-o inginerie financiară, către Kaz Munai Gaz, 400 de milioane de dolari pe care compania îi datora statului român?

  li Ce încredere să aibă românii și partenerii NATO în el ca prim-ministru sau președinte?

  li Îl au rușii la mână cu ceva pe ofițerul Ponta? Sau Ponta e un simplu șpăgar? Poate fi prim-ministru sau candidat la Președinție un astfel de om?