- locals.date = '2014-09-12 13:00';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = 'Monica Macovei cere Parlamentului să clarifice de urgență informațiile privind un posibil candidat - “ofițer acoperit”';
- locals.slug = 'comunicat-de-presa-ofiter-sub-acoperire';
- locals.preview = 'Monica Macovei, candidat independent la președinția României, a trimis astăzi, 12 septembrie 2014, președinților comisiilor parlamentare de control al activității SRI și SIE, o scrisoare prin care le solicită să se sesizeze "de urgență"" pentru a clarifica afirmațiile Președintelui României că în rândul actualilor candidați la președintie ar exista "ofițeri sub acoperire"';
- locals.author = 'Monica Macovei Presedinte';
- locals.source = '';
- locals.tags = ['declaratie'];

figure.pull-right
  img.img-responsive(src="/assets/img/posts/mm-white.png", style="max-width: 15em; padding: 0 0 1em 1em;")

p Monica Macovei cere Parlamentului să clarifice de urgență informațiile privind un posibil candidat - “ofițer acoperit”

p Monica Macovei, candidat independent la președinția României, a trimis astăzi, 12 septembrie 2014, președinților comisiilor parlamentare de control al activității SRI și SIE, o scrisoare prin care le solicită să se sesizeze „de urgență” pentru a clarifica afirmațiile Președintelui României că în rândul actualilor candidați la președintie ar exista “ofițeri sub acoperire”.

p  Solicitarea vine după ce ieri Monica Macovei a cerut verbal comisiilor permanente de control al SRI și SIE să clarifice aceste afirmații. 
blockquote „Ar fi un lucru foarte grav și un atentat la democrație în România ca viitorul președinte să fie «ofițer sub acoperire»”, a afirmat Monica Macovei în scrisoarea trimisă președinților comisiilor parlamentare.

p Monica Macovei susține că „afirmațiile președintelui trebuie clarificate instituțional”, motiv pentru care comisiile de control al SRI și SIE trebuie să-i audieze pe directorii celor două servicii de informații pentru a afla adevărul.

blockquote „Avem servicii de informații care s-au reformat în procesul de aderare și colaborare cu NATO, iar în timp au dat dovadă de profesionalism, apreciat inclusiv de partenerii externi”, a susținut Monica Macovei.

blockquote „Afirmațiile că, într-un fel sau altul, serviciile de informații românești ar fi implicate în procesul electoral vulnerabilizează aceste instituții și discreditează munca atâtor profesioniști care veghează la securitatea României”, se mai precizează în scrisoarea trimisă de Monica Macovei președinților comisiilor parlamentare.

p Monica Macovei susține că este de datoria comisiilor parlamentare să evite decredibilizarea SRI și SIE și să asigure “cetățenii români și partenerii externi că procesul democratic din România nu este viciat, iar viitorul președinte al României nu va fi un "agent acoperit", va fi ales de oameni și va lucra pentru oameni”. 
p Monica Macovei este candidat independent la președinția României și a respins categoric că ar fi „ofițer sub acoperire”. 

p În decursul activității sale publice, Monica Macovei a afirmat în repetetate rânduri că serviciile de informații trebuie să fie independente, și să nu se implice în politică. 
p Mai mult, Monica Macovei este cea care a introdus în legea 247/2005, care modifică Statutul magistraților, prevederea că judetorii și procurorii “nu pot fi lucrători operativi, inclusiv acoperiți, informatori sau colaboratori ai serviciilor de informații“. 
