- locals.date = '2014-10-09 18:00';
- locals.thumb = '/assets/img/posts/victor-ponta.jpg';
- locals.title  = 'Ponta a îngenunchiat România în fața oligarhilor ruși de la Lukoil.';
- locals.slug = 'victor-ponta-a-ingenunchiat-romania-in-fata-oligarhilor-rusi';
- locals.preview = 'Ponta i-a trădat pe români și interesul national în clipa în care a cedat șantajului rușilor și a criticat sechestrul pus de procurori pe bunurile Lukoil, o măsură menită să ofere garanții că am putea recupa prejudiciul de aproximativ 230 de milioane de euro din evaziune fiscală și spălare de bani.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];

p
  em (București, 9.10.2014) Monica Macovei – Declarație de presă

p
  strong Ponta a îngenunchiat România în fața oligarhilor ruși de la Lukoil.

p Ponta i-a trădat pe români și interesul national în clipa în care a cedat șantajului rușilor și a criticat sechestrul pus de procurori pe bunurile Lukoil, o măsură menită să ofere garanții că am putea recupa prejudiciul de aproximativ 230 de milioane de euro din evaziune fiscală și spălare de bani.

p Victor Ponta a arătat în acest caz că nu știe să negocieze în favoarea României, făcând concesii de nepermis rușilor și vulnerabilizând România.

p Cum va reacționa Victor Ponta, dacă va fi ales președinte, în cazul în care Rusia pune presiune pe România? Ce va ceda? Ce concesii îi va face lui Putin?

p Ponta, prin atacul iresponsabil la adresa procurorilor, a creat un precedent periculos pentru statul de drept din Romania, care este exploatat deja de către ruși. Astfel, vice-președintele Lukoil România vorbește de eventuale “compromisuri” și înțelegeri cu procurorii.

p Acum se poate vedea cât de nocive au fost atacurile lui Victor Ponta la procurorii care au aplicat legea. Rușii, încurajați de susținerea lui Ponta, vor să negocieze cu Justiția română așa cum o fac probabil și cu Justiția rusă.

p În aceste condiții, solicit CSM să verifice presiunile pe care Victor Ponta, ambasadorul Rusiei și vice-președintele Lukoil România le-au făcut asupra anchetei procurorilor.

ol
  li A influențat Ponta deciziile procurorilor privind ridicarea unei părți din sechestru pus inițial pe bunurile Lukoil?
  li A influențat deciziile procurorilor declarația ambasadorului rus că ancheta să continue “ținând cont în mod cuvenit de interesele relațiilor ruse-române”?
  li A determinat vice-președintele Lukoil România un posibil “compromis” cu procurorii?
  li A fost vreun procuror prezent la discuții cu compania Lukoil?
  li Ce influență are procurorul Silvia Nițu, șefa Secției urmăriri penale la Parchetul de pe lângă Curtea de Apel Ploiești, asupra anchetei în cazul Lukoil?

p De asemenea, ii cer lui Victor Ponta să le spună românilor dacă a primit bunuri, indiferent de forma acestora (cum ar fi apartamente), direct sau prin intermediari de la persoane cu legături cu Lukoil sau Microsoft.

p Șantajul Lukoil asupra lui Victor Ponta arată de ce este important ca președintele să fie independent și să garanteze independența justiției.

p Ca președinte voi susține în continuare, așa cum am făcut-o și până acum, întărirea statului de drept și a instituțiilor sale fundamentale. Nu voi permite nimănui, niciodată, să fure și să șantajeze cetățenii României.

p România are nevoie de investitori și de locuri de muncă.“Investitorii” care nu respectă legea românească au un singur lucru de făcut: să plece acasă.
