- locals.date = '2014-10-20 15:30';
- locals.thumb = '/assets/img/posts/mm-conf-presa-24.jpg';
- locals.title  = 'Monica Macovei: Căpetenia mafioților PSD este aleasă doar acea persoană care garantează imunitatea penalilor. Primul lucru pe care îl voi face ca președinte este să elimin imunitatea politicienilor.';
- locals.slug = 'primul-lucru-pe-care-il-voi-face-este-sa-elimin-imunitatea-politicienilor';
- locals.preview = 'Primul act pe care îl voi emite ca Președinte al României va fi decretul de organizare a unui referendum național prin care oamenii să decidă dacă sunt de acord cu eliminarea imunităților pentru politicieni.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (20 octombrie 2014) Monica Macovei – Declarație de presă

p
  strong Căpetenia mafioților PSD este aleasă doar acea persoană care garantează imunitatea penalilor. Primul lucru pe care îl voi face ca președinte este să elimin imunitatea politicienilor.
p Lui Hrebenciuc îi este frică că ajunge în pușcărie. Așa cum le este frică multor politicieni PSD. Și pentru a scăpa de închisoare își fac legi de grațiere sau vor să scoată infracțiuni din legile existente, ca să nu mai răspundă pentru faptele lor.
p Ponta și PSD, ajutați de Voiculescu și PNL, au mai încercat de câteva ori să treacă prin Parlament o lege prin care să îi grațieze pe corupți. Ultima încercare a fost pe 10 decembrie 2013, în “marțea neagră”.
p Acum avem și dovada că politicienii USL nu se gândesc nici la aglomerația din închisori, nici la grațierea unor persoane condamnate pentru găinării. Scopul lor era să se pună la adăpost în caz că vor fi condamnați la închisoare pentru fapte de corupție.
p Avem și proba cea mai clară cum se ajunge președinte la PSD. Se negociază imunitatea în fața legii. Căpetenia mafioților este aleasă doar acea persoană care garantează găștii penalilor că îi va scăpa de pușcărie. Așa a ajuns și Ponta, așa ar fi urmat să ajungă și Șova.
p Planurile PSD de blocare a justiției sunt evidente. Ponta, Hrebenciuc, Șova, Dragnea, Sârbu și alți lideri PSD sunt mândri că sunt corupți.
p De aceea, este tot mai clar că parlamentarii, miniștrii și președintele țării nu trebuie să beneficieze de imunitate. Primul act pe care îl voi emite ca Președinte al României va fi decretul de organizare a unui referendum național prin care oamenii să decidă dacă sunt de acord cu eliminarea imunităților pentru politicieni.