- locals.date = '2014-10-14 20:00';
- locals.thumb = '/assets/img/posts/mm-conf-presa-24.jpg';
- locals.title  = 'Monica Macovei: Ponta are două modele în politică: Partidul Popular Chinez și Putin. Comunismul și KGB-ul.';
- locals.slug = 'victr-ponta-are-doua-modele-politice';
- locals.preview = 'Ponta spune că nu demisionează și nu își retrage candidatura după ce s-a aflat că a fost spion și a încălcat Constituția. A găsit și o explicație jignitoare pentru români: nu dă curs cererii, pe motiv că retragerea lui din cursa prezidențială nu mi-ar crește mie șansele să câștig.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (15 octombrie 2014) – Monica Macovei – Declarație de presă

h3 Ponta are două modele în politică: Partidul Popular Chinez și Putin. Comunismul și KGB-ul.

p Ponta spune că nu demisionează și nu își retrage candidatura după ce s-a aflat că a fost spion și a încălcat Constituția. A găsit și o explicație jignitoare pentru români: nu dă curs cererii, pe motiv că retragerea lui din cursa prezidențială nu mi-ar crește mie șansele să câștig.

p Nu pentru mine trebuie să demisioneze Ponta, ci din respect pentru lege și spre binele acestui popor. Nu îi ajută pe ceilalți candidați retrăgându-se, ci ajută România să scape de un spion ilegal care mai vrea să fie și președintele țării. Este nedemocratic și este deja o vulnerabilitate pentru România ca în funcția de prim-ministru să fie un spion recrutat cu încălcarea legii.

p Ponta și-a luat ca model politic Partidul Popular Chinez, care a distrus orice formă de opoziție politică, iar ca model de politician pe Putin, ofițer KBG.
Am aflat ieri de la socrul lui, Ilie Sârbu, că ginerele Ponta candidează pentru că a fost împins de baronii din PSD. Sârbu știe ce vorbește, el însuși fiind cercetat de DNA într-un dosar de corupție.

p Ponta este un om de paie, controlat de baronii și mafioții din PSD care îl țin în funcția de prim-ministru, pentru că au probleme cu justiția și vor să aibă garanția că vor scăpa de răspundere cu Ponta în funcția de președinte.

p Inclusiv Ponta a spus că, dacă nu iese președinte, "scapă cine poate".

p Pentru acești baroni Ponta ne-a ridicat taxele și a pus suprataxă la combustibil, mințind că va construi autostrăzi. Erau bani pentru pomeni electorale.

p Vă promit că jaful baronilor PSD va înceta și vor învăța și ei să respecte legea în țara asta, atunci când voi ajunge Președinte. Adică pe 16 noiembrie 2014.
