- locals.date = '2014-10-27 12:00';
- locals.thumb = '/assets/img/posts/mm-alb-negru.jpg';
- locals.title  = 'Programul candidatului independent Monica Macovei – luni, 27 octombrie 2014';
- locals.slug = 'program-mm-27-oct';
- locals.preview = 'Monica Macovei, candidat independent la Președinția României, se întâlnește luni, 27 octombrie 2014, cu voluntarii și alegătorii din Piatra Neamț și Bacău.';
- locals.author = '';
- locals.source = '';
- locals.tags = ['articol'];
p
   em (27 octombrie 2014) – Monica Macovei – Anunț de presă 
 
 
h3
   strong Programul candidatului independent Monica Macovei – luni, 27 octombrie 2014
 
 
p Monica Macovei, candidat independent la Președinția României, se întâlnește luni, 27 octombrie 2014, cu voluntarii și alegătorii din Piatra Neamț și Bacău.
 
p
   strong Piatra Neamț
 
p 11:30 - 13:00 - Întâlnire cu alegătorii – traseu Piața Centrală - Casa de Cultură – Liceul de Artă, urmată de o conferință de presă.
 
p 14:00 -15:00 - Întâlnire cu simpatizanți (sala Calistrat  Hogaș a CJ Neamț)
 
p
   strong Bacău
 
p 16.00 - 16.50 - Întâlnire cu alegătorii  - B-dul Republicii
 
p 17.00 - 17.30 – Discuții cu voluntari și simpatizanți, Hotel President
 
p 17.30 - 18.30 – Întâlnire cu alegătorii - Bulevard Nicolae Balcescu  
 
p 18.30 - 19.00 - Conferința de presă, Hotel President
 
p 19.00 - 20.00 – Întâlnire cu alegătorii - zona Arena Mall.  