- locals.date = '2014-08-28';
- locals.thumb = '/assets/img/posts/10640992_669804803114700_8844647990036706253_n.jpg';
- locals.title  = 'Rusia atacă. România trebuie să strângă rândurile cu SUA și NATO';
- locals.slug = 'monica-macovei-rusia-ataca';
- locals.preview = 'Condamn categoric agresiunea Rusiei împotriva independenței și integrității teritoriale a Ucrainei. Președintelui Ucrainei a declarat că "invazia forțelor ruse s-a produs în Ucraina". ';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';

p Condamn categoric agresiunea Rusiei împotriva independenței și integrității teritoriale a Ucrainei. Președintelui Ucrainei a declarat că "invazia forțelor ruse s-a produs în Ucraina".

p Este important ca fiecare român să realizeze că la granița de est a țării este pericol de război, cauzat de o Rusie care devine tot mai agresivă.

p In astfel de situații de criză, conflict și nesiguranță, parteneriatul strategic cu SUA și apartenența la NATO sunt garanții pentru securitatea României și de aceea este important ca acest parteneriat să se dezvolte.

p Direcția Vest a României este singura cale dreaptă și de protecție a României. Ponta a arătat și astăzi că nu merge pe această cale, ignorând îngrijorările partenerilor occidentali cu privire la ordonanța de urgență care permite suspendarea unei legi doar pentru că PSD vrea să cumpere primari.
