- locals.date = '2014-09-19 16:10';
- locals.thumb = '/assets/img/posts/mm-conf-presa-square.jpg';
- locals.title  = 'Șansele Monicăi Macovei să ajungă președintele României';
- locals.slug = 'ziare-com-sansele-monica-macovei';
- locals.preview = 'In opinia mea, Monica Macovei este un candidat potrivit pentru a scoate Romania din aceasta continua pendulare intre Est si Vest. Consider ca este cel mai important personaj in lupta impotriva coruptiei si ca poate garanta hotararea romanilor de a transforma tara intr-o natiune normala, care are valori si reguli de functionare. Din pacate, pentru ca toate acestea sa se implineasca, mai e nevoie de voturi, multe voturi.';
- locals.author = 'Ziare.com - Emilian Isaila';
- locals.source = 'http://www.ziare.com/monica-macovei/candidat-prezidentiale/sansele-monicai-macovei-sa-ajunga-presedintele-romaniei-1322735';


p O intrebare care se pune astazi frecvent in mediul politic este ce sanse are Monica Macovei sa ajunga in turul doi al prezidentialelor.

p Voi raspunde prin a spune ca acum e primul moment in care, dupa parerea mea, incepe sa aiba sanse. Se afla in plina campanie de strangere a celor 200.000 de semnaturi, o incercare foarte grea pentru un candidat independent. In plus, Monica Macovei e foarte prezenta in peisajul public.

p Apare pe retelele de socializare cu mesaje punctuale, in opinia mea. Nu rateaza nicio dezbatere si creeaza polemici. Consider ca e la cativa ani lumina fata de Elena Udrea care prefera o varianta de comunicare populara prin care incearca sa nu-si supere electoratul.

p La aceasta ora, eu as face predictia ca Monica Macovei va strange mai multe voturi decat Elena Udrea. Dar la ce o va ajuta aceasta victorie? O pune in pozitia de arbitru al turului doi. Voturile ei pot fi decisive pentru a-i asigura victoria lui Iohannis.

p Desi are o sustinere din ce in ce mai mare, cred ca doamnei Macovei ii va fi greu sa ajunga in turul doi. Trebuie sa rezolve o problema de logistica - sa duca reprezentanti in marea majoritate a sectiilor de votare si trebuie sa rezolve si o problema politica - sa obtina sustinerea unui partid.

p Monica Macovei ar putea trece, dupa parerea mea, in fata domnului Iohannis, in cazul in care PDL s-ar desprinde de PNL si ar decide sa mearga cu un candidat propriu. Exista multe neintelegeri intre partenerii din ACL, dar momentan Vasile Blaga mizeaza inca pe Klaus Iohannis.

p In urmatoarele sase saptamani se pot intampla multe. Traian Basescu sustine ca are ofiterul acoperit in maneca si cu declaratia respectiva ar putea reusi sa tulbure apele electorale.

p Presedintele a declarat miercuri seara la TVR 1 ca ofiterul acoperit despre care vorbeste a lucrat in justitie, ceea ce pe unii i-a dus cu gandul la Victor Ponta. E interesant de urmarit cum isi va construi acesta apararea.

p Cert este ca, daca acest lucru se dovedeste a fi adevarat, i-ar putea crea mari probleme candidatului PSD in administrarea relatiilor Romaniei pe plan international. In cel mai bun caz, ar fi privit cu suspiciune.

p S-ar putea ca o astfel de informatie venita de la cel mai inalt nivel sa perturbe drumul lui Victor Ponta spre presedintie, dar intr-un astfel de scandal vor fi importante si reactiile competitorilor.

p In opinia mea, Monica Macovei este un candidat potrivit pentru a scoate Romania din aceasta continua pendulare intre Est si Vest. Consider ca este cel mai important personaj in lupta impotriva coruptiei si ca poate garanta hotararea romanilor de a transforma tara intr-o natiune normala, care are valori si reguli de functionare. Din pacate, pentru ca toate acestea sa se implineasca, mai e nevoie de voturi, multe voturi. 
