- locals.date = '2014-10-08 14:30';
- locals.thumb = '/assets/img/posts/TM 1.jpg';
- locals.title  = 'Un caz de o abjecție rară: Mugur Ciuvică';
- locals.slug = 'un-caz-de-o-abjectie-rara-mugur-ciuvica';
- locals.preview = 'În mod normal nu-mi pierd și nu pierd vremea cititorilor mei cu articole despre rotițele umane din mecanismul de propagandă. E inutil, stăpânii mașinăriei contează, nu ei, ei doar execută.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = 'http://www.contributors.ro/reactie-rapida/un-caz-de-o-abjec%C8%9Bie-rara-mugur-ciuvica/';
- locals.tags = ['articol'];

p
  strong Un caz de o abjecție rară: Mugur Ciuvică
p
  | În mod normal nu-mi pierd și nu pierd vremea cititorilor mei cu articole despre rotițele umane din mecanismul de propagandă. E inutil, stăpânii mașinăriei contează, nu ei, ei doar
  a(href='http://www.agerpres.ro/justitie/2014/07/07/voiculescu-va-fi-un-proces-impotriva-monicai-macovei-10-37-06')  execută
  | . S.O. Vântu a explicat odată,
  a(href='http://www.mediafax.ro/social/stenograme-din-dosarul-sov-discutiile-cu-sefii-realitatea-si-cu-nistorescu-chirieac-si-dragotescu-7490580')  extrem de colorat
  | , cum vine treaba în privința asta. Când este cazul le demontez eventual minciunile, direct sau când le mai prind regurgitate în comentariile de la articolele mele – pățesc uneori așa ceva. De data asta, însă, am să fac o excepție referindu-mă la unul din acești indivizi, asta pentru că e un caz absolut excepțional: cel al lui Mugur Ciuvică.
  p
    a(href='http://www.hotnews.ro/stiri-esential-18262695-dezinformare-antena-3-postul-lui-voiculescu-sustine-monica-macovei-cercetata-diicot-institutia-infirma.htm')  Citesc acum
    |  că dl Ciuvică a depus un denunț împotriva Monicăi Macovei, referitor la declarațiile făcute de aceasta din urmă privind frauda de la referendumul din 2012. Cum spuneam, am să las pe moment de-o parte șirul de minciuni grosiere din jurul acestui caz, propagate bineînțeles de televiziunile dlor Voiculescu și Ghiță; cel puțin una dintre ele a fost demontată imediat.
  p
    | Abjecția de care vorbesc în titlu nu se referă la minciunile acestea, ci la un anumit detaliu: dl Ciuvică o acuză pe Monica Macovei de comiterea infracțiunii numite, pe scurt, ”răspândirea de informații false”. Asta îmi aduce aminte de
    a(href='http://www.contributors.ro/dezbatere/derapaje-antidemocratice-intre-regimul-nastase-%C8%99i-regimul-basescu/')  un episod de acum vreo 13 ani
    | . PSD era atunci la putere, sub conducerea premierului Adrian Năstase, sprijinit între alții de partidul dlui Voiculescu. Pe atunci, criticarea puterii risca să se lase cu repercusiuni personale – motiv pentru care unii preferau să o facă sub protecția anonimatului. Un astfel de email anonim avea să devină celebru sub numele pompos, ”Raportul Armagedon 2”. Nu pentru conținutul acestuia, căci acuzațiile temeinice la adresa dlui Năstase erau deja vehiculate public, ci pentru reacția virulentă a liderului PSD și, la comanda acestuia, a unor procurori obedienți PSD. Aceștia din urmă identifică autorul prezumtiv al materialului, sunt percheziționate locuințele mamei (unde e tăiată linia telefonică), și prietenei sale (care este reținută!), iar el e ridicat de pe stradă. Cum se numea victima acestui abuz? Mugur Ciuvică. Și care era acuzația adusă de procurori? ”Răspândirea de informații false”.
  p
    | Cum spuneam, anii 2001-2004 erau foarte diferiți în această privință de deceniul următor. Reacția la acest abuz al puterii PSD a fost destul de restrânsă, însă foarte vehementă și eficace, încât într-un final procurorii de casă ai PSD au fost obligați să dea înapoi și să renunțe la acuzații. Notabil a fost gestul lui Mircea Toma care s-a autodenunțat ca autor al Raportului – în condițiile dl Ciuvică negase -, provocând astfel procurorii să extindă cazul sau să renunțe la el. N-a fost singurul reprezentant al societății civile care a sărit în apărare. Organizația numită APADOR-CH a denunțat ancheta împotriva dlui Ciuvică drept
    em “un atac foarte grav si nejustificat impotriva libertatii de expresie”
    | , și a demontat apoi temeiurile legale ale dosarului făcut de procuror. Citez din conferința de presă susținută în ianuarie 2002:
  blockquote
    p
      | “Textul din Codul penal se refera la informatiile false care sint raspindite. Deci, trebuie dovedit inainte ca informatiile cuprinse in raportul Armagedon II sint false. O alta conditie a aceluiasi articol este ca raspindirea de stiri false sa puna in pericol fie siguranta nationala, fie relatiile internationale ale Romaniei. Raportul contine informatii privitoare la acte de coruptie ale oamenilor politici, iar daca procurorii pun semnul egalitatii intre imaginea premierului si siguranta nationala este evident ca gresesc”
  p
    | Cine demonta acuzația de ”răspândire de informații false”? Cine era reprezentantul APADOR-CH care susținea această apărare publică împotriva abuzului la care era supus Muguc Ciuvică?
    a(href='http://www.ziaruldeiasi.ro/national-extern/scandalul-armagedon-ii~ni2cvu')  Monica Macovei.
