- locals.date = '2014-09-09';
- locals.thumb = '/assets/img/posts/doina-jela.jpg';
- locals.title  = 'Votez cu Monica Macovei – Contre tout espoir';
- locals.slug = 'doina-jela-contre-tout-espoir';
- locals.preview = 'Voi vota cu Monica Macovei, fiindcă în mod sigur cu ea ar vota Monica Lovinescu, Virgil Ierunca, Vladimir Bukovski, Vaclav Havel, Constantin Ticu Dumitrescu și toți acei oameni dispăruți, din păcate, fără de a căror onestitate, principialitate, consistență morală eu însămi aș bâjbâi oarbă și orbită în descurajanta, confuza, corupta noastră lume.';
- locals.author = 'Doina Jela';
- locals.source = 'http://www.contributors.ro/editorial/votez-cu-monica-macovei-%E2%80%93-contre-tout-espoir/';

figure.pull-right
  img.img-responsive(src="/assets/img/posts/doina-jela.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

p Este foarte probabil ca Monica Macovei să nu câștige alegerile prezidențiale din România înainte de a deveni președinta Parlamentului European. (Mi se pare o campanie mai simplă pentru ea și cu mult mai multe șanse de reușită).

p De ce voi vota totuși cu Monica Macovei?

p Fiindcă tot ce i se cere de către contestatarii ei mă intrigă și mă revoltă. Despre ce-i cere Gâdea/Voiculescu și alți pușcăriași sau pușcăriabili nu vorbesc, asta e clar: aceștia îi cer să ne lase în sosul imund al impunității corupției, cancerul generalizat al societății românești de azi.

p Eu vorbesc despre ce nu le place la ea contestatarilor ei de bună credință, scepticilor, adepților votului util, oamenilor cinstiți, aceia care se exprimă pe aceste foruri.
ol
  li I se cere în primul rând să se îmbrace altfel, să vorbească altfel, să zâmbească altfel, să se tundă altfel. Tot lucruri care țin de aparență, de iluzie, de inducere în eroare, de sfera lui ”minte-mă frumos”, or ea este autentică, directă, simplă, sinceră, constantă, sigură pe valorile în care chiar crede, lipsită de calcule și de dispreț pentru electoratul pe care trebuie să-l disprețuiești ca să-l minți, și trebuie să-l minți ca să-l câștigi. Nu vreau un candidat care mă minte frumos. Prefer medicul care-mi spune privindu-mă în ochi că am cancer, că o să facă tot posibilul să mă scape, dar că s-ar putea să nu reușească, fără participarea mea. Dincolo de o niciodată contrariată afinitate personală, votez deci cu Monica Macovei, contre tout espoir ( literal= 
    em chiar dacă nu ar exista nicio speranță ca ea să câștige
    |), pentru acest motiv.
  li I se cere să-și expună programul, adică să-l aducă eventual personal, pe biroul fiecăruia dintre noi, deși celorlalți candidați și chiar celor aflați acum la toate butoanele, nu li s-a cerut nici să nu fure, nici să nu înșele, nici să nu copieze teza de doctorat, nici să nu fie proști, nici să nu facă declarații iresponsabile și idioate care ne costă pe toți. Or ea, nici nu ajunge să-și expună programul, trebuie să-mi răspundă de ce nu a făcut-o încă și de ce s-a eschivat să scrie în el ce crede despre președintele nostru de bloc, de exemplu.
  li I se cere să mintă pe tema autonomiei Transilvaniei care da, chiar face azi jocul lui Putin, așa cum îl face toată iresponsabila guvernare românească de azi, făcându-se că plouă la accesele de nebunie care au cuprins Rusia.
p Voi vota cu Monica Macovei, fiindcă în mod sigur cu ea ar vota Monica Lovinescu, Virgil Ierunca, Vladimir Bukovski, Vaclav Havel, Constantin Ticu Dumitrescu și toți acei oameni dispăruți, din păcate, fără de a căror onestitate, principialitate, consistență morală eu însămi aș bâjbâi oarbă și orbită în descurajanta, confuza, corupta noastră lume.

p Voi vota cu ea fiindcă nu disprețuiește ”plebea” și pe ”zarzavagiu” și ”populația needucată”, care încurcă socotelile atâtor spirite alese în țara asta obligându-le să-și ia lumea în cap, ca să aibă de unde tânji, vitupera, deplânge, decăderea patriei părăsite și imposibil de înlocuit.

p Voi vota cu Monica Macovei fiindcă nu-l flatează pe „zarzavagiu”, nu ignoră „plebe”a și nu întoarce spatele „populației needucate”, care nu este nici de la stânga și nici de la dreapta, ci pur și simplu din realitatea sufocantă în care trăim toți, și nu știm ce să facem ca s-o facem mai puțin imundă.

p Voi vota cu ea, fiindcă da, chiar pe mine, împreună cu toți aceștia mă reprezintă, fiind nu doar vocea limpede a celor fără de voce, ci chiar puterea celor fără de putere, pe care doar justiția o poate reprezenta, oriunde în lume. Monica Macovei ne reprezintă pe toți, mai puțin mafia transpartinică de la putere, care se teme, desigur de ea și o urăște.

p Voi vota cu ea fiindcă mesajul ei e transideologic și transpartinic, cum sunt înseși corupția și minciuna de partid și de stat împotriva cărora vorbește, mult mai limpede și accesibil ”plebei” decât toate gargariselile, depășite de mult, căci goale de conținut, despre dreapta și stânga, și infinit mai limpede decât șmecheriile semidocte și golănești ale celui mai periculos contracandidat al ei, cel care baga groaza în mine prin fiecare declarație delirantă la care mă condamnă zilnic.

p Voi vota cu Monica Macovei fiindcă deși știe, ca și ”plebea” și chiar mai bine ca ea, că ”toți sunt niște hoți și niște bandiți”, nu este ”sceptică”. Septicismul: trăsătura cea mai lăudată și cea mai păguboasă a acelor compatrioți ai noștri, bătrâni înainte de a fi adulți, care uită, sau poate nu știu, că să fii responsabil înseamnă inclusiv să vrei să controlezi ce fac alții, infinit mai puțin deștepți și competenți ca tine, cu viața ta și să nu-i lași să facă. De politicieni, vorbesc, cei care ne-au multiplicat mișelește, făcându-ne din vorbe, taxele, dările, birurile.

p (Ca om care stă la țară câte două-trei luni pe an, în România profundă, cum ar veni, pot să spun că ”zarzavagiul”, de care a vorbit cu atâta stimă și dragoste aristocratul, burghezul Havel, nu e sceptic. Atunci când nu crede în politicienii noștri, cred în Dumnezeu, în valoarea muncii sale și în oameni cu frica lui Dumnezeu, ca Monica Macovei. Chiar dacă mesajul ei ajunge greu la ei.

p Voi vota cu ea, fiindcă, deși este fragilă ca o trestie, nu se teme de ”dezamăgire”, ca prietenii mei cinstiți, dar sceptici. Adică fricoși. Nenorocita asta de frică, alt semn de imaturitate bovarică ce ne luminează absenteismul, ascunzându-se sub tot felul de nume măgulitoare: prudență, înțelepciune, neamestec în mocirla politicii. Și nu o cred deloc o luptătoare cu sabia, o amazoană și altele. Ba chiar o știu puternică și vulnerabilă, ca toți, puținii oameni autentici, de altfel.

p Voi vota cu Monica Macovei fiindcă în fine să-ți pierzi speranța, să-ți fie frică de speranță, și s-o refuzi, mi se pare supremul păcat împotriva firii, echivalent cu moartea psihică și morală. Acum când mi se ivește la orizont o asemenea speranță, ar fi un păcat de moarte să-mi fie frică să mă agăț de ea.

p Voi vota în fine cu Monica Macovei din recunoștință, pur și simplu.

p Ca să-i răsplătesc cumva consumul incredibil de energie, spiritul de sacrificiu și curajul. Monica Macovei este, ca și Traian Băsescu, un om cu o profesie în care și-a dovedit competența și în care a crescut continuu. Este azi cel mai apreciat europarlamentar român și unul dintre cei mai remarcați și apreciați din tot Parlamentul European. Site-ul ei dar și al Parlamentului European conține toate realizările ei extraordinare și sunt cu atât mai credibile cu cât sunt validate din exterior. Or ea renunță la această ultimă poziție, civilizată și susceptibilă să-i dea satisfacția de a sluji România, cu riscuri ceva mai mici decât cele pe care le asumă intrând în mașinăria de distrugere care e viața publică din România și o face, ea însăși, 
  em contre tout espoir
  |. Iar eu să nu pot să fac în semn de gratitudine, acest minim gest de a pune în urnă votul meu?

p Voi vota cu ea, ca să-mi dau mie însămi o șansă. Fiindcă numai dacă votez în turul I cu Monica Macovei , am șansa să votez și în turul II tot cu ea!

strong PS.

p Titlul meu reproduce titlul unei cărți fundamentale a memorialisticii din vremurile când să spui ce simți te putea costa viața și când nu prea aveai cum simți decât durere.

p Cartea aparține Nadejdei Mandelstam, soția poetului Osip Mandelstam, cel care a murit în Gulag pentru numai câteva strofe despre înfricoșătorul tiran de la Kremlin. Titlul cu care a apărut cartea și în limba română nu redă întrutotul sensul pe care titlul francez îl surprinde cu fidelitate, de aceea și nu dintr-o fandoseală inoportună aici, unde trebuie să vorbim scurt și la obiect, l-am dat pe cel francez. Din cartea asta, din cărțile și din faptele unui Soljenițîn, Șalamov, Vasile Paraschiv, Bukovski, Monica Lovinescu, Virgil Ierunca am învățat că nimic trainic nu s-a făcut pe lumea asta decât atunci când s-a făcut 
  em contre tout espoir.
