- locals.date = '2014-09-24 15:00';
- locals.thumb = '/assets/img/posts/mm-conf-presa-24.jpg';
- locals.title  = 'Scrisoare deschisă adresată candidatului ACL Klaus Johannis';
- locals.slug = 'scrisoare-deschisa-adresata-candidatului-klaus-johannis';
- locals.preview = 'Dacă demersul dumneavoastră este cinstit și vă doriți cu adevărat consolidarea democrației și a statului de drept în România, sunt convinsă că veți include propunerile mele în Pactul Național pentru Stabilitate și Democrație si le veți aplica imediat.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['conferinta'];


figure.pull-right
  img.img-responsive(src="/assets/img/posts/mm-conf-presa-24.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

p Stimate domnule Klaus Johannis,

p Am luat act de invitația pe care mi-ați adresat-o de a mă alătura și de a semna Pactul Național pentru Stabilitate și Democrație. Susțin acest demers numai dacă acesta este complet onest și adăugați următoarele:
ol
  li Să respingem "asaltul împotriva instituțiilor democratice și statului de drept” nu doar al actualei puteri, ci și al fostei puteri PSD și PNL, adăugând pe lista dumneavoastră ordonanțele de urgență date împotriva statului de drept în iulie 2012 și greșelile cunoscute sub numele de „marțea neagră”, prin care deputații PSD și PNL au votat „super-imunitatea” demnitarilor pe 10 decembrie 2013.
  li Să ne propunem ca obiectiv asigurarea funcționării normale și depolitizării tuturor instituțiilor, nu doar a celor menționate de dumneavoastră (CNA, TVR, Curtea de Conturi, ASF, DGIPI). Aceasta se poate face în mod practic, angajându-ne cu toții să nu mai facem numiri politice decât pentru funcțiile de miniștri și secretari de stat.
  li Să ne propunem ca obiectiv eliminarea din Parlamentul României a tuturor membrilor care au decizii definitive de incompatibilitate pronunțate de instanțe și excluderea din partid a tuturor membrilor care au condamnări definitive sau care au fost declarați colaboratori ai Securității.

p Dacă demersul dumneavoastră este cinstit și vă doriți cu adevărat consolidarea democrației și a statului de drept în România, sunt convinsă că veți include propunerile mele în Pactul Național pentru Stabilitate și Democrație si le veți aplica imediat.

p Potrivit punctului 3, senatorul PNL Daniel Akos Mora și deputatul PDL Ștefan Stoica trebuie să plece din Parlamentul Romaniei, ambii fiind declarați incompatibili prin decizii definitive și irevocabile. De asemenea, senatorul PNL Tudor Chiuariu, condamnat definitiv pentru corupție, cade sub incidența aceluiași punct 3 și ar trebui exclus din PNL.

p Numai dacă adevărul este intreg și numai dacă deputații din ACL declarați incompatibili, condamnați definitiv sau găsiți colaboratori ai Securității sunt excluși, Pactul propus de dumneavoastră poate fi credibil pentru electorat și îl pot semna.

p Monica Macovei
