- locals.date = '2014-10-06 12:00';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = ' Monica Macovei: Tăriceanu fuge de o confruntare directă cu mine';
- locals.slug = 'tariceanu-fuge-de-o-confruntare-directa';
- locals.preview = 'Monica Macovei: În această seară, la TVR 1 trebuia să aibă loc o dezbatere electorală între mine și Călin Popescu Tăriceanu. Participarea a fost stabilită prin tragere la sorți. TVR m-a anunțat că domnul Tăriceanu refuză să participe la dezbatere și își va trimite purtătorul de cuvânt. Am solicitat postului public de televiziune să fie lăsat scaunul liber dacă nu vine domnul Tăriceanu, pentru că oamenii vor vota candidații, și nu purtătorii noștri de cuvânt. ';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (6 octombrie 2014) - Monica Macovei – Declarație de presă

p
  strong Monica Macovei: 
    em Tăriceanu fuge de o confruntare directă cu mine

p În această seară, la TVR 1 trebuia să aibă loc o dezbatere electorală între mine și Călin Popescu Tăriceanu. Participarea a fost stabilită prin tragere la sorți.   
p TVR m-a anunțat că domnul Tăriceanu refuză să participe la dezbatere și își va trimite purtătorul de cuvânt. Am solicitat postului public de televiziune să fie lăsat scaunul liber dacă nu vine domnul Tăriceanu, pentru că oamenii vor vota candidații, și nu purtătorii noștri de cuvânt. 
p
  | În plus, temele majore despre care doresc să vorbesc cu domnul Tăriceanu, sau cu moderatorul TVR dacă dânsul nu participă, sunt: 
  strong independența justiției
  |, 
  strong lupta anticorupție
  |, 
  strong politica externă 
  | și 
  strong siguranța națională
  |. Aceste teme se regăsesc între prerogativele Președintelui României, și nu putem accepta ca dezbaterea publică să fie parazitată de teme care nu țin de profilul unui candidat la Președinție. 

p Refuzul domnului Tăriceanu de a participa la dezbaterea cu mine de la TVR este un afront la adresa românilor și o dovadă în plus că acesta nu face decât jocul PSD. Nici Victor Ponta nu a avut curaj să participe la o dezbatere și și-a trimis un reprezentant.
p
  strong Îi solicit pe această cale domnului Tăriceanu să aibă curaj și să vină la o dezbatere deschisă cu mine, la TVR, pe teme de interes pentru români și care intră în prerogativele Președintelui României.
p Este o sfidare la adresa tuturor românilor ca un candidat să își trimită un reprezentant să vorbească despre temele lui la dezbaterile electorale de la Televiziunea publică, și așa reduse ca număr. 
p 
  strong Cum vor putea candidați ca Tăriceanu ori Ponta să reprezinte interesele României, dacă ajung președinți, când ei fug de o dezbatere televizată?
.row
  .col-xs-4
  .col-xs-4
    a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/Tariceanu fuge de dezbaterea televizata 6 oct.docx", rel="download")
     | Descarcă
     br
     | declarația integrală
  .col-xs-4