- locals.date = '2014-09-23 12:00';
- locals.thumb = '/assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg';
- locals.title  = 'România în ape tulburi și rușii la graniță';
- locals.slug = 'declaratie-politica-romania-in-ape-tulburi';
- locals.preview = 'România trebuie să întărească relația cu Statele Unite și NATO și cu ceilalți parteneri din Vest, acum când în joc este viitorul României și al regiunii. Numai un președinte credibil, serios, clar pro-Vest și fără un trecut dubios poate garanta siguranța, libertatea și democrația în România.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';


figure.pull-right
  img.img-responsive(src="/assets/img/posts/mm-conferinta-presa-demisie-pdl.png", style="max-width: 15em; padding: 0 0 1em 1em;")

h1 România în ape tulburi și rușii la graniță

p Asistăm în acest moment la o adevarată operațiune de vulnerabilizare a României și discreditare a instituțiilor de securitate națională.

Teodor Meleșcanu, până ieri șef al Serviciului de Informații Externe (SIE), își depune candidatura la Președinție, după ce semnăturile i-au fost strânse, în timp ce se afla la conducerea SIE, de sindicatul pro-rus al cadrelor militare în rezervă, p condus de colonelul Dogaru. Colonelul Dogaru este cel care a semnat în 2012 un protocol cu PSD și PNL pentru desființatea Curții Constitutionale, DNA, ANI și CNSAS.

p Legătura dintre sindicatul colonelului Dogaru și agenții de influență ruși este de notorietate. Alexandr Dughin, consilier personal al lui Putin și ideologul din spatele conceptului de Euroasia, a fost în repetate rânduri la București, unde s-a întâlnit cu colonelul Dogaru.

p Theodor Meleșcanu trebuie să răspundă la câteva întrebări:
ol
  li Cum este posibil ca o organizație pro-rusă din România care are legături cu Alexandr Dughin, consilier personal al lui Putin, să strângă semnături pentru candidatura sa la președinția României, în timp ce era director al SIE, serviciu care se ocupă cu "apărarea României şi a intereselor sale" de dușmanii ei externi?

  li Cine a semnat pentru candidatura lui Meleșcanu? Cadrele militare din subordinea lui și ale lui Dogaru? Mă îndoiesc că s-au strâns semnături de la oameni, pe stradă, cât timp Meleșcanu era șeful SIE.

p În această lună, Putin a spus că, dacă este cazul, în doua zile armata rusă ajunge la București, Vilnius sau Varșovia, potrivit unui document intern al Comisiei Europene, citat de presa germană. În 2012, fostul secretar de stat american Hillary Clinton a afirmat că Rusia dorește să “resovietizeze” estul Europei.

p Prin autodenunțul lui Robert Turcescu și reacția Ministerului Apărării Naționale se lasă să se înțeleagă că serviciul de informații al Armatei ar avea agenți acoperiți în presa din România. Victor Ponta face declarații în doi peri despre acest caz, sugerând că este o răzbunare politică a PSD (”cine seamăna vânt, culege furtună”).

p Reamintesc că Ponta și-a subordonat serviciile de informații ale Armatei și Poliției, Oare de ce?

p Zilele acestea apar multe informații despre ofițeri acoperiți în politică și presă și se anunță și altele. Întâmplările din ultimele zile creează nesiguranță în rândul românilor, pe care am mai întâlnit-o doar la începutul anilor 90.

p În condițiile în care, la granița de est a României, are loc o agresiune fără precedent a Federației Ruse împotriva unui stat vecin, Ucraina, slăbirea serviciilor de securitate face România vulnerabilă în fața pericolului rusesc.

p România trebuie să întărească relația cu Statele Unite și NATO și cu ceilalți parteneri din Vest, acum când în joc este viitorul României și al regiunii. Numai un președinte credibil, serios, clar pro-Vest și fără un trecut dubios poate garanta siguranța, libertatea și democrația în România.
