- locals.date = '2014-09-26 12:00';
- locals.thumb = '/assets/img/posts/victor-ponta.jpg';
- locals.title  = 'Micul Ceaușescu vrea să suprime presa până și în America';
- locals.slug = 'micul-ceausescu';
- locals.preview = 'Micul Ceaușescu vrea să suprime presa până și în America, jignind comunitatea românească.Victor Ponta a avut o întâlnire cu lideri ai comunității românești din New York, însă a interzis accesul în sală pentru reprezentanții presei româno-americane.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p Micul Ceaușescu vrea să suprime presa până și în America, jignind comunitatea românească.


p Victor Ponta a avut o întâlnire cu lideri ai comunității românești din New York, însă a interzis accesul în sală pentru reprezentanții presei româno-americane.

p Mai mult, "membrii comunităţi care au şi calitatea de reprezentanţi ai presei locale vor participa exclusiv în prima calitate - aceea de membri ai comunităţii, nefiind permis accesul la întâlnire cu reportofoane, camere de fotografiat sau filmat", conform invitației trimise de consulatul României la New York pentru întâlnirea cu Ponta, publicate în presă.

p Un grup de jurnaliști români din New York s-a revoltat, spunând că un asemenea "lucru nu s-a întâmplat niciodată în ultimii 24 de ani" (aici).


p Atitudinea lui Victor Ponta este de-a dreptul jignitoare și lipsită de respect la adresa românilor din Statele Unite.


p Niciun politician în America nu și-ar fi permis să țină presa departe de la o astfel de întâlnire. Societatea americană a progresat pentru că avut o presă liberă și oamenii și-au putut exprima opiniile.

p Se vede că Ponta până și în America vrea să suprime presa și opiniile care nu-i convin.


p După cum vedem, modelul partidului comunist chinez începe să fie tot mai mult îmbrățișat de Victor Ponta.


p Micul Ceaușescu s-a dus în America și, în loc să învețe despre libertate și democrație, a impus apucăturile de tiran comunist.