- locals.date = '2014-10-10 17:00';
- locals.thumb = '/assets/img/posts/mm-conf-presa-24.jpg';
- locals.title  = 'Monica Macovei: Solicit din nou Președintelui României să inițieze referendumul pentru eliminarea imunității demnitarilor';
- locals.slug = 'mm-solicit-din-nou-eliminarea-imunitatii-demnitarilor';
- locals.preview = 'Am cerut Președintelui României în urmă cu 12 zile să inițieze organizarea unui referendum pe tema eliminării imunității parlamentarilor, miniștrilor și președintelui, care ar trebui restrânsă doar la declarațiile politice. Nu a răspuns.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p 
  em (10 octombrie 2014) – Monica Macovei – Declarație de presă
 
p Solicit din nou Președintelui României să inițieze referendumul pentru eliminarea imunității demnitarilor

p Am cerut Președintelui României în urmă cu 12 zile să inițieze organizarea unui referendum pe tema eliminării imunității parlamentarilor, miniștrilor și președintelui, care ar trebui restrânsă doar la declarațiile politice. Nu a răspuns.

p Președintele a vorbit ieri în conferință de presă despre dosarul Microsoft și a acuzat Parlamentul că blochează ancheta procurorilor. Nu este prima oară când se întâmplă acest lucru: Vosganian (PNL), Ridzi (PDL), Dobre (PNL), Cozma (PSD) și mulți alții au beneficiat de solidaritatea transpartinică din Parlament care protejează corupția politicienilor din toate partidele.

p Dacă președintele dorește să scăpam de mafia transpartinică care rânjește dintre coperțile dosarelor Microsoft și EADS și din plenul Parlamentului, atunci trebuie să luptăm cu cauzele, nu cu efectele. Iar una din cauze este imunitatea. Cât timp parlamentarii, miniștrii și președintele României, oricare ar fi el, vor beneficia de imunitate în fața justiției, nu vor renunța să fure din bugetul țării, adică din buzunarul oamenilor.

p Un referendum privind eliminarea imunităților va da posibilitatea românilor să se pronunțe într-o chestiune atât de importantă, de care depinde descurajarea corupției transpartinice.

p 
  |Așadar, solicit din nou Președintelui României să inițieze un referendum cu o singură întrebare: "
  em Sunteți de acord ca parlamentarii, miniștrii –foști sau actuali- și Președintele României să nu mai beneficieze de nicio formă de imunitate, cu excepția opiniilor politice?
  |"