- locals.date = '2014-10-09 14:00';
- locals.thumb = '/assets/img/posts/avocatul-poporului.jpg';
- locals.title  = 'Democrația românească nu își poate construi viitorul uitând trecutul și victimele celor două totalitarisme care au marcat istoria noastră recentă.';
- locals.slug = 'democratia-romaneasca-nu-isi-poate-construi-viitorul';
- locals.preview = 'Astăzi, 9 octombrie, comemorăm victimele Holocaustului în România, o dramă teribilă în care mii de evrei au fost deportați, torturați, uciși în numele urii motivate ideologic și rasial. De asemenea, mii de membri ai comunității rome au căzut victimele unei represiuni sistematice.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (București, 9.10.2014) Monica Macovei – Declarație de presă
p
  strong Democrația românească nu își poate construi viitorul uitând trecutul și victimele celor două totalitarisme care au marcat istoria noastră recentă

p Astăzi, 9 octombrie, comemorăm victimele Holocaustului în România, o dramă teribilă în care mii de evrei au fost deportați, torturați, uciși în numele urii motivate ideologic și rasial. De asemenea, mii de membri ai comunității rome au căzut victimele unei represiuni sistematice.

p Memoria acestei traume este o datorie de conștiință, o obligație de a ne aminti valorile societății în care dorim să trăim: iubirea de oameni, toleranța, respectul față de semeni.

p Trivializarea Holocaustului și negaționismul nu au ce căuta în discursul politic. Educația tinerilor rămâne singurul mijloc de a ne învăța copiii să nu repete ororile trecutului. Doar astfel Răul nu se va întoarce.

p De aceea:
  ol
    li Solicit Ministerului Educației includerea în programa clasei a XII-a a unei ore obligatorii despre Holocaust și Totalitarism în secolul XX.
    li Propun Parlamentului instituirea unei zile naționale de comemorare a victimelor rome ale genocidului.
    li Solicit ca problema discursului negaționist să fie introdusă și în codurile de conduită ale instituțiilor publice, astfel încât să fie sancționat și administrativ.

p Parcursul democratic al României înseamnă asumarea istoriei. Compasiunea pentru victimele Holocaustului, recunoștința față de românii onorați cu distincția Drepți între Popoare își găsesc azi locul în inimile noastre. Să ne amintim!
