- locals.date = '2014-09-08';
- locals.thumb = '/assets/img/posts/vladimir-tismaneanu.jpg';
- locals.title  = 'Pentru Monica Macovei: Poarta noastră către normalitate!';
- locals.slug = 'vladimir-timaneanu-poarta-noastra-catre-normalitate';
- locals.preview = 'Facem parte, autorii acestui articol, din generații diferite. Dar credem împreună într-un număr de valori esențiale, un indispensabil minimum al onoarei. Să numim aceste valori repere ale demnității ființei umane. Ale libertății, decenței și civilității. Ale unei democrații netrucate, capabilă să se cunoască pe sine și să-și asume responsabil trecutul traumatic. Suntem solidari cu Monica Macovei în numele acestor valori pe care, suntem convinși, candidatul nostru asumat le susține exemplar. Monica nu este un produs mesianic închipuit și artificial, ci, cât se poate de simplu și curat, poarta noastră către normalitate!';
- locals.author = 'Vladimir Tismăneanu & Marius Stan';
- locals.source = 'http://www.contributors.ro/cultura/manifest-pentru-monica-macovei-sa-credem-in-basmul-democra%C8%9Biei/';
- locals.tags = ['opinie','articol','presa'];

figure.pull-right
  img.img-responsive(src="/assets/img/posts/vladimir-tismaneanu.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

p Facem parte, autorii acestui articol, din generații diferite. Dar credem împreună într-un număr de valori esențiale, un indispensabil 
  strong minimum al onoarei
  |. Să numim aceste valori repere ale demnității ființei umane. Ale libertății, decenței și civilității. Ale unei democrații netrucate, capabilă să se cunoască pe sine și să-și asume responsabil trecutul traumatic. Suntem solidari cu Monica Macovei în numele acestor valori pe care, suntem convinși, candidatul nostru asumat le susține exemplar. Monica nu este un produs mesianic închipuit și artificial, ci, cât se poate de simplu și curat, poarta noastră către normalitate!


h3 Datele dilemei:

p Se dă un set de alegeri în care candidații se întrec pentru o variabilă comună observabilă (destinul acestei țări pe următorii ani) și pentru o variabilă imperceptibilă votanților, dar nu și candidaților (competiția pentru adevăr). Se întâmplă apoi că tocmai această variabilă imperceptibilă creează o legătură între ofertele observabile pe care le fac candidații asupra variabilei observabile și profitul final al votanților. Legătura poate fi interpretată ca o “însușire”, ca o posibilitate de dezvoltare. Dacă vreți, ca un avantaj pe care un candidat îl are asupra celorlalți. Când privim (fie și pentru o secundă) în afara noastră, când încercăm să cuprindem lumea înconjurătoare cu toate facultățile de care suntem capabili, această “însușire” ne poartă din tărâmul lui “a visa după aceleași reguli” în cel al “vieții ca vis al fiecăruia în parte”. Vouă cum v-ar plăcea să visați?

p Competiția electorală între candidații din câmpul politicii temperează cumva abilitatea acestora de a păcăli votanții (artificii de campanie și de promovare) în sensul în care competitorii avantajați de dimensiunea lor imperceptibilă (Monica Macovei) au (mai ales!) un mare imbold de a-și face știută această dimensiune 
  strong (adevărul)
  |.

p Monica Macovei poate părea astăzi un așa-numit “underdog”, candidatul împotriva tuturor probabilităților. Știm cu toții, iar dacă nu, ar trebui să o facem, că politica este (și) despre revelații și simboluri. Despre o ofertă cu noi informații. Lăsați la o parte pentru o vreme comportamentul electoral transmis generațional și concentrați-vă pe acceptarea, confirmarea și filtrarea noilor informații pe care vi le poate aduce un candidat precum Monica Macovei! Un alt lucru esențial de care trebuie să ne convingem foarte curând este acela că niciun candidat nu riscă intrarea într-o astfel de cursă când nu ar trebui să o și câștige. Monica Macovei ființează în această ecuație politică a anului de grație 2014 pentru că ea ar trebui (1) să câștige, dar și (2) să ofere informația imperceptibilă și esențială: adevărul.

h3 Datele soluției:

p Statul actual a devenit (a rămas) un terifiant Leviatan. Nu era foarte eficient nici statul precomunist, dar, cu toate acestea, era o monarhie constituțională veritabilă. Republica lui Ion Iliescu a acumulat toate defectele României, atât cea precomunistă, cât și cea comunistă. Este (încă) vorba de un sistem clientelar, în care totul se tranzacționează, inclusiv, în atâtea cazuri pe care le cunoaștem, principiile. Criza este totuși pe cale de a se termina (poate suntem prea optimiști, dar cu siguranță bine intenționați). Importantă rămâne consolidarea statului de drept, responsabilizarea celor învestiți cu funcții publice. Este un exercițiu permanent de care depinde mereu viitorul nostru. Acest lucru nu se poate face în absența justiției independente. De aceea a deranjat atât de tare ceea ce încerca să facă Monica Macovei. Depinde de noi să construim inițiative în media, în spațiul civic. Privim astăzi la ceea ce se petrece în blogosferă… Spunea o mare antropoloagă americană, Margaret Mead: “Nu vă îndoiți că doi sau trei oameni pot schimba lumea. De fapt, doar astfel s-a schimbat lumea”.

p Monica Macovei a început să transforme lumea cu ani în urmă, cât se poate de concret și dedicat. Nu doar prin înființarea DNA, ci și prin ameliorarea vitală și chintesențială a unei legislații care privește direct procesul de administrare a trecutului. A scris 
  strong legea 27/2012 
  | (adoptată în martie, același an) care modifica un Cod Penal perimat și prevedea ca infracțiunile contra umanității, de genocid și de război, să nu se prescrie, indiferent de data la care au fost comise. Cu alte cuvinte, să poată fi cercetate oricând, iar cei care au estropiat vieți și destine să fie trași la răspundere.

p Contracandidatul din 2014 al Monicăi Macovei, premierul plagiator, nu putea face decât să imite acest comportament exemplar și prea puțin perceptibil cetățenilor-alegători. Prin agenți politici bine plasați în poziții-cheie (de pildă, Andrei Muraru, fostul președinte numit al IICCMER și actualul consilier al altui posibil contracandidat, Klaus Iohannis), premierul care copiază și mimează a încercat să-și atribuie această temă în exclusivitate. A încercat, cu alte cuvinte, să reinventeze prin rapt un proces profund de condamnare a crimelor comunismului, început în 2006 prin condamnarea din Parlament, și continuat de persoane pricepute și oneste precum Monica Macovei. Nimic nou, am spune, însușirea muncii și calității altora pare a doua natură a candidatului populist pe nume Victor Ponta. Lucrurile trebuie însă așezate în matca lor naturală, 
  strong adevărul 
  | trebuie rostit până la capăt: toate cazurile de torționari (Vișinescu ori Ficior) trimiși în judecată pentru comiterea de infracțiuni contra umanității în perioada comunistă se bazează pe legea gândită și redactată de Monica Macovei!

p Aceasta este cu adevărat variabila imperceptibilă publicului larg a candidatului Monica Macovei iar soluția este, în chip cât se poate de natural, creditarea acelor concurenți electorali care au demonstrat deja, fără urmă de echivoc, că se pricep, își doresc și pot schimba fața lumii în care trăiesc. Între ofertele observabile ale altor candidați (le știm prea bine, le știe și Monica) și profitul final al votanților se așterne, cum spuneam, această punte de legătură care este implicit și 
  strong o însușire
  |. Calitatea imperceptibilă a Monicăi Macovei (onestitatea transpusă în competență și dedicație) trebuie astăzi transformată în informație esențială și în pilon moral în jurul căruia se poate construi un proiect politic pe termen mediu și lung.

p 
  strong Soluția 
  |pe care o imaginează autorii acestui text rezidă astăzi în votul dat unui candidat de natura Monicăi, o persoană care a demonstrat 
  strong altruism civic total 
  | (Ce altceva este un sistem de sancțiuni just, raționalizat, măsurat și competent? Ce altceva este proprietatea termenilor? (aviz impstorilor care au confiscat cinic și impudic o temă atât de sensibilă precum cea a trecutului nostru traumatic) Ce altceva este un cod just de legi care pune ordine în mecanismele de funcționare ale unei societăți post-dictatoriale? Ce altceva este rezultatul concret al acestei direcții terapeutice în cultura juridică a unei nații? Ce altceva este statul de drept? Ce altceva este mult râvnita domnie a legii? Ce altceva este lucrul bine făcut, cu deplin profesionalism, de persoane care nu au alt scop decât interesul public?). 
  strong Altruismul civic total, iată ce o animă pe Monica Macovei!

p În fine, Monica Macovei este persoana care a făcut mereu ceea ce trebuia făcut, fără populisme ieftine și circuri de presă. Candidatul Macovei vine astăzi în fața celor care urmează a decide soarta României pe următorii ani și le spune că variabila imperceptibilă a oamenilor de calitate (adevărul) trebuie să devină, în sfârșit, știre și informație de interes public! Și, într-un anume sens, a pune ștampila pe Macovei înseamnă a valida o anume etică politică, socială și profesională. În contra minciunii, în contra promisiunilor deșarte, a mitei electorale, a atribuirii prin furt a muncii altora (și câte altele din același registru), soluția Macovei este, la rigoare, o întoarcere la normalitatea la care am visat cu toții atunci când, în sfârșit, ne-am îngăduit dreptul de a o face. În numele tuturor acestor valori esențiale enunțate, ținem să repetăm acest lucru: Monica nu este un produs mesianic închipuit și artificial, ci, cât se poate de simplu și curat, poarta noastră către normalitate!

p 
  strong Update: 
  | Premierul plagiator crede “ca efectele asupra societatii romanesti lasate de cei 10 ani de regim Traian Basescu sunt destul de asemanatoare cu cele lasate de regimul nazist in Germania”. A compara “regimul Basescu” cu national-socialismul este o aberatie din punct de vedere istoric si o abominatiune din punct de vedere moral. Este vorba in acest caz de o analogie halucinanta care jigneste memoria milioanelor de victime ale nazismului. Speram ca Institutul “Wiesel”, aflat in subordinea premierului, ii va atrage atentia asupra imensei gafe, daca (doar) despre gafa este vorba. Victor Ponta, iata, nu este tufa de Venetia doar la istoria comunismului, ci si la aceea a fascismului. Pe scurt, este tufa de Venetia la istorie in general…

p: a(href="http://tismaneanu.wordpress.com/2014/08/01/tufa-de-venetia-victor-ponta-si-istoria-bolsevismului/", target="_blank") http://tismaneanu.wordpress.com/2014/08/01/tufa-de-venetia-victor-ponta-si-istoria-bolsevismului/
