- locals.date = '2014-09-19 12:00';
- locals.thumb = '/assets/img/posts/mm-conf-presa-square.jpg';
- locals.title  = 'Daniel Hannan: Eu aș vota-o pe Monica Macovei';
- locals.slug = 'daniel-hannan-eu-as-vota-o-pe-monica-macovei';
- locals.preview = 'INTERVIU Parlamentarul European Daniel Hannan: România trebuie să scape de reminiscențele comunismului. Eu aș vota-o pe Monica Macovei.';
- locals.author = 'Adrian Popa';
- locals.source = 'http://www.nouarepublica.ro/ro/in-media/interviu-parlamentarul-european-daniel-hannan-romnia-trebuie-scape-reminiscenele-comunismului-eu-vota-monica-macovei.html';
- locals.tags = ['presa'];

p Parlamentarul europan britanic, Daniel Hannan, a vorbit, în cadrul unei reuniuni AECR, despre imaginea României ca țară de margine a Uniunii Europene, despre Monica Macovei, despre imigranții români din Marea Britanie și despre Noua Republică.

p 
  strong Adrian Popa: 
  em Ce părere aveți despre posibilitatea ca premierul socialist român sa devină președintele țării. Și dacă nu el e alegerea bună, cine ar fi?
p 
  strong Daniel Hannan: 
  | Dacă aș fi român și ar trebui să votez, aș vota-o pe Monica Macovei. O cunosc din Parlamentul European. Este o  colegă bună și foarte, foarte muncitoare. Toți politicienii români vorbesc despre faptul că sunt împotriva corupției, însă ea chiar a luat atitudine. Este o femeie de o integritate  care nu poate fi pusă sub semnul întrebării. Este un bun patriot și a demonstrat și că este un bun european prin faptul că a susținut mereu valori ale libertății și ale democrației. Bineînțeles, eu nu am acest drept de a vota în România, însă dacă aș fi român aș alege-o pe Monica Macovei.
p
  a(href="http://www.nouarepublica.ro/ro/in-media/interviu-parlamentarul-european-daniel-hannan-romnia-trebuie-scape-reminiscenele-comunismului-eu-vota-monica-macovei.html") Citește întreg interviul aici
