- locals.date = '2014-10-23 14:00';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = 'Monica Macovei: Scrisoare deschisă adresată președintelui Senatului';
- locals.slug = 'scrisoare-adresata-presedintelui-senatului';
- locals.preview = 'Vă solicit să urgentați convocarea ședinței plenului Senatului în care să acordați un vot asupra cererii procurorilor DNA de ridicare a imunității a doi senatori PSD. Direcția Națională Anticorupție a cerut Senatului, pe 26 septembrie 2014, să încuviințeze începerea urmăririi penale față de senatorii Ecaterina Andronescu și Șerban Mihăilescu, foști miniștri.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
.content
  p
    em (23 octombrie 2014) – Monica Macovei – Comunicat de presă

  h3 Scrisoare deschisă adresată președintelui Senatului, Călin Popescu Tăriceanu

p Domnule Președinte,
.content
  p Vă solicit să urgentați convocarea ședinței plenului Senatului în care să acordați un vot asupra cererii procurorilor DNA de ridicare a imunității a doi senatori PSD. Direcția Națională Anticorupție a cerut Senatului, pe 26 septembrie 2014, să încuviințeze începerea urmăririi penale față de senatorii Ecaterina Andronescu și Șerban Mihăilescu, foști miniștri.

  p Potrivit DNA, senatorul PSD Ecaterina Andronescu, fost ministru al Educației, este suspectată de abuz în serviciu, luare de mită, trafic de influenţă şi spălare de bani, iar senatorul PSD Șerban Mihăilescu, fost șef al SGG, de instigare la abuz în serviciu, trafic de influenţă şi spălare de bani în dosarul Microsoft.

  p În același dosar, solicitările DNA de ridicare a imunității de care beneficiază foștii miniștri au primit răspuns favorabil în cazul a 6 alți politicieni. Astfel, Președintele României a abrobat, încă din 3 octombrie 2014, cererile procurorilor DNA de începere a urmăririi pentru foștii miniștri Adriana Ţicău, Gabriel Sandu, Alexandru Athanasiu, Nicolae Tănăsescu şi Daniel Funeriu.

  p De asemenea, Camera Deputaților a votat, pe 13 octombrie 2014, pentru ridicarea imunității deputatului Valerian Vreme, fost ministru al Comunicațiilor, acesta putând fi urmărit penal.

  p În prezent, senatorii Ecaterina Andronescu și Șerban Mihăilescu beneficiază de un tratament diferit față de ceilalți foști miniștri din dosarul Microsoft, din cauză că Senatul nu a luat o hotărâre în privința cererii de începere a urmăririi penale, iar dosarul procurorilor în cazul lor este blocat.

  p
    | Consider că aveți o obligație față de români, înclusiv față de alegătorii dvs. 
    strong să nu împiedicați justiția și să convocați de urgență ședința Plenului Senatului 
    |pentru ridicarea imunității celor 2 senatori implicați în dosarul Microsoft.

  p Atât amânarea discutării cererii procurorilor DNA, cât și o respingere prin vot a încuviințării începerii urmăririi penale pot avea consecințe grave asupra încrederii românilor în instituția Parlamentului și pot duce la un raport negativ în cadrul Mecanismului de Cooperare și Verificare al Comisiei Europene, arătând lipsa de voință politică pentru combaterea corupției.

.content
  p Cu stimă,
.content
  p Monica Macovei
  p Membru al Parlamentului European
  p Candidat independent la funcția de Președinte al României 