- locals.date = '2014-09-28 14:00';
- locals.thumb = '/assets/img/posts/mm-conf-presa-square.jpg';
- locals.title  = 'Conferință de presă: Monica Macovei solicită organizarea unui referendum național pe tema imunității parlamentarilor';
- locals.slug = '09-28-conferinta-de-presa-coruptie';
- locals.preview = 'Monica Macovei a argumentat că de-a lungul timpului, din cauză că parlamentarii au respins prin vot solicitări ale procurorilor de începere a urmăririi penale în cazul unor miniștri-parlamentari sau pentru reținerea unor parlamentari, Parlamentul României a devenit "un adăpost pentru hoți, corupți și persoane cu probleme penale".';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';

.pull-right
  img.img-responsive(src='/assets/img/posts/mm-conf-presa-square.jpg', style="max-width: 15em; padding: 0 0 1em 1em;")

p Monica Macovei solicită organizarea unui referendum național pe tema imunității parlamentarilor

blockquote “Corupția ucide. Ne ucide copiii și fizic, și intelectual. Recent un copil a murit în Vâlcea căzând în fosa septică a școlii. Iar copiii au început anul școlar fără manuale, pentru prima dată după război. Și în timpul războiului aveau manuale, copiii de clasa I și a II-a. Și asta în condițiile în care politicienii cheltuie miliarde de euro pentru alte lucruri, iar noi plătim taxe pentru educație, a declarat astăzi Monica Macovei, într-o conferință de presă. 

p Europarlamentarul Monica Macovei, candidat independent la alegerile prezidențiale, a mai spus că ancheta realizată de DNA în dosarul Microsoft, în care 9 foști miniștri din partide diferite, în patru guvernări diferite, au împărțit comisioane de milioane de euro ne arată că infracțiunile de corupție nu au culoare politică. 

blockquote “Corupția nu are culoare politică. Oamenii pe care îi vedeți în fiecare seară certându-se la televizor sunt aceiași care își impart mita în spatele cortinei. În condițiile în care copiii noștri nu au manuale școlare la început de an, școlile în care învață sunt insalubre și nesigure, clasa politică fură milioane de euro din taxele pe care noi le plătim pentru educație. Este dovada blatului de 25 din ani între toți politicienii care se prezintă ca fiind cinstiți în fața românilor și care se acuză unii pe alții că fură, când de fapt ei fură împreună”, a spus Monica Macovei.

p Monica Macovei a felicitat DNA pentru că, și prin această anchetă imparțială, DNA a dat dovadă că este o instituție solidă și profesionistă. 

blockquote “Am creat DNA în 2005 și avem astăzi încă o dovadă ca eforturile de a construi instituții puternice care să se lupte cu corupția politicienilor, indiferent de partid, dau roade”, a mai spus Monica Macovei.

p Monica Macovei a argumentat că de-a lungul timpului, din cauză că parlamentarii au respins prin vot solicitări ale procurorilor de începere a urmăririi penale în cazul unor miniștri-parlamentari sau pentru reținerea unor parlamentari, Parlamentul României a devenit “un adăpost pentru hoți, corupți și persoane cu probleme penale”. 

p Europarlamentarul Monica Macovei, candidat independent la alegerile prezidențiale, i-a solicitat Președintului României să ceară organizarea unui referendum național cu o singură întrebare:

blockquote ”Sunteți de acord ca parlamentarii, miniștrii -foști sau actuali- și Președintele României să nu mai beneficieze de nicio formă de imunitate, cu excepția opiniilor politice?".

p Monica Macovei propune ca referendumul să fie organizat odată cu cel de-al doilea tur alegerilor prezidențiale. 

blockquote “Sondajele arată ca niciun candidat nu va lua un număr de voturi egal cu 50% plus unu din numărul total de alegători, așadar este certă organizarea unui al doilea tur de scrutin pentru alegerea Președintelui României. Un buletin de vot in plus la scrutinul din 16 noiembrie 2014 nu va crește semnificativ costurile de organizare a scrutinului, dar românii vor avea posibilitatea să își exprime direct voința în legătură cu acest subiect de interes național”, a declarat Monica Macovei la conferința de presă de astăzi. 

p Monica Macovei consideră că subiectul "imunității parlamentare" trebuie tranșat de către români printr-o consultare populară.

img.img-responsive(src='/assets/img/scrisoare-basescu.jpg')
