- locals.date = '2014-10-11 12:10';
- locals.thumb = '/assets/img/posts/vladimir-tismaneanu.jpg';
- locals.title  = 'O obscenitate: Vasile Ernu si semnificatia cuvantului “pogrom”';
- locals.slug = 'o-obscenitate-vasile-ernu-si-semnificatia-cuvantului-pogrom';
- locals.preview = 'Tribunii stangismului autohton sunt in plina ofensiva impotriva … cui credeti? A Monicai Macovei si a programului ei. Utilizarea termenului “pogrom” in acest context este, o spun cu deplina responsabilitate, o obscenitate. Mai suntem unii care au auzit in familie ce insemna un pogrom.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = 'http://tismaneanu.wordpress.com/2014/10/10/o-obscenitate-vasile-ernu-si-semnificatia-cuvantului-pogrom/';
- locals.tags = ['articol'];

img.hidden-xs.pull-right(src='/assets/img/posts/devis_grebu_1.jpg',width='300', height='300')
p
  | Tribunii stangismului autohton sunt in plina ofensiva impotriva … cui credeti? A Monicai Macovei si a programului ei. Utilizarea termenului “pogrom” in acest context este, o spun cu deplina responsabilitate,
  strong o obscenitate
  | . Mai suntem unii care au auzit in familie ce insemna un pogrom. Mai suntem unii care am citit destul despre oririle antisemitismului si ale rasismului pentru a ne intreba pana unde poate merge iresponsabilitatea demagogica, jocul cinic cu vorbele. Ma intreb ce au de spus cei care conduc Institutul “Wiesel” despre lejeritatille metaforice ale d-lui Vasile Ernu? Maine ne vom trezi ca o acuza pe Monica Macovei de “indemn la genocid”, tot ca metafora,
  em
    | n’est-ce pas?
p
  | Nu stiu administratorii site-ului “CriticAtac” ce inseamna un pogrom? N-au auzit de pogromul de la Iasi? De pogromul de la Chisinau din timpul Rusiei tariste? Nu stiu ce inseamna cuvantul “pogromist”? Fratele tatalui meu, sotia sa si doi copii, un baietel si o fetita, au murit arsi de vii la Odessa, in timpul infioratorului masacru. Ii transmit domnului Ernu ca eu unul ma simt jignit personal de titlul pe care a gasit de cuviinta sa-l dea articolului sau. Este un ultragiu adus memoriei victimelor Holocaustului. La o zi de la comemorarea acestor victime. Vasile Ernu trebuie sa-si ceara scuze public.
p
  a(href='http://www.criticatac.ro/26474/monica-macovei-program-impotriva-srciei-pogrom-impotriva-sracilor-portrete-de-candidai/')
    | http://www.criticatac.ro/26474/monica-macovei-program-impotriva-srciei-pogrom-impotriva-sracilor-portrete-de-candidai/
p
  a(href='http://macoveipresedinte.ro/posts/democratia-romaneasca-nu-isi-poate-construi-viitorul')
    | http://macoveipresedinte.ro/posts/democratia-romaneasca-nu-isi-poate-construi-viitorul
p
  strong Update:
  | Enormitatea lui Ernu a fost reluata si aici:
p
  a(href='http://adevarul.ro/news/politica/portrete-candidati-i-monica-macovei-program-impotriva-saraciei-pogrom-saracilor-1_5437b1990d133766a8d26b20/index.html', rel='nofollow')
    | http://adevarul.ro/news/politica/portrete-candidati-i-monica-macovei-program-impotriva-saraciei-pogrom-saracilor-1_5437b1990d133766a8d26b20/index.html
