- locals.date = '2014-10-08 15:30';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = 'De ce Macovei și nu..cine vor ei';
- locals.slug = 'de-ce-macovei-si-nu-cine-vor-ei';
- locals.preview = 'M-am uitat acum două seri la dezbaterea electorală dintre Monica Macovei și Călin Popescu Tăriceanu de la TVR. Tăriceanu, bărbat aspectuos, arăta de data asta bizar. Nu știu ce mâncase dar în locul figurii distinse a dumnealui, apăruse un cap blond, de vrabie clevetitoare. Tăriceanu avea și sâni și era rujat și insista că îl cheamă Grațiela Gavrilescu.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = 'http://feher.wordpress.com/2014/10/08/de-ce-macovei-si-nu-cine-vor-ei/';
- locals.tags = ['articol'];

h2 De ce Macovei și nu..cine vor ei
p
  | M-am uitat acum două seri la dezbaterea electorală dintre Monica Macovei și Călin Popescu Tăriceanu de la TVR. Tăriceanu, bărbat aspectuos, arăta de data asta bizar. Nu știu ce mâncase dar în locul figurii distinse a dumnealui, apăruse un cap blond, de vrabie clevetitoare. Tăriceanu avea și sâni și era rujat și insista că îl cheamă Grațiela Gavrilescu.
  p
    | Nu am putut să mă uit mai mult de 15 minute. M-am enervat cumplit, m-a durut stomacul de stânjeneală, exact cum mi se întâmpla când vedeam Officeul lui Ricky Gervais. În mod evident, Monica Macovei se pierde cu firea. În mod evident, de draci, își pierde șirul cuvintelor și repetă aceeși chestie, devenind obositoare. În mod evident, nu poate să nu explodeze în fața insolenței, obrăzniciilor lui Tăriceanu cu țâțe, pe nume lui de fată Grațiela, care pretinde că respectă justiția. În mod evident, nu este obișnuită să vorbească în zgomotul de furculițe lovind străchinile pe care îl face moderatorul Sorin Avram.
  p
    | În mod evident, Monica Macovei este slabă. E doar o muiere. Care nu poate să se uite în stânga, înspre Tăriceanu vopsit blond, că îi vine să vomite. În mod evident, Monica Macovei este doar un om. Nu un orc din familia de orci pe care i-a creat PSD în grădina USL, sub oblăduirea lui Ion Sauron Iliescu.
  p
    | ”Pe asta s-o votez eu? Nu vezi că este isterică?”-m-a întrebat cineva, nu spui cine, colecționar al greșelilor Monicăi din care ”sunt un soi de Mandela” este diamantul coroanei. E drept că nu mi-a plăcut întâlnirea, că nu mi-a plăcut cum s-a mișcat Monica, m-a supărat repetiția, tonul țipat, de motan căruia i-ai pus scaunul pe lăbuță. Dar mi-am adus aminte cum reacționez eu când mă întâlnesc cu clienți neverosimil de inepți, cum îmi mor în gât vorbele, mă bâlbâi și ridic tonul și nu mai găsesc argumente în norul de praf ridicat de tornada de prostie.
  p
    | Dar ăsta nu e un argument. Monica seamănă cu mine și reacționează la prostie cum reacționez eu-nu poți să folosești raționamentul ăsta. Și atunci, singurul lucru pe care îl pot spune colecționarului de poticniri ale doamnei Macovei este:
  p
    | Votează Macovei pentru că, datorită ei, Voiculescu este la pârnaie. El și Năstase, Fenechiu și Copos. Și ăia care or veni.
  p
    | Nu înțeleg mare lucru din programul de țară, din vorbele sforăitoare de tip ”eu o să fiu președintele românilor nu al partidelor”. Dar înțeleg că fără femeia asta terfelită pe posturile de televiziune și în presă de, imediat, 10 ani, niciunul dintre monștrii care au otrăvit societatea românească nu ar fi ajuns la pușcărie. Ar fi avut grijă Tăriceanu, în varianta blond cu sâni sau cea cu cravată și cărare-ntr-o parte, să nu se întâmple. Și d-aia, pentru că a curățat magazinul de șobolani, aș face-o gestionară. Măcar pe 5 ani.
