- locals.date = '2014-09-22 17:00';
- locals.thumb = '/assets/img/posts/mm-alb-negru.jpg';
- locals.title  = 'Petiția pentru normalitate: Inițiativa Macovei, autorecensământul cetățenilor pentru o țară normală.';
- locals.slug = 'adalbert-klein-petitia-pentru-normalitate';
- locals.preview = 'Se pare că a venit momentul ca mămăligile fin și pragmatic mărunțite, cinicii de serviciu steril și, mai ales, consultanții smart ai actualului președinte al PSD să primească în ochi o porție din meniul după care plâng cu lacrimi de crocodil atunci când vine vorba de candidatura la prezidențiale a Monicăi Macovei. Nici nu e foarte greu, atunci când se procedează la un inventar al desăvârșitei guvernări Ponta. Desăvârșită prin maximă disfuncționalitate și iresponsabilitate.';
- locals.author = 'Adalbert Klein';
- locals.source = 'http://www.contributors.ro/administratie/peti%C8%9Bia-pentru-normalitate-ini%C8%9Biativa-macovei-autorecensamantul-ceta%C8%9Benilor-pentru-o-%C8%9Bara-normala/';
- locals.tags = ['opinie','articol','presa'];

em Motto: Libertatea se trăiește împreună.

p Se pare că a venit momentul ca mămăligile fin și pragmatic mărunțite, cinicii de serviciu steril și, mai ales, consultanții smart ai actualului președinte al PSD să primească în ochi o porție din meniul după care plâng cu lacrimi de crocodil atunci când vine vorba de candidatura la prezidențiale a Monicăi Macovei. Nici nu e foarte greu, atunci când se procedează la un inventar al desăvârșitei guvernări Ponta. Desăvârșită prin maximă disfuncționalitate și iresponsabilitate.

p În aceste condiții, proiectul de țară al viitorului președinte și al noului guvern va fi unul foarte simplu: implementarea acelor măsuri necesare pentru repunerea în funcțiune a câtorva domenii cheie pentru buna dezvoltare a societății românești pe termen scurt, mediu și lung. Cuvinte cheie: simplificare, funcționalitate și feedback în buclă continuă. Câteva aspecte prezintă un interes imediat din perspectiva impactului lor direct și imediat vizibil asupra cetățenilor și societății românești în ansamblul său. Să le luăm așadar pe rând:

h2 Taxe

p România are un sistem de taxe greoi, disfuncțional și, mai ales, imprevizibil. Este de departe cea mai mare frână în dezvoltarea economică a României. Atunci când lucrurile vor fi mai simple, taxele mai ușor de plătit și mai puține, precum și, de preferat, mai întâi bine și transparent cheltuite înainte de a deveni mai mari, atractivitatea României pentru investitorii externi va crește considerabil, iar România va deveni de asemenea o țară mai prietenoasă cu proprii săi cetățeni. Ceea ce nu ar fi deloc puțin lucru.

h2 Drumuri

p România se bucură de asemenea de performanța relativ unică printre vecini de a beneficia de aproape aceeași infrastructură de transport moștenită din vremea lui Ceaușescu. Cu câteva cârpeli și nimic terminat la nivel sistemic, țara băltește într-o păguboasă autoironie critic-fatalistă. Dacă autoritățile publice ar funcționa corect și ar deschide măcar ochii la ce au făcut alte state foste comuniste între timp, lucrurile ar putea arăta cu siguranță altfel și în termen de cinci-zece ani nu neapărat un sfert de secol.

p Românii și companiile din România duc lipsă acută de drumuri fiabile și rapide, trenuri care ajung la destinație conform orarului anunțat, însă, cel mai mult, au nevoie de autorități competente și integre care nu confundă bugetul public cu buzunarul clienților de partid și execuția de autostrăzi cu căutarea Sfântului Graal.

h2 Administrație

p România se bucură de asemenea de privilegiul de a avea o administrație greoaie, disfuncțională și, în general, reputată ca fiind coruptă. Lucruri simple, care ar putea deveni și mai simple, sunt complicate fără niciun fel de măsură și considerație asupra efectului de agregare al disfuncționalităților pe care această stare de lucruri o induce zi de zi la nivelul economiei, al cetățeanului, și al societății în ansamblul său.

p Abia atunci când cuvintele de ordine vor deveni fundamentare/justificare, funcționalitate, transparență și proximitate, se va putea vorbi de premisele unei adminstrații care oferă un serviciu public, suport pentru cetățeni și contribuabili, și nu o ierarhie birocratică ce se manifestă ca un obstacol permanent în calea liberei inițiative din economie și societate în ansamblul său.

h2 Școală

p Meseria e brățară de aur, spune un proverb românesc. Acest principiu a fost însă uitat de dirigenții temporari ai statului român, mult mai preocupați în parazitarea sistemului de învățământ moștenit din vremea statului comunist și prea puțin interesați în dezvoltarea unui sistem de educare și învățământ de competențe generale capabil să formeze cetățeni responsabili și să-i direcționeze pe cei mai mulți dintre ei către formarea de competențe utile lor și societății.

p O școală funcțională cu un corp didactic încadrat decent și orientat spre calitatea actului de educare, precum și spre selecția și orientarea talentului și aptitudinilor, e încă un deziderat ce pare că vine dintr-un viitor de neatins pentru societatea românească.

p Sau cel puțin aceasta e viziunea actualilor guvernanți ce visează manuale digitale cu acces online în condițiile în care jumătate din școala românească se desfășorară într-un spațiu rural încă lipsit de numeroase alte facilități de infrastructură civilizațională mult prealabile unei conexiuni la internet.

h2 Universitate

p Universitatea românească tinde să devină un loc comun irelevant din perspectiva competenței. Patru universități românești se regăsesc undeva la coada unui top ce clasează circa opt sute de universități de vârf la nivel internațional. Și acestea patru sunt doar vârfurile ce răzbat cu greu dintr-un sistem puternic sabotat din interiorul său cu sprijinul direct al autorităților ce ar trebui să arbitreze tocmai în sens contrar față de ceea ce se întâmplă în prezent.

p Până când nu se va înțelege că universitatea nu e un bun de consum pentru toată lumea, în funcție de nevoile și posibilitățile personale, lucrurile nu vor putea merge spre bine în România.

p Abia atunci când doar cei talentați și dedicați unui proces de investiție personală pe termen lung vor reuși să obțină diplome universitare românești ce sunt acceptate pe piața muncii la nivel internațional (atenție, în domeniul privat!), abia atunci se va putea spune că lucrurile merg bine în domeniul universitar românesc.

p Nu ai cum să ajungi însă acolo în momentul în care statul procedează exact pe dos și descurajează cercetarea și excelența universitară generalizând accesul la universitate al multor tineri care în mod normal și-ar găsi un loc de muncă abia după absolvirea unui cursus practic profesional mai adecvat aptitudinilor și disponibilităților lor reale de învățare.

h2 Spitale

p Spitale cu condiții de funcționare decente, salubre și nefalimentare. Iată un deziderat aparent imposibil de atins în secolul acesta pentru societatea românească. Cam în același fel se pune problema față de formarea și implicarea medicilor în sistemul de sănătate.

p Deși sunt coloana vertebrală a unui sistem esențial într-o societate modernă (indiferent de versiunea public, privat, ori mixt, în care acesta este oferit), și deși investesc mult mai mult timp din viața lor pentru formarea profesională raportat la alți specialiști din viața publică, medicii se numără printre cei mai disprețuiți angajați ai unui sistem de sănătate public plătit de toți românii și gestionat cu o incalificabilă nepăsare de un stat incompetent.

p În condițiile în care studenții pentru medicină există, iar nevoia asigurării de servicii pentru sănătate este una constantă, a nu fi capabil să finanțezi și să gestionezi la un nivel de funcționalitate decentă un serviciu public este semnul unei incompetențe crase a statului care percepe taxe și contribuții în numele acestui faliment național ce poartă numele de sistem de sănătate.

p O alternativă radicală e ca statul să facă poate mai puțin în acest domeniu și să perceapă doar acele taxe și contribuții pe care e capabil să le gestioneze în mod eficient pentru un sistem de sănătate general cu acces minim garantat pentru urgențe și cazuri sociale și să se implice ulterior doar în arbitrarea unei piețe de servicii publice oferite de privați.

p Până a ajunge însă la o astfel de alternativă (complementară), trebuie însă mai întâi să permiți dezvoltarea acelor furnizori privați corecți și viabili, precum și să asiguri menținerea unor standarde de calitate ale actului medical. Ceea ce până la urmă trebuie să faci oricum, căci nu poți ține societatea captivă unui monopol public inconturnabil și extrem de prost gestionat.

h2 Familie

p Acces la case pentru tineri căsătoriți, timp și indemnizație de maternitate pentru mamele cu serviciu. Iată lucruri ce țin de domeniul fantasticului atunci când privim politicile statului român din ultimii douăzeci și cinci de ani. Fantastic care se vede în minunata evoluție demografică a României, mult dincolo de relaxarea politicilor pro-nataliste din vremea regimului Ceaușescu. Dintr-o extremă a absurdului s-a trecut într-o extremă a maximei indiferențe și nepăsări, în condițiile în care timpul trece și se nasc tot mai puțini copii în România.

p Egalitatea de gen a devenit o temă fixă a corectitudinii politice ocultând între timp un adevăr extrem de simplu și mult mai la îndemână: nu numai că femeile sunt egale colegilor lor bărbați, dar îi și depășesc cu mult, foarte mult, atunci când fac un lucru pe care aceștia nu îl vor putea face niciodată în mod natural – maternitatea.

p În societatea modernă, femeia trebuie să muncească cot la cot cu colegii săi bărbați, însă în tot acest timp, dedicat muncii și/sau carierei profesionale, ea trebuie să facă cumva încât să găsească timpul, resursele și, mai ales, momentul, pentru a da naștere la unul, doi sau poate trei copii pe parcursul unei perioade ce nu depășește două-trei decenii din viața unui om.

p În această situație, răspunsul nu poate veni de la mecanismele pieței libere pentru simplu motiv că acestea nu sunt preocupate decât indirect cu aspectul în chestiune. E unul din domeniile în care societatea și, în definitiv, statul ca arbitru ultim al interesului general, sunt chemate să dea un răspuns responsabil și viabil pe termen lung.

p O indemnizație de 100% calculată la salariul la zi, și un concediu prenatal de minim trei luni și postnatal de minim șase luni, ar trebui să fie minimul rezonabil ca și încadrare de bază într-o societate ce se pretinde corectă și responsabilă față de cetățenii săi. Dacă aveți îndoieli față de cele de mai sus, încercați să vă vizualizați ocupându-vă personal cu contemplarea maternității în condiții mai puțin generoase. Fără a fi imposibil, nu va fi însă la fel. Iar această diferență face, printre altele, diferența în filmul mai larg al întregii societăți.

p Ultimul aspect, case pentru tineri căsătoriți, e un lucru ce ar trebui să țină de inteligența strategică a unei societăți aflate în plin deficit de natalitate. Casele ar putea fi oferite înainte de orice în chirie (la prețul pieței), cu posibilitatea accesului la proprietate, și contabilizarea anilor de chirie (cinci, șapte, etc.) la contribuția ratelor, atunci cand premisele familiei nou înființate sunt concretizate în apariția primului copil. Ar fi unul din puținele cazuri de discriminare pozitivă inteligentă și utilă ce poate fi aplicat la nivelul întregii societăți fără îngrijorarea generată de eliberarea unui monstru cultural iresponsabil (cum e cazul în prezent în societatea postmodernă multilateral dezvoltată).

p.text-center *

p Cam așa ar arăta o schiță rapidă de proiect de țară pentru uzul deștepților ce plâng după direcții salvatoare într-o țară disfuncțională aflată pe buza unei prăpăstii geopolitice spre care o îndreaptă cu iresponsabilitate vesel-cretinoidă o clasă politică și mai disfuncțională, dar, mai ales, profund coruptă și afectată de virusul uitării și al propriei infailibilități.

p În aceste condiții, să te pregătești din timp pentru furtună nu e idealism, e doar prudență. Cât privește politicienii recuperabili din actuala clasă politică a partidelor mari, cei mai ageri dintre aceștia vor fi sesizat poate deja faptul că viitorul aparține acelora capabili să internalizeze principiul potrivit căruia, dacă schimbarea nu poate veni în doze mici și controlate, sub forma reformelor, ea va sosi negreșit pe cale de cutremur, sub forma revoluției.

p.text-center *          *          *

p.strong Post scriptum: Jumătăți de rezultat cu jumătăți de competențe.
em
  p Odată cu apropierea alegerilor prezidențiale, în societatea românească se întâmplă (iar) lucruri stranii.

  p Un director al unui serviciu de informații se pregătește mai nou să își anunțe demisia și înscrierea în cursa prezidențială. Se pare că o bună parte din semnăturile necesare candidaturii i-au fost strânse de un militar rezervist, activ la vremea lui doar în bibilotecă, mai nou reprofilat în militant împotriva Curții Constituționale și în intim de șuetă al profetului rus al noului euroasianism, turist ocazional prin România, la vremuri de cumpănă bine alese. Cu toate acestea, nimeni nu pare a avea nicio problemă în România. Nu de alta, dar predecesorul actualului dilematic a fost la rândul său parașutat în funcția de prim-ministru tot cam la un astfel de moment de cumpănă. Mai exact, cam atunci când credibilitatea externă a României a început să o ia la vale, deși răul adevărat încă nici nu începuse.

  p Mai apare apoi în peisaj un nefericit ziarist, civil neinstruit de felul lui, care se folosește de documentele militare privind promovarea sa la un grad de protocol din vremea unui mult prea zelos ministru al apărării pentru a-și asuma pretinsa calitate de ofițer sub acoperire al serviciului militar de informații. Bine sfătuit, omul nu riscă din punct de vedere penal prea multe, mai ales că a primit probabil garanții că demersul său va rămâne fără niciun fel de consecințe. Astfel eliberat de constrângeri și credibilizat prin spovedanie, nefericitul în cauză urmează să facă în curând un anunț bombă cu privire la presupusa calitate de ofițer sub acoperire al principalului contracandidat al actualului favorit al cursei prezidențiale. În alte cuvinte, o făcătură electorală de presă tabloidă pe spinarea serviciului militar de informații al României. Și în România nimeni nu are absolut nicio problemă.

  p Mai avem apoi în România reîncălzirea ciorbei cu suspendarea președintelui în funcție, act de uzurpare a celei mai înalte funcții publice în stat, tratată dilematic și cu relaxare în termeni de oportunitate electorală și reglare de conturi politică între adversari presupus ireconciliabili. Și asta pentru că în România nu (mai) există procurori care să sesizeze că, în absența unui aviz prealabil favorabil al Curții Constituționale, care să confirme săvârșirea unor fapte grave de încălcare a Constituției, actul de suspendare a președintelui în funcție este emis în condiții de ilegalitate, fiind un abuz în serviciu al parlamentarilor semnatari. Tot așa cum asumarea calității de președinte interimar, fără a fi existat condiția premisă prevăzută de Constituție – fapte grave de încălcare a acesteia – doar Curtea fiind prin definiție abilitată să statueze legitim asupra acestui aspect, reprezintă un act de uzurpare a unei funcții oficiale, și nu oricare, ci aceea de comandat al forțelor armate în caz de război. A se adăuga la aceasta participația improprie a unor membri ai CSAT la un astfel de demers, și eventuale condiții de război iminent la granițele României, pentru ca ingredientele unui act de înaltă trădare să fie în mod oportun reunite.

  p Mai există de asemenea în România legi proaste, cu dispoziții neconstituționale, adoptate de parlamentari ce fac exces de zel în clădirea unor relații de bună vecinătate cu alte instituții ale statului, precum și instituții ale statului ce fac exces de zel în criticarea Curții Constituționale pentru că cenzurează excesele de prostie intenționată ale Parlamentului. Toate acestea sub acoperirea unei șarade legate de rezultate deosebite, însă selective (mai nou chiar în sens activ-negativ), în lupta împotriva corupției, precum și sub acoperirea a de acum omniprezentei amenințări externe, în special cibernetice și în special din Orientul Mijlociu. Ar fi rizibil dacă nu ar fi trist pentru că înainte să fie albastru precaut a fost roz imaginat, mai ales înainte ca prietenoasa primăvară rusească să își arate delicat ghioceii la Odessa.

  p Într-un cuvânt, totul e bine în România, țara este sigură și va fi bine protejată cibernetic de acțiuni de subversiune internă realizate în forță, precum puciul parlamentar anticonstituțional din vara lui 2012, un maxim de stabilitate roz sub umbrela alianței ce e datoare să apere România. Uneori chiar și de ea însăși, nu-i așa? Și în continuare, în România, nimeni nu are absolut nicio problemă.
