- locals.date = '2014-11-05 13:00';
- locals.thumb = '/assets/img/posts/MM_web2.jpg';
- locals.title  = 'Monica Macovei: Vom anunța deciziile privind denumirea noii construcții în următoarele zile';
- locals.slug = 'mm-deciziile-privind-denumirea-noii-constructii';
- locals.preview = 'Vom începe o nouă construcție politică în jurul principiilor și valorilor pe care le-am afirmat împreună în această campanie: dreptate, libertate, capitalism, antreprenoriat și lege egală pentru toți. Mesajul nostru trebuie dus mai departe în fiecare județ, în fiecare oraș, în fiecare comună, în fiecare sat.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
   em (4 noiembrie 2014) – Monica Macovei – Declarație de presă 
h3 Monica Macovei: Vom anunța deciziile privind denumirea noii construcții în următoarele zile
p În București am reușit împreună un scor de 12%. În Cluj Napoca avem 11,87%, iar în județ 7,74%. În Timișoara ați votat pentru proiectul nostru 9,23%, iar în județul Timiș – 6,19%. În municipiul Iași am trecut de 10%, iar în Constanța am avut 8,84%. În diaspora avem 15,1%. Statisticile arată că cei care m-au votat în mod covârșitor sunt tinerii între 18 și 35 de ani și oamenii cu studii superioare.
p De aici vom începe noua construcție, acestea sunt bazele unei construcții funcționale, curate, în care oamenii sunt în centru și participă în mod real la decizie.
p Dacă fără structuri, fără bani, fără baroni am reușit să obținem aceste rezultate în orașe mari, controlate de politicieni cu ștate vechi, este dovada clară că se poate.
p Vom anunța deciziile privind denumirea noii construcții în următoarele zile. 
p Vom începe o nouă construcție politică în jurul principiilor și valorilor pe care le-am afirmat împreună în această campanie: dreptate, libertate, capitalism, antreprenoriat și lege egală pentru toți. Mesajul nostru trebuie dus mai departe în fiecare județ, în fiecare oraș, în fiecare comună, în fiecare sat.