- locals.date = '2014-10-16 16:00';
- locals.thumb = '/assets/img/posts/TM4-1.jpg';
- locals.title  = 'Monica Macovei: E vremea independenților; vreau să fiu președintele românilor, nu al partidelor ';
- locals.slug = 'mm-presedintele-romanilor-nu-al-partidelor';
- locals.preview = 'Eu vreau acum, la 25 de ani de la Revoluție, să transformăm România, să transformăm clasa politică. Iar șansa mea stă tocmai în independența asta. Faptul că lucrez cu oamenii, că lucrez cu voluntari, că vreau să fiu președintele oamenilor, vreau să ascult oamenii, vreau să-i implic să facem o democrație participativă în care să facem cum vor ei. Iar cei care spun că nu am șanse că nu am un partid în spate ... păi foarte bine că nu am un partid.';
- locals.author = 'Daniel Florea';
- locals.source = 'http://www.agerpres.ro/politica/2014/10/16/interviu-monica-macovei-e-vremea-independentilor-vreau-sa-fiu-presedintele-romanilor-nu-al-partidelor-10-19-06';
- locals.tags = ['declaratie'];
p 
  |Europarlamentarul Monica Macovei, candidat independent la prezidențiale, consideră că președintele țării trebuie să fie cinstit, corect, să dea dovadă de seriozitate și fermitate și își dorește ca politicienii să se îndepărteze de 
  em limbajul de lemn 
  |al comunismului, dar și de cel 
  em golănesc 
  |al tranziției.
.row
  .col-sm-6
    img.img-responsive(src='/assets/img/posts/agerpres1.jpeg')
    p.small Fotografii: © CRISTIAN NISTOR / AGERPRES FOTO
  .col-sm-6
    p Ea spune, într-un interviu acordat AGERPRES, că vrea să fie președintele românilor, nu al partidelor, și crede că e vremea independenților.

    blockquote 
      em Vreau, ca președinte, să ne îndepărtăm de limbajul de lemn al comunismului, dar și de limbajul golănesc al tranziției. (...) Eu nu am partid în spate, dar am oameni în spate. (...) Eu vreau să fiu președintele românilor și nu al partidelor, președintele românilor, și nu al combinațiilor
      |, afirmă Monica Macovei. 
.content
  .row
    .col-sm-2
    .col-sm-8
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width="640" height="360" src="//www.youtube.com/embed/j13jUqcFJyg?rel=0" frameborder="0" allowfullscreen)
    .col-sm-2
.content
  p 
    strong AGERPRES: 
    |Ce v-a determinat să intrați în cursa electorală prezidențială?
  p 
    strong Monica Macovei: 
    |Faptul că suntem mințiți de prea multă vreme, furați de prea multă vreme, că șmecherii și cei care ne fură ne râd în nas, faptul că demnitatea noastră, a oamenilor, a românilor, este călcată în picioare de către clasa politică. Toate aceste lucruri la un loc m-au determinat să iau această decizie. Aceste lucruri, cuplate cu faptul că niciunul dintre candidații care s-au anunțat până când am luat eu decizia nu asigura că rezolvăm aceste chestiuni, că ele dispar din societatea românească, că președintele devine angajatul oamenilor și nu un tartor peste țară. Și, de asemenea, niciunul dintre ceilalți contracandidați nu asigură în mod cert menținerea României pe direcția Vest, și anume cu SUA și NATO.
.content
  p 
    strong AGERPRES: 
    |Ce vă recomandă pentru funcția supremă în stat?
  p 
    strong Monica Macovei: 
    |Știu politică externă. Doi ani cât am fost ministru al Justiției, pe lângă ce am făcut acasă, înființat DNA, conflictul de interese — infracțiune și multe altele, am fost în toate capitalele europene să conving Guvernele statelor membre și Parlamentele că România merită și trebuie să intre în Uniunea Europeană la 1 ianuarie 2007, și am făcut-o cu succes. Apoi, cinci ani în Parlamentul European am făcut politică externă. De asemenea, am lucrat, înainte de a fi ministrul Justiției, în comunități internaționale, cu OSCE, cu ONU, în zonele în care fuseseră conflicte civile, războaie, și am reconstruit instituții, iarăși, cu comunitatea internațională. Și asta este legat de politica externă. Aici intră și siguranța națională a României, apropo și de menținerea relației cu SUA, Parteneriatul strategic cu SUA pe care l-am încheiat în 2011 și care are, cred că multă lume nu știe, nu numai o componentă militară, ci și una de investiții, una de cercetare și, de asemenea, o componentă de stat de drept, de respectul față de lege.

  p De asemenea, sunt singurul candidat cinstit. Aici, diferența este foarte simplă între mine și ceilalți. Sunt singurul candidat asupra căruia nu a planat niciodată nicio suspiciune. Sunt singurul candidat cinstit, am o viziune și contează foarte mult asta. Pentru că dacă ești cinstit și corect oamenii cred în tine, ceea ce spui faci, nu faci promisiuni deșarte. Și, de asemenea, contează pentru partenerii externi, fiindcă au încredere în tine, îți ții cuvântul dat. Deci, cinstea înseamnă foarte multe lucruri, nu numai că nu ai furat.

  p De asemenea, ca președinte, trebuie să ai un anumit stil, un stil de seriozitate, de fermitate. În același timp, trebuie să socializezi, să te împrietenești cu ceilalți, ceea ce eu am făcut tot timpul, și cât eram ministru, și în Parlamentul European, dar trebuie să fii ferm, să fii serios. Vreau, ca președinte, să ne îndepărtăm de limbajul de lemn al comunismului, dar și de limbajul golănesc al tranziției. 

img.pull-right.img-responsive(src='/assets/img/posts/agerpres2.jpg')
.content
  p 
    strong AGERPRES: 
    |Care este principalul rol al șefului statului?
  p 
    strong Monica Macovei: 
    |Ca puteri constituționale — politica externă, siguranța națională, dar, aș spune, și viziunea pentru țara în care ești președinte, viziunea pentru România. De pildă, sunt câteva domenii care trebuie să fie prioritare. Pentru societatea românească cel mai bine ar fi, dacă se poate și pentru toată clasa politică românească, ca trenul în care ne urcăm toți, și președintele poate să fie cel care indică aceste priorități sau această prioritate, dacă e una, este trenul în care ne urcăm toți și știm că ne dăm jos în stația în care am rezolvat problema Educației de pildă, dacă Educația este prioritate. Așa a făcut Irlanda, de exemplu, acum mulți ani, când toți au decis care e prioritatea pentru ei. Toată clasa politică și toată societatea au spus: Educația. Și toată lumea s-a urcat în trenul Educației. Sau care sunt industriile pe care noi vrem să le promovăm și pe care ne concentrăm, ca prioritate de țară.
.content
  p
    strong AGERPRES: 
    |Deci, obiective majore, comune, asumate ...
  p 
    strong Monica Macovei: 
    |Da, de toată lumea. Măcar de președinte și de popor. Eu le propun în viziunea mea pentru țară.
.content
  p
    strong AGERPRES: 
    |Credeți că este oportună revizuirea Constituției în sensul modificării modalității de alegere a președintelui țării și a atribuțiilor acestuia?
  p 
    strong Monica Macovei: 
    |Este oportună modificarea Constituției în primul rând pentru a pune în Constituție voința poporului cu 300 de parlamentari, dar și pentru a stabili și a delimita clar atribuțiile președintelui, Parlamentului și Guvernului. Putem să ne uităm și la puterea judecătorească dacă facem modificări, iarăși trebuie să eliminăm acea prezumție de dobândire licită a averii care împiedică multe confiscări în România și care nu mai există în nicio Constituție din lume. Cred că în '91-'92, când au lucrat la Constituție, ei s-au pregătit să fure în această perioadă de tranziție de și-au pus această prevedere acolo.

  p În ceea ce privește mandatul președintelui, eu cred că trebuie să rămână la cinci ani, pentru că există riscul ca atunci când se vor suprapune mandatele, adică atunci când vor fi alegeri și pentru Parlament, care dă Guvernul, și pentru președinte, să se voteze toți din același partid. E un partid pe val să spunem. Ori, într-o democrație, puterea trebuie împărțită între partide. Dacă un partid are și președintele și Parlamentul, majoritatea în Parlament și face Guvernul, riscul să alunecăm spre dictatură este foarte mare. Știți că puterea corupe. Puterea trebuie împărțită. Așa a câștigat alegerile președintele Slovaciei acum un an și ceva, explicând alegătorilor din Slovacia că puterea trebuie împărțită — el venind din mediul de afaceri și candidând împotriva marelui partid-mamut, care era la putere în Slovacia.
.content
  p
    strong AGERPRES: 
    |Ce alte modificări ale legii fundamentale se impun?
  p 
    strong Monica Macovei: 
    |Categoric se impune eliminarea imunității pentru parlamentari, miniștri și președintele țării. Avem trei feluri de imunități pentru parlamentarii care au fost miniștri sau care n-au fost miniștri, care sunt sau nu sunt. Pentru cei care au fost miniștri, de exemplu, nici nu poți să-i audiezi măcar, ca procuror nici măcar nu poți să le iei o declarație. Deci ancheta e total blocată. Și, din experiența ultimilor 25 de ani, vedem că foarte greu se ridică imunitatea. Uneori durează luni de zile. (...) Și de multe ori se respinge. Nu se poate așa. Trebuie să fie egali în fața legii cu ceilalți cetățeni. Ca să fie clar, mă refer la imunitatea pentru fapte penale și nu pentru opinii politice.

  p Există alte țări în care parlamentarii au imunitate, dar nu se face circul ăsta ca la noi, ci se ridică imunitatea imediat. De pildă, în Belgia se ridică în maximum 48 de ore, nimeni nu se uită în dosar să vadă dacă sunt probe sau nu, iar în Parlamentul Germaniei se ridică automat. La începutul fiecărei sesiuni parlamentare, parlamentarii germani din Bundestag adoptă o hotărâre prin care decid că, automat, orice cerere va veni în decursul acelei legislaturi de ridicare a imunității ea se admite pe loc, într-un minut. Nu cercetează nimeni nimic. Doar, apoi, dacă se află informații că ar fi fost ceva în neregulă, ceva fictiv, de abia atunci se uită despre ce e vorba. E, dacă ar fi și la noi așa, ar fi bine. Eu am transmis de vreo doi-trei ani în Parlament o propunere de modificare a Regulamentului Camerei cu termen de maxim 48 de ore și să nu se uite în dosare. Și stă acolo, fără să o adopte.

  p Deci, trebuie eliminată această imunitate. De altfel, în SUA nu există deloc această imunitate. Nici la guvernatori. Ați văzut că nici pentru președintele SUA, avem cazul Clinton, care a fost anchetat de procurori. Așa că haideți să fim și noi toți egali în fața legii, și politicienii.
.content
  p
    strong AGERPRES: 
    |Ce vă propuneți în materie de politică externă?
  p 
    strong Monica Macovei: 
    |Sigur, România să rămână pe direcția Vest. În principal acum vorbim de direcția Statele Unite, Parteneriatul strategic cu SUA și NATO, desigur și Uniunea Europeană. Dar să nu uităm că dacă avem un război la granița de Est a României, dacă se întâmplă ceva, pe noi ne apără NATO, care este singura organizație internațională în care noi suntem membri și care are o componentă militară și de apărare: toți pentru unul, unul pentru toți, militar vorbind. Uniunea Europeană nu are o Armată. Și ca atare (relația cu NATO — n.r.) este foarte importantă.

  p Mai am un obiectiv pe care nu l-am văzut la niciun alt candidat și pe care văd că nu-l face nimeni, nu-l aduce nimeni la îndeplinire acum, în România, din cei care sunt la putere. Și anume, transformarea faptului că la granița României este un război și avem o graniță cu o zonă non-democratică, mă refer la Crimeea luată de Federația Rusă. Suntem la această graniță, România este stat democrat la graniță cu non-democrația. Eu am numit-o cap de pod în porunca 'să nu trădezi interesul național', adică politica externă a României. Asta ce înseamnă? Că atunci când suntem la o graniță cu non-democrația, atunci noi trebuie să transformăm acest lucru într-o mare oportunitate pentru România. Și trebuie să ne ducem și să spunem, la Washington, la Berlin, la Londra, peste tot: investiți economic, militar și politic în România ca să întăriți democrația. Pentru că există riscul, fiind la granița cu non-democrația, non-democrația să se extindă. Este mult mai ușor. Și pentru că vrei întotdeauna să-ți fie foarte clare granițele democrației. Ce se întâmplă acum cu Turcia, apropo de fundamentaliști — la fel au făcut americanii cu Israelul, au investit foarte mult în Israel, militar, economic și politic ... într-o lume islamică. La fel au făcut americanii cu Coreea de Sud când Coreea de Nord a revenit comuniștilor. Deci era granița între democrație și nedemocrație, au investit masiv în Coreea de Sud. Și atunci hai să facem și noi o oportunitate din acest nefericit război, de altfel. 
img.pull-left.img-responsive(src='/assets/img/posts/agerpres3.jpg')
.content
  p
    strong AGERPRES: 
    |Dacă veți câștiga alegerile aveți în vedere desemnarea unui nou prim-ministru? Ați pomenit recent un nume ...
  p
    strong Monica Macovei: 
    |Pentru prima oară am spus un nume. Da, ca să desemnezi un nou prim-ministru trebuie să dispară actualul prim-ministru, adică să nu mai fie prim-ministru. O variantă este ca Parlamentul să facă o moțiune de cenzură, să existe o majoritate parlamentară care prin moțiune de cenzură să-l dea jos pe actualul prim-ministru Victor Ponta. Dacă nu, atunci voi lucra cu Guvernul și Parlamentul care există. Și nu uit, nu uită nici ei, că în 2016 avem alegeri parlamentare. Eu o să pun programul politic pe masă, viziunea pentru țară, și o să vorbesc permanent cu oamenii. Să vedem cum o să se simtă Parlamentul sau Guvernul dacă nu alocă 6% pentru Sănătate, că bani sunt, dacă nu recuperează banii din evaziune fiscală. Evaziunea fiscală este de 70 de miliarde de euro. Deci, bani avem în România, ANAF-ul să-și facă treaba, să se ducă după marii evazioniști. La Lukoil prejudiciul de până acum, stabilit în anchetă, este de 230 de milioane de euro evaziune fiscală. Ce să vă mai spun, la Microsoft, patru Guverne, iarăși sute de milioane de euro luați din bugetul Ministerului Educației. Dacă împiedicăm să se fure acești bani sau dacă, furați fiind, îi aducem înapoi, avem bani pentru Educație, pentru Sănătate, pentru autostrăzi. Deci, voi lucra cu ei, dar le voi pune aceste condiții pe masă și voi vorbi cu oamenii. Da, hai să facem pentru Sănătate asta sau pentru Educație să facem așa. Avem bani, hai depolitizăm instituțiile. ANAF-ul nu trebuie să fie politizat, nici Educația, nici Sănătatea. (...)

  p Am spus că premierul pe care l-aș dori este Daniel Morar pentru că a instrumentat și a condus o instituție, DNA, care a instrumentat și a anchetat dosare economice, nu numai de corupție, ci și de abuz în serviciu, spălare de bani, evaziune fiscală, și știe toate dedesubturile, știe cum se fură de către politicieni. Deci nu e acoperit niciun ministru.
.content
  p
    strong AGERPRES: 
    |Cu ce echipă de consilieri veți merge la Palatul Cotroceni?
  p
    strong Monica Macovei: 
    |Să știți că în mintea mea, și nu numai în mintea mea, am și discutat cu unii dintre ei, i-am și ales, sunt persoane din sectorul privat.
.content
  p
    strong AGERPRES: 
    |Care credeți că sunt principalii dumneavoastră contracandidați?
  p
    strong Monica Macovei: 
    |Cei situați în sondaje, în acest moment, în fața mea, Ponta și Iohannis.
.content
  p
    strong AGERPRES: 
    |Vă temeți de vreunul dintre contracandidați?
  p
    strong Monica Macovei: 
    |Nu mă tem de nimic. Ce o să decidă majoritatea votanților asta este altceva, dar, dacă s-au săturat să fie mințiți ... Eu m-am săturat să fiu mințită. Cred că mulți s-au săturat să fie mințiți, să fie furați, să fie înșelați, să le fie călcată demnitatea în picioare și atunci nu mai votează cu niciunul dintre ei. Iar în ceea ce-l privește pe Ponta voi spune explicit un exemplu, asta apropo de atributul principal al președintelui, care este politica externă și siguranța națională. Eu am insistat pe Parteneriatul strategic cu SUA și pe relația noastră cu NATO, pe faptul că suntem în NATO. Și vreau să vă spun că în timp ce baza de la Deveselu era predată Armatei americane, ceea ce este o chestie colosal de bună, fantastică, pentru România, de întărire a prezenței militare americane în România și de încredere față de România, în acel moment nu era niciun oficial român acolo. Ponta era la Chișinău și nu numai că era la Chișinău în loc să fie la Deveselu, deși așa ar fi trebuit, dar vorbea împotriva doamnei Victoria Nuland de la Departamentul de Stat al SUA să nu-i dea lecții. Asta vine în contextul în care în dosarul Lukoil Ponta intervine public în favoarea companiei rusești și, practic, le spune procurorilor ce să facă. Și, din păcate, acel procuror de la Parchetul Curții de Apel Ploiești parțial a răspuns solicitării lui Ponta, nu știu din ce motiv, și a ridicat parțial sechestrul pe bunurile companiei Lukoil. Sau s-a întâmplat vreodată în România ca un ambasador să facă ce a făcut ambasadorul Federației Ruse, să spună: ok, să se investigheze evaziunea fiscală reclamată la Lukoil, de 230 de milioane de euro, respectându-se legea, dar să se țină seama de relațiile româno-ruse. Nu am mai auzit așa ceva. Justiția nu ține seama de niciun fel de relații de genul acesta, justiția e justiție. Sau vicepreședintele Lukoil care a zis că-și ia jucăriile și pleacă dacă nu se ridică sechestrul. Și Ponta ... Ponta trebuia să-i dea afară imediat, Ponta trebuia să apere justiția din România, Ponta trebuie să apere România, deci nu să apere o companie rusească. Și, când tu nu spui nimic, când nu ceri să fie retras ambasadorul rus după asemenea declarații împotriva justiției românești, înseamnă că tu ești, nu știu, agent al rușilor, tu nu ești român, tu trădezi România. E foarte simplu.

  p Și mai e ceva legat de Ponta. E de doi ani și jumătate premier și acum vorbește despre schimbarea României. Păi, de ce nu a schimbat România în bine în doi ani și jumătate, premier și cu majoritate în Parlament? Ce să mai schimbe la România? De ce credem noi că o să schimbe ceva în bine ca președinte? Ce ar mai face el, ca președinte? Că pe relații externe l-am văzut, vrea să ne ducă la ruși. Deci, cu atât mai bine, bine că l-am văzut cu toții și să se trezească lumea, să-și dea seama că în bine nu va schimba nimic, că nu a schimbat ca premier, nu a făcut niciun loc de muncă, nu a făcut nimic din ce a zis. Dimpotrivă, a făcut mai rău. A pus mai multe impozite și taxe, a dat în justiție de câte ori a putut ca să-și apere baronii locali, județeni, de care sunt. (...) Deci nu a făcut nimic bun ca premier, timp de doi ani și jumătate. Totul arată că ne-ar duce spre mai rău dacă ajunge președinte.

  p În ceea ce-l privește pe Iohannis ... sunt în aceeași situație. (...) Adică nici Iohannis nu a spus clar că dorește o relație puternică cu SUA. Dimpotrivă, tot timpul mizează mult pe Germania. E ok, doar că trebuie să știm că suntem dependenți în UE, și Germania este, din păcate, de gazul rusesc. Și securitatea națională a României depinde de independența sa energetică. Ca atare trebuie să ne gândim la alte surse decât la gazul rusesc — centrale nucleare, dar făcute cu aliați, nu cu ruși sau chinezi. Cu aliați, că sunt secrete, e siguranța națională a României. Sau țițeiul și gazele naturale pe care le avem în Marea Neagră să le exploatăm cu companii românești, iar dacă sunt străine să fie, iarăși, din țări aliate.

  p De asta spun că la politică externă niciunul nu stă bine. Iohannis nu are deloc experiență, iar în ceea ce privește statul de drept și legea, care sunt esențiale într-o societate, și Iohannis și Ponta au picat împreună examenul de țară din 2012. Au fost împreună, nu? Când s-a încălcat Constituția, legile, OUG care desființa și Curtea Constituțională, care spunea că nu mai sunt obligatorii deciziile CCR — ''marțea neagră''. Nu am auzit ca Iohannis să fi spus ceva că nu e bine să se voteze super imunitatea parlamentarilor. A fost premierul propus de Voiculescu și Ponta. Deci, nu-i un om care să fi apărat vreodată legea, justiția, să fi luptat împotriva fraudei, evaziunii, corupției. Așa încât, de ce să credem că ar fi acum? Dimpotrivă, e chiar mai grav decât Ponta, pentru că, aparent, lumea se pare că a mai uitat din aceste lucruri și-l vede altfel, crede că e altfel decât Ponta și în realitate nu e. 
img.pull-right.img-responsive(src='/assets/img/posts/agerpres4.jpg')
.content
  p
    strong AGERPRES: 
    |Ce scor sperați să obțineți în alegeri?
  p
    strong Monica Macovei: 
    |Sper să câștig alegerile.
.content
  p
    strong AGERPRES: 
    |Dacă nu veți ajunge în al doilea tur de scrutin, ce le veți recomanda susținătorilor dumneavoastră?
  p
    strong Monica Macovei: 
    |Un singur nume: Macovei. Și aici aș vrea să fac un comentariu. Aud pe unii spunând: o iubim pe Monica, credem în Monica, dar nu credem că are șanse pentru că nu are partidul în spate. Aceștia sunt oamenii care, de fapt, nici nu iubesc aceste partide, care, de 25 de ani, sunt la putere, aceleași, și care au fost în toate combinațiile posibile și iată unde suntem. Suntem rău. Eu nu am partid în spate, dar eu am oameni în spate. Ați mai văzut vreun candidat care să lucreze cu voluntari? Firma de IT, compania de comunicare, arhitecți, regizori, toți creativii care lucrează cu mine, toată lumea lucrează gratis, voluntari în toată țara care lucrează gratis. Foarte mulți studenți avem aici. Avem și pensionari. La recepție (la sediul de campanie — n.r.), de exemplu, avem trei schimburi, ca să zic așa. Una dintre doamne este matematician cu doctorat în matematică. Și i-am spus: vino să faci altceva. Și a zis: nu, vreau să stau aici la recepție să vorbesc cu oamenii, îmi place. (...) Deci, cum am spus, eu vreau să fiu președintele românilor și nu al partidelor, președintele românilor, și nu al combinațiilor.
.content
  p
    strong AGERPRES: 
    |Este pregătită România să aibă o femeie președinte?
  p
    strong Monica Macovei: 
    |Sigur că da. Până acum nu a avut o ofertă de președinte-femeie, integru, care să știe politică externă, care să fi dovedit că face lucruri. Tot ce am făcut, în România se știe ce am făcut, și în afară. Tot ce am spus că fac am făcut. Nici candidat-bărbat ... adică aici nu cred că românii vor face o diferență. Problema este cum ești, ești cinstit, ești puternic, au încredere în tine, merg cu tine la drum mai departe, se urcă în acel tren de care spuneam, al României, care să meargă înainte, văd că cei din afară au încredere în tine. Despre asta e vorba. Nu văd nicio problemă altfel, nu cred că poporul român este misogin.

  p Și aș mai spune ceva. Toți avem mame sau am avut mame și știm ce a făcut mama pentru noi. De ce nu am vota-o noi pe mama președinte? Adică, toți ținem la ele și ne iubim mamele, da? Mai departe, știm că o femeie duce și slujbă, are și copii, are și serviciu, îl mai sfătuiește și pe bărbat ce să facă. Și mulți bărbați știu asta. Deci, sunt toate motivele din lume să fie o femeie. Și avem exemple în Europa, nu numai Angela Merkel, avem și în foste state comuniste, în țările baltice și în alte țări, avem premieri, cancelari sau președinți — femeie.
.content
  p
    strong AGERPRES: 
    |Ce ați făcut și ce veți face în continuare în campania electorală pentru a atrage voturi, având în vedere, cum spuneați și mai devreme, că nu aveți în spate un aparat de partid?
  p
    strong Monica Macovei: 
    |Eu mă bucur, e vremea independenților. Deci, repet, avem aceleași partide de 25 de ani. Lumea s-a săturat de ele. La ultimele alegeri, în 2012, jumătate din populația României nu a venit la vot. De ce? Fiindcă s-au săturat de acești politicieni. Eu vreau acum, la 25 de ani de la Revoluție, să transformăm România, să transformăm clasa politică. Iar șansa mea stă tocmai în independența asta. Faptul că lucrez cu oamenii, că lucrez cu voluntari, că vreau să fiu președintele oamenilor, vreau să ascult oamenii, vreau să-i implic să facem o democrație participativă în care să facem cum vor ei. Iar cei care spun că nu am șanse că nu am un partid în spate ... păi foarte bine că nu am un partid. (...) Oricum președintele este independent și își dă demisia (dintr-un partid — n.r.) după ce e ales. Dar la mine există garanția asta încă de acum, de la bun început. Tuturor celor care spun că au încredere în mine, dar că nu am un partid în spate le spun că șansa mea este votul lor. Este foarte simplu: dacă toți cei care spuneți că aveți încredere în mine, dar nu credeți că am șanse și mă votați, am câștigat.
.content
  p
    strong AGERPRES: 
    |Ce hobby-uri aveți?
  p
    strong Monica Macovei: 
    |Două hobby-uri mari, să zicem de natură sportivă, care se cuplează cu iubirea mea de libertate, înotul și schiul. Când înot, înot între două și patru ore, de asta spun înotul. Îmi place să ajung departe, în mijlocul Mării Negre, să fiu singură. Și, de asemenea, să schiez mult pe pârtii negre, mai și sar dacă sunt trambuline pe drum. Îmi place să mă și plimb pe pârtii verzi prin pădure sau albastre. Citesc și îmi place să ascult muzică simfonică. 