- locals.date = '2014-10-28 11:00';
- locals.thumb = '/assets/img/posts/mm-depunere-semnaturi.jpg';
- locals.title  = 'Monica Macovei: Spune Președintelui! – Caravana oamenilor – marți, 28 octombrie 2014';
- locals.slug = 'mm-caravana-oamenilor-28-octombrie';
- locals.preview = 'Cea de-a doua etapă a acțiunii Spune Președintelui! Caravana oamenilor continuă marți, 28 octombrie 2014, pe 3 noi trasee.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
   em (27 octombrie 2014) – Monica Macovei – Comunicat de presă
h3
   strong Spune Președintelui! – Caravana oamenilor – Etapa a II-a
p Cea de-a doua etapă a acțiunii Spune Președintelui! Caravana oamenilor continuă marți, 28 octombrie 2014, pe 3 noi trasee.
p
   |Traseu 1:   
   strong Bodești 
   |(09:10 – 09:50) - 
   strong Crăcăoani 
   |(10:00 - 10:50) - 
   strong Târgu Neamț 
   |(11:10 – 12:30) - 
   strong Fălticeni 
   |(13:10 – 14:30) -  
   strong Gura Humorului 
   |(15:50 – 17:10) - 
   strong Câmpulung Moldovenesc 
   |(17:50 – 19:10)
p
   |Traseu 2: 
   strong Bocșa 
   |(09:00 – 10:00) - 
   strong Făget 
   |(11:30 – 12:40) - 
   strong Deva 
   |(13:50 – 15:20) - 
   strong Călan 
   |(16:30 – 18:00)
p
   |Traseu 3: 
   strong Ostrov 
   |(10:00 – 10:40) - 
   strong Lipnița 
   |(11:00 – 11:40) - 
   strong Băneasa 
   |(12:00 – 12:40) - 
   strong Ion Corvin 
   |(13:00 – 13:40) - 
   strong Adamclisi 
   |(14:00 – 14:40) - 
   strong Cobadin 
   |(15:50 – 16:30) - 
   strong Ciocârlia 
   |(16:40 – 17:20)
p Caravana „Spune Președintelui” își propune să colecteze nemulțumirile populației din orașe și comune, cu scopul de a le analiza și găsi soluții de rezolvare, și să aducă la cunoștința oamenilor din  comunitățile locale programul Monicăi Macovei.
p În prima etapă, 2 echipe de voluntari au străbătut țara și au strâns mesajele dumneavoastră. 
p
   |Cele 3 trasee ale caravanei “Spune Președintelui!”, ora și localitățile străbătute, vor fi afișate zilnic pe pagina de Facebook 
   a(href='https://www.facebook.com/MonicaMacoveiUE', target = '_blank') Monica Luisa Macovei 
   |și pe pagina de internet 
   a(href='www.macoveipresedinte.ro', target = '_blank') www.macoveipresedinte.ro
   |.
p Vino și spune ce vrei să facă Președintele Monica Macovei pentru tine și voluntarii vor duce cererile tale mai departe, pentru a fi auzite.