- locals.date = '2014-10-20 11:00';
- locals.thumb = '/assets/img/posts/vladimir-tismaneanu.jpg';
- locals.title  = 'Miza acestor alegeri este imensă: O susţin pe Monica Macovei';
- locals.slug = 'tismaneanu-miza-acestor-alegeri-este-imensa';
- locals.preview = 'Voi vota pentru că fiecare vot contează şi pentru că miza acestor alegeri este imensă. Nu ascund pentru cine votez: o susţin pe Monica Macovei pentru că este vocea celor fără de voce. Împreună cu politologul Marius Stan, am scris un articol apărut pe platforma „Contributors“, în care vorbim despre Monica Macovei drept poarta noastră către normalitate. O votez pe Monica Macovei pentru că ea semnifică şansa României de merge înainte pe linia euro-atlantică, deci privind către Vest, nu către Est.';
- locals.author = 'Vladimir Tismaneanu';
- locals.source = 'http://tismaneanu.wordpress.com/2014/10/18/miza-acestor-alegeri-este-imensa-o-sustin-pe-monica-macovei/';
- locals.tags = ['articol'];
p Voi vota pentru că fiecare vot contează şi pentru că miza acestor alegeri este imensă. Nu ascund pentru cine votez: o susţin pe Monica Macovei pentru că este vocea celor fără de voce. Împreună cu politologul Marius Stan, am scris un articol apărut pe platforma „Contributors“, în care vorbim despre Monica Macovei drept poarta noastră către normalitate. O votez pe Monica Macovei pentru că ea semnifică şansa României de merge înainte pe linia euro-atlantică, deci privind către Vest, nu către Est.

p O susţin pe Monica Macovei pentru că ea mi se pare garanta faptului că lupta pentru statul  de drept, începută în timpul mandatelor lui Traian Băsescu, va continua şi chiar se va intensifica.

p O susţin pe Monica Macovei pentru că o văd ca exponenta năzuinţelor tinerilor din România de a nu mai avea destinul uzurpat de mafiile locale şi de diverşii şarlatani, demagogi şi aventurieri. O susţin pentru că nu se supune conformismelor paralizante şi scepticismelor relativizante. O susţin pentru că îi pasă cu adevărat de cetăţenii acestei ţări. O susţin pentru că susţine valorile Proclamaţiei de la Timişoara din martie 1990, adevărata cartă a revoluţiei române. O susţin pentru că spune lucrurilor pe nume, inclusiv în ce priveşte mineriadele şi nefasta tentativă de lovitură de stat din iulie 2012.

a(href='http://adevarul.ro/news/eveniment/o-tara-vazuta-afara-romanii-diaspora-1_54412a3a0d133766a80414a1/index.html')

p
  em
    strong Update: 
    |Orice cetatean are dreptul sa voteze asa cum ii dicteaza constiinta. Este ridicol si deplasat sa facem procese de intentii celor care isi manifesta public, in mod decent si rational, optiunea pentru un candidat sau altul. Dl Andrei Plesu, un intelectual publlic pe care il pretuiesc in cel mai inalt grad, a declarat ca va vota cu dl Iohannis in ambele tururi. Este, evident, dreptul domniei sale. Domnii Gabriel Liiceanu si Mircea Cartarescu, alti doi intelectuali publici pentru care am o maxima pretuire, au declarat ca vor vota pentru Monica Macovei. A vota pentru Monica Macovei in primul tur este, asadar, un drept inalienabil al celor care se regasesc in programul  ei electoral si in bilantul activitatii ei din ultimele doua decenii si mai bine. Dl Iohannis, ca presedinte al Forumului Democratic German, a sustinut, prin deputatul acestui forum, toate actiunile anti-constitutionale din vara anului 2012. Nu s-a delimitat categoric de ele nici pana azi. Nu este o bagatela, ci un element extrem de semnificativ atunci cand ne propunem sa cantarim in chip lucid cu cine votam. Eu unul socot ca Dan Tapalaga avea dreptate cand a numit acele actiuni ale USL drept “revolutia borfasilor”. Suntem unii dintre noi care votam pentru revolutia non-violenta a sistemului institutional in sensul transparentei si responsabilizarii (accountability), deci pentru ceea ce sustine Monica Macovei. Să o numim revolutia procurorilor…