- locals.date = '2014-09-12 19:45';
- locals.thumb = '/assets/img/posts/vladimir-tismaneanu.jpg';
- locals.title  = 'Monica Macovei, revoluţia neterminată și spiritul Timișoarei';
- locals.slug = 'vladimir-tismaneanu-revolutia-neterminat-si-spiritul-timisoarei';
- locals.preview = 'Legătura dintre Monica Macovei si Societatea Timisoara durează de ani de zile si exprimă o viziune comună despre relatia dintre libertate, democratie, justitie si memorie. Legalitatea nu poate fi considerată pe deplin consolidată cata vreme memoria este mistificată, manipulată si utilizata in scopuri politice. Educatia nu poate fi separată de educatia civică. Cultura libertătii nu poate fi despartită de cultura civică .';
- locals.author = 'Vladimir Tismăneanu';
- locals.source = '';
- locals.tags = ['opinie','articol','presa'];

figure.pull-right
  img.img-responsive(src="/assets/img/posts/vladimir-tismaneanu.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

em In memoria lui George Serban

p Daca există un candidat prezidential care intruchipează spiritul “Proclamatiei de la Timișoara” din martie 1990, numele său este Monica Macovei. Ceea ce cerea “Proclamatia” era o asanare a sferei publice, o retragere din scenă, macar pentru cativa ani, a celor direct responsabili, ca personaje importante ale aparatului de partid, guvernamental si al Securitatii. “Proclamatia” cerea denomenclaturizarea, deci decomunizarea Romaniei. Punctul 8 propunea concret si fara echivoc lustratia. FSN-ul i-a acuzat pe autorii “Proclamatiei”, intre care regretatul George Serban, de extremism, ba chiar si de fascism. Neo-fesenistii de tip Ponta se simt direct primejduiti de Monica Macovei si de valul civic pornit sa sustina candidatura ei. De aceea declama ei stupidul slogan al “debasificarii”.

p “Proclamatia” i-a isterizat pe nomenclaturistii grupati in jurul tandemului Iliescu-Roman. Astazi, campania Monicai Macovei ii scoate din minti pe toti cei care, explicit sau implicit, mizeaza pe perpetuarea pontocratiei, acest avatar al sistemului Iliescu. La fel, explodeaza de furie varii fosti securisti, canaliile interlope, traficantii de principii, demagogii de ultima speta pozand in apostoli ai patriotismului, expertii in echidistanta si favoritii macabrelor “antene”. Ii vezi scriind texte dezarticulate, panicate, pamflete veninoase ce se vor analize, in care incearca sa conteste nu doar sansele Monicai Macovei, dar si independenta ei. Monica Macovei a primit in 2006 Premiul “Speranta” din partea Societatii Timisoara. Monica Macovei nu a inselat sperantele celor care i-au acordat acest premiu.


p Este asadar o veste buna ca europarlamentarul Monica Macovei, aflată în plină campanie de strângere de semnături pentru depunerea candidaturii la alegerile prezidențiale, merge vineri la Timișoara. Ea va participa la o dezbatere organizată de Societatea Timișoara și va merge, sâmbătă, la slujbă la Catedrală.

p Europarlamentarul Monica Macovei este invitată vineri la dezbaterea „Educația și cultura – o prioritate pentru România”, la care participă profesori universitari și oameni de cultură din Timișoara. Aceasta este organizată de Societatea Timișoara și are loc, de la ora 10, la Salonul Vega, în Bastionul Theresia. Sâmbătă, Monica Macovei se va întâlni cu voluntarii care o ajută să strângă semnături și va vizita cele trei corturi amplasate în Timișoara în acest scop. De asemenea, tot sâmbătă, de la ora 10, europarlamentarul fost democrat-liberal va participa la slujba de la Catedrala Mitropolitană, iar de la ora 14 va vizita Muzeul Memorialul Revoluției.

p Legătura dintre Monica Macovei si Societatea Timisoara durează de ani de zile si exprimă o viziune comună despre relatia dintre libertate, democratie, justitie si memorie. Legalitatea nu poate fi considerată pe deplin consolidată cata vreme memoria este mistificată, manipulată si utilizata in scopuri politice. Educatia nu poate fi separată de educatia civică. Cultura libertătii nu poate fi despartită de cultura civică .

a(href="http://www.contributors.ro/politica-doctrine/pentru-monica-macovei-poarta-noastra-catre-normalitate-articol-de-vladimir-tismaneanu-si-marius-stan/", target="_blank") http://www.contributors.ro/politica-doctrine/pentru-monica-macovei-poarta-noastra-catre-normalitate-articol-de-vladimir-tismaneanu-si-marius-stan/


p Punctul 8 al Proclamatiei:

blockquote …propunem ca legea electorala sa interzica pentru primele trei legislaturi consecutive dreptul la candidatura, pe orice lista, al fostilor activisti comunisti si al fostilor ofiteri de Securitate. Prezenta lor in viata politica a tarii este principala sursa a tensiunilor si suspiciunilor care framanta astazi societatea romaneasca. Pana la stabilizarea situatiei si reconcilierea nationala, absenta lor din viata publica este absolut necesara. Cerem, de asemenea, ca in legea electorala sa se treaca un paragraf special care sa interzica fostilor activisti comunisti, candidatura la functia de presedinte al tarii. Presedintele Romaniei trebuie sa fie unul dintre simbolurile despartirii noastre de comunism. A fi fost membru de partid nu este o vina. Stim cu totii in ce masura era conditionata viata individului, de la realizarea profesionala pana la primirea unei locuinte, de carnetul rosu si ce consecinte grave atragea predarea lui. Activistii au fost insa acei oameni care si-au abandonat profesiile pentru a sluji partidul comunist si a beneficia de privilegiile deosebite oferite de acesta. Un om care a facut o asemenea alegere nu prezinta garantiile morale pe care trebuie sa le ofere un Presedinte. Propunem reducerea prerogativelor acestei functii, dupa modelul multor tari civilizate ale lumii. Astfel, pentru demnitatea de Presedinte al Romaniei ar putea candida si personalitati marcante ale vietii culturale si stiintifice, fara o experienta politica deosebita. Tot in acest context, propunem ca prima legislatura sa fie de numai doi ani, timp necesar intaririi institutiilor democratice si clarificarii pozitiei ideologice a fiecaruia dintre multele partide aparute. De-abia atunci am putea face o alegere in cunostinta de cauza, cu cartile pe fata.
  a(href="http://proclamatia.wordpress.com/") http://proclamatia.wordpress.com/

p 
  strong Update. 
  | Iata un fragment din declaratia Monicai Macovei facuta azi la Timisoara, la intalnirea cu oamenii de cultura din acel oras:

blockquote Una dintre priorităţile mele ca preşedinte este să terminăm Revoluţia din Timişoara – ceea ce am numit revoluţia neterminată. Este neterminată atâta timp cât nu ştim adevărul despre revoluţie şi atâta timp cât cei care au omorât direct sau au fost complici nu sunt pedepsiţi, atât în Timişoara cât şi în Bucureşti, Sibiu şi alte oraşe. Vreau să termin Revoluţia de la Timişoara prin dreptate pentru victime şi prin adevăr. Ancheta să continue şi datorită mie, poate, pentru că eu am scris acel proiect de lege prin care omorul a devenit imprescriptibil”, a spus Macovei, la Timişoara.
