- locals.date = '2014-09-21 18:00';
- locals.thumb = '/assets/img/posts/mm-depunere-semnaturi.jpg';
- locals.title  = 'Dacă toți cei care cred în mine mă votează în primul tur, voi câștiga!';
- locals.slug = 'monica-macovei-a-depus-peste-300000-semnaturi';
- locals.preview = 'Am depus semnăturile, peste 300.000. Mulțumesc oamenilor care m-au sprijinit. E bine că PSD și PNL s-au oprit la timp din marea întrecere socialistă, altfel riscau să depună mai multe semnături decât numărul de alegători.';
- locals.author = 'Monica Macovei președinte';
- locals.source = '';

figure.pull-right
  img.img-responsive(src="/assets/img/posts/mm-depunere-semnaturi.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

h2 Dacă toți cei care cred în mine mă votează în primul tur, voi câștiga!

p.strong I. 
p Am depus semnăturile, peste 300.000. Mulțumesc oamenilor care m-au sprijinit. E bine că PSD și PNL s-au oprit la timp din marea întrecere socialistă, altfel riscau să depună mai multe semnături decât numărul de alegători.

p.strong II. 
p Candidez pentru că vreau să fiu angajatul vostru, și nu un tartor peste țară.

p Candidez pentru că vreau ca România să rămână pe direcția VEST, să garantez siguranța națională a țării noastre.

p Candidez pentru că vreau să ne luăm înapoi banii furați. Toate privatizările și contractele cu statul din ultimii 25 de ani vor fi cercetate.

p Vreau ca Parlamentul să-și reducă cu 50% cheltuielile. Un stat sărac nu poate susține un Parlament bogat.

p Voi susține ca toți românii din țară și din străinătate să poată vota electronic sau prin corespondență. Românii din diaspora sunt parte a națiunii noastre.

p Nu mai putem continua așa. Medicii pleacă, mii de români pleacă, investitorii pleacă. Ne afundam în mizerie. Demnitatea noastră este călcată în picioare.

p.strong III. 
p Am adus și niște cadouri.

p Am aici pentru Micul Ceaușescu de la Palatul Victoria o pungă de pop-corn, ca să mă poată urmări cu atenție, oricum nu face nimic ca prim-ministru, dar și o oglindă pentru dl Johannis, ca să se uite în ea și să vadă cum arată un om care vrea să fie președinte fără să aibă nimic de spus.

p.strong IV. 
p Împreună îi putem bate. Voi sunteți speranța mea, iar eu sunt speranța voastră. Dacă toți cei care cred în mine mă votează în primul tur, voi câștiga. Și David l-a bătut pe Goliath.
