- locals.date = '2014-10-14 17:00';
- locals.thumb = '/assets/img/posts/mm-conf-presa-24.jpg';
- locals.title  = 'Dovada că Ponta a fost ofițer acoperit? Poate caută cineva și prin arhiva SIPA.';
- locals.slug = 'dovada-ca-victor-ponta-a-fost-ofiter';
- locals.preview = 'Dacă vrem dovada că Ponta a fost ofițer acoperit, sugerez să căutăm și în arhiva SIPA.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];

p
  em (14.10.2014) Monica Macovei – Declarație de presă

h3 Dovada că Ponta a fost ofițer acoperit? Poate caută cineva și prin arhiva SIPA.

p Dacă vrem dovada că Ponta a fost ofițer acoperit, sugerez să căutăm și în arhiva SIPA.

p Ca ministru al Justiției, am desființat SIPA pentru că cercetările arhivei au arătat că SIPA, prin agenții săi, urmărea judecători, procurori sau avocați. Notele informative conțineau nu doar date despre acivitatea profesională, ci și despre viața privată a magistraților.

p Astfel de informații, de care colaboratoarea Securității, Rodica Stănoiu, se folosea, probabil, pentru a șantaja magistrați, erau obținute, evident, și din interiorul magistraturii, de judecători sau procurori ofițeri acoperiți. Ponta a ajuns la Parchetul General exact în perioada când era ofițer acoperit, deși nu îndeplinea condițiile legale, deci prin eludarea legii, printr-un ordin de ministru al Rodicăi Stănoiu, colaboratoare a Securității.
