- locals.date = '2014-09-13 18:30';
- locals.thumb = '/assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg';
- locals.title  = 'Gândiți-vă cum ar arăta România dacă s-ar respecta măcar trei porunci din Biblie - să nu furi, să nu minți, să nu ucizi.';
- locals.slug = 'comunicat-de-presa-religia-in-scoli';
- locals.preview = 'Gândiți-vă cum ar arăta România dacă s-ar respecta măcar trei porunci din Biblie: să nu furi, să nu minți, să nu ucizi. Dacă astea sunt transmise copiilor, eu sunt foarte fericită, pentru că așa schimbăm România';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['comunicat'];

figure.pull-right
  img.img-responsive(src="/assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

p Monica Macovei, candidat independent la președinția României, a declarat sâmbătă la Timișoara că este important ca la școală copiii să învețe valorile morale creștine și istoria religiilor.

blockquote “Gândiți-vă cum ar arăta România dacă s-ar respecta măcar trei porunci din Biblie: să nu furi, să nu minți, să nu ucizi. Dacă astea sunt transmise copiilor, eu sunt foarte fericită, pentru că așa schimbăm România”, a declarat Monica Macovei la postul public de radio din Timișoara.

p Monica Macovei a afirmat, de asemenea, că insistă pentru introducerea istoriei religiei în școli, pentru că "te învață istoria culturii, istoria umanității”. “Face parte din cultura generală. Așa cum ni se dă cultură generală, ca să gândim liber, să fim creativi, să alegem liber. Asta e legat și de politică: un om liber, un om deștept, un om cult va ști cu cine să voteze ca să îi fie viața mai bună, și să-i fie demnă, și să fie respectat”, a spus Monica Macovei.

p Vorbind despre modul în care se raportează Guvernul la biserici, Monica Macovei a declarat că Victor Ponta “ține ca Vodă bisericile sub papuc” și că “încearcă să le mituiască cu câte ceva, cu câte o firimitură, cu niște bani înainte de alegeri".

blockquote "Să finanțăm bisericile care au nevoie, să le finanțăm pe cele care sunt monument istoric, trebuie renovate, dar să le finanțăm prin legi adoptate de Parlament, prin decizii ale Parlamentului, și nu prin decizii unilaterale ale primului-ministru. Pentru că, repet, (Ponta, n.n.) nu este Vodă", a spus Monica Macovei.

p Monica Macovei consideră că acest mod de rapoartare al politicienilor la Biserică este degradant și pentru preoți, care sunt puși astfel să adune voturi pentru politicieni corupți.

blockquote "Și aș mai spune că este și degradant pentru preoți să fie astfel –nu știu, aș spune cuvîntul mituiți, în fine – să fie încercați așa de politicieni. De ce fac politicienii asta? Nu din credință o fac, ci ca să adune voturi", a spus Monica Macovei.


p Mai mult, nici oamenii care apelează la preoți nu trebuie puși în situații degradante. “Vreau să mai spun ceva, o experiență personală, o poveste. Când am făcut parastas pentru bunicul meu, se ocupa mama de toate cele, și eram la cimitir în jurul mormântului. Și preotul, cred că mama îi dăduse ceva înainte și urma să-i dea ceva după – după cum știți nu se întâmplă în multe locuri nimic, nu zic în toate, fără asta -, s-a oprit în mijlocul parastasului. Noi stăteam pe marginea mormântului și s-a oprit în mijlocul parastasului, a oprit cădelnița, și s-a uitat spre mama. Și noi ne-am întrebat toți: ce este, părinte? Și el a zis, păi, când îmi dați restul de bani? Mulți români trec prin asta la botezuri, la nunți. Mulți preoți nu cer, dar avem probleme pe care trebuie să le rezolvăm și de o parte, și de alta”, a povestit Monica Macovei.


p În opinia Monicai Macovei, principala preocupare a Guvernului ar trebui să fie bunăstarea și sănătatea oamenilor. 
blockquote "Dacă oamenii nu au ce mânca, dacă frigiderul e gol, dacă oamenii nu au medicamente, atunci din banii aceștia – bugetul de rezervă al primului-ministru -, haideți să ajutăm oamenii. Că nu Dumnezeu are nevoie de bani, ci oamenii au nevoie de bani", a spus Monica Macovei.
