- locals.date = '2014-09-24 15:00';
- locals.thumb = '/assets/img/posts/catavencii-macovei.jpg';
- locals.title  = 'Monica Macovei: “Nu îmi voi trăda poporul”';
- locals.slug = 'nu-imi-voi-trada-poporul';
- locals.preview = 'Nu îmi voi trăda poporul, asta n-o să fac. E foarte simplu să minți oamenii, să-i duci cu vorba, să le spui ce vor să audă. Moaștele mele sînt Justiția, Crucea e adevărul… iar de inaugurat, inaugurez o Românie care să funcționeze. Așadar, vreau să vă spun ce voi face, nu ce nu voi face: voi apăra interesul oamenilor și al României, și mă voi lupta ca fiecare român să se simtă sigur în țara lui.';
- locals.author = 'Eugen Istodor';
- locals.source = 'http://www.catavencii.ro/monica-macovei-nu-imi-voi-trada-poporul/';

.pull-right
  img.img-responsive(src='/assets/img/posts/catavencii-macovei.jpg', style="max-width: 15em; padding: 0 0 1em 1em;")
p Candidat la președinție, acum. Înainte, reformă, omul lui Băsescu, ministru de Justiție, europarlamentar.

p
  strong Reporter: 
  em Sînteți dată dracului? Dacă propria mamă greșește, o apărați?

p
  strong M.M.: 
  |Cînd l-am propus pe Daniel Morar șef la DNA, mi s-a atras atenția că e un om dur, incoruptibil, care “e în stare să te bage și pe tine la pușcărie”. Am spus imediat că fix de asta îl vreau. Nu știu dacă asta mă face dată dracului… sau doar exigentă. Iar mama mea greșește foarte rar. Este unul dintre profesorii aceia excelenți, care le duce cu demnitate și pe cele bune, și pe cele rele, fără oportunisme și lamentări.

p
  strong Rep.: 
  em Cum se numește să joci la europarlamentare cu Blaga și ai lui, ca apoi să nu fii loială opțiunii tale?

p
  strong M.M.: 
  |În politică intri ca să fii loial țării și poporului. Să lucrezi pentru binele, nevoile și drepturile oamenilor și pentru a ține țara pe calea dreaptă, a democrației și a siguranței. Asta pentru mine înseamnă Vest, în principal în aceste timpuri, înseamnă NATO și SUA. Așa văd eu politica. Partidul este vehiculul prin care poți să faci astfel de lucruri. Niciodată nu am “jucat” cu un politician sau altul. În 2009-2014, am făcut și negociat 40 de legi adoptate de plenul Parlamentului European, mai mult decît toți europarlamentarii români din PSD și PNL la un loc. Pe scurt, am muncit cel mai mult. Asta se numește loialitate și respect față de cei care m-au ales și, dacă vreți, și față de partid. Cît despre rămînerea în PDL, a fost un gest de normalitate, nu un “blat”, am pierdut la alegerile interne din partid, dar m-am comportat matur, nu mi-am “luat jucăriile” să plec. Sînt și momente cînd pleci, dar cu motive întemeiate pe principii, și nu pe orgolii. Poate e de discutat de ce PDL nu a fost loial unui om care a muncit în favoarea sa și a românilor. Am ales să candidez independent la președinția României și pentru că devine vizibil un blat între partide ca să iasă Ponta. Nu vreau ca țara mea să o ia spre China și să cadă sub influența Rusiei.

p
  strong Rep.: 
  em Ce înseamnă singurătatea candidatului Monica Macovei?

p
  strong M.M.: 
  |Luptătorii adevărați conduc oamenii mergînd în fața lor în bătălie. Hotărîrea ta atrage mulți susținători. Dacă eziți, poți să îi pierzi pe drum. În Parlamentul European am demonstrat că știu să lucrez cu oameni din toate grupurile politice, că știu să negociez și să obțin voturi. Dar fără cedări care compromit, ci cu cedări acceptabile pentru realizarea obiectivelor. Eu nu-mi vînd sufletul, nu fac înțelegeri ascunse. Știu că nu lupt singură cu sistemul care sugrumă România, sînt un luptător optimist. Strîng în jurul meu oamenii care nu mai suportă, cei spre care se arată cu degetul acum și li se spune să-și țină gura. Eu sînt candidatul la președinție al oamenilor care s-au săturat de actuala clasă politică. Eu sînt vocea lor. Veniți alături de mine. Dacă mă comparați cu actuala clasă politică coruptă, atunci sînt singuratică. Dacă vă uitați însă în jurul meu, veți găsi oameni care mi-au venit alături și cred că se poate. În calitate de președinte voi fi alături de fiecare român care dorește să facă o Românie prosperă, sănătoasă, dreaptă și educată, fără grija locului de muncă, pe scurt, o Românie cu oameni mulțumiți și fericiți.

p
  strong Rep.: 
  em Cît de departe sînt jocurile politice de omul obișnuit? Ce vrea românul cu adevărat?

p
  strong M.M.: 
  |Românul vrea locuri de muncă sigure, educație, sănătate, dreptate și respect din partea oricărui funcționar sau demnitar. Românul vrea să nu i se mai ia din față pîinea, cum s-a întîmplat mereu în ultimii 70 de ani. Nu mai vrea să moară cu dreptatea în mînă. Vrea o viață decentă și respectul la care are dreptul. Și mai vrea să-și vadă copiii sănătoși, educați și cu o slujba bună, să nu-i mai vadă doar pe Skype, pentru că au plecat din țară. Eu asta îmi propun ca președinte. De unde banii? Din prevenirea sau/și prinderea pe bune a evazioniștilor, a corupților, a celor care fură din banii noștri, din confiscarea extinsă a averilor nejustificate ale celor condamnați penal, din banii aruncați clienților politici pe contracte cu suprasuprapreț, din banii aruncați pe un beton care are 80% nisip și se toarnă pe străzi, din banii aruncați în repararea acelor străzi, din bordurile inutile aduse din China, și lista continuă. Se fură și se risipesc mulți bani, aproape întregul buget de achiziții. Avem bani dacă vrem să tăiem pisica evaziunii și a relelor de mai sus. Cu banii ăștia putem face un sistem de educație ca în Finlanda, iar de restul banilor facem o economie sănătoasă. Românii mai vor ca cei care i-au furat să meargă la închisoare, iar averea acestora obținută din banii publici, banii noștri, să fie confiscată și folosită pentru noi. De la Dan Voiculescu, de exemplu, sînt de recuperat 60 de milioane de euro. Știți cîte manuale se pot cumpăra cu acești bani? Știți cîți doctori pot fi plătiți decent cu acești bani? Astăzi ANAF recuperează numai circa 5% din banii pe care condamnații trebuie să îi plătească pe baza hotărîrilor definitive. Vreau ca prin dreptate să repornim România. Investitorii vin și creează locuri de muncă dacă nu sînt speriați de birocrație, schimbări dese ale legilor și corupție. Și mai vreau ca politica externă a României să ne țină pe axa SUA-NATO și Uniunea Europeană. Aici toți contracandidații mei stau prost. Ponta e marginalizat deja în Europa și văzut prost în SUA. Ceilalți nu au experiență în politica externă.

p
  strong Rep.: 
  em Ce lucruri nu veți face în această campanie?

p
  strong M.M.: 
  |Nu îmi voi trăda poporul, asta n-o să fac. E foarte simplu să minți oamenii, să-i duci cu vorba, să le spui ce vor să audă. Moaștele mele sînt Justiția, Crucea e adevărul… iar de inaugurat, inaugurez o Românie care să funcționeze. Așadar, vreau să vă spun ce voi face, nu ce nu voi face: voi apăra interesul oamenilor și al României, și mă voi lupta ca fiecare român să se simtă sigur în țara lui.

p
  strong Rep.: 
  em Udrea?

p
  strong  M.M.: 
  |Doar ambiție.

p
  strong Rep.: 
  em Băsescu?

p
  strong  M.M.: 
  |Are experiență.

p
  strong Rep.: 
  em Iohannis?

p
  strong  M.M.: 
  |Gol de conținut.

p
  strong Rep.: 
  em Politica?

p
  strong  M.M.: 
  |O doamnă deșteaptă.

p
  strong Rep.: 
  em Trecutul?

p
  strong  M.M.: 
  |1848, Islaz.

p
  strong Rep.: 
  em România?

p
  strong  M.M.: 
  |Esențialmente bună.

p
  strong Rep.: 
  em Rusia?

p
  strong  M.M.: 
  |Cotropitoare, Ponta.

p
  strong Rep.: 
  em Utopia UE?

p
  strong  M.M.: 
  |Va reuși.

p
  strong Rep.: 
  em Cînd vă despletiți părul?

p
  strong  M.M.: 
  |Noaptea.
