- locals.date = '2014-09-19 11:00';
- locals.thumb = '/assets/img/posts/mm-alb-negru.jpg';
- locals.title  = 'Monica Macovei: L-aș ruga pe președinte să facă lista lungă a compromisurilor pe care le-am făcut';
- locals.slug = 'digi24-presedinte-lista-compromisurilor';
- locals.preview = 'Monica Macovei, candidat independent la alegerile prezidențiale, a vorbit la Digi 24 despre relația sa cu președintele Traian Băsescu.';
- locals.author = 'Digi24';
- locals.source = 'http://www.digi24.ro/Stiri/Digi24/Actualitate/Politica/Monica+Macovei+L-as+ruga+pe+presedinte+sa+faca+lista+lunga+a+com';



.embed-responsive.embed-responsive-16by9
  iframe.embed-responsive-item(src="http://www.digi24.ro/embed/Stiri/Digi24/Actualitate/Politica/Monica+Macovei+L-as+ruga+pe+presedinte+sa+faca+lista+lunga+a+com?video=0&width=600&height=400", scrolling="no")

p „L-aș ruga pe președinte să facă lista lungă a compromisurilor pe care le-am făcut”, a spus Monica Macovei la Digi 24, 
  a(href="http://www.digi24.ro/Stiri/Digi24/Actualitate/Politica/BASESCU+ALEGERI+2014+UDREA", target="_blank") ca răspuns la afirmațiile făcute de Traian Băsescu în cadrul unei emisiuni de la TVR, în care a comparat-o cu Elena Udrea.

blockquote „Intervențiile președintelui îmi aduc beneficii. Pentru că spune lucruri despre care lumea știe că nu sunt adevărate. E dureros, am fost împreună, am fost o echipă. Se fac aceste comparații și se spun lucruri neadevărate. Am făcut lucruri bune pentru țară, am trăit împreună alegerile din 2009”, a spus Monica Macovei. 

p Aceasta a precizat că președintele statului trebuie să clarifice problema agentului infiltrat printre candidații la prezidențiale. „Afirmația e importantă, dacă poate fi dovedită. Este grav pentru siguranța României, dacă viitorul președinte a fost ofițer sub acoperire. Să spună electoratului, pentru că e un lucru grav. Haideți să fim responsabili, să nu aruncăm petarde, dacă nu putem dovedi. E președintele țării, să spună electoratului!”, a spus Monica Macovei.
