- locals.date = '2014-10-26 12:00';
- locals.thumb = '/assets/img/posts/mm-depunere-semnaturi.jpg';
- locals.title  = 'Monica Macovei - "Eu chiar iubesc România!"';
- locals.slug = 'mm-eu-chiar-iubesc-romania';
- locals.preview = 'A fost, în ultimii ani, imaginea pozitivă a României în Occident - cel mai activ europarlamentar şi autorul celor mai importante reforme în domeniul justiţiei, un ministru căruia nu i-a lipsit coloana vertebrală, nici încăpăţânarea de a merge până la capăt în lupta împotriva corupţiei. Oamenii simpli au iubit-o, fiindcă a redat României demnitatea şi credibilitatea. Politicienii, deranjaţi de inflexibilitatea ei, au încercat să-i umbrească imaginea. Parlamentul European a medaliat-o însă de două ori pentru legile adoptate, "Financial Times" a numit-o "erou", iar presa germană n-a ezitat să spună că, fără ea, România n-ar fi fost azi în UE. Ardeleanca tenace cu breton de premiantă anul acesta ne-a mai surprins cu un gest: a decis să candideze independent pentru funcţia de preşedinte al ţării. ';
- locals.author = 'Dia Radu';
- locals.source = 'http://www.formula-as.ro/2014/1138/lumea-romaneasca-24/monica-macovei-eu-chiar-iubesc-romania-18356';
- locals.tags = ['interviu'];
p A fost, în ultimii ani, imaginea pozitivă a României în Occident - cel mai activ europarlamentar şi autorul celor mai importante reforme în domeniul justiţiei, un ministru căruia nu i-a lipsit coloana vertebrală, nici încăpăţânarea de a merge până la capăt în lupta împotriva corupţiei. Oamenii simpli au iubit-o, fiindcă a redat României demnitatea şi credibilitatea. Politicienii, deranjaţi de inflexibilitatea ei, au încercat să-i umbrească imaginea. Parlamentul European a medaliat-o însă de două ori pentru legile adoptate, "Financial Times" a numit-o "erou", iar presa germană n-a ezitat să spună că, fără ea, România n-ar fi fost azi în UE. Ardeleanca tenace cu breton de premiantă anul acesta ne-a mai surprins cu un gest: a decis să candideze independent pentru funcţia de preşedinte al ţării. 
h3
   strong Telefoanele care schimbă viaţa

p
   em - CV-ul dvs. arată un parcurs profesional fără cusur: procuroare, avocată, expertă în reforma justiţiei şi în drepturile omului la Con­siliul Europei. Toate astea, înainte de 2005, când aţi fost propulsată direct în funcţia de ministru al Justiţiei în România. Ce v-a făcut să intraţi atât de brusc în politică?

p - N-am cerut eu să intru în politică. A fost un telefon-surpriză primit chiar în ziua de Crăciun, la Breaza, unde eram în vacanţă, cu părinţii şi cu fiul meu. Lucram de trei ani de zile la Sarajevo, dar mă întorsesem în România de sărbători. Toată ziua sunase cineva de pe un număr necunoscut, dar nu dădusem importanţă. Până când a răspuns fiul meu şi mi-a în­tins telefonul: era preşedintele Băsescu.

p
   em - A fost telefonul care v-a schimbat viaţa.

p - Da, e bine să fii pregătit pentru telefoane care-ţi schimbă viaţa. (râde) Îmi amintesc că am zis "bună zi­ua", cu un glas foarte mic, şi că mai mult am tăcut, fiind­că eram în stare de şoc. Nu mai vorbisem cu Tra­ian Băsescu niciodată. Mi-a propus să fiu ministrul Justiţiei şi trebuia să dau un răspuns foarte rapid. Dar nu ştiam ce să zic, fiindcă nu mă gândisem niciodată la asta. Eu tocmai spălasem vasele şi mă pregăteam să plec la schi. Şi uite aşa, am schimbat planul şi am ajuns de urgenţă la Bucureşti, chiar în noaptea aceea. Am acceptat, din dorinţa sinceră de a contribui la intrarea României în Uniunea Europeană, la timp. Vă mai amintiţi, la vremea aceea, în decembrie 2004, România avea cinci domenii, numite "steguleţe roşii", pe care trebuia să le rezolve pentru a intra în Uniune. Erau reforma justiţiei, corupţia, spălarea banilor, frauda şi drepturile de autor. Nu veneam din politică, n-aveam un trecut legat de alţi politicieni, care să mă tragă înapoi, nici datorii sau servicii care mi-au fost făcute şi care trebuie întoarse când ajungi la pu­tere. Mi-am zis că doar o persoană indepen­dentă poate să facă pe bune lupta împotriva corupţiei politice. Iar eu chiar voiam să fac asta pentru ţara mea.
.col-sm-4.pull-right.hidden-xs
   img.img-responsive(src='/assets/img/posts/formula-as-1.jpg')
   p.small În curtea bunicilor
p 
   em - De unde spiritul ăsta justiţiar? E ceva ce ţine de caracter sau e mai degrabă o moştenire de familie?

p - Probabil e o combinaţie. Aşa am fost învăţată de mică, să nu mint, să nu întârzii, să nu fac rău, să nu sar gardul. Ca-n Ardeal. Eu m-am născut la Bucureşti, dar am copilărit de la câteva luni la Sângeorz, lângă Năsăud, în Munţii Rod­nei. Părinţii m-au lăsat, cum era obiceiul, să mă crească bunicii. Dar e ca şi cum m-aş fi născut acolo. Acolo mi-am petrecut primii şapte ani şi toate vacanţele. Acolo am deschis ochii, în curtea mare, cu fântână şi cu tufele de struguraşi (coacăze). Când eram cuminte şi nu scăpam oile-n trifoi, pri­meam şi-o cană mare, de tablă, să îi culeg. Sângeorzul e foarte fru­mos şi era zonă necooperativizată atunci, chiar dacă bunicilor li se luaseră mare parte din terenuri, inclusiv gaterul lor de tăiat buşteni.
p 
   em - Tot de la ardeleni vine şi în­căpăţânarea de a duce lucrurile la capăt?
p - Asta vine cu si­guranţă de la mama. Ea s-a născut la Sângeorz. Mama a fost profe­soa­ră de biologie la liceu, acum e pensionată. Se­mănăm destul de mult, nu doar fizic, ci şi la minte, la forţa pe care o a­vem în noi şi la dorinţa asta, de a avea grijă de toate, de a pre­veni nepre­vă­zutul. Ea era cea care după discuţii lua de­ciziile importante ale casei, ea era cea lucidă şi prac­tică. Semăn mult cu ea. Sunt, oricum, o femeie puternică, dar cred că şi experienţele pe care le-am trăit lucrând în Bosnia şi în Kosovo m-au călit foarte mult.
h3
   strong Sârbii din portbagaj
p
   em - Este un episod al vieţii dvs. despre care românii ştiu foarte puţin. Ce făceaţi, de fapt, în zonele de conflict?
p - Din 1995, am început să lucrez la Consiliul Eu­ropei, ca expert în justiţie şi în drepturile omului, în diverse misiuni pentru consolidarea democraţiei în ţări cu probleme: Ucraina, Albania, Moldova, Geor­gia, Bosnia-Herţegovina şi altele. Erau zone ca în Kosovo, aflate după bombardamente, sau în Bosnia, unde nu exista nimic, trebuia să gândesc şi să cons­truiesc un sistem juridic de la zero. Aveai doar un buget dat de americani şi capul de pe umeri şi trebuia să pui la punct instituţia Avocatul poporului, de pildă. Cum faci? Păi, ia gândeşte-te tu, Monica, cum s-o faci! De la sediu, clădire, interviuri de angajare, găsit avo­catul poporului, redactat legea etc. Totul din nimic. Dar mi-a fost extraordinar de folositor, mi-a pus creativitatea la muncă, imaginaţia şi-a dat drumul. Acolo am învăţat să fac bugete şi să le ţin sub control, lucru care mi-a fost util mai târziu în guvern şi-n Mi­nister. Dar misiunile astea erau şi misiuni de pace, din­colo de rolul lor în reconstrucţie, legislaţie, insti­tuţii. În Kosovo erau albanezi şi sârbi care se urau de moarte. S-ar fi omorât, dacă ar fi avut contact direct. Or, noi trebuia să-i facem să-şi dorească pacea şi să vrea să trăiască din nou împreună. Duceam muncă de convingere. Lucram şi cu interpreţi sârbi, şi cu inter­preţi albanezi, când mergeam în comunităţile de aco­lo. După ce doi interpreţi sârbi au spus "Uite, am pri­mit ameninţări când vin de la birou, că o să mă omoa­re" şi am văzut că s-a şi întâmplat, n-am mai stat pe gânduri, am scos sârbi din Kosovo în portbagaj. Nu există nimic mai mult pe lume decât să poţi salva viaţa unui om. A fost foarte greu, durerea unei familii care-şi vede rămăşiţele copilului sau fratelui într-o groapă comună nu se uită. Am plâns o săptămână, noapte de noapte, fiindcă n-o puteam face ziua. Ziua trebuia să fiu tare, să-i susţin pe ei, erau cu noi şi doc­tori, şi psihologi. După ce eşti martor la asemenea drame, la atâta suferinţă, foarte puţine lucruri te mai pot mişca. Apoi am venit în ţară şi am intrat într-un guvern în care toată lumea urla la mine să semnez hotărâri de guvern şi ordonanţe de urgenţă ilegale, dar asta era neînsemnat faţă de toate lucrurile pe care le văzusem.
.col-sm-4.pull-right.hidden-xs
   img.img-responsive(src='/assets/img/posts/formula-as-2.jpg')
   p.small Bunicii din Sângeorz
p 
   em - Aţi fost şi cred că aţi rămas persoana cea mai detestată de politicieni, pentru măsurile radicale împotriva corupţiei. Nu v-a fost frică de consecinţe?
p - Nu. De ce să-mi fie frică? Nu mi-a trecut prin cap chiar că o să mă omoare. Nu mi-a fost frică în Bosnia sau în Kosovo, unde am învăţat cum să deo­se­bim frunza de plastic de frunza reală, şi cum să conducem cu picioarele pe parbriz şi să apăsăm am­bre­iajul cu o schijă de metal. Gro­pile prin care treceam erau pline de mine şi am fi putut rămâne fără picioare. Am avut prieteni care au sărit în aer lângă mine. Trecusem deja pe lângă moarte de zeci de ori. Ce puteau să-mi facă, în afară de faptul că ţipau la mine? Într-o seară, îmi amintesc, m-au scos urlând afară. "Du-te şi gândeş­te-te jumătate de oră!" "Mă duc, dar credeţi că ţipând la mine de­vine legal în jumătate de oră?" şi m-am dus, am stat jumătate de ceas, am vorbit cu mama, am aflat ce mai face, iar când m-am întors, le-am spus clar: "Nu, nu semnez!" Cu cât strigau mai tare, cu atât mă încăpăţânam şi parcă deveneam mai puternică. Şi-n fiecare dimineaţă îmi ziceam: "Nu-i las, orice ar fi, o iau de la capăt şi nu-i las!"
p
   em - Nu riscaţi decât să vă dea afară, ceea ce s-a şi întâmplat, de altfel.
p - Da, dar nu am decât regretul că nu am dus la bun sfârşit nişte proiecte. Viaţa mea nu depindea de po­litică, nu-mi cădeau afacerile dacă eram înlăturată. Nu mă lega absolut nimic de acel guvern, n-aveam ni­ciun motiv să fac compromisuri ca să rămân. Aveam o meserie la care să mă întorc, puteam pleca din nou să lucrez pentru Consiliul Europei sau pentru OSCE (Organizaţia pentru Securitate şi Cooperare în Europa - n.r.), în diverse misiuni. La vremea aceea, urma să plec în Serbia, de pildă. Nu rămâneam pe drumuri.
p 
   em - Cât câştigaţi ca ministru al Justiţiei?
p - Am început cu o sumă de 500 de euro, echi­valentul în lei, care ulterior a mai crescut puţin. Fiind pe legea demnitarilor, cei mai mulţi din minister erau asimilaţi magistraţilor încă din 1996 şi, deci, aveau salarii mult mai mari decât mine
.col-sm-4.pull-right.hidden-xs
   img.img-responsive(src='/assets/img/posts/formula-as-3.jpg')
   p.small În anii de liceu (dreapta jos)
p
   em - Mi-e greu să cred că trăiaţi din 500 de euro.

p - Depinde ce înţelegeţi prin trăit. Eu plecam de aca­să la 6, 7 dimineaţa şi veneam la 10 seara. N-aveam ce face nici cu cei 500 de euro atunci, mergeau la mama mea, care-l creştea pe băiatul meu. Cu două costume negre şi cinci cămăşi albe rezolvam toate nevoile. Dar pentru urgenţe, aveam conturile de economii. În misiunile de pace în care lucrasem, avusesem o diurnă de nivelul Comisiei Europene, de câteva mii de euro. Asta vă zic acum, fiindcă m-aţi în­trebat. Atunci nu m-am gândit nicio clipă la bani, la faptul că voi câştiga mai puţin, ci doar la ceea ce pot să fac pentru ţară. Aş repeta oricând acea perioadă din viaţa mea, chiar ştiind finalul, că voi fi dată afară.
h3
   strong În cuşca leilor
p
   em - Să ne întoarcem la momentul în care aţi anunţat public că veţi candida la preşedinţie. A fost pentru români o mare surpriză. Fuseserăţi deja "executată" de clasa politică, ce vă motiva să o luaţi de la capăt?

p - M-am uitat la candidaţii anunţaţi şi mi-am dat seama că oricare dintre ei ar câştiga va duce România în urmă. Niciunul nu o va duce îna­inte, niciunul din ei nu va asigura res­pectarea legii, continui­tatea în lupta împotriva corupţiei şi lupta cu criminalitatea şi evaziunea fiscală. Niciunul nu va ţine România pe direcţia Vest, niciunul nu va aduce, pe bune, bunăstare în România. De 25 de ani, la putere sunt aceleaşi partide care ne mint, ne fură şi ne calcă dem­nitatea în picioare. Ştiam că nu am ce să aştept nimic bun şi nou de la niciunul dintre ele. Aşa că am luat decizia.
p
   em - Nu vă pare rău că aţi lăsat liniştea unui post de europarlamentar la Bruxelles ca să vă aruncaţi în cuşca leilor?
.col-sm-4.hidden-xs.pull-left
   img.img-responsive(src='/assets/img/posts/formula-as-4.jpg')
   p.small Cu părinţii şi fiul ei, Radu, în 1999
p - Nu. O să vă spun un lucru pe care îl simt cu toată puterea, dar care azi, din păcate, s-a deva­lorizat. Eu chiar iubesc România. Am amânat trei săptămâni decizia asta. I-am spus mamei ce vreau, mi-a zis să nu fac asta, că o să-mi mă­nânce din sănătate, că va fi obositor, că iar o să fiu acuzată de tot felul de lucruri. Le-am spus prietenilor, mi-au zis acelaşi lucru: "Nu face asta, Monica! O să-ţi arunce iar toate lăturile în cap! O să fie groaznic." Până la urmă, după o discuţie de vreo trei ore cu trei prietene, le-am spus: "Dar voi nu înţelegeţi că nu mă gândesc la imaginea mea? Că mă gândesc la ţară? Că nu mă interesează ce se va spune în spaţiul public despre mine?". În clipa aia s-a încheiat discuţia. Au zis: "Gata, nu avem cum să te convingem. Asta e!"
p
   em - Ştiu că aveţi un băiat. El vă susţine?

p - El n-a fost de acord. S-a supărat că nu l-am consultat. Şi nu l-am consultat, fiindcă ştiam că nu va fi de acord, pentru că asta mă va lua iar de lângă el. Radu are acum 23 de ani. A crescut mai mult cu părinţii mei, eu eram mai mereu plecată în misiunile de pace. Doar în Bosnia l-am luat şi pe el cu mine, timp de un an de zile, când era încă mic. Cred că era un reproş tacit, dar acum s-a obişnuit cu ideea. Din fericire, n-a dispărut dragostea dintre noi. E însă unul din marile mele regrete, faptul că n-am putut petrece mai mult timp cu el.

p
   em - De tatăl băiatului dvs. aţi divorţat acum foarte mulţi ani. V-aţi mai fi aruncat cu aceeaşi forţă în luptă, dacă n-aţi fi fost sin­gură? Aţi mai fi avut aceeaşi motivaţie sau viaţa de familie v-ar fi tras înapoi?

p - Cred că aş fi făcut exact acelaşi lucru. Până la urmă, oricât te-ai consulta cu ceilalţi, deciziile fundamentale le iei tu cu tine. În mo­mentele cu adevărat importante, eşti singur.

p
   em - Una dintre rezervele legate de can­di­datura dvs., care n-are nicio legătură cu programul politic, e faptul că nu aveţi... carismă de şef de stat. Aveţi o abordare cu mult prea dură şi inflexibilă. Are nevoie de zâmbete un politician, ca să câştige votul ale­gătorilor?

p - Da, cred că e bine să zâmbeşti. Nu ştiu dacă am sau nu am carismă. Sunt un om normal care se bucură, care are prieteni, care e şi părinte, care schia­ză în vacanţă, care râde, citeşte, ascultă muzică, merge cu bicicleta. Dar n-am zâmbit şi nu zâmbesc atunci când vor­besc în pu­blic des­pre lu­cruri foarte serioa­se, des­pre co­rupţie, legi, des­pre bătă­liile pe ca­re le-am dus ca să fac DNA-ul şi al­te­le. După ce am luat decizia de a can­dida la preşe­dinţie, am fost câ­teva zile la mare, la 2 Mai, unde am o casă. Şi am ieşit să înot. Când sunt la mare, înot mult, două, trei ore. Şi când m-am întors, o doam­nă de pe mal m-a recu­nos­cut şi mi-a spus: "Ni­cio­dată nu-mi ima­gi­nam că îno­taţi. Da­­ră­mite că o fa­ceţi câ­te două ore. Dar asta în­seamnă libertate, înseamnă multe lucruri. Nu numai că vă votez, aveaţi votul meu oricum, dar o să iau cartierul uşă cu uşă, să le spun cine sunteţi cu adevărat." Sigur, e amu­zantă întâm­plarea. Însă ce vreau să spun este că, dacă nu po­vestesc despre lucrurile astea, nu înseamnă că ele nu există.
.col-sm-4.hidden-xs.pull-right
   .content
      img.img-responsive(src='/assets/img/posts/formula-as-5.jpg')
      p.small Cu voluntarii
   .content
      img.img-responsive(src='/assets/img/posts/formula-as-6.jpg')
      p.small În campanie prin ţară
   .content
      img.img-responsive(src='/assets/img/posts/formula-as-7.jpg')
      // p.small În parcul Herăstrău
h4
   strong "Spre Vest, ăsta e drumul"
 
p
   em - Doamnă Macovei, suntem într-un moment de degringoladă politică maximă în ţară. Iar contextul internaţional este şi el foarte tensionat. Ce rezolvare vedeţi acum pentru România?

p - Să ţinem aproape, în mod onest, cu aliaţii noştri, în principal cu NATO şi cu SUA, cu care avem acel parteneriat strategic semnat în 2011, care include, pe lângă asistenţă militară - şi investiţii şi respectarea legii şi a statului de drept. Spre Vest, ăsta e drumul. Apoi, România e stat democratic, la graniţa cu nede­mo­craţia. În astfel de situaţii, trebuie să-ţi lămureşti aliaţii că trebuie să investească în tine politic, militar şi economic, ca să întărească graniţa democraţiei. E o oportunitate uriaşă pentru România. La fel au făcut în Israel, la fel au făcut în Coreea de Sud, când Coreea de Nord a trecut la comunism. Şi, bineînţeles, trebuie să continuăm lupta împotriva corupţiei, care ne va aduce înapoi banii pierduţi. Evaziunea fiscală e de 70 de miliarde de euro. Numai în ul­timii doi ani, DNA a dovedit în dosare pe­nale prejudicii de 210 milioane de euro. Odată recuperaţi de Ministerul Finanţelor, aceşti bani pot fi reinvestiţi în educaţie, în sănătate, în pen­sii şi alocaţii.

p
   em - Mai credeţi în idealul european, acum, când Rusia e în plină expansiune şi foarte mu­lte ţări par să închidă ochii?

p - Văd şi eu ce se întâmplă în jur şi mă în­grijorez. Dar fără Europa nu avem şanse. Pe de altă parte, trebuie să fim pragmatici. Apărarea democraţiei în România vine şi din relaţia cu NATO. UE nu are armată, e formată din 28 de state membre, cu politici externe uneori dife­rite sau opuse, cu interese diferite. În schimb, NATO are armată, are forţe militare şi ne poate ajuta în caz de necesitate. Asta nu înseamnă că trebuie să stăm cu mâna întinsă şi să aşteptăm. A spus-o foarte clar Victoria Nuland, asistenta Se­cre­tarului de Stat al SUA: "Ok, sunteţi în NATO, ca toate statele est-eu­ropene, dar nu vă bazaţi pe asta fără să faceţi nimic." Noi tre­buie să ne refacem industria de apărare, să dăm bugetul necesar acestei indus­trii pe care am desfiinţat-o şi am jefuit-o! Când­va, pro­duceam avioane!

p
   em - Aţi hotărât să candidaţi independent, prin urmare nu aveţi în spate sprijinul niciunui partid politic. O campanie pre­su­pune însă cos­turi uriaşe. Cum vă finanţaţi?

p - Când am decis să candidez, am deschis conturi bancare, pe care le-am afişat pe facebook, şi oamenii au început să doneze. Au transferat bani sau au intrat pur şi simplu în sediu şi ne-au făcut câte o mică donaţie, pentru care le-am tăiat chitanţă. Au fost şi pensionari, cu pensii de 700 de lei, care au venit la sediu şi au donat câte 100 de lei. Gestul lor m-a im­presionat profund. Săptămâna asta avem în cont în jur de 50.000 de RON, din care o parte sunt, de fapt, donaţiile mele, din economiile proprii. E o sumă infimă faţă de cât cheltuie alţi candidaţi, dar noi am reuşit să construim o campanie low-cost: călătoresc mult cu trenul şi cu maşina, doar în cazuri de maximă urgenţă iau avionul. Nu plătim afişe stradale, fiindcă sunt foarte scumpe şi îi şi enervează pe tre­cători. Şi lucrez mult cu tineri, oameni buni şi fru­moşi, regizori, arhitecţi, IT-işti şi specialişti în co­mu­­nicare, care şi-au oferit voluntar din timpul lor ca să ajute. Sunt oamenii care vor o schimbare în ţară, care-mi spun că, în sfârşit, vor vota cu inima. Când mă uit la ei, la bucuria şi la entuziasmul lor, nu mă mai gândesc că-mi cheltui economiile. Fac ce fac fi­indcă nu pot altfel. Nu m-aş mai putea privi în oglin­dă, dacă nu aş face-o!