- locals.date = '2014-10-07 12:00';
- locals.thumb = '/assets/img/posts/mm-conf-presa-24.jpg';
- locals.title  = ' Monica Macovei: Ponta acționează ca ambasadorul Rusiei și trădează interesele românilor​';
- locals.slug = 'ponta-actioneaza-ca-ambasadorul-rusiei';
- locals.preview = 'Până acum l-am văzut pe Ponta atacând Justiția ca să-i apere pe corupţii din PSD și din partidele aliaților politic. Acum atacă Justiţia ca să ia apărarea unei companii ruseşti. Până acum, dintre hoții din PSD și români, Ponta a ales mereu hoții. Acum a trecut la un alt nivel: dintre Putin și români, Ponta a ales Putin.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['comunicat'];
p
  em (7 octombrie 2014) – Monica Macovei - Declarație de presă

p
  strong Ponta acționează ca ambasadorul Rusiei și trădează interesele românilor

p Asemănarea dintre criticile lui Victor Ponta aduse procurorilor care investighează cazul de evaziune de la Lukoil și discursul ambasadorul Rusiei la București pe aceeași temă este o dovadă clară că Ponta este mai preocupat să apere interesele rușilor, decât să susțină o justiție corectă și recuperarea prejudiciilor.

p Oleg Maginov, Ambasadorul Rusiei la București, s-a arătat “foarte îngrijorat" de acțiunea procurorilor la rafinăria Petrotel-Lukoil, și și-a exprimat speranța că „ancheta se va face nepărtinitor şi obiectiv în cadrul legii şi ţinând cont în mod cuvenit (…) de interesele relaţiilor ruso-române”.

p  Mă întreb: de ce anchetarea unui caz de evaziune/corupție ar afecta negativ interesele relațiilor dintre România și Rusia?

p Victor Ponta nu-și pune însă astfel de întrebări, ci, mai rău, a preluat mesajul ambasadorului Rusiei și a mers mai departe, criticând procurorii pentru că au pus sechestru pe bunurile companiei rusești Lukoil.

p Din reacția lui Ponta se poate lesne vedea că nu apăra interesele românilor, furați de atâția ani, ci interesele celor acuzați de corupție. Este o trădare a intereselor României.

p Până acum l-am văzut pe Ponta atacând Justiția ca să-i apere pe corupţii din PSD și din partidele aliaților politic. Acum atacă Justiţia ca să ia apărarea unei companii ruseşti. Până acum, dintre hoții din PSD și români, Ponta a ales mereu hoții. Acum a trecut la un alt nivel: dintre Putin și români, Ponta a ales Putin.

p Am văzut în ultimele 2 săptămâni câteva exemple din cât s-a furat în România în ultimii ani - în dosarele Microsoft, Loteria, Lukoil etc. vorbim de pagube de sute de milioane de euro. 

p De aceea, ca președinte, voi susține investigarea tuturor privatizărilor care au distrus industria românească, au păgubit bugetul și au lăsat pe drumuri milioane de oameni. 

p Banii furați din bugete reprezintă școli, spitale, drumuri, slujbe pierdute. Totul s-a convertit în vile, piscine și conturi în străinătate.Trebuie să recuperăm tot ce se poate din acești bani.
.row
  .col-xs-4
  .col-xs-4
    a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/declaratie cazul Lukoil.docx", rel="download")
     | Descarcă
     br
     | declarația integrală
  .col-xs-4
