- locals.date = '2014-11-04 15:30';
- locals.thumb = '/assets/img/posts/mm-depunere-semnaturi.jpg';
- locals.title  = '  Monica Macovei: Titus Corlățean trebuie demis astăzi, iar un nou ministru trebuie să organizeze urgent alegerile în străinătate.';
- locals.slug = 'mm-titus-cornatean-trebuie-demis-astazi';
- locals.preview = 'Ponta și Corlățean nu au luat nicio măsură concretă pentru ca bătaia de joc la adresa românilor din diaspora să nu se mai repete la turul II al alegerilor prezidențiale. Până acum nu a răspuns nimeni pentru că mii de români au fost împiedicați să voteze, li s-a închis ușa ambasadelor în nas sau au fost chemate forțele de ordine să fie alungați de lângă secțiile de votare.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p 
   em (4 noiembrie 2014) – Monica Macovei – Declarație de presă 
 
p
   strong Titus Corlățean trebuie demis astăzi, iar un nou ministru trebuie să organizeze urgent alegerile în străinătate.

p Ponta și Corlățean nu au luat nicio măsură concretă pentru ca bătaia de joc la adresa românilor din diaspora să nu se mai repete la turul II al alegerilor prezidențiale. Până acum nu a răspuns nimeni pentru că mii de români au fost împiedicați să voteze, li s-a închis ușa ambasadelor în nas sau au fost chemate forțele de ordine să fie alungați de lângă secțiile de votare.

p Potrivit HG 706/2014 privind stabilirea măsurilor pentru desfășurarea alegerilor prezidențiale, Ministerul Afacerilor Externe este instituția care trebuie să ia “măsurile necesare pentru organizarea şi dotarea secţiilor de votare din străinătate, precum şi pentru funcţionarea biroului electoral pentru secţiile de votare din străinătate”.

p Răspunderea este clară și de aceea ministrul Afacerilor Externe, Titus Corlățean, cel care a stabilit prin ordin de ministru numărul secțiilor de votare, este primul care trebuie să își piardă funcția.

p Un nou ministru să ia urgent măsuri pentru ca la al doilea tur de scrutin românilor din străinătate să li se respecte drepturile constituționale. Astfel:
ol(type='1')
   li Anularea ordinului de ministru nr 1839 din 16 septembrie 2014, prin care a fost stabilit numărul de secții de votare și suplimentarea acestora acolo unde cetățenii români au fost împiedicați să voteze.
   li Suplimentarea cabinelor de vot și a numărului de ștampile, pentru a scurta timpul de votare.
   li Posibilitatea prelungirii programului secțiilor de votare din străinătate dacă mai sunt români la coadă care doresc să voteze.
p
   |Potrivit art. 385 din Codul penal, “(1) 
   em împiedicarea, prin orice mijloace, a liberului exerciţiu al dreptului de a alege sau de a fi ales
   |” este infracțiune și se pedepseşte cu închisoarea de la 6 luni la 3 ani.