- locals.date = '2014-10-03 12:10';
- locals.thumb = '/assets/img/posts/dragos-ghitulete.jpg';
- locals.title  = 'Monica Macovei, oaza de decență din deșertul ticăloșiei';
- locals.slug = 'mm-oaza-de-decenta';
- locals.preview = 'Atît cei care lucrează cu ea în campanie, cît și cei care o vor vota, au în față această unică posibilitate. Să voteze cu inima în ceea ce cred. Să arate că a venit momentul pentru ca în fruntea țării să ajungă nu răul cel mai mic, ci un om care a arătat prin fapte de ce e în stare, un politician căruia nu i se pot reproșa blaturi pe sub mînă, acuzații de coruptie, furt sau demagogie ieftină.';
- locals.author = 'Dragoș Ghitulete';
- locals.source = 'http://www.contributors.ro/fara-categorie/monica-macovei-oaza-de-decen%C8%9Ba-din-de%C8%99ertul-ticalo%C8%99iei/';
- locals.tags = ['opinie','articol','presa'];
p Programul ei politic, spune scriitorul Gabriel Liiceanu, este frumos ca un basm.

p Am crescut cu basme. Citite de bunici întîi, ascultate la viniluri, iar apoi, cînd am crescut și am învățat să citesc, devorate în pat cu lanterna sub pătură. Fie că era vorba de povești nemuritoare, de basme persane, de o mie și una de nopți, de mituri și legende, toate îmi provocau o stare de lentoare și dulce scufundare în acele lumi pe care le descopeream. Mă revoltam atunci cînd eroul cel bun trebuia să facă față mizeriilor de tot felul puse în cale de cei răi, mă bucuram atunci cînd reușea să iasă cu bine din toate încercările.

p România lui 2014 seamănă cu un basm. Și asta pentru că o femeie curajoasă vrea să schimbe felul în care se face politică de 25 de ani. În timp ce toate celelalte personaje ale acestui basm electoral au făcut sau fac parte din ceea ce se cheamă putreziciunea politicii, Monica Macovei este singurul candidat care, așa cum a observat Gabriel Liiceanu prezent la lansarea programului politic al fostului ministru al Justiției, “participă la prezidenţiale nu pentru el, ci pentru cei care nu au curajul să facă acest efort, această nebunie“.

p Victor Viorel Ponta se ascunde după doctorate plagiate, adică în spatele unui furt, și frății cu baroni penali, se îngroapă în minciuni, e disperat și presat să cîștige pentru ca justiția să treaca în proprietatea PSD-ului. Pentru ca furtul din banii publici să meargă nestingherit înainte. Are aproape toată presa de partea lui.

p Călin Popescu Tăriceanu, care îl ajută pe actualul premier întru acest scop, e protagonistul celei mai jalnice ieșiri din politica de la vîrf. Din acest fost june prim vor rămîne bilețelul trimis președintelui și aroganța cu care tergiversează cererea DNA în dosarul Microsoft.

p Din Elena Udrea vor rămîne rozul bilețelului pomenit mai sus, galbenul unei căști de muncitor și eventual pozele cu iepurașii sexy ai unei reviste pentru adulți. O să fie greu de explicat și înțeles peste ani și ani cum a ajuns această cucoană lider de partid și candidat la prezidențiale. Totul e fals în jurul ei și totul miroase a corupție. Mai puțin poate sprijinul prezidențial. Are de partea  ei o presă, care se crede independentă, pe care o plătește și o controlează.

p Klaus Iohannis pare departe de politica de la centru, iar monotonia acră cu care se prezintă în fața electoratului arată mai degrabă că abia așteaptă să se termine aceste alegeri și să se întoarcă la Sibiu. Dacă se poate, cu o victorie la ÎCCJ în ceea ce privește incompatibilitățile.

p Meleșcanu, Diaconescu, Vadim Tudor, Brînză și alți pitpalaci care se vor la Cotroceni nu merită deocamdată atenție.

p O să mă întorc acum la Monica Macovei și la votul pozitiv.
p Atît cei care lucrează cu ea în campanie, cît și cei care o vor vota, au în față această unică posibilitate. Să voteze cu inima în ceea ce cred. Să arate că a venit momentul pentru ca în fruntea țării să ajungă nu răul cel mai mic, ci un om care a arătat prin fapte de ce e în stare, un politician căruia nu i se pot reproșa blaturi pe sub mînă, acuzații de coruptie, furt sau demagogie ieftină. Nu e legată de baroni locali sau oameni de afaceri, nu are presă care s-o sprijine. Nu cumpăra bunăvoință și nu oferă compensații. E atacată și de politic și de presă. Are însă alături de ea oameni entuziaști, care o sprijină fără gîndul recompenselor.

p Ca în basmele copilăriei, cei mici la suflet au nevoie de extravaganță pentru a compensa. Cam așa cum ne-au arătat Ponta, Iohannis sau Udrea atunci cînd s-au lansat în cursa electorală. Cu oameni cumpărați pentru a spori numărul de suflete prezente. Pentru a ne arăta că se bucură de sprijinul zecilor de mii de fani. Nimic decent. Doar un deșert de ticăloșie. Din fericire, lansarea Monicăi Macovei a fost altfel. A fost decentă. Vom afla pe 16 noiembrie și cum se va termina acest basm. Poate că astfel de povești, electorale, diferă de basmele copilăriei. Sau poate nu.