- locals.date = '2014-10-22 12:00';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = 'Monica Macovei: Să plece penalii din Parlament! Lista rușinii.​';
- locals.slug = 'mm-lista-rusinii';
- locals.preview = 'În Parlamentul României sunt în prezent 35 de deputați și senatori cu dosare penale pentru corupție. Unul dintre ei este chiar condamnat definitiv la 3 ani și jumătate închisoare cu suspendare și este membru în Comisia Juridică a Senatului. Suntem într-o situație rușinoasă. Cei 35 de parlamentari penali fac legi pentru români și votează, cel mai probabil, împotriva cererilor procurorilor DNA de ridicare a imunității parlamentare, blocând astfel justiția.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (22 octombrie 2014) – Monica Macovei – Declarație de presă

h2 Să plece penalii din Parlament! Lista rușinii.

p În Parlamentul României sunt în prezent 35 de deputați și senatori cu dosare penale pentru corupție. Unul dintre ei este chiar condamnat definitiv la 3 ani și jumătate închisoare cu suspendare și este membru în Comisia Juridică a Senatului.

p Suntem într-o situație rușinoasă. Cei 35 de parlamentari penali fac legi pentru români și votează, cel mai probabil, împotriva cererilor procurorilor DNA de ridicare a imunității parlamentare, blocând astfel justiția.

p
  strong Le cer partidelor parlamentare să renunțe la acești senatori și deputați. Partidele politice parlamentare vor face astfel un prim gest de rupere a lanțului care leagă transpartinic senatori și deputați acuzați de corupție. 
  |Nu le costă nimic.

p
  | Mai mult, 
  strong ei trebuie să părăsească Parlamentul și să se pună la dispoziția justiției
  |. Cei deja condamnați pentru corupție să facă pasul înapoi și să renunțe la politică. Pot fi organizate alegeri parțiale, iar partidele actuale, deși nu sunt obișnuite, pot propune candidați cinstiți, care să-i reprezinte cu adevărat pe oameni.

p Cerându-le senatorilor și deputaților cu dosare penale pentru corupție să plece din Parlament, partidele politice le-ar arăta românilor că vor să pună capăt furtului și hoției și că nu mai vor să blocheze justiția.

p
  | Situația în Parlament, conform 
  a(href='http://www.hotnews.ro/')
    |Hotnews.ro:

p Parlamentari trimiși în judecată:
ol(type='1')
  li Deputatul PSD Vlad Cosma.
  li Deputatul PSD Catalin Marian Radulescu.
  li Deputatul PMP Florin Popescu.
  li Senatorul PSD Ovidiu Marius Isaila.
  li Senatorul PNL, Corneliu Dobritoiu.
  li Senatorul PSD, Victor Mocanu.
  li Deputatul PNL Costin Gheorge.
  li Deputatul PSD Nicolae Liviu Dragnea.
  li Deputatul PSD Marian Ghiveciu.
  li Senatorul PC Mircea Banias.
  li Deputatul fost PSD Ion Stan.

p Parlamentari urmăriți penal:
ol(type='1')
  li Senatorul PSD Alexandru Mazare.
  li Senatorul PSD Sorin Constantin Lazar.
  li Senatorul PSD Alexandru Cordos.
  li Deputatul PDL, Valerian Vreme.
  li Senatoarea PSD Ecaterina Andronescu
  li Senatorul PSD Serban Mihaliescu..
  li Deputatul PSD Adrian Simionescu.
  li Deputatul PSD Viorel Hrebenciuc.
  li Deputatul UNPR Titi Holban.
  li Deputatul PDL Cornel Mircea Samartinean
  li Deputatul PDL Alin Popoviciu.
  li Deputatul PSD Mircea Draghici.
  li Senatorul PSD Dan Sova.
  li Senatorul PSD Nicolae Badalau.
  li Senatorul PSD Ilie Sarbu,
  li Deputatul PSD Ioan Adam.

p Urmariri penale blocate de Parlament:
ol(type='1')
  li Deputatul PNL Daniel Chitoiu.
  li Senatorul PNL Varujan Vosganian.
  li Deputatul UDMR Laszlo Borbely
  li Deputatul PNL Victor Paul Dobre.

p Condamnați în primă instanță / condamnați definitiv:
ol(type='1')
  li Deputatul PNL Hubert Petru Stefan Thuma
  li Deputatul PSD Miron Mitrea.
  li Deputatul PNL Tudor Chiuariu.

p Parlamentari cărora le-a încetat mandatul ca urmare a încarcerării:
ol(type='1')
  li Deputatul PC Coman Gheorghe.
  li Deputatul PNL Relu Fenechiu.
  li Deputatul PNL Gigi Becali. 