- locals.date = '2014-11-11 14:00';
- locals.thumb = '/assets/img/posts/MM_web3.jpg';
- locals.title  = 'Monica Macovei: Ne ducem spre dictatură, teroare, sărăcie și îndepărtarea de Vest sau nu, asta e alegerea în acest moment';
- locals.slug = 'mm-alegerea-in-acest-moment';
- locals.preview = 'Europarlamentarul Monica Macovei a declarat astăzi, după întâlnirea cu președintele Partidului Popular European, Joseph Daul, că acesta a insistat în cadrul discuțiilor pe respectarea justiției, statului de drept și pe măsurile anticorupție.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p 
   em (11 noiembrie 2014) – Monica Macovei – Comunicat de presă
h3
   strong Monica Macovei: Ne ducem spre dictatură, teroare, sărăcie și îndepărtarea de Vest sau nu, asta e alegerea în acest moment
.col-sm-4.pull-right
   img.img-responsive(src='/assets/img/posts/10530742_711655845596262_7579719865218127946_n.jpg')
p Europarlamentarul Monica Macovei a declarat astăzi, după întâlnirea cu președintele Partidului Popular European, Joseph Daul, că acesta a insistat în cadrul discuțiilor pe respectarea justiției, statului de drept și pe măsurile anticorupție.
p
   em “Va spune asta tuturor celor cu care se vede astăzi. Și singurul mod de a avansa sau de a menține cel puțin aceste lucruri pe care le-am obținut este să câștige dreapta, să câștige domnul Iohannis”
   |, a declarat Monica Macovei.
p Monica Macovei a precizat că i-a trimis președintelui PPE o copie a Acordului pentru salvarea statului de drept și a democrației, pe care i l-a propus lui Klaus Iohannis. 
p
   em „Pentru mine e foarte simplu, ne ducem spre dictatură, teroare, sărăcie și îndepărtarea de Vest sau nu, asta e alegerea în acest moment"
   |, a mai declarat Monica Macovei.