- locals.date = '2014-10-08 16:00';
- locals.thumb = '/assets/img/posts/TM 1.jpg';
- locals.title  = 'Monica Macovei: Ponta încalcă legea și ascunde bugetul de anul viitor.';
- locals.slug = 'ponta-ascunde-bugetul-de-anul-viitor';
- locals.preview = 'Ponta încalcă legea și ascunde bugetul de anul viitor. Nu vrea ca românii să afle dezastrul economic și mărirea de taxe și impozite pe care PSD o pregătește anul viitor.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
  em (8 octombrie 2014) – Monica Macovei – Declarație de presă

p Ponta încalcă legea și ascunde bugetul de anul viitor. Nu vrea ca românii să afle dezastrul economic și mărirea de taxe și impozite pe care PSD o pregătește anul viitor.

p Candidatul Victor Ponta se află în campanie electorală, fără să îi pese că premierul Victor Ponta trebuie să prezinte un proiect de buget pentru anul viitor.

p Îi solicit lui Victor Ponta să își ia funcția de prim-ministru în serios și să depună un buget în Parlament în termenul prevazut de lege. Dacă Victor Ponta nu mai vrea să își îndeplinească obligațiile legale și nu are timp să lucreze pentru țară și pentru români, atunci ar face bine să demisioneze de pe acum.

p Ponta ascunde bugetul, pentru ca românii să nu afle ce taxe și impozite le mai pregătește PSD pentru anul 2015. Lipsa unui buget arată că toate promisiunile pe care Victor Ponta le face acum în campanie sunt pomeni populiste care vor împovăra românii cu mai multe taxe și impozite în 2015.

p În acest moment, România este o țară cu Parlamentul și Guvernul în vacanță.

p Motivele invocate de Ponta pentru absența unui proiect de buget se bazează pe ipoteza iluzorie că el va câștiga alegerile prezidențiale și, deci, nu mai are nicio obligație ca prim-ministru pentru anul viitor.

p Motivul real pentru care Ponta nu prezintă un proiect de buget, încălcând legea, este acela că a făcut, ca și în 2012, înainte de alegerile parlamentare, promisiuni fără acoperire diferitelor categorii sociale. Ponta a aruncat cu pomeni populiste în campania electorală, pentru care românii vor plăti extrem de scump factura anul viitor.

p Victor Ponta este deja cunoscut ca un mincinos notoriu: a ridicat acciza la carburant, care a majorat toate prețurile, pe motiv că va face autostrăzi, iar recent a afirmat că nu mai face autostrăzi.

p Dacă Ponta vrea să fie președinte din noiembrie încolo, atunci în calitate de prim-ministru și-ar face un buget care să-l ajute să își îndeplinească toate promisiunile electorale anul viitor.

p Nefăcând-o însă, se va scuza dacă ajunge la Cotroceni că nu își poate pune în practică promisiunile președintelui Ponta, pentru că prim-ministrul Ponta nu a prezentat la timp bugetul în Parlament, astfel încât deputatul Ponta să poată vota pentru el. 