- locals.date = '2014-09-11 13:00';
- locals.thumb = '/assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg';
- locals.title  = 'Macovei: În 2009, președintele mi-a propus să fiu premier (interviu România Liberă)';
- locals.slug = 'macovei-in-2009-presedintele-mi-a-propus-sa-fiu-premier';
- locals.preview = 'În 2007, după ce am fost dați afară din Guvern de Tăriceanu, președintele mi-a propus să fiu consilier prezidențial cu rangul cel mai înalt la Cotroceni. (…) În 2008, atât dl Boc, cât și dl Băsescu mi-au propus în campania electorală să fiu ministru al Justiției în guvernul de după alegeri. Am acceptat, dar, ulterior, a fost numit Cătălin Predoiu. (...) Apoi, în toamna lui 2009, după ce a căzut Guvernul Boc, președintele m-a chemat să îmi propună mandatul de premier pentru a forma un nou cabinet.';
- locals.author = 'Sabina Fati';
- locals.source = 'http://www.romanialibera.ro/opinii/interviuri/macovei--in-2009--presedintele-mi-a-propus-sa-fiu-premier-349451';

figure.pull-right
  img.img-responsive(src="/assets/img/posts/mm-conferinta-presa-demisie-pdl.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

p Eurodeputata Moni­ca Macovei măr­turi­sește în interviul acordat 
  a(href="http://www.romanialibera.ro/opinii/interviuri/macovei--in-2009--presedintele-mi-a-propus-sa-fiu-premier-349451", target="_blank") României libere 
  | că înainte să-și anunțe candidatura pentru președinție a fost căutată de „emisari” ai președintelui, care au rugat-o să-și amâne anunțul fiindcă ar fi existat intenția de a i se propune să candideze din partea PMP. Totuși, Macovei nu este nici până acum sigură dacă acele semnale „veneau de la președinte sau din propria dorință a emisarilor”.

p Cert este că nu a dat curs acelei rugăminți și spune că nu susținerea ei de către Traian Băsescu în această cursă contează, ci susținerea oamenilor. În ceea ce privește declarația președintelui că nu a mai vrut să o propună ca ministru al Justiției după 2008, Macovei sugerează că Traian Băsescu nu spune adevărul și face o istorie a propunerilor pe care le-a primit de la Cotroceni: în 2007 să fie consilieră prezidențială, în 2008 să fie ministra Justiției, înaintea alianței de guvernare PSD-PDL, în criza guvernamentală 2009 să fie premier.

p Ce va face însă fosta ministră a Justiției dacă va avea un scor mai mic decât al Elenei Udrea? Monica Macovei evită să răspundă și declară doar că ea nu candidează împotriva Elenei Udrea. Eurodeputata consideră, pe de altă parte, că nu rămânerea ei în PDL după ruptura făcută de Udrea a fost „necinstită”, ci „necinstit” a fost ce a făcut președintele cu PDL, „care atunci când nu a ieșit persoana dorită de el” la șefia democrat-liberalilor „a rupt partidul”.

p: strong Traian Băsescu a spus că după alegerile generale din 2008 a renunțat să vă mai propună pentru un nou mandat de ministru al Justiției din cauza unor “carențe consistente”. Deci relația dvs. cu președintele s-a degradat încă înainte să-l criticați pentru că a negociat funcțiile de procurori generali cu prim-ministrul?

p 
  strong M.M.: 
  | Mă surprind afirmațiile președintelui prin care dorește să rescrie trecutul, pentru că faptele stau cu totul altfel. În 2007, după ce am fost dați afară din Guvern de Tăriceanu, președintele mi-a propus să fiu consilier prezidențial cu rangul cel mai înalt la Cotroceni. Am fost nevoită să refuz pentru că aveam deja un contract internațional de onorat. În 2008, atât dl Boc, cât și dl Băsescu mi-au propus în campania electorală să fiu ministru al Justiției în guvernul de după alegeri. Am acceptat, dar, ulterior, a fost numit Cătălin Predoiu. Președintele mi-a spus că PSD, care a intrat în guvern alături de PDL, nu m-a vrut. În acele condiții, nici eu nu aș fi vrut să fiu ministru într-un guvern alături de PSD. Zilele astea am aflat tot de la președinte că, de fapt, putea să mă numească, dar domnia sa n-a vrut. Apoi, în toamna lui 2009, după ce a căzut Guvernul Boc, președintele m-a chemat să îmi propună mandatul de premier pentru a forma un nou cabinet. Am refuzat atunci pentru că, fiind o perioadă de criză economică, am considerat că poziția trebuia ocupată de cineva cu expertiză în domeniul economic. După cum se vede, drumurile noastre s-au despărțit după episodul cu numirea procurorilor din 2013. Eu am cerut atunci o procedură transparentă de selecție, președintele a preferat un ”aranjament murdar” cu PSD, așa cum el însuși l-a numit un an mai târziu. În urma acelui „aranjament murdar” a fost numit la Parchetul General domnul Tiberiu Nițu, care vedeți că nu face nimic. În luna iunie i-am trimis o scrisoare să continue anchetarea Mineriadei în 1990 și a ignorat-o. Eu vă spun faptele așa cum au fost. Cu mine președinte, astfel de „aranjamente murdare” în numirea procurorilor nu vor avea loc. Voi numi cei mai competenți oameni, pentru că numai aceștia pot conduce aceste instituții în folosul românilor.

p: strong Președintele Băsescu soco­teș­te, pe de altă parte, că a fost “necinstit” din partea dvs. că “ați făcut sluj la Blaga”, iar apoi i-ați întors spatele.

p 
  strong M.M.: 
  | .Cred că „necinstit” a fost ce a făcut domnia sa cu PDL, care i-a fost mereu alături și l-a susținut, iar atunci când nu a ieșit persoana dorită de el, a rupt partidul. Dacă PDL nu ar fi fost rupt, ar fi luat la europarlamentare peste 20%. Am rămas atunci alături de colegii din PDL pentru că alături de ei am dus cele mai grele bătălii politice pentru această țară și pentru că un om matur nu își ia jucăriile și pleacă atunci când nu câștigă o competiție. Nu aveam ce „sluj” să fac în fața lui Vasile Blaga, pentru că prezența mea pe lista PDL la europarlamentare a ridicat partidul cu câteva procente, mai exact cu 22%, conform analizei făcute pe Sociologica. Apoi, faptele mele sunt cunoscute, precum și ieșirile mele publice. Nimeni nu poate spune că nu m-am bătut pentru principiile mele, chiar și cu șefii mei direcți. Amintesc de Tăriceanu, care voia să îi dau eu sau procurorii raportul despre dosare ale politicienilor. Iar în PDL am spus întotdeauna ce am avut de spus, indiferent de cine a fost președinte, Boc sau Blaga, mai ales referitor la integritatea unor membri din conducerea PDL.

p: strong Alegătorii v-au trimis la Bruxelles fiindcă le-ați demonstrat că știți ce faceți acolo. Acum vreți să abandonați această responsabilitate pe care ați primit-o. E corect?

p 
  strong M.M.: 
  | Acum vreau să îmi asum o responsabilitate mai mare, aceea de președinte al României, pentru că am convingerea că pot să schimb lucrurile în bine. Eu am demonstrat că am capacitatea să fac legi și instituții care să lucreze pentru oameni, atât la Bruxelles, cât și la București. Am suficientă experiență și determinare ca să candidez la această funcție și să câștig. Mi-ar fi fost comod să stau la Bruxelles pe un salariu mare, dar niciodată nu am ales în viață lucrurile comode. Pot face multe lucruri pe care românii le așteaptă de atâția ani în domenii precum educație, sănătate, economie, așa cum am făcut în justiție.

p: strong Ați mai vorbit cu Vasile Blaga după ce v-ați dat demisia?

p 
  strong M.M.: 
  | Nu. Nu mai era nimic de spus. Mi-am scris demisia și am argumentat-o pe larg.

p: strong Dar alți colegi de partid v-au căutat? Au fost și reacții negative?

p 
  strong M.M.: 
  | Da, pot să vă spun că au fost mulți foști colegi cu care am vorbit și mi-au înțeles gestul. Ei au exprimat ceea ce eu spusesem deja: de ce trebuie să susținem noi, cei din PDL, candidatul PNL? De ce trebuie să susținem candidatul unui partid care nu a lămurit nici până acum responsabilitatea pe care a avut-o în lovitura dată statului de drept din vara lui 2012? De ce trebuie să susținem candidatul propus de Voiculescu și PSD premier în 2009? De ce trebuie să susținem candidatul unui partid care a luat parte la ”marțea neagră”? Nici eu nu am avut un răspuns la aceste întrebări. De aceea am decis să candidez indepedent și să demisionez din partid. Toți contracandidații mei într-un fel sau altul au lucrat sau colaborat cu PSD. Sunt singurul candidat la președinție care nu a lucrat sau a făcut vreodată o înțelegere cu PSD.

p: strong Ați fost membră PDL din 2009 și datorită acestei formațiuni ați obținut de două ori un fotoliu de parlamenter european, acum, deși abia v-ați dat demisia din partid încercați să-i convingeți pe oameni că partidele nu sunt bune. Credeți că un președinte, fie el și independent, nu va trebui să lucreze cu partidele?

p 
  strong M.M.: 
  |  Este obligatoriu ca președintele să lucreze cu partidele, dar nu cred că trebuie să se lase controlat de partide. președintele lucrează împreună cu partidele în interesul cetățenilor și doar al cetățenilor. De aceea în Constituție există prevederea că președintele nu poate fi membru al unui partid. Am demisionat din partid chiar înainte să ajung președinte. Eu vreau să fiu președintele tuturor cetățenilor, nu președintele partidelor. Și cât am fost membră PDL eu m-am luptat pentru o reformare din interior. Și într-o oarecare măsură am și reușit. Am reușit să impun, de exemplu, Codul de Etică în PDL. Cred că, împreună cu românii, putem reforma clasa politică și putem face ca partidele să fie mai preocupate de soarta oamenilor. Pentru oameni este foarte important cine îi conduce, și atunci când votează trebuie să gândească așa: „îmi angajez un președinte”, „îmi angajez un deputat.”

p: strong În ipoteza că ați ajunge președinta României, ce v-ar deosebi de Traian Băsescu?

p 
  strong M.M.: 
  |  Cred că aș putea fi mai diplomată, fără să îmi încalc principiile și valorile pentru care românii mă votează. Chiar și într-o situație de negociere ”cu spatele la zid”, așa cum a numit președintele negocierea șefilor de parchete, aș putea obține mai mult și în interesul românilor.

p: strong Credeți că ați putea negocia cu un guvern adversar mai bine decât a făcut-o Traian Băsescu?

p 
  strong M.M.: 
  |  Am negociat 40 de legi în Parlamentul European și n-a fost deloc simplu. Una din ele se referea la confiscarea extinsă a averilor din infracțiuni. Credeți că a fost simplu să-i conving pe colegii mei parlamentari că e nevoie de o asemenea lege în toate statele membre ale Uniunii Europene? Confiscarea extinsă atinge în mod evident interese ale politicienilor. Corupție la vârf nu există doar în România. Și cu toate că n-a fost o temă plăcută de mulți politicieni am reușit să trec această lege. Traian Băsescu a negociat procurorii cu 70% din Parlamentul României compus din 580 membri. Eu am negociat confiscarea extinsă cu toate grupurile din Parlamentul European, compus din peste 700 de membri. Cui credeți că i-a fost mai simplu?

p: strong Negocierile cu inamicii dvs. politici din România ar putea fi mult mai complicate decât cele din Parlamentul European.

p 
  strong M.M.: 
  |  Da, îi voi aduna la masă pe toți cei care au responsabilități publice într-o chestiune sau alta și voi negocia în limita interesului oamenilor și a valorilor și principiilor în care cred. Voi fi un președinte mediator, dar cu fluierul în mână și cu cartonașul roșu în buzunar pentru situațiile când se încalcă legile.

p: strong Dacă ați ajunge la Cotroceni, cât timp credeți că va dura până veți fi suspendată?

p 
  strong M.M.: 
  |  Cred că așa ceva poate fi evitat. Iar eu nu merg în funcția de președinte cu teama asta în suflet că aș putea fi suspendată sau demisă. Eu îi am de partea mea pe cei care mă votează, adică o majoritate a românilor. Eu pe ei îi reprezint, ei îmi dau puterea. Așa cum sunt convinsă că partidele vor avea grijă să reprezinte în Parlament voința cetățenilor, nu de alta, dar în 2016 sunt alegeri. Măcar de frica alegerilor, când dau iar ochii cu poporul, cred că partidele vor asculta vocea oamenilor.

p: strong Care este riscul cel mai mare pe care vi l-ați asumat intrând în cursa prezidențială?

p 
  strong M.M.: 
  |  Nu mi-am asumat un risc, ci responsabilitatea de a fi președinta tuturor cetățenilor României. Sigur, văd că sunt atacată din toate părțile, de la stânga la dreapta. Mă atacă Victor Ponta, Dan Voiculescu, Traian Băsescu, asta până la urmă nu face decât să mă întărească și să-mi arate că nu am greșit atunci când mi-am asumat candidatura. Se tem de mine și poate nu atât de mine cât de principiile și valorile pe care le reprezint. Dar vreau să le dau o veste: aceste principii și valori, în care eu cred, sunt ale majorității românilor. Ei sunt cei care votează, nu partidele, nu sistemul. De aceea sunt și atât de încrezătoare în victorie. Românii cred în dreptate, în libertate, în integritate morală. Ei nu mai pot fi păcăliți cu ”răul cel mai mic” sau ”toți suntem la fel”. Nu, nu toți oamenii politici sunt la fel. Eu nu sunt la fel ca ei.

p: strong E adevărat că, înainte să vă anunțați candidatura, v-a căutat de două ori un emisar al președintelui Traian Băsescu și v-a rugat să vă amânați pentru o scurtă perioadă acest anunț, pentru că exista intenția să vi se propună să deveniți candidata PMP?

p 
  strong M.M.: 
  |  Da, au fost astfel de semnale, dar nu știu dacă veneau de la președinte sau din propria dorință a „emisarilor”.

p: strong Ar fi fost bine să aveți susți­nerea președintelui Băsescu?

p 
  strong M.M.: 
  |  Ar fi bine să am sus­­ți­ne­rea majorității oamenilor buni din această țară. Și, eu știu, în ciuda a ce se tot spune, că oamenii buni, oamenii care își doresc o Românie modernă, care cred în adevăr și dreptate, sunt majoritari în România. De susținerea lor am nevoie ca să câștig alegerile. Lor le cer să fie încrezători și să reziste tuturor manipulărilor de genul ”Macovei n-are șanse”. Șansa mea de a câștiga stă în votul lor. Nimeni nu poate decide cine să îi reprezinte în cea mai înaltă funcție în stat: nici partidele, nici președintele în funcție, nici alte instituții ale statului. Eu le cer românilor să își arate adevărata putere la aceste alegeri.

p: strong Credeți că un scor în jur de 5 procente, așa cum arată sondajele acum, vă va afecta credibilitatea?

p 
  strong M.M.: 
  |  Nu discutăm despre așa ceva. Eu vreau să intru în turul al doilea și să câștig alegerile. Și vreau să fac asta sprijinită de oamenii buni din România. Oamenii buni sunt peste 50% în țara asta, nu 5%.

p: strong Dacă Elena Udrea va avea un scor mai mare decât dvs., așa cum arată acum sondajele ce concluzie veți trage?

p 
  strong M.M.: 
  |  Haideți să fim serioase. Eu nu candidez împotriva Elenei Udrea. Nu reprezintă nicio miză pentru mine. Eu vreau ca împreună cu românii să arătăm că putem să ne adunăm toți sub steagul libertății și al dreptății. Să arătăm că noi, cei care credem în libertate, dreptate, munca și lucrul bine făcut, suntem o majoritate în țara asta și împreună putem face o Românie mai bună.

p: strong În 2007, după ce am fost dați afară din Guvern de Tăriceanu, președintele mi-a propus să fiu consilier prezidențial cu rangul cel mai înalt la Cotroceni. (…) În 2008, atât dl Boc, cât și dl Băsescu mi-au propus în campania electorală să fiu ministru al Justiției în guvernul de după alegeri. Am acceptat, dar, ulterior, a fost numit Cătălin Predoiu. (...) Apoi, în toamna lui 2009, după ce a căzut Guvernul Boc, președintele m-a chemat să îmi propună mandatul de premier pentru a forma un nou cabinet.“
