- locals.date = '2014-09-24 15:20';
- locals.thumb = '/assets/img/posts/macovei-politicienii-corupti.jpg';
- locals.title  = 'Monica Macovei: “Politicienii corupţi au împărţit ţara, eu vreau să împart dreptate!” ';
- locals.slug = 'politicienii-corupti-au-impartit-tara-eu-vreau-sa-impart-dreptate';
- locals.preview = 'Obiectivul principal al lui Victor Ponta şi PSD este să preia controlul total al justiţiei şi să împiedice oamenii liberi să dezvăluie furtişagurile PSD. Asta este « lupta » lor. Tocmai de aceea trebuie să-i oprim. Românii merită mai mult decât minciuna şi aroganţa lui Ponta şi a PSD, merită mai mult decât corupţia ajunsă până în birourile de la Palatul Victoria. Ponta şi PSD vor duce o luptă murdară, tocmai pentru că obiectivul lor e murdar.';
- locals.author = 'Gabriel Tudor';
- locals.source = 'http://www.academiacatavencu.info/politic/monica-macovei--%E2%80%9Cpoliticienii-corupti-au-impartit-tara--eu-vreau-sa-impart-dreptate-%E2%80%9D-37469';
- locals.tags = ['articol','presa','opinie'];

p Plecată din PDL, pentru că nu corespundea nici la grosimea obrazului, nici la cea a buzunarului, cu alde Videanu, Berceanu și Blaga, Monica Macovei a luat taurul corupției de coarne și a intrat   de una singură în arenă. Așa că luați-vă floricelele  și sucul: la dezbaterile din campania prezidențiale  urmează o coridă pe cinste !

p
  strong Are nevoie România de o femeie preşedinte? Din câte ştiu, noi am avut numai voievozi, iar muma lui Ştefan cel Mare nu deţinea funcţii oficiale.

p O femeie sau un bărbat sunt oameni de stat dacă au calităţile omului de stat, e simplu.  Da, românii sunt gata să aleagă o femeie după 25 ani în care România a fost condusă de bărbaţi.  România are nevoie de un preşedinte care să iubească ţara şi oamenii, şi care să facă orice pentru ei. Să ne uităm la cum arată ţările care au lideri femei, premieri, preşedinte sau regine. Sunt mai prejos decât celelalte? Aş zice că dimpotrivă, unele sunt mult mai prospere.  Haideţi să ne gândim şi la ce am fi fost fără femei ? Cine ţine familia? Cine creşte copiii? Cine ţine gospodăria? Gândiţi-vă la cât a făcut mama dvs pentru dumneavoastră. Mulţi dintre dascălii noştri sunt femei. Mama mea a fost profesoară de biologie. Un fost elev al mamei a făcut o contribuţie la campanie şi mi-a scris spunându-mi că dacă mama m-a crescut aşa cum i-a fost dascăl, atunci crede în mine.

p
  strong De ce Macovei şi nu Udrea? Ce, Macovei mănâncă mici şi salam Victoria cu electoratul?

p Important este ce vrea să facă preşedintele cu România. Sau din România. Cei care mă cunosc ştiu că iubesc oamenii şi lucrurile autentice. Mănânc salam şi mici numai când mi-e poftă, nu din alte motive.  

p
  strong Românii sunt misogini. Când o veni Ponta, bărbat, familist şi ortodox pe deasupra, o să-l voteze şi morţii. Pe Macovei cine o votează?

p Nu este adevărat că românii sunt misogini. Românii apreciază şi respectă o femeie care s-a ridicat prin propriile forţe, şi-a clădit o profesie cu cinste, onoare şi profesionalism. Referitor la Ponta, când un candidat la Preşedinţie se foloseşte de religie sau de situaţia familială pentru a ataca un contracandidat, asta îţi arată că este un candidat slab, fără idei şi program pentru ţară. Dar mai ales, îţi arată un om fără caracter. Pe mine sper să mă voteze oamenii vii, cu gândul la prezentul şi viitorul lor şi al copiilor lor. Şi cu respect pentru morţii lor. Sper să îmi dea votul lor oamenii care s-au săturat de hoţie, de minciună, de lipsă de respect, de caracatiţa birocraţiei, de abuzuri şi mai ales de prostie în general. Nu am o maşinărie de partid în spate şi nu trasez nimănui sarcini de partid să aducă X voturi. Eu mă adresez direct oamenilor şi le spun: şansa mea stă în votul fiecăruia dintre voi. Veniţi pe 2 noiembrie la vot, ca să îmi daţi şansa să schimb România împreună cu voi!  

p
  strong Aţi plecat din PDL. Vă faceţi partid sau mergeţi de una singură mai departe?

p Candidez independent. Vreau să fiu preşedintele românilor, nu preşedintele partidelor. Merg în aceste alegeri împreună cu toţi românii care s-au săturat de actuala clasă politică şi vor o Românie prosperă, sănătoasă şi educată. O Românie unde românii plecaţi în diaspora să dorească să se întoarcă şi să rămână.

p
  strong Băsescu s-a dezis de dumneavoastră. Dumneavoastră vă deziceţi de Băsescu?

p Colaborarea mea cu preşedintele Băsescu a început în 2004, când m-a invitat în Guvern să preiau ministerul justiţiei. Era un moment foarte greu pentru ţară, iar dacă reformele din justiţie nu se făceau la timp, România nu mai intra în Uniunea Europeană. După cum ştiţi, am început reforma în justiţie, România a intrat în UE la timp, iar acum avem politicieni condamnaţi pentru corupţie. În 2013, la numirea procurorilor şefi, eu am avut o poziţie, iar preşedintele alta. Personal am fost împotriva eliminării procedurii de selecţie pentru numirea acestora. Fiecare dintre noi merge pe drumul lui.

p
  strong Avem un guvern întreg după gratii – pe Năstase nu-l pun la socoteală, că acum e plecat în vacanţă, dar sigur se întoarce. Cine-i de vină pentru asta: Macovei, Băsescu sau americanii?

p « De vină »  suntem toţi cei care am eliberat justiţia de sub controlul politic. « De vină » sunt şi acei judecători şi procurori care au înţeles imediat că independenţa este reală. « De vină » sunt şi partenerii occidentali care au susţinut aceste reforme, astfel încât românii să se poată bucura de o justiţie dreaptă în ţara lor şi de o clasă politică mai puţin coruptă. Justiţia funcţionează, trebuie să o păstrăm aşa şi să mergem mai departe. Să aducem dreptatea în sănătate, educaţie, administraţia locală şi în economie.  Vreau să scot România din mâinile politicienilor şi să o redau românilor. Politicienii corupţi au împărţit ţara, eu vreau să împart dreptate.

p
  strong Cataramă s-a retras din cursa prezidenţială în favoarea lui  Diaconescu, Diaconescu s-a retras şi el în favoarea Elenei Udrea, Elena Udrea în favoarea cui se retrage?

p Nu mă interesează trocurile politice. Eu am intrat în această cursă ca independent, vreau să fiu liberă de orice obligaţii, cu excepţia celor asumate în faţa românilor.   Eu nu am funcţii şi influenţe de împărţit. Eu le ofer tuturor programul meu pentru România şi cine vrea să mă susţină este liber să o facă.

p
  strong Datele arată că jumătate din români nu prea au votat în ultimii ani. Cum îi convingeţi să vină, că absenţii nu-s din ăia care pun ştampila pe-o găleată şi-o sticlă de ulei?

p Faptul că mulţi dintre ei nu mai vin la vot arată că partidele nu-i mai pot convinge sau nu le-au oferit ce aşteptau: dreptate în toate, locuri de muncă, autostrăzi, spitale unde au medicamente, educaţie bună pentru copiii lor, eliminarea clientelismului politic şi a birocraţiei. Prin candidatura mea vreau să dau românilor şansa ca, după 25 de ani, să voteze pentru ceva pozitiv şi nu împotriva a ceva sau a cuiva. Eu vin în faţa electoratului nu cu găleţi cu mâncare, cu pui, cu faină şi ulei ca să mă voteze, ci cu un proiect care să-i dea şansa românului să îşi găsească un loc de muncă unde să câştige bani încât să îşi cumpere el ce pui, ulei şi făină vrea. Eu nu cumpăr votul. Eu respect fiecare vot, pentru că un vot înseamnă un om, înseamnă o conştiinţă. Le ofer românilor o ţară în care ei au puterea şi soarta lor în propriile mâini. Clasa politică nu va mai fi stăpâna ţării. 

p
  strong V-aţi comparat cu Nelson Mandela, un mare luptător pentru dreptate şi libertate, care a stat 27 de ani în puşcărie. Dacă iese Ponta preşedinte, nu vă e teamă c-o să vă îndeplinească dorinţa?

p Dacă Ponta mă arestează, vă aştept pe toţi să mă eliberaţi. Obiectivul principal al lui Victor Ponta şi PSD este să preia controlul total al justiţiei şi să împiedice oamenii liberi să dezvăluie furtişagurile PSD. Asta este « lupta » lor. Tocmai de aceea trebuie să-i oprim. Românii merită mai mult decât minciuna şi aroganţa lui Ponta şi a PSD, merită mai mult decât corupţia ajunsă până în birourile de la Palatul Victoria. Ponta şi PSD vor duce o luptă murdară, tocmai pentru că obiectivul lor e murdar.

p
  strong Să presupunem că ajungeţi preşedinte. Formaţi un nou guvern sau îl „reevaluaţi” pe Victoraş şi semnaţi un pact de coabitare cu el?

p Eu respect Constituţia. Conform Constituţiei, preşedintele nu poate schimba premierul. Ar fi un abuz şi o încălcare a Constituţiei. Dar cred că Ponta trebuie să plece. Faptul că românii îi spun “nu”, înseamnă că trebuie să plece. A făcut destul rău ţării. De altfel, este posibil ca PSD să îl dea jos pe Ponta.  Dacă se va forma o altă majoritate, şi eu sper să se întâmple asta după alegeri, atunci voi desemna cu siguranţă un premier care să lucreze pentru binele românilor.
