- locals.date = '2014-11-15 00:30';
- locals.thumb = '/assets/img/posts/mm-alb-negru.jpg';
- locals.title  = 'Monica Macovei cere adoptarea unei OUG care să asigure dreptul la vot și să garanteze că acesta nu va fi împiedicat';
- locals.slug = 'mm-cere-oug';
- locals.preview = 'Monica Macovei cere adoptarea astăzi a unei Ordonanțe de urgență prin care să se poată prelungi orarul secțiilor de votare la care, la ora 21.00, mai sunt oameni la coadă, așteptând să voteze, și care să permită înlocuirea reprezentanților partidelor politice care absentează din secțiile de votare din străinătate cu personalul ambasadelor sau din alte instituții.  ';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];
p
    em (14 noiembrie 2014) – Monica Macovei – Comunicat de presă
 
h3
    strong Monica Macovei cere adoptarea unei Ordonanțe de urgență care să asigure dreptul de “a alege” al cetățenilor români și să garanteze că acesta nu va fi împiedicat
 
p Monica Macovei cere adoptarea astăzi a unei Ordonanțe de urgență prin care să se poată prelungi orarul secțiilor de votare la care, la ora 21.00, mai sunt oameni la coadă, așteptând să voteze, și care să permită înlocuirea reprezentanților partidelor politice care absentează din secțiile de votare din străinătate cu personalul ambasadelor sau din alte instituții.

p Monica Macovei a transmis astăzi două solicitări adresate Prim-ministrului Guvernului României, Ministerului Afacerilor Externe, Biroului Electoral Central și Biroului Electoral pentru secțiile de votare din străinătate.

p Publicăm integral conținutul celor două solicitări:
ol(type='1')
  li
      p 
          |Către: 
          ul(style="list-style: none;")
              li Prim-ministrul Guvernului României
              li  Ministerul Afacerilor Externe
              li Biroul Electoral Central pentru alegerea Președintelui României
              li Biroul Electoral pentru secţiile de votare din străinătate
      h4 SOLICITARE PRIVIND ASIGURAREA DREPTULUI CETĂȚENILOR ROMÂNI DE A VOTA
       
      p În urma sesizărilor pe care le-am primit din partea alegătorilor cetățeni români privind incidentele de la primul tur de scrutin, când nu și-au putut exercita dreptul la vot, din cauza cozilor masive de la secțiile de votare, generate de proasta organizare a scrutinului din 2 noiembrie 2014, vă solicit să precizați în timp util ce măsuri ați luat pentru ca această situație să nu se repete la al doilea tur al alegerilor prezidențiale din 16 noiembrie 2014.
       
      p Vă solicit să precizați în mod explicit dacă cetățenii români aflați la coadă, în incinta secției de votare, in curtea secției de votare sau în fața secției de votare, la ora 21.00, prevăzută a se încheia votarea, își pot exercita dreptul de “a alege”, prin prelungirea programului de vot.  
      
      p De asemenea, solicit Guvernului României, pentru a evita cereri de prelungire și eventuale răspunsuri negative, să emită astăzi o Ordonanță de Urgență, pe care să o publice tot astăzi în Monitorul Oficial, pentru prelungirea orarului tuturor secțiilor de vot din străinătate, precum și pentru toate secțiile de votare din România, pentru situația în care la ora 21.00 mai sunt oameni care nu au votat.
      
      p Neadoptarea unei astfel de OUG arată intenția clară a Guvernului Ponta de împiedicare a dreptului de “a alege” al cetățenilor români.
      
      p Cetățenii români aflați la coadă la secțiile de votare nu au nicio vină pentru că procesul electoral a fost prost organizat, iar acest lucru nu trebuie să le anuleze un drept fundamental.
      .row
          .col-xs-6
              p Monica Macovei,
              p Deputat în Parlamentul European
          .col-xs-6
              p 14 noiembrie 2014
         
  li
      p
          |Către:
          ul(style="list-style: none;")
              li Ministerul Afacerilor Externe                
              li Domnului Teodor Meleșcanu, Ministru
            
              li Biroul Electoral Central
              li Doamnei judecător Veronica Năstasie, Președinte 
   
   
      p Domnule Ministru,
      p Doamnă Judecător,
       
      p În urma sesizărilor pe care le-am primit din partea alegătorilor cetățeni români care urmează să voteze la Secția de votare nr 150 Londra Belgrave Square de la ICR, prin care aceștia semnalează faptul că 4 reprezentanți ai partidelor (PSD - UNPR – PC, UDMR, PP-DD, PER) au anunțat că nu se vor prezenta duminică la secția de votare, vă solicit să luați măsurile necesare și să le prezentați public pentru a asigura buna funcționare a Secției de votare nr 150 Londra Belgrave Square, precum și a tuturor celorlalte secții organizate în străinătate. Este foarte probabil ca situația de la Secția nr 150 Londra să se regăsească și în alte secții din străinătate, reprezentanții PSD-UNPR-PC, UDMR, PP-DD, PER să nu se prezinte tocmai pentru a reduce posibilitatea oamenilor de a vota.
      
      p Pentru că un număr redus de delegați (respectiv 3 în loc de 7 la Secția nr 150) înseamnă reducerea sub jumătate a numărului de persoane care pot vota, este datoria dumneavoastră să asigurați funcționarea secțiilor de votare din străinătate, astfel încât cetățenii români să nu mai fie împiedicați să își exercite dreptul de “a alege”.
      
      p De aceea, se impune să găsiți o soluție prin care membrii partidelor politice care vor absenta să poată fi înlocuiți cu personalul ambsadelor sau din alte instituții publice.
      
      p Având în vedere că Guvernul este organizatorul alegerilor, dacă nu se găsește rapid altă soluție, să adopte astăzi – și să publice astăzi în Monitorul Oficial – o Ordonanță de Urgență prin care să permită acest lucru, astfel încât să asigure funcționarea la capacitate maximă a tuturor secțiilor de vot.
      .row
        .col-xs-6
          p Monica Macovei,                            
          p Deputat în Parlamentul European
        .col-xs-6
          p 14 noiembrie 2014