- locals.date = '2014-10-01 14:00';
- locals.thumb = '/assets/img/posts/mm-white.png';
- locals.title  = 'Scrisoare deschisă către tine și către toți românii, oriunde sunteţi';
- locals.slug = 'monica-macovei-scrisoare-catre-tine';
- locals.preview = 'Aceasta este România la care visăm cu toții, și pe care o putem avea dacă stârpim corupția, necinstea, minciuna, învrăjbirea și incompetența. Pentru acest ideal m-am luptat și mă voi lupta mereu. Pentru acest ideal îți scriu și îți cer votul. Pentru acest ideal am așternut ideile și propunerile care urmează. Ele sunt în interesul tău, nu al clasei politice de astăzi.';
- locals.author = 'Monica Macovei Președinte';
- locals.source = '';
- locals.tags = ['declaratie'];

.pull-right
  img.img-responsive(src='/assets/img/posts/mm-white.png', style="max-width: 15em; padding: 0 0 1em 1em;")

.p-group
  p De prea multă vreme, în România se minte și se fură.
  p De prea multă vreme, interesul personal și cel de partid sufocă binele comun. 
  p De prea multă vreme ni se propun răul cel mai mic și soluții imorale. 
  p De prea multă vreme noi plătim și răbdăm, iar corupții și șmecherii prosperă.
  p Ca și tine, m-am săturat de această situație. 
  p De ani buni, mă lupt cu sistemul corupt.
  p Am pornit reforma în Justiție.
  p Am înființat Direcția Națională Anticorupție şi rezultatele se văd.
  p Am scris un cod etic pentru politicieni.
  p Am promovat în Parlamentul European confiscarea extinsă a averilor celor condamnați pentru corupție, furt din banii publici, trafic de droguri, de persoane, de arme sau furtul de bani de pe carduri. Consider că, dacă nu pot fi justificate, averile demnitarilor trebuie confiscate.  

p Îți ofer acum toată competența mea, toată experiența mea și îți cer încrederea.

p Îți cer să mă angajezi să lucrez pentru tine în funcția de Președinte al României. Nu îţi cer să mă pui şefă peste ţară.
   
p Îți prezint aici viziunea mea pentru România: Zece porunci pentru clasa politică, o Sută de idei și proiecte pentru tine, pentru noi.

p Nu este un program de guvernare, fiindcă Președintele nu guvernează, dar trebuie să vă spun cum văd eu transformarea ţării şi unde vreau să ajungem împreună. 

p Președintele poate propune idei de bună guvernare și are datoria să o facă.

p Președintele te poate consulta, prin referendum, iar tu vei putea vota electronic sau prin corespondenţă, de acasă sau de oriunde eşti. 

.p-group
  p E ceea ce voi face: unele dintre aceste idei trebuie să se regăsească într-o nouă Constituție a libertății, care să echilibreze puterile statului. 
  p O Constituție făcută pentru tine, nu pentru politicieni.
  p O Constituție care să prevadă un guvern și un parlament reduse la minimum, în care executivul să administreze țara, legislativul să dea legi drepte, iar Președintele să reprezinte unitatea națiunii şi să urmeze legea. 
  p O Constituție care să evite conflictele între palate și uzurparea prerogativelor unei puteri de către altă putere.
  p O Constituție care să reglementeze corect proprietatea, să garanteze libertatea de asociere, să asigure dreptul efectiv de vot al românilor din ţară şi din străinătate.

.p-group
  p.strong Viziunea mea pentru România e simplă: o țară în care să ne facă plăcere să trăim.
  p O țară prosperă: nu vom fi niciodată opulenți, dar putem fi prosperi.
  p O țară sănătoasă, cu spitale bune, din care nu ne pleacă medicii și asistentele. 
  p O țară cu tineri bine educați, care au locuri de muncă și se pot împlini profesional și familial la ei acasă.
  p O țară guvernată cinstit și sobru, eficient și onest față de cetățean.
  p O țară în care corupția, evaziunea fiscală, furtul din banii noștri, munca la negru sunt fenomene marginale, aspru pedepsite.
  p O țară a întreprinzătorilor liberi, prosperi, neîmpovărați de taxe, birocrație și legi aberante.
  p O țară cu copii veseli, tineri încrezători, oameni activi prosperi și bătrâni senini.
  p O țară curată, reîmpădurită, cu ape nepoluate.
  p O țară străbătută de autostrăzi și trenuri rapide.
  p O țară europeană, demnă între marile națiuni ale continentului, ancorată ferm în lumea liberă.
  p O țară sigură, cu o armată bine echipată și respectată, pe care poporul poate conta.
  p Un stat membru UE, NATO, partener strategic al SUA, respectat fiindcă se respectă.

.p-group
  p Aceasta este România la care visăm cu toții, și pe care o putem avea dacă stârpim corupția, necinstea, minciuna, învrăjbirea și incompetența.
  p Pentru acest ideal m-am luptat și mă voi lupta mereu.
  p Pentru acest ideal îți scriu și îți cer votul.
  p Pentru acest ideal am așternut ideile și propunerile care urmează.
  p Ele sunt în interesul tău, nu al clasei politice de astăzi.

.p-group
  p Ei au în spate afaceri și obligații nevăzute. Eu te am doar pe tine.
  p Dar îi putem învinge, așa cum David l-a învins pe Goliath, fiindcă suntem liberi și cinstiți.
  p Nu doar Macovei, ci și tu ești altfel decât ei.
  p Vino alături de mine și haide să întoarcem definitiv foaia României în care politicienii ne fură şi sunt corupţi! 
  p Merităm o țară prosperă și decentă. 

p Împreună, putem şi reuşim.  
p Fiindcă suntem mai buni decât ei, iar împreună suntem infinit mai puternici!
