- locals.date = '2014-09-24 16:30';
- locals.thumb = '/assets/img/posts/mm-conf-presa-square.jpg';
- locals.title  = 'Monica Macovei, la România în obiectiv: “Și David l-a învins pe Goliat”';
- locals.slug = 'monica-macovei-romania-in-obiectiv';
- locals.preview = 'Mulțumesc oamenilor din toată țara care m-au ajutat. Candidez pentru că vreau să fiu angajatul românilor și nu tartor pentru țară, ci peste țară. Candidez pentru că vreau ca România să rămână pe direcția Vest și să garantez siguranța națională a țării noastre. Vreau ca Parlamentul să își reducă cheltuielile cu 50%. Un stat sărac nu poate susține un Parlament bogat.';
- locals.author = 'REALITATEA.NET';
- locals.source = 'http://www.realitatea.net/emisiuni/editiespeciala.html';
.pull-right
  img.img-responsive(src='/assets/img/posts/mm-white.png', style=" max-width: 10em; padding: 0 0 1em 1em;")
blockquote
  em “Mulțumesc oamenilor din toată țara care m-au ajutat. Candidez pentru că vreau să fiu angajatul românilor și nu tartor pentru țară, ci peste țară. Candidez pentru că vreau ca România să rămână pe direcția Vest și să garantez siguranța națională a țării noastre. Vreau ca Parlamentul să își reducă cheltuielile cu 50%. Un stat sărac nu poate susține un Parlament bogat. Trăim în mizerie. Demnitatea ne este încălcată. Toți cei care cred în mine mă vor vota din primul tur. Vom învinge. Și David l-a învins pe Goliat.”
a(href='http://www.realitatea.net/emisiuni/editiespeciala.html', target= '_blank') Monica Macovei la România în obiectiv, 21 septembrie 2014