- locals.date = '2014-09-19 18:00';
- locals.thumb = '/assets/img/posts/vladimir-tismaneanu.jpg';
- locals.title  = 'Vladimir Tismaneanu: Să fii altfel decât ei. Despre altruismul civic al Monicăi Macovei';
- locals.slug = 'vladimir-timaneanu-sa-fii-altfel-decat-ei';
- locals.preview = 'Am mai spus-o, o repet: Monica Macovei a ales sa traiasca in adevar, sa fie vocea celor fara de voce. Este o optiune asumata pe care, eu unul, o admir si o respect. Si nu sunt nici pe departe singur.';
- locals.author = 'Vladimir Tismăneanu';
- locals.source = 'http://www.ziare.com/monica-macovei/candidat-prezidentiale/invitatii-ziare-com-vladimir-tismaneanu-sa-fii-altfel-decat-ei-despre-altruismul-civic-al-monicai-macovei-1322199';
- locals.tags = ['articol','opinie','presa'];

figure.pull-right
  img.img-responsive(src="/assets/img/posts/vladimir-tismaneanu.jpg", style="max-width: 15em; padding: 0 0 1em 1em;")

p Alegerile prezidentiale din acest an pot genera o mult asteptata despartire a apelor.

p Mi se spune ca m-as aventura in directia a ceea ce se numeste gandirea dezideratativa (wishful thinking). Sper ca nu.

p Judecatile si analizele pe care le propun se intemeiaza pe fapte, pe informatii verificabile. Monica Macovei chiar este altfel de cat majoritatea coplesitoare a unei clase politice lipsita de atasamente valorice si inclinata spre blat, aranjamente de culise si trafic de principii.

p Intr-un articol scris impreuna cu bunul meu prieten, politologul Marius Stan, spuneam ca Monica Macovei simbolizeaza altruismul civic. Este vorba de o viziune care plaseaza cetateanul, cu ale sale drepturi inalienabile, in centrul unui proiect politic menit sa duca la modernizarea institutionala, economica si sociala a tarii. Nu exista nimic elitist in ceea ce sustine Monica Macovei.

p Cu prilejul recentei vizite la Timisoara, Monica Macovei a reafirmat, in termeni cat se poate de limpezi si de transanti, dogoritoarea actualitate a Punctului 8 al Proclamatiei din martie 1990:

blockquote "Punctul 8 al Proclamatiei de la Timisoara isi pastreaza si in acest moment actualitatea, iar desavarsirea Revolutiei incepute in decembrie 1989, la Timisoara, presupune finalizarea acesteia, prin aflarea adevarului istoric si prin identificarea si pedepsirea celor care se fac vinovati pentru crimele comise. In plus, mai este nevoie si de reformarea clasei politice, astfel incat Romania sa scape de monopolul instituit de partidele politice si sa devina o Romanie a oamenilor vii, creativi si inteligenti."

p Am mai spus-o, o repet: Monica Macovei a ales sa traiasca in adevar, sa fie vocea celor fara de voce. Este o optiune asumata pe care eu, unul, o admir si o respect. Si nu sunt nici pe departe singur.

p Este vorba de o viziune a politicului inrudita cu aceea a lui Vaclav Havel, marele disident si primul presedinte al Cehoslovaciei eliberata de comunism, apoi presedintele Republicii Cehe:

blockquote "Oricat de ridicol si donquijotesc poate sa sune acest lucru astazi, un lucru mi se pare cert - faptul ca este responsabilitatea mea sa accentuez, mereu si necontenit, originea morala a oricarei politici autentice, sa subliniez semnificatia valorilor si standardelor morale in toate domeniile vietii sociale, inclusiv economia, si sa explic ca, daca nu incercam, in noi insine, sa descoperim ori sa redescoperim ori sa cultivam ceea ce eu numesc o 'responsabilitate mai inalta', lucrurile vor merge teribil de rau in tara noastra." (Vaclav Havel, "Summer Meditations", 1991)

p Ceea ce cerea "Proclamatia" era o asanare a sferei publice, o retragere din scena, macar pentru cativa ani, a celor direct responsabili, ca personaje importante ale aparatului de partid, guvernamental si al Securitatii. "Proclamatia" cerea denomenclaturizarea, deci decomunizarea Romaniei.

p Punctul 8 propunea concret si fara echivoc lustratia. FSN-ul i-a acuzat pe autorii "Proclamatiei", intre care regretatul George Serban (nascut acum 60 de ani, pe 25 iunie 1954, plecat dintre noi scandalos de devreme), de extremism, ba chiar si de fascism.

p Neo-fesenistii de tip Ponta se simt direct primejduiti de Monica Macovei si de valul civic pornit sa sustina candidatura ei. De aceea, declama ei stupidul slogan al "debasificarii". Ponta si ai lui se tem de Monica Macovei pentru ca traieste in adevar. Ei se scalda in minciuna.

p Romania nu are nevoie de "debasificare", ci de o ruptura irevocabila cu practicile si traditiile nomenclaturiste. Romania are nevoie de intarirea, nu de slabirea institutiilor care responsabilizeaza clasa politica si pe oligarhi. Romania are nevoie de moralitate in politica, nu discursuri sforaitoare despre o "noua Mare Unire".

p Suna idealist? Poate. Dar de cand sunt idealurile demne de dispret in politica? Nu au fost idealisti cei care au sperat, in vremea noptii totalitare, ca va veni momentul cand dictatura se va prabusi? Nu au fost idealisti cei care au crezut in idealul Romaniei Mari, al intregirii tarii? Nu au fost idealisti disidentii Europei de Est cand se opuneau unui aparat de represiune aparent omnipotent?

p Tocmai pentru ca reafirma rolul crucial al idealurilor in politica, tocmai pentru ca traieste sub semnul altruismului civic, Monica Macovei chiar este altfel decat cei pentru care totul este de vanzare.

p Nu cred catusi de putin ca majoritatea cetatenilor Romaniei vrea sa fie ca "ei". Dimpotriva, cred ca majoritata civica vrea ca liderii politici sa fie altfel, adica onorabili, cinstiti, credibili.
