- locals.date = '2014-09-18 16:30';
- locals.thumb = '/assets/img/posts/dragos-ghitulete.png';
- locals.title  = 'Victor “Fake” Ponta și Monica “Genuine” Macovei';
- locals.slug = 'victor-fake-ponta-si-monica-genuine-macovei';
- locals.preview = 'De cealaltă parte, o femeie fără aparat de partid, un politician care și-a construit pas cu pas cariera, înjurată pînă și de foștii colegi de partid pe care i-a disperat cu tot felul de criterii de integritate, intră într-o cursă în care singurele arme sînt faptele.';
- locals.author = 'Dragos Ghitulete';
- locals.source = 'http://www.contributors.ro/editorial/victor-fake-ponta-%C8%99i-monica-genuine-macovei/';
- locals.tags = ['opinie','articol','presa'];

figure.pull-right
  img.img-responsive(src="/assets/img/posts/dragos-ghitulete.png", style="max-width: 15em; padding: 0 0 1em 1em;")

p Fake înseamnă nu numai ceva fals, ci și înșelăciune sau ipocrizie. Și se potrivește  de minune cu acest politician social-democrat,  varianta stînga- caviar atît de dragă mentorului său, Adrian Nastase.

p A fost scos de fostul deținut și premier dintr-un joben lucios pe la începutul anilor 2000 și a ajuns în 2014 candidat la prezidențiale. Victor Viorel Ponta înseamnă tot ce e mai fals și mai respingător în politica românească în ultimii 25 de ani. E înconjurat de personaje asemeni lui și care au văzut în acest mincinos marioneta perfectă pe care o pot scoate în față și la adăpostul căreia își pot vedea nestingheriți de matrapazlîcuri. Pentru multi dintre acoliții roșii din PSD înseamnă, poate, soluția rămînerii în libertate. Spun poate, pentru că nu e sigur că o dată ajuns la Cotroceni, premierul plagiator nu le va întoarce spatele.

p 
  strong “Scapă cine poate” 
  | este lozinca după care se ghidează și pe care le-o repetă la nesfîrșit baronilor penali din partid care poate s-au codit în a mobiliza  lumea la vot în urma acțiunilor DNA . Iar ei înțeleg acest îndemn. Radu Mazăre înjură procurorii DNA și amenință că pleacă din România dacă Ponta nu iese președinte (a mai făcut-o și în 2009 cînd a candidat Geoană), Stanciu Zisu, un traseist milionar incult, se joacă cu chibriturile și e în stare să dea foc la țară pentru același obiectiv iar Mircea Cosma își descoperă vocația de poet de curte și îi inchină ode în fața cărora pălește de invidie pînă și Vadim Tudor.

p Această adunătură de derbedei politici speră că în noiembrie vor scăpa de problemele cu justiția, așteaptă ca acea liniște iliesciană din anii 90 să se întoarcă. Nu mai contează drumul pe care România a ales să meargă în 2005. Nu le pasă de UE și de reguli. Cu o jumătate de gură, în hohotele lor, candidatul Victor Viorel  spune că trebuie să stăm liniștiți, vor fi alegeri corecte. Printre dezbateri despre ofițeri acoperiți, numai bune de mutat atenția, baronii PSD pregătesc terenul pentru numărătoarea finală. Cea care contează, pentru că nu-i așa, nu e important cine votează, important e cine numără voturile.

p De cealaltă parte, o femeie fără aparat de partid, un politician care și-a construit pas cu pas cariera, înjurată pînă și de foștii colegi de partid pe care i-a disperat cu tot felul de criterii de integritate, intră într-o cursă în care singurele arme sînt faptele. Este ajutată de voluntari să strîngă semnăturile necesare pentru a candida( înțeleg că vor fi mult peste 200 de mii), deși tot felul de comentatori bat cîmpii că e imposibil să le strîngi fără ajutorul unui partid.  Genuine, adică autentic, veritabil. E tot ceea ce e străin de politica ultimilor 25 de ani. Nu știu dacă și cînd vom mai avea ocazia să votăm pozitiv, pentru că astfel de situații apar rar în acest spațiu viciat pînă în măduva oaselor de impostură și minciună.

p Priviți pozele pe care cei doi candidați le-au făcut pînă acum la întîlnirile cu alegătorii. Priviți echipele și oamenii care îi ajută. Pe de-o parte, postaci posaci care abia așteaptă să se termine cu aceste alegeri și să primească banii pentru care au fost arvuniți, pe de alta oameni zîmbitori care nu așteaptă nici o recompensă ci doar o victorie a veritabilului în fața falsului. Toate aceste poze fac mai mult decît o mie de cuvinte, iar fake și genuine se văd cu ochiul liber.
