- locals.date = '2014-09-06';
- locals.thumb = '/assets/img/posts/mihaela-miroiu.jpg';
- locals.title  = 'Mihaela Miroiu: Monica Macovei este cea mai potrivită persoană să exercite funcția de Președinte';
- locals.slug = 'mihaela-miroiu-monica-macovei-cea-mai-potrivita-persoana-sa-exercite-functia-de-presedinte';
- locals.preview = 'Mihaela Miroiu: "Macovei este de departe cea mai potrivită persoană să exercite funcția de Președinte. Deci dacă am lua în serios nu simpatiile și antipatiile noastre, nu tot soiul de, să zicem așa, lucruri folclorice, ci am lua în serios ce au făcut oamenii, candidații până acum, ca să îi califice pe fișa postului de Președinte, am constata că există Monica Macovei, în materie de calificare, și restul lumii. Adică între ea și ceilalți distanța este foarte mare în sensul posibilității de a exercita funcția de Președinte într-o țară a Uniunii Europene."';
- locals.author = '';
- locals.source = 'http://adevarul.ro/news/politica/mihaela-miroiu-activista-feminista-despre-candidaturile-femeilor-presedintie-adevarul-live-1200-1_540962850d133766a8e00bbc/index.html';
- locals.tags = ['','',''];

blockqoute Macovei este de departe cea mai potrivită persoană să exercite funcția de Președinte. Deci dacă am lua în serios nu simpatiile și antipatiile noastre, nu tot soiul de, să zicem așa, lucruri folclorice, ci am lua în serios ce au făcut oamenii, candidații până acum, ca să îi califice pe fișa postului de Președinte, am constata că există Monica Macovei, în materie de calificare, și restul lumii. Adică între ea și ceilalți distanța este foarte mare în sensul posibilității de a exercita funcția de Președinte într-o țară a Uniunii Europene.
.embed-responsive.embed-responsive-16by9
  iframe(src="//www.youtube.com/embed/_Ie8VgytfT4" frameborder="0" allowfullscreen)
