font-family-sans ?=  'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif
mm-dark-blue ?= #232A50
mm-blue ?= #00679E
mm-light-blue ?= #99B0FF
mm-red ?= #9D0000

body
  font-size: 20px
  line-height: 1.5em
  font-family: font-family-sans

@import overrides
@import media
@import hero
