@import variables
@import overrides
@import media
@import photoStripe
@import msie
@import donatii
@import posts
@import sustinatori

body
  font-size: 20px
  line-height: 1.5em
  font-family: font-family-sans
  background: #eee
  // text-rendering : optimizeLegibility !important // apparently not working on Android 4.2 & 4.3
  -webkit-font-smoothing: antialiased !important
  -moz-osx-font-smoothing: grayscale !important
  .navbar
    background: mm-dark-blue
    position: fixed
    top: 0
    z-index: 100
    width: 100%

  @media (max-width: 767px)
    font-size: 14px
    &[data-page='home']
      // padding-top: 35%
nav
  li
    cursor: pointer
.content
  margin-top: 15px
  padding: 15px
  background: white

.logo
  margin-top: 10px
  .white
    display: none
  .black
    display: block
[data-page='home']
  .social
    position: absolute
  .logo
    .white
      display: block
    .black
      display: none

  .navbar, .dropdown-menu
    background: rgba(0,0,0,0.50);

  .dropdown-menu > li > a
    color: white


  .navbar-dimmed
    background: mm-dark-blue;

  [role="page-container"]
    padding-top: 0

[role="page-container"]
  padding-top: 150px
  @media (max-width: 767px)
    background: #eee
    border-top: 0.5em solid rgba(mm-red, 1.0)

.post
  blockquote
    font-size: 1em
    line-height: 1.5em

#mc_embed_signup input.button
  background: mm-orange
  transition: background .1s linear
  &:hover
    background: mm-dark-blue

.full-circle
  background-color: #c06
  height: 4em
  border-radius:50%
  width: 4em

#Options
  .collapse, .collapsing, .collapse.in
    border-left: #dff0d8 1px solid
    border-right: #dff0d8 1px solid
    padding: 1em

// iframe.live
//   margin: 0 auto
//   display: block
//   max-width: 100%


.volunteer-btn
  margin: 0.5em 0
.strong
  font-weight: bold

#map
  margin-bottom: 1em

.poster-btn
  margin-left: 0.5em

div.pluginConnectButton
  display:none !important

#home-page
  h1
    color: #fff
    padding: 5px 15px

.home
  .item
    width: 100%

.newsStripe
  background-color: #7f8c8d

.videoStripe
  background-color: #2c3e50

.dubiStripe
  background-color: #d35400
.dubi
  width: 100%
  height: auto
.logo
  position: absolute
  top: 60%
  img
    height: 5em
.macovei-logo
  img
    position: absolute
    height: 2em !important
    top: 50%
    transform: translateY(-50%)
a.navbar-brand:hover
  background-color: transparent !important

.social
  position: absolute
  bottom: 10px
  left: 20%
  transform: translateX(-50%)
  iframe
    width: 100%

.quote
  position: absolute
  top: 10%
  right: 10%
  width: 40%
  transform: translate3d(0%, -20%, 0);
  text-align: right
