bounce-bezier ?= cubic-bezier(0.41, 1.34, 0.51, 1.01)

// Make iframes also follow the same rules as img's.
.grid figure iframe
  position: relative
  display: block
  // Manually position the frame a bit.
  top: 200px
  left: -170px
  opacity: 0.7
  transition: opacity 0.3s ease, transform 0.3s ease
  transform: scale(1.1)

.grid figure button
  transition: opacity 0.3s bounce-bezier, transform 0.3s bounce-bezier

.grid a:hover figure iframe
  opacity: 1
  transform: scale(1.7)
