.photoStripe
  position: relative
  height: 100vh
  width: 100vw
  color: white
  overflow: hidden
  .imgBack
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200%
    width: 200%
    img
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
  .hotlinks
    a
      padding: 0.2em 0.6em
      // display: block
      border: 3px solid white
      color: white
      text-decoration: none
      margin-right: 2em
      &:hover
        background: white
        color: black
        text-decoration: none

  @media(min-width: 500px) (max-width: 767px)
    .imgBack
      top: -50%;
      left: -110%;
  @media(max-width: 500px)
    .imgBack
      left: -140%;
  .overlay
    position: absolute
    top: 0
    background: rgba(0,0,0,0.4)
    height: 100%
    width: 100%
    .callout
      margin-top: 40vh
      text-align: center
      font-size: 2.3em
    .hotlinks
      margin-top: 1em
      text-align: center
      font-size: 1em
    .quote-bar
      height: 50px
      bottom: 0
      position: absolute
      bottom: 0

      width: 100%
      // text-align: center
      background: rgba(0,0,0,0.50);
      div
        position: relative
        height: 100%
        .quote
          span
            position: absolute
            top: 50%
            left: 20%
            transform: translate3d(-20%, -50%, 0)
          img
            position: absolute
            top: 50%
            right: 20%
            transform: translate3d(20%, -50%, 0)
            width: auto
            height: 80%
          @media(max-width: 1200px)
            img
              right: 0
              transform: translateY(-50%)
    @media(max-width: 767px)
      .quote-bar
        display: none
    .chevron
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 55px
  video
    min-width: 100%
    min-height: 100%
