// Add posts related styling here
.postShow
  img
    margin: 0 auto
    max-height: 300px
    width: auto
  .content
    margin-top: 0 !important

  .post
    h3.post-title
      font-weight: bold

.btn-facebook
  border-radius: 3px;
  box-shadow: 0 1px 1px #999;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 0 20px 20px 0;
  padding: 10px 15px;
  text-align: center;
  width: 2.7em;
  height: 2.7em
  background-color: #2b4170; /* fallback color */
  background: linear-gradient(top, #3b5998, #2b4170);
  border: 1px solid #2b4170;
  text-shadow: 0 -1px -1px #1f2f52;
  &:hover
    background-color: #3b5998; /* fallback color */
    background: linear-gradient(top, #2b4170, #3b5998);
