// Add posts related styling here
.postShow
  img
    margin: 0 auto
    max-height: 300px
    width: auto

.post
  h3.post-title
    font-weight: bold
  position: relative

.item
  background: white
  width: 23%
  text-align: center
  margin-bottom: 1em !important
  @media (max-width: 800px)
    .item
      width: 12%
  @media (max-width: 767px)
    width: 100%
