.mc-field-group
  font-family: font-family-sans
  input[type="text"], input[type="email"], select
    outline: none
    border: 1px solid #CCCCCC!important
    background: none
    border-radius: 3px
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1) inset
    color: #616161
    height: 30px
    line-height: 30px
    &:focus
      box-shadow: 0 0 6px 0 rgba(0,0,0,0.7)

.input-group
  input[type="checkbox"]:focus
    outline: none
  li
    label
      font-weight: 400