.testimonial
  padding: 0
  position: relative
  box-shadow: 1px 0 10px rgba(0,0,0,0.7)
  margin-top: 25px
  h1
    text-align: center
    background: rgb(0, 103, 158)
    color: #fff
  .sustinator
    opacity: 15px
    position: absolute
    z-index: 5
    color: #fff
    transition: 0.5s ease
    &.sustinator-nume
      span
        padding: 0.1em 0.2em
        background: rgba(0, 103, 158, 0.7)
        font-weight: 300
    &.sustinator-text
      background: rgba(0, 103, 158, 0.7)
      font-weight: 300
      padding: 0.1em 0.2em
      margin-top: 32px
      @media (max-width: 768px)
        font-size: 14px
      @media (max-width: 480px)
        margin-top: 21px
  &:hover
    box-shadow: 1px 0 20px rgba(0,0,0,0.7)
    .sustinator
      opacity: 0

