font-family-sans ?=  'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif
font-family-serif ?=  'Source Serif Pro', 'Times New Roman', Times, Georgia, serif
font-family-futura ?= Futura, Futura-Medium, 'Futura Medium', 'Century Gothic', CenturyGothic, 'Apple Gothic', AppleGothic, 'URW Gothic L', 'Avant Garde', Avenir, sans-serif;

mm-dark-blue ?= #232A50
mm-blue ?= #00679E
mm-light-blue ?= #99B0FF
mm-red ?= #ff0027
mm-orange ?= #e69822
