.container
  h1 Agenda

  .panel.panel-default
    .panel-heading
      span 8 octombrie 2014
    .panel-body
      em Râmnicu Vâlcea
      table.table
        tr
          th Interval Orar
          th Locație
        tr
          td 11.45 - 12.30
          td Piața Centrală
        tr
          td 12.45 - 13.30
          td Piața Ostroveni
        tr
          td 13.45 - 14.15
          td Casa memorială Anton Pann
        tr
          td 15:00 - 15:45
          td Dialog cu angajați ai combinatului Oltchim
        tr
          td 17:30 - 18:30
          td Emisiune electorală - TV Vâlcea 1 (în direct)
      em Craiova
      table.table
        tr
          th Interval Orar
          th Locație
        tr
          td 21:00 - 22:00
          td Emisiune electorală - TV Oltenia (în direct)
  .panel.panel-default
    .panel-heading
      span 7 octombrie 2014
    .panel-body
      em Ploiești
      table.table
        tr
          th Ora
          th Locație
        tr
          td 17:15
          td Piața Vest
        tr
          td 18:00
          td Întâlnire cu susținători - Hotel Central, sala "First Class"
        tr
          td 20.30
          td Participare la emisiune electorală – TV Ploiești.
      strong Vă aștept la întâlnirile de la 17.15 și 18.00 să ne vedem față în față.
