.container
  h1 Agenda

  .panel.panel-default
    .panel-heading
      span 10 octombrie 2014
    .panel-body
      em Peștera și Medgidia
      p Coordonatorul vizitei: Valentin Vrabie, tel:
        a(href="tel:0766600266")  0766 600 266
      .table-responsive
        table.table
          tr
            th Interval Orar
            th Activitatea
            th Locul Desfășurării
            th Observații / Contact
          tr
            td 7:45 - 10:00 / 10:30
            td Deplasare București - Peștera
            td Se iese prin Medgidia urmărind indicatorul de Peștera. Se intră în comună, se face stânga la indicatorul "Izvor" și se oprește la Parc.
            td
          tr
            td 10:30 - 11:30
            td Primirea oficialã la sediul Primãriei comunei Peștera. Discuții despre administrația publică locală și expunerea problemelor cu care se confruntă comuna
            td Primăria comunei Peștera. Este situată lângă parc, nu necesită deplasare.
            td
          tr
            td 11:35 - 12:30
            td Întâlnire cu cetățenii comunei în parcul central și vizită la școala locală.
            td Parcul din centrul comunei, unde se și parchează.
            td
          tr
            td 12:30 - 12:50
            td Deplasare Peștera - Medgidia.
            td
            td
          tr
            td 13:00 - 14:30
            td Întâlnire și discuții cu cetățenii municipiului Medgidia.
            td Centrul orașului și Piața Centrală.
            td
          tr
            td 14:30 - 15:00
            td Conferința de presă împreună cu primarul Peștera, Valentin Vrabie.
            td
            td vine și presa din Constanța.
          tr
            td 15:10 - 16:00
            td Masa de prânz
            td
            td
          tr
            td 16:10 - 18:15 / 18:45
            td Deplasare Medgidia - București
            td
            td
      .row
        .col-sm-6
          p.text-center
            a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/PesteraMedgidia-10.10.2014.pdf", rel="download")
             | Descarcă agenda

  .panel.panel-default
    .panel-heading
      span 8 octombrie 2014
    .panel-body
      em Râmnicu Vâlcea
      p Coordonatorul vizitei: Maria Ciutina, tel:
        a(href="tel:0723 237 064")  0723 237 064
      p Vizita în Râmnicu Vâlcea se va efectua însoțită de Maria Ciutina împreună cu voluntari: aprox 7-8 persoane
      .table-responsive
        table.table
          tr
            th Interval Orar
            th Activitatea
            th Locul Desfășurării
            th Observații / Contact
          tr
            td 9.30 - 11.30
            td Deplasare București - Râmnicu Vâlcea
            td
            td
          tr
            td 11.30
            td Întânire cu voluntari / Maria Ciutina
            td Întânire la Biblioteca Județeană - Str. Carol I
            td
          tr
            td 11.45 - 12.30
            td Vizită la Piața Centrală
            td Piața Centrală
            td 45 min.
          tr
            td 12.45 - 13.30
            td Vizită la Piața Ostroveni
            td Piața Ostroveni
            td 45 min.
          tr
            td 13.45 - 14.15
            td Vizită Casa memorială Anton Pann
            td Casa memorială Anton Pann
            td 30 min.
          tr
            td 15:00 - 15:45
            td Vizită la combinatul Oltchim, la ieșirea din tură a angajaților, discuții cu angajații la ieșire.
            td Oltchim
            td 45 min.
          tr
            td 16.00 - 17.00
            td Emisiune de dezbatere cu moderatorul Gheorghe Smeoreanu - spot 30'
            td VTV
            td Gheorghe Smeoreanu,
              br
              a(href="tel:0744333066")  0744 333 066
              | ,
              br
              a(href="mailto:secretariat@vtv.ro")  secretariat@vtv.ro
          tr
            td 17:30 - 18:30
            td Emisiune de promovare - spot 30'
            td TV Vâlcea 1 - Pta Mircea cel Bătrân, Clădirea Socom, etaj 3
            td Jana Sdreala,
              br
              a(href="tel:0758229566") 0758 229 566
              | ,
              br
              a(href="mailto:secretariatvl1@yahoo.com")  secretariatvl1@yahoo.com
          tr
            td 13.45 - 20.45
            td Deplasare Craiova
            td
            td
          tr
            td 21:00 - 22:00
            td Emisiune dezbatere cu reprezentant PSD - Ion Călin, Dep.Dolj
            td TV Oltenia - Str. Garlesti nr 7
            td Laurențiu Barbu
              br
              a(href="tel:0761263990") 0761 263 990
      .row
        .col-sm-6
          p.text-center
            a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/AgendaRmValceaCraiova-08.10.14.pdf", rel="download")
             | Descarcă agenda
  .panel.panel-default
    .panel-heading
      span 7 octombrie 2014
    .panel-body
      em Ploiești
      table.table
        tr
          th Ora
          th Locație
        tr
          td 17:15
          td Piața Vest
        tr
          td 18:00
          td Întâlnire cu susținători - Hotel Central, sala "First Class"
        tr
          td 20.30
          td Participare la emisiune electorală – TV Ploiești.
      strong Vă aștept la întâlnirile de la 17.15 și 18.00 să ne vedem față în față.
