.container
  h1 Agenda
  .panel.panel-default
    .panel-heading
      span 7 octombrie 2014, Ploiești
    .panel-body
      table.table
        tr
          th Ora
          th Locație
        tr
          td 17:15
          td Piața Vest
        tr
          td 18:00
          td Întâlnire cu susținători - Hotel Central, sala "First Class"
        tr
          td 20.30
          td Participare la emisiune electorală – TV Ploiești.
      strong Vă aștept la întâlnirile de la 17.15 și 18.00 să ne vedem față în față.
