.container
  h1 Agenda
  .panel.panel-default
    .panel-heading
      span 28 octombrie 2014
    .panel-body
      p Monica Macovei, candidat independent la Președinția României, se întâlnește marți, 27 octombrie 2014, cu voluntarii și alegătorii din Brăila și Galați, și va participa la emisiuni Tv și la posturi de radio locale.
      em  Brăila
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 9:30-10:00
          td   Conferință de presă, Hotel Residenta Dutu, Str Golesti 55

        tr
          td 11:45 - 12:30
          td   Întâlnire cu alegătorii - zona pietonală - M Eminescu
      em  Galați
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 14:00
          td   Vizita la fabrica de confecții Cozamin.

        tr
          td 15:00 
          td  Întâlnire cu alegătorii - zona centrală pietonală, declarații de presă 
  .panel.panel-default
    .panel-heading
      span 27 octombrie 2014
    .panel-body
      p Monica Macovei, candidat independent la Președinția României, se întâlnește luni, 27 octombrie 2014, cu voluntarii și alegătorii din Piatra Neamț și Bacău.
      em  Piatra Neamț
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 11:30 - 13:00
          td  Întâlnire cu alegătorii – traseu Piața Centrală - Casa de Cultură – Liceul de Artă, urmată de o conferință de presă.

        tr
          td 14:00 -15:00
          td  Întâlnire cu simpatizanți (sala Calistrat  Hogaș a CJ Neamț)
      em  Bacău
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 16.00 - 16.50
          td  Întâlnire cu alegătorii  - B-dul Republicii

        tr
          td 17.00 - 17.30 
          td   Discuții cu voluntari și simpatizanți, Hotel President
        tr
          td 17.30 - 18.30
          td  Întâlnire cu alegătorii - Bulevard Nicolae Balcescu  

        tr
          td 18.30 - 19.00
          td  Conferința de presă, Hotel President

        tr
          td 19.00 - 20.00
          td   Întâlnire cu alegătorii - zona Arena Mall.  

  .panel.panel-default
    .panel-heading
      span 22 octombrie 2014
    .panel-body
      p Monica Macovei, candidat independent la Președinția României, participă miercuri, 22 octombrie 2014, la un miting electoral, începând cu ora 13:00, în localitatea Borșa, Maramureș.
      em  Borsa
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td de la ora 15:00
          td Întâlnire cu alegătorii din zona Vișeul de Sus – Moisei.

        tr
          td de la ora 19:00
          td Participare la emisiunea electorală de la postul de televiziune Nord TV.

  .panel.panel-default
    .panel-heading
      span 21 octombrie 2014
    .panel-body
      em  Iași
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 9:30
          td Discuție cu stidenți ai Universității ELSA și întâlnire cu voluntari și susținători - Hotel Astoria - sala de conferințe "Eminescu"

        tr
          td 10:30
          td Conferință de presă - Hotel Astoria - sala de conferințe "Eminescu"
        tr
          td 11:15
          td Vizită la SC Electra
        tr
          td 16:00
          td Întâlnire cu alegători - zona centrală istorică

  .panel.panel-default
    .panel-heading
      span 18 octombrie 2014
    .panel-body
      p Monica Macovei va avea în zilele de 18 octombrie 2014 întâlniri cu cetățenii din Cluj, Turda, Câmpia Turzii, Dej, Gherla și Sălaj, după cum urmează:
      em  Zalău – Dej - Gherla
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 10:00 - 11:00
          td Întâlnire cu cetățenii la târgul de vechituri (Oser)

        tr
          td 12:30 - 14:00
          td Întâlnire cu cetățenii din Zalău - Punct de întâlnire: Statuia lui Corneliu Coposu
        tr
          td 14:00 - 14:30
          td Conferință de presă în fața statuii lui Corneliu Coposu, Zalău
        tr
          td 15:30 - 16:30
          td  Întâlnire cu cetățenii din Dej - Punct de întâlnire: Zona Carrefour-Dealul Florilor
        tr
          td 16:30 - 17:00
          td Conferință de presă - Cofetăria Lemnul Verde
        tr
          td 17:15 - 18:15
          td Întâlnire cu cetățenii din Gherla - Punct de întâlnire: Zona Unicarm, Lidl, Kaufland
        tr
          td 20:00 - 21:00
          td Întâlnire cu studenții clujeni în zona Hașdeu

  .panel.panel-default
    .panel-heading
      span 17 octombrie 2014
    .panel-body
      p Monica Macovei, candidat independent la Președinția României, va susține vineri, 17 octombrie 2014, o conferință de presă, începând cu ora 10:30, la Hotel Opera Plaza din Cluj Napoca.
      em  Cluj - Turda - Câmpia Turzii
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 10:30 - 11:15
          td Întâlnire cu cetățenii din Cluj (Centru) - Punct de întâlnire: Cortul de pe Bd. Eroilor nr. 2

        tr
          td 13:45 - 15:30
          td Întâlnire cu cetățenii din Turda și Câmpia Turzii - Punct de întâlnire: Zona pietonală Turda
        tr
          td 16:00 - 17:15
          td Întâlnire cu cetățenii din Cluj (Cartierul Mănăștur) - Traseu: Calea Florești-Piața Flora-Pritax-Calea Florești - Punct de plecare:  Stația de autobuz, vizavi de Billa
        tr
          td 17:30 - 18:45
          td  Întâlnire cu cetățenii din Cluj (Parcul Central) și vizită la Bookfest - Punct de întâlnire: Casino, Parcul Central
        tr
          td 20:15 - 21:30
          td Întâlnire cu reprezentanți ai comunității IT din Cluj (Hotel Opera Plaza)
  .panel.panel-default
    .panel-heading
      span 14 octombrie 2014
    .panel-body
      p Monica Macovei, candidat independent pentru funcția de președinte al României, susține marți, 14 octombrie 2014, o conferință de presă în Brașov, la ora 13.00, urmată de întâlniri cu susținătorii.
      em  Brașov
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 13:00 - 13:30
          td Conferință de presă - Restaurant Da Vinci - Str. Apollonia Hirsher nr.4
        tr
          td 13:30 - 15:30
          td Discuție despre sistemul de educație și pregătirea tinerilor în școală -  participă membri ai Asociației studenților de relații publice și comunicare din România - Restaurant Da Vinci - Str. Apollonia Hirsher nr. 4
        tr
          td 16:20
          td întâlnire cu alegătorii în zona centrală a orașului -  (Punct de plecare - vis-a-vis de Consiliul Județean Brașov)

  .panel.panel-default
    .panel-heading
      span 11 octombrie 2014
    .panel-body
      p Monica Macovei, candidat independent pentru funcția de președinte al României, va participa sâmbătă, 11 octombrie 2014, la două evenimente organizate în București.
      em  București
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 15:00 - 15:45
          td Târg V for Verde (speech) - Casa Universitarilor, strada Dionisie Lupu nr. 46
        tr
          td 16:00
          td Soul &amp; Shape - târg de cultură urbană - Ciclop, Bd Magheru nr. 6-8

  .panel.panel-default
    .panel-heading
      span 10 octombrie 2014
    .panel-body
      p Monica Macovei, candidat independent pentru funcția de președinte al României, va avea vineri, 10 octombrie 2014, întâlniri cu alegătorii din județul Constanța.
      em  Peștera
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 10:30 - 11:30
          td Discuții despre administrația publică locală - sediul Primăriei comunei Peștera.
        tr
          td 11:35 - 12:30
          td Întâlnire cu localnicii - Parcul central
      em Medgidia
      table.table
        tr
          th Interval Orar
          th Activitatea
        tr
          td 13:00 - 14:30
          td Întâlnire si discutii cu cetãtenii municipiului Medgidia - Centrul orașului și Piața Centrală.
        tr
          td 14:30 - 15:00
          td Conferință de presă - Casa de Cultură a Sindicatelor
  .panel.panel-default
    .panel-heading
      span 8 octombrie 2014
    .panel-body
      em Râmnicu Vâlcea
      table.table
        tr
          th Interval Orar
          th Locație
        tr
          td 11:45 - 12:30
          td Piața Centrală
        tr
          td 12:45 - 13:30
          td Piața Ostroveni
        tr
          td 13:45 - 14:15
          td Casa memorială Anton Pann
        tr
          td 15:00 - 15:45
          td Dialog cu angajați ai combinatului Oltchim
        tr
          td 17:30 - 18:30
          td Emisiune electorală - TV Vâlcea 1 (în direct)
      em Craiova
      table.table
        tr
          th Interval Orar
          th Locație
        tr
          td 21:00 - 22:00
          td Emisiune electorală - TV Oltenia (în direct)
  .panel.panel-default
    .panel-heading
      span 7 octombrie 2014
    .panel-body
      em Ploiești
      table.table
        tr
          th Ora
          th Locație
        tr
          td 17:15
          td Piața Vest
        tr
          td 18:00
          td Întâlnire cu susținători - Hotel Central, sala "First Class"
        tr
          td 20.30
          td Participare la emisiune electorală – TV Ploiești.
      strong Vă aștept la întâlnirile de la 17.15 și 18.00 să ne vedem față în față.
