.container.ceamfacut
  h1 Ce a făcut Monica Macovei:
  .row
    .col-sm-8
      .well.well-lg
        span.pull-left.letrina 1
        p a creat în 2005 Direcția Națională Anticorupție (DNA), instituția anticorupţie apreciată în Uniunea Europeană pentru rezultatele în anchetarea unor cazuri de corupție în care sunt implicați demnitari ai statului. 

      .well.well-lg
        span.pull-left.letrina 2
        p a pus bazele Agenției Naționale de Integritate, scriind proiectul de lege de înființare a instituției. 

      .well.well-lg
        span.pull-left.letrina 3
        p a introdus în 2005 declarații publice de avere și interese detaliate, astfel încât politicienii şi funcţionarii publici să nu își mai poată ascundă averea nejustificată dobândită în funcţie. 

      .well.well-lg
        span.pull-left.letrina 4
        p a scos din Codul Penal, în 2006, infracțiunile de insultă și calomnie, contribuind astfel la consolidarea libertății presei. 

      .well.well-lg
        span.pull-left.letrina 5
        p a eliminat “stegulețele roșii” lăsate de Guvernul Năstase, în decembrie 2004, la încheierea capitolelor de negociere cu Uniunea Europeană,  făcând posibilă integrarea României la 1 ianuarie 2007.

      .well.well-lg
        span.pull-left.letrina 6
        p a informatizat sistemul judiciar, distribuția aleatorie a dosarelor și a creat Portalul instanțelor, unde sunt publicate deciziile judecătorești.

      .well.well-lg
        span.pull-left.letrina 7
        p a introdus, în 2005, prin lege incompatibilitatea magistraților (judecători și procurori) de a fi angajați sau colaboratori ai serviciilor de informații.

      .well.well-lg
        span.pull-left.letrina 8
        p a trecut în Parlamentul European Directiva pentru confiscare extinsă a averilor nejustificate prin venituri legale ale celor condamnați pentru corupție și crimă organizată. Se confiscă și banii și bunurile puse pe numele altor persoane.

      .well.well-lg
        span.pull-left.letrina 9
        p a contribuit decisiv la finalizarea și semnarea Acordului de asociere dintre UE și Republica Moldova și la ridicarea vizelor pentru cetățenii Republicii Moldova atunci când călătoresc în statele membre UE.

      .well.well-lg
        span.pull-left.letrina 10
        p a eliminat riscuri pentru sănătatea și viața oamenilor, prin alimente, medicamente, avioane etc. mai sigure, introducând conflictul de interese și transparența între criteriile de descărcare de gestiune a Agențiilor Europene.   

      .well.well-lg
        span.pull-left.letrina 11
        p a negociat și a obținut votul Parlamentul European pentru 40 de legi și rapoarte, fiind  europarlamentarul român cu cel mai mare număr de rapoarte adoptate în mandatul 2009-2014.

      .well.well-lg
        span.pull-left.letrina 12
        p a inițiat Rezoluţia Anticorupţie adoptată de Parlamentul European.

    .col-sm-4
      .quote.quote-in-page
