.container
  h1 Aș vota cu ea, dar nu are șanse
  hr
  h4 Gabriel Liiceanu, 1 octombrie 2014:
  .well: .row
    .col-md-7
      p
      | „[…] este pentru prima oară când un om participă la prezidențiale nu pentru el, ci pentru o idee […].
      | M-am recunoscut în omul Monica Macovei, în valorile ei umane și pe urmă m-am recunoscut în ideile ei politice.
      | Am auzit în mod curent […] prieteni, oameni apropiați spunându-mi:
      em “eu aș vota cu Monica Macovei, dar nu are nicio șansă”.
      |  Și de fiecare dată răspunsul este ăsta:
      strong
        em(style="color: red") “Dacă toți care spuneți că ați vota cu ea, dar nu are nicio șansă, ați vota, atunci are toate șansele de pe lume”.
      | Mie mi se pare acest raționament teribil de greșit. Și vine din partea unor alegători care nu se comportă ca alegători, ci care se improvizează de la o zi la alta în analiști politici. Dă bine să faci calcule, să arăți că știi să judeci lucrurile. În loc să facă apel la judecata inimii lor, se improvizează, cum vă spuneam, în analiști politici. În primul tur trebuie să votezi cu inima ta. În al doilea, vei vota cum vei crede că e răul mai mic, daca nu ți s-a întâmplat să îți iasă cum ai vrut tu.”
    .col-md-5.sansa
      img.img-responsive(src='/assets/img/20141001-MMConferintaPresaLansare-0014.jpg')

  hr
  h4 Monica Macovei, 1 octombrie 2014:
  .well: .row
    .col-md-7.col-md-push-5
      p
      | „Cazul meu este unul special între candidați. Mulți spun
      em „aș vota cu Monica Macovei, dar nu are șanse”.
      |  Șansa mea sunteți voi, toți cei care spuneți ca ați vota cu mine.
      | Dacă credeți in omul Monica Macovei, dacă credeți in valorile mele, dacă credeți in programul politic pe care îl propun, dacă credeți in onestitatea mea, atunci votați-ma! E foarte simplu! Votați-mă și voi câștiga! Și împreuna vom transforma România!
      | Acesta este îndemnul meu catre toți cei care mai au dubii: mă vreți președinte, credeți în mine, votați-ma! Cu inima in primul tur!”
    .col-md-5.col-md-pull-7.sansa
      img.img-responsive(src='/assets/img/20141001-MMConferintaPresaLansare-0102.jpg')
