.container
  h1 Decalogul Monicăi Macovei
  .row
    .col-sm-8
      for principiu in principii
        h2= principiu.title
        for item in principiu.children
          h3= item.title
          p.serif= item.content
          a(href='https://www.facebook.com/dialog/feed?app_id=688761444534662&redirect_uri=http://macoveipresedinte.ro/candidatura/program-politic/&link=http://macoveipresedinte.ro/candidatura/program-politic/&caption=' + encodeURIComponent(item.title) + '&description=' + encodeURIComponent(item.content), target="_blank") Distribuie
    .col-sm-4
      .quote.quote-in-page
