.container
  h1 Declaratii / Comunicate
  .ceva
    h2 Comunicate
    div(role="posts", id="comunicat", class="js-masonry", style="position: relative")
    h2 Declarație
    div(role="declaratii", id="declaratie", class="js-masonry", style="position: relative")
