.container
  h1 Declarații & Comunicate
  .ceva
    h2 Comunicate
    hr
    div(role="posts", id="comunicat", class="js-masonry", style="position: relative")
    h2 Declarații
    hr
    div(role="declaratii", id="declaratie", class="js-masonry", style="position: relative")

    //- .col-sm-4
    //-   .quote.quote-in-page
