.container
  h1.text-center Donații
  .row
    .col-md-8.col-md-offset-2: .content
      p Dragi prieteni,
      p Dacă doriți să susțineți campania electorală, o puteți face în contul “Macovei Președinte”, deschis la Unicredit Tiriac Bank București, astfel:
      p Titular: Monica Macovei Președinte Banca: UniCredit Tiriac Bank, “Millennium” Branch, Bucharest, 88 Victoriei, Bucharest 1, Ro-10085
      p Pentru LEI, cont: RO50 BACX 0000 0000 1750 5007
      p Pentru EURO, cont: RO23 BACX 0000 0000 1750 5008
      p Pentru USD, cont: RO93 BACX 0000 0000 1750 5009
      p Cod SWIFT sau BIC: BACXROBU
      p Susținerea campaniei electorale se poate face prin depunere directă la ghișeu, mergând la orice filială Unicredit Tiriac Bank din țară și alegând unul din cele trei conturi bancare deschise la Unicredit Tiriac Bank București, sau prin transfer bancar.
      p Pentru a putea înregistra legal tranzacția, vă rugăm să menționați în formularul bancar, în câmpul de explicații, adresa (oraș, strada, nr.) și CNP/CIF dumneavoastră, cu mențiunea “suport financiar” și să ne trimiteți un email cu aceste informații la adresa: <a href="mailto:trezorier@macoveipresedinte.ro">trezorier@macoveipresedinte.ro</a>. Puteți folosi această adresă de email dacă doriți să obțineți informații suplimentare.
      p Vă mulțumim!
      p Echipa de campanie a candidatului independent Monica Macovei.
      hr
      p Mandatarul financiar al candidatului independent Monica Macovei – 14 august 2014
      p Mandatar financiar pentru campania electorală a candidatului independent Monica Macovei este domnul Viorel Bîtu, înregistrat la Autoritatea Electorală Permanentă, potrivit art.26 alin.12 din Legea nr.334/2006 privind finanțarea activității partidelor politice și a campaniilor electorale, actualizată și republicată.
      p Pentru informații suplimentare privind susținerea campaniei electorale, trimiteți întrebările dvs. pe email, la adresa <a href="mailto:trezorier@macoveipresedinte.ro">trezorier@macoveipresedinte.ro</a>.
