.container
  h1.text-center Donații
  .row
    .col-md-8.col-md-offset-2: .content
      .text-center
        h2 Vă mulțumim foarte mult pentru donația dumneavoastră. 
        h3 Vă asigurăm că fondurile vor fi folosite în cel mai bun mod posibil.
