.container
  h1.text-center Donații
  .row
    .col-md-8.col-md-offset-2: .content
      p Dragi prieteni,
      br
      p Dacă doriți să susțineți campania electorală, o puteți face în contul “Macovei Președinte”, deschis la Unicredit Tiriac Bank București, prin următoarele metode:
      #Options
        .list-group.panel
          a.list-group-item.list-group-item-info.active(href="#transfer", data-toggle="collapse", data-parent="#Options") Transfer bancar / depunere directă la ghișeu
            i.fa.fa-money.pull-right
          #transfer.collapse.in
            p Titular: <strong>Monica Macovei Presedinte</strong> 
            p Banca: <strong>UniCredit Tiriac Bank</strong>, "Millennium" Branch, Bucharest
            p Adresă bancă: 88 Victoriei, Bucharest 1, RO-10085
            p Conturi:
            .table-responsive
              table.table
                tr 
                  td: .text-right: span.label.label-default LEI
                  td <strong>RO50 BACX 0000 0000 1750 5007</strong>
                tr
                  td: .text-right: span.label.label-default EUR
                  td <strong>RO23 BACX 0000 0000 1750 5008</strong>
                tr
                  td: .text-right: span.label.label-default USD
                  td <strong>RO93 BACX 0000 0000 1750 5009</strong>

            p Cod SWIFT sau BIC: <strong>BACXROBU</strong>
            p Susținerea campaniei electorale se poate face prin depunere directă la ghișeu, mergând la orice filială Unicredit Tiriac Bank din țară și alegând unul din cele trei conturi bancare deschise la Unicredit Tiriac Bank București, sau prin transfer bancar.
            p Pentru a putea înregistra legal tranzacția, vă rugăm să menționați în formularul bancar, în câmpul de explicații, adresa (oraș, strada, nr.) și CNP/CIF dumneavoastră, cu mențiunea “suport financiar” și să ne trimiteți un email cu aceste informații la adresa: <a href="mailto:trezorier@macoveipresedinte.ro">trezorier@macoveipresedinte.ro</a>. Puteți folosi această adresă de email dacă doriți să obțineți informații suplimentare.

          a.list-group-item.list-group-item-primary(href="#paypal", data-toggle="collapse", data-parent="#Options") Paypal (în curând)
          #paypal.collapse
            p PayPal în curând!

          a.list-group-item.list-group-item-primary(href="#credit-card", data-toggle="collapse", data-parent="#Options") Credit card (în curând)
            i.fa.fa-credit-card.pull-right
          #credit-card.collapse
            p Credit card (în curând)

          a.list-group-item.list-group-item-primary(href="#sms", data-toggle="collapse", data-parent="#Options") SMS (în curând)
            i.fa.fa-mobile-phone.pull-right
          #sms.collapse
            p SMS (în curând)

      p Vă mulțumim!
      p <em>Echipa de campanie a candidatului independent Monica Macovei.</em>
      hr
      .alert.alert-info.small
        p Mandatar financiar pentru campania electorală a candidatului independent Monica Macovei este domnul <strong>Viorel Bîtu</strong> (email: 
          a(href="mailto:trezorier@macoveipresedinte.ro") trezorier@macoveipresedinte.ro
          |), înregistrat la Autoritatea Electorală Permanentă, potrivit art.26 alin.12 din Legea nr.334/2006 privind finanțarea activității partidelor politice și a campaniilor electorale, actualizată și republicată.
