.container
  .row
    .col-md-6: img(src='./assets/img/victor-ponta-404.jpg', style="width: 100%;")
    .col-md-6
      h1 Eroare 404
      p Există erori mult mai mari decât 404. Una din ele ar fi posibilitatea ca Victor Ponta să devină președinte. Până atunci dacă ați ajuns aici înseamnă ca ați făcut click pe o adresă mai veche. Vă invităm să vizitați prima pagină a site-ului 
      a.btn.btn-primary.btn-lg(href="./") Monica Macovei Președinte.
      p Voturile, 
        a(href="./strange-semnaturi/") semnăturile 
        | și 
        a(href="./sustinere-financiara/") susținerea 
        | dumneavoastră pot împiedica eroarea mai sus menționată. :)
