include ../includes/photoStripe.jade
<<<<<<< HEAD
=======
//- include ../includes/callToAction.jade
//- include ../includes/header.jade


>>>>>>> 64fb547785283741cd8a18027898f9cf7b24b128

.container
  h1 Actual
  div(role="posts-collection")
<<<<<<< HEAD

=======
  //- .row
>>>>>>> 64fb547785283741cd8a18027898f9cf7b24b128
  //-   .col-sm-8
  //-   .col-sm-4
  //-     img.img-responsive.monica(src="assets/img/monica-macovei.jpg")
  //-     hr
  //-     form.hidden
  //-       .form-group
  //-         .input-group
  //-           input.form-control(type="email", placeholder="Email")
  //-           btn.btn-default.input-group-addon Abonare
