#home-page
  include ../includes/photoStripe.jade
  .home
    //- include ../includes/liveStripe.jade
    include ../includes/newsStripe.jade
    include ../includes/videoStripe.jade
    include ../includes/dubiStripe.jade
