include ../includes/hero.jade
include ../includes/callToAction.jade

.container
  h1 Actual
  .row
    .col-sm-8
      div(role="posts-collection")
    .col-sm-4(style="margin-top: 15px;")
      iframe.embed-responsive( src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMonicaMacoveiUE&layout=standard&action=like&show_faces=true&share=true&height=120', scrolling='no', frameborder='0', style='border: none; overflow: hidden; height: 120px;', allowtransparency='true')
      hr
      img.img-responsive.monica(src="assets/img/monica-macovei.jpg")
      hr
      form.hidden
        .form-group
          .input-group
            input.form-control(type="email", placeholder="Email")
            btn.btn-default.input-group-addon Abonare
