include ../includes/photoStripe.jade
.home
  .container
    h1 Actual
    .row
      .col-sm-6
        div(role="posts-collection")
      .col-sm-6
        div(role="links", id="links", class="js-masonry", style="position: relative")
