include ../includes/photoStripe.jade

.container
  h1 Actual
  div(role="posts-collection")

  //-   .col-sm-8
  //-   .col-sm-4
  //-     img.img-responsive.monica(src="assets/img/monica-macovei.jpg")
  //-     hr
  //-     form.hidden
  //-       .form-group
  //-         .input-group
  //-           input.form-control(type="email", placeholder="Email")
  //-           btn.btn-default.input-group-addon Abonare
