include ../includes/hero.jade
include ../includes/header.jade
include ../includes/callToAction.jade

.container
  h1 Actual
  .row
    .col-sm-8
      div(role="posts-collection")
    .col-sm-4
      img.img-responsive.monica(src="assets/img/monica-macovei.jpg")
      hr
      iframe(src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMonicaMacoveiUE&width=100px&layout=standard&action=like&show_faces=true&share=true&height=80', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 100%; height: 80px;', allowtransparency='true')
      hr
      form.hidden
        .form-group
          .input-group
            input.form-control(type="email", placeholder="Email")
            btn.btn-default.input-group-addon Abonare
