.container
  h1 Materiale
  hr
  .row
    .col-sm-4: div(style="padding: 0.5em")
      img(style="width: 100%", src="/assets/img/MMPoster.png")
      p.text-center
        a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/MMPosterA4A5.pdf", rel="download")
         | Descarcă
    .col-sm-4: div(style="padding: 0.5em")
      img(style="width: 100%", src="/assets/img/MM_poster_A3.png")
      p.text-center
        a.btn.btn-lg.btn-block.btn-success(href="/assets/misc/MMPosterA3.pdf", rel="download")
         | Descarcă
