.container
  h1 Minciuni despre Monica Macovei
  .row
    .col-sm-8
      .row
        .col-xs-1
          .letrina 1
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei a fost procuror ceaușist, a anchetat disidenți, a fost parte a aparatului represiv de dinainte de 1989
            .panel-body
              p.serif Monica Macovei a anchetat numai cazuri penale, nu politice :« La 22 de ani, cand eram procuror comunist, anchetam cazuri de furturi din tren si alte gainarii; cineva trebuia sa le faca si pe astea ». Ca tanar procuror, in timpul mineriadelor din 1990, a cerut eliberarea protestatarilor arestati in mod abuziv. Apoi a facut pasul inainte, si a devenit avocat pentru apararea drepturilor omului, alaturi de APADOR-CH. Restul e istorie.  

      .row
        .col-xs-1
          .letrina 2
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei a anchetat studenti nevinovati la Mineriade, a bagat in puscarie protestari
            .panel-body
              p.serif A fost invers. Monica Macovei i-a aparat in instantele romanesti si la CEDO pe romanii batuti si umiliti de fortele de represiune neo-comuniste ale lui Ion Iliescu. 
              a(href="http://www.contributors.ro/administratie/justitieordine-publica/demontarea-unei-manipulari-odioase-adevaratul-rol-al-monicai-macovei-in-dosarele-mineriadei-din-1990/") 
                button.btn.btn-primary Aici puteti citi adevarul.
      .row
        .col-xs-1
          .letrina 3
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei a facut politie politica
            .panel-body
              p.serif Fals: politie politica inseamna fosta securitate, nu profesionisti ai dreptului. Monica Macovei a fost mereu de partea legii si a oamenilor cinstiti. Ca tanar procuror, in timpul mineriadelor din 1990, a cerut eliberarea protestatarilor arestati in mod abuziv. Apoi a facut pasul inainte, devenind avocat pentru apararea drepturilor omului, la APADOR-CH. Restul e istorie.  
      .row
        .col-xs-1
          .letrina 4
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei are o problema cu alcoolul (initiata de EVZ)
            .panel-body
              p.serif O calomnie abjecta. Monica Macovei a dat replica la un articol denigrator si fals din EvZ, ziarul si-a cerut scuze. Dar calomnia a prins, mai ales la cei care se tem de o minte limpede.

      .row
        .col-xs-1
          .letrina 5
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei  a avut relatii cu Securitatea, fiind ofiter acoperit (indirect prin fostul sot)
            .panel-body
              p.serif Fals: A fost ministru al Justitiei si are verificare ORNISS. Altfel nu ar fi putut avea o cariera publica si o cariera de succes la nivel european. 
      .row
        .col-xs-1
          .letrina 6
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei e platită de unguri, e agent maghiar, a fost finantață de SOROS
            .panel-body
              p.serif De asemenea primeste bani si de la imperiul klingonian, Darth Vader si de la Tom si Jerry. Finantarea campaniei ei este transparenta. Vedeti pe site cine o « plateste ». Oamenii care vad in ea sansa ca Romania sa fie altfel, cinstita, frumoasa si fericita. 
      .row
        .col-xs-1
          .letrina 7
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei si-a obtinut casele ilegal, cand era ministru al Justitiei
            .panel-body
              p.serif Fals : Monica Macovei nu are case. Locuieste decent. Parintii au renuntat la casa in care locuiau, in care au revenit proprietarii dupa 1990. Asa cum era normal.  


