.container
  h1 Minciuni despre Monica Macovei
  .row
    .col-sm-8
      .row
        .col-xs-1
          .letrina 1
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei a fost procuror ceaușist, a anchetat disidenți, a fost parte a aparatului represiv de dinainte de 1989
            .panel-body
              p.serif Monica Macovei a anchetat numai cazuri penale, nu politice :« La 22 de ani, când eram procuror comunist, anchetam cazuri de furturi din tren și alte găinării; cineva trebuia să le facă și pe astea ». Ca tânăr procuror, în timpul mineriadelor din 1990, a cerut eliberarea protestatarilor arestați în mod abuziv. Apoi a făcut pasul înainte, și a devenit avocat pentru apărarea drepturilor omului, alături de APADOR-CH. Restul e istorie.  

      .row
        .col-xs-1
          .letrina 2
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei a anchetat studenți nevinovați la Mineriade, a băgat în pușcărie protestatari
            .panel-body
              p.serif A fost invers. Monica Macovei i-a apărat în instanțele românești și la CEDO pe românii bătuți și umiliți de forțele de represiune neo-comuniste ale lui Ion Iliescu.
              p.serif A cerut, după Mineriada din 13-15 iunie 1990 cercetarea persoanelor care au dispus în reținerea, fără acte, a unora dintre manifestanții din Piața Universității. La fel, pentru procurorii care au arestat persoane fără a avea probe de comitere a unor infracțiuni, a scris într-o Informare, din 18 iunie 1992, ca 59 de persoane au fost arestate ilegal și că aceste arestări erau imputabile procurorilor respectivi.
              a(href="http://www.contributors.ro/administratie/justitieordine-publica/demontarea-unei-manipulari-odioase-adevaratul-rol-al-monicai-macovei-in-dosarele-mineriadei-din-1990/") 
                button.btn.btn-primary Aici puteți citi adevărul.
      .row
        .col-xs-1
          .letrina 3
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei a făcut poliție politică
            .panel-body
              p.serif Fals: poliție politică înseamnă fosta securitate, nu profesioniști ai dreptului. Monica Macovei a fost mereu de partea legii și a oamenilor cinstiți. Apoi a făcut pasul înainte, devenind avocat pentru apărarea drepturilor omului, la APADOR-CH.
              p.serif Monica Macovei a câștigat pentru români 20 de procese la Curtea Europeană a Drepturilor Omului de la Strasbourg. Între 1997-2004, Monica Macovei a reprezentat mai mulți cetățeni români în fața CEDO, argumentând că autoritățile române le-au încălcat reclamanților drepturile prevăzute de Convenția Europeană a Drepturilor Omului.Restul e istorie.
      .row
        .col-xs-1
          .letrina 4
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei are o problemă cu alcoolul (inițiată de EVZ)
            .panel-body
              p.serif O calomnie abjectă. Monica Macovei a dat replică la un articol denigrator și fals din EvZ, ziarul și-a cerut scuze. Dar calomnia a prins, mai ales la cei care se tem de o minte limpede.

      .row
        .col-xs-1
          .letrina 5
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei  a avut relații cu Securitatea, fiind ofițer acoperit (indirect prin fostul soț)
            .panel-body
              p.serif Fals: A fost ministru al Justiției și are verificare ORNISS. Altfel nu ar fi putut avea o carieră publică și o carieră de succes la nivel european. 
      .row
        .col-xs-1
          .letrina 6
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei e plătită de unguri, e agent maghiar, a fost finanțată de SOROS
            .panel-body
              p.serif De asemenea primește bani și de la imperiul klingonian, Darth Vader și de la Tom și Jerry. Finanțarea campaniei ei este transparentă. Vedeți pe site cine o « plătește ». Oamenii care văd în ea șansa ca România să fie altfel, cinstită, frumoasă și fericită. 
      .row
        .col-xs-1
          .letrina 7
        .col-xs-11
          .panel.panel-default
            .panel-heading
              h3.panel-title Monica Macovei și-a obținut casele ilegal, când era ministru al Justiției
            .panel-body
              p.serif Fals : Monica Macovei și-a cumpărat  “casele” din banii câștigați ca avocat și expert al Consiliului Europei. Apartamentul din București, în care locuiește din 2001, adică cu 4 ani înainte de a ajunge ministru, are 66 mp. Locuiește decent. Cât despre “casa” părinților, (tot așa, un apartament cu 3 camere), minciunile au fost demontate de o decizie CEDO, care le-a făcut dreptate părinților, stabilind încălcarea dreptului la un proces echitabil și a dreptului la proprietate în cazul lor.   
              p.serif Pentru că a câștigat la CEDO, mama ei a renunțat la judecata din România și la apartament. Așa cum era normal.

