.container
  h1 Principii
  ul
    li Principiul 1
      span #{' '}
        .btn-group
          btn.btn.btn-default De acord
          btn.btn.btn-default Împotriva
    li Principiul 2
      span #{' '}
        .btn-group
          btn.btn.btn-default De acord
          btn.btn.btn-default Împotriva
    li Principiul 3
      span #{' '}
        .btn-group
          btn.btn.btn-default De acord
          btn.btn.btn-default Împotriva
