.container.proiecte
  h1 Proiecte
  .content
    .flex-container
      .flex-item
        .row
          .col-sm-4
            a(href="https://www.facebook.com/pages/3PentruMacovei/846481252058597?sk=timeline")
              img(src="/assets/img/campanii/campanie2.jpg")
          .col-sm-8
            h2 3PentruMacovei
            p Tu esti unul. Unul convinge trei, iese Macovei.
            a(href="https://www.facebook.com/pages/3PentruMacovei/846481252058597?sk=timeline")
              button.btn.btn-default 3PentruMacovei
      .flex-item
        .row
          .col-sm-4
            a(href="https://oamenipoliticosi.org/")
              img(src="/assets/img/campanii/campanie4.png")
          .col-sm-8
            h1 Oameni politicosi
            p Sunt o comunitate de sustinatori ai unor valori si principii pe care azi Monica Macovei le reprezinta cel mai bine in cursa pentru Presedintia Romaniei. Cred in actiune si te invita si pe tine alaturi de ei.
            a(href="https://oamenipoliticosi.org/")
              button.btn.btn-default Oameni politicosi
      .flex-item
        .row
          .col-sm-4
            a(href="https://www.facebook.com/mamicamacovei")
              img(src="/assets/img/campanii/campanie1.png")
          .col-sm-8
            h2 Mămica Macovei
            p Mămica Macovei face ordine în țară. Campanie neoficială realizată de admiratori ai Monicăi Macovei
            a(href="https://www.facebook.com/mamicamacovei")
              button.btn.btn-default Mămica Macovei
      .flex-item
        .row
          .col-sm-4
            a(href="https://www.facebook.com/oricumtotisuntlafel")
              img(src="/assets/img/campanii/campanie3.png")
          .col-sm-8
            h2 Toti sunt la fel?
            p De ce să mergi la vot? Oricum toți sunt la fel…
            a(href="https://www.facebook.com/oricumtotisuntlafel")
              button.btn.btn-default Toti sunt la fel?
      .flex-item
        .row
          .col-sm-4
            a(href="https://www.facebook.com/miaumacovei")
              img(src="/assets/img/campanii/campanie5.png")
          .col-sm-8
            h2 Pisici cu M in frunte
            p Toate pisicile tarcate voteaza Monica Macovei!
            a(href="https://www.facebook.com/miaumacovei")
              button.btn.btn-default Pisici cu M in frunte
