include ../includes/hero.jade

.container
  p Dragi susținători,
  p Vă mulțumesc pentru semnăturile pe care le strângeți ca să pot candida la alegerile prezidențiale.
  p: a(href="assets/misc/formular-final-fara-adresa.pdf", target="_blank") Găsiți aici formularul care trebuie completat.
  p Persoana care strânge semnăturile trebuie să se asigure că semnatarul a completat corect și complet rubricile și să verifice valabilitatea datelor fiecărui semnatar, pentru care își asumă răspunderea, conform declaraţiei. O semnătură greșită invalidează toată pagina.
  p Persoana care strânge semnăturile trebuie să completeze și să semneze declarația din josul paginii. Tabelele fără declarația din josul paginii semnată de cel care a colectat semnăturile nu sunt valabile.
  p O persoană poate semna o singură dată și pentru un singur candidat. Și cel care colectează semnaturile poate semna, cu conditia să semneze o singura dată și pentru un singur candidat.
  p Puteţi trimite formularele prin poştă sau le puteţi aduce personal la adresa:
  p Monica Macovei Preşedinte
  p Str. C.A. Rosetti. 17, sector 2
  p Cod poştal 020011
  p Bucureşti
  p Dacă vreți să strângeți semnături din locuri publice sau de la evenimente, vă puteți printa afișe pe format A3 sau A4 de mai jos.
  p: a(href="assets/misc/fwdafisepentruvoluntariA3.zip", target="_blank") Descarcă afiș format A3
  p: a(href="assets/misc/fwdafisepentruvoluntariA4.zip", target="_blank") Descarcă afiș format A4
  p Vă mulţumesc!
  p Monica Macovei
