.container
  h1.text-center Veniți cu mine

  .row
    .col-md-8.col-md-offset-2.
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="//macoveipresedinte.us8.list-manage.com/subscribe/post?u=6e75d370860ef4b27981c19bf&amp;id=eeded48dd6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h2>Subscribe to our mailing list</h2>
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
      </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">Prenume  <span class="asterisk">*</span>
      </label>
        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME">Nume  <span class="asterisk">*</span>
      </label>
        <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
      </div>
      <div class="mc-field-group size1of2">
        <label for="mce-MMERGE3">Telefon </label>
        <input type="text" name="MMERGE3" class="" value="" id="mce-MMERGE3">
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE4">Județ </label>
        <select name="MMERGE4" class="" id="mce-MMERGE4">
        <option value=""></option>
        <option value="DIASPORA">DIASPORA</option>
      <option value="Alba">Alba</option>
      <option value="Arad">Arad</option>
      <option value="Arges">Arges</option>
      <option value="Bacau">Bacau</option>
      <option value="Bihor">Bihor</option>
      <option value="Bistrita-Nasaud">Bistrita-Nasaud</option>
      <option value="Botosani">Botosani</option>
      <option value="Braila">Braila</option>
      <option value="Brasov">Brasov</option>
      <option value="Bucuresti">Bucuresti</option>
      <option value="Buzau">Buzau</option>
      <option value="Calarasi">Calarasi</option>
      <option value="Caras-Severin">Caras-Severin</option>
      <option value="Cluj">Cluj</option>
      <option value="Constanta">Constanta</option>
      <option value="Covasna">Covasna</option>
      <option value="Dambovita">Dambovita</option>
      <option value="Dolj">Dolj</option>
      <option value="Galati">Galati</option>
      <option value="Giurgiu">Giurgiu</option>
      <option value="Gorj">Gorj</option>
      <option value="Harghita">Harghita</option>
      <option value="Hunedoara">Hunedoara</option>
      <option value="Ialomita">Ialomita</option>
      <option value="Iasi">Iasi</option>
      <option value="Ilfov">Ilfov</option>
      <option value="Maramures">Maramures</option>
      <option value="Mehedinti">Mehedinti</option>
      <option value="Mures">Mures</option>
      <option value="Neamt">Neamt</option>
      <option value="Olt">Olt</option>
      <option value="Prahova">Prahova</option>
      <option value="Salaj">Salaj</option>
      <option value="Satu Mare">Satu Mare</option>
      <option value="Sibiu">Sibiu</option>
      <option value="Suceava">Suceava</option>
      <option value="Teleorman">Teleorman</option>
      <option value="Timis">Timis</option>
      <option value="Tulcea">Tulcea</option>
      <option value="Valcea">Valcea</option>
      <option value="Vaslui">Vaslui</option>
      <option value="Vrancea">Vrancea</option>

        </select>
      </div>
      <div class="mc-field-group input-group">
          <strong>Doresc să mă implic </strong>
          <ul><li><input type="checkbox" value="2" name="group[13521][2]" id="mce-group[13521]-13521-0"><label for="mce-group[13521]-13521-0"> Strângere semnături</label></li>
      <li><input type="checkbox" value="4" name="group[13521][4]" id="mce-group[13521]-13521-1"><label for="mce-group[13521]-13521-1"> Promovare online</label></li>
      <li><input type="checkbox" value="8" name="group[13521][8]" id="mce-group[13521]-13521-2"><label for="mce-group[13521]-13521-2"> Contribuție financiară</label></li>
      <li><input type="checkbox" value="16" name="group[13521][16]" id="mce-group[13521]-13521-3"><label for="mce-group[13521]-13521-3"> Ca voluntar</label></li>
      </ul>
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_6e75d370860ef4b27981c19bf_eeded48dd6" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </form>
      </div>

      <!--End mc_embed_signup-->
