.container
  .row
    .col-md-10.col-md-offset-1
      h1 Testimoniale
      .row
        .col-sm-6
          .content
            p.small.sustinator
              span Marian Preda:
            p.sustinator(style="color: white;")
              span "Eu o votez pe Monica Macovei. Este altfel decât ei."
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="//www.youtube.com/embed/wtByTqRLySI?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)
        .col-sm-6
          .content
            p.small.sustinator
              span Pavel Șușară:
            p.sustinator(style="color: white;")
              span "... am o compatibilitate profundă cu felul ei de a fi"
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="//www.youtube.com/embed/e3N51aSEgrI?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)


      .row
        .col-sm-6
          .content
            p.small.sustinator
              span Silvia Gherghescu, mama Monicăi Macovei:
            p.sustinator(style="color: white;")
              span "O susțin pe Monica cu toată dragostea."
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="//www.youtube.com/embed/bkDj9iKTd14?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)

        .col-sm-6
          .content
            p.small.sustinator
              span Dan Amariei:
            p.sustinator(style="color: white;")
              span "Acum avem cu cine vota: Monica Macovei"
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="//www.youtube.com/embed/mcWa_EloIuc?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)
      .row
        .col-sm-6
          .content
            p.small.sustinator
              span Andreea Bibiri:
            p.sustinator(style="color: white;")
              span "Știu că a făcut lucruri excepționale pentru țară!"
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="//www.youtube.com/embed/dKjSYJx4mwM?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)

        .col-sm-6
          .content
            p.small.sustinator
              span Maria Răducanu:
            p.sustinator(style="color: white;")
              span "O votez pe Monica Macovei!"
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="//www.youtube.com/embed/11tXrvWJttQ?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)
      .row
        .col-sm-6
          .content
            p.small.sustinator
              span Vladimir Tismăneanu:
            p.sustinator
              span "Monica Macovei este vocea celor fără de voce."
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="//www.youtube.com/embed/u07wUnH5OzU?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)
        .col-sm-6
          .content
            p.small.sustinator
              span Andrei Gheorghe:
            p.sustinator
              span "6! Vine Monica."
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="//www.youtube.com/embed/ANxDJW3QSG0?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)
