.container
  h1.text-center Strânge semnături
  .row
    .col-md-10.col-md-offset-1: .content
      #map
      p Dragi susținători,
      p Vă mulțumesc pentru semnăturile pe care le strângeți ca să pot candida la alegerile prezidențiale.
      p.text-center
        a.btn.btn-lg.btn-primary(href="/assets/misc/formular-final-fara-adresa.pdf", rel="download")
         | Descarcă formularul
         br.visible-xs
         |  pentru semnături.
      p Persoana care strânge semnăturile trebuie să se asigure că semnatarul a completat corect și complet rubricile și să verifice valabilitatea datelor fiecărui semnatar, pentru care își asumă răspunderea, conform declarației. O semnătură greșită invalidează toată pagina.
      p Persoana care strânge semnăturile trebuie să completeze și să semneze declarația din josul paginii. Tabelele fără declarația din josul paginii semnată de cel care a colectat semnăturile nu sunt valabile.
      p O persoană poate semna o singură dată și pentru un singur candidat. Și cel care colectează semnaturile poate semna, cu conditia să semneze o singura dată și pentru un singur candidat.
      p Puteți trimite formularele prin poștă sau le puteți aduce personal la adresa:
      .row
        .col-md-8.col-md-offset-2
          .alert.alert-info.small
            p Monica Macovei Președinte
            p Str. C.A. Rosetti. 17, sector 2
            p Cod poștal 020011
            p București
      p Venim în sprijinul dumneavoastră și vă punem la dispoziție și o adresă de corespondență în Germania, deschisă la <strong>Deutsche Post</strong>, pentru cei care doresc să trimită listele cu semnături pentru candidatura mea la Președinția României, dar au dificultăți să le trimită direct în România. Adresa este:
      .row
        .col-md-8.col-md-offset-2
          .alert.alert-info.small
            p Cutia Poştala 112
            p Wertingen, Bayern
            p Deutschland.
      .alert.alert-info.small
        p Dacă vreți să strângeți semnături din locuri publice sau de la evenimente, vă puteți printa afișe pe format A3 sau A4 de mai jos.
        .text-center
          .btn-group
            a.btn.btn-sm.btn-primary(href="/assets/misc/fwdafisepentruvoluntariA3.zip", rel="download") Descarcă afiș format A3
            a.btn.btn-sm.btn-primary(href="/assets/misc/fwdafisepentruvoluntariA4.zip", rel="download") Descarcă afiș format A4
      p Vă mulțumesc!
      p <em>Monica Macovei</em>

      //- span Susținători:
      //- .text-center
      //-   .btn-group
      //-     .btn.btn-md.btn-primary#romaniaCenters România
      //-     .btn.btn-md.btn-primary#worldWideCenters Diaspora
      //- #map
