doctype html
html(lang="ro")
  head
    meta(charset="utf-8")
    meta(name="fragment", content="!")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    meta(name="google-site-verification", content="DIvE9edjnM8VkrtYhMAJGxC4-lnhJZr5J9iDt8R4l5I")
    meta(name="description", content="Candidez independent, pentru că sunt convinsă că românii merită un Președinte al lor, nu un Președinte al partidelor.")
    title Monica Macovei Presedinte
    meta(property="og:title", content="Monica Macovei Presedinte")
    meta(property="og:image", content="/assets/img/macovei-presedinte-fb.jpg")
    meta(property="og:site_name", content="Monica Macovei Presedinte")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://macoveipresedinte.ro")
    meta(property="og:locale", content="ro_RO")
    meta(property="og:description", content="Candidez independent, pentru că sunt convinsă că românii merită un Președinte al lor, nu un Președinte, mai întâi, al partidelor.")



    //- NB: The following semantic comments are used by 'useref' and 'wiredep'
    //- node packages to automatically do their job. See their
    //- GitHub pages for details. Don't delete unless you know what you are doing.

    // build:css({app,.tmp,dist}) /css/main.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/fontawesome/css/font-awesome.css')
    // endbower
    link(rel='stylesheet', href='bower_components/ShapeHoverEffectSVG/css/component.css')
    link(rel="stylesheet", href="css/main.css")
    // endbuild
  body
    include ./templates/includes/googleAnalytics.jade
    script(src='http://maps.google.com/maps/api/js?sensor=true')
    // build:js({app,.tmp,dist}) /js/main.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/gmaps/gmaps.js')
    // endbower
    script(src='bower_components/ShapeHoverEffectSVG/js/snap.svg-min.js')
    script(src='js/lib/position-sticky-polyfill.js')
    script(src="js/main.js")
    // endbuild
    include ./templates/includes/adwordsRemarketing.jade
