doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="fragment", content="!")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    title Monica Macovei Presedinte
    meta(property="og:title", content="Monica Macovei Presedinte")
    meta(property="og:image", content="/assets/img/macovei-presedinte-fb.jpg")


    //- NB: The following semantic comments are used by 'useref' and 'wiredep'
    //- node packages to automatically do their job. See their
    //- GitHub pages for details. Don't delete unless you know what you are doing.

    // build:css({app,.tmp,dist}) /css/main.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/fontawesome/css/font-awesome.css')
    // endbower
    link(rel='stylesheet', href='bower_components/ShapeHoverEffectSVG/css/component.css')
    link(rel="stylesheet", href="css/main.css")
    // endbuild
  body
    // build:js({app,.tmp,dist}) /js/main.js
    script(src='http://maps.google.com/maps/api/js?sensor=true')
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/gmaps/gmaps.js')
    // endbower
    script(src='bower_components/ShapeHoverEffectSVG/js/snap.svg-min.js')
    script(src="js/main.js")
    // endbuild
