doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="fragment", content="!")
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    title macovei
    link(rel="stylesheet", href="css/main.css")
  body
    p Hello, world!
    // build:js({.tmp,dist}) js/main.js
    script(src="js/main.js")
    // endbuild
