.alert.alert-danger.alert-dismissible(role='alert', style='margin: 0;')
  button.close(type='button', data-dismiss='alert')
      span(aria-hidden='true') ×
      span.sr-only Close
    span
      strong Important!&nbsp;
      | Vă rugăm să trimiteți formularele cu semnături până&nbsp;
      strong vineri 19.09.2014&nbsp;
      | la sediul campaniei!
