.call-to-action
  .container
    .row
      .col-sm-4
        .column
          h1 Veniți cu mine!
            img(src="/assets/img/triangle-dark-blue.png")
          p.lead Am intrat în această cursă electorală pentru că doresc o Românie vie, sănătoasă, curajoasă și mândră.
          a.link.btn.btn-lg.btn-default(href="/fii-alaturi-de-mine/") Implică-te
          ul.questions
            li.hidden Descarcă kit-ul voluntarului
            li: a(href="/assets/misc/fwdafisepentruvoluntariA3.zip", rel="download") Descarcă afiș format A3
            li: a(href="/assets/misc/fwdafisepentruvoluntariA4.zip", rel="download") Descarcă afiș format A4
      .col-sm-4
        .column
          h1 Strânge semnături
            img(src="/assets/img/triangle-blue.png")
          p.lead Am nevoie de 200.000 de semnături pentru a putea candida la președinție.
          a.link.btn.btn-lg.btn-default(href="/voluntariat/") Strânge semnături
          ul.questions
            li Lista coordonatori din țară
            li Cum pot ajuta?
            li Unde trimit listele de semnături?
      .col-sm-4
        .column
          h1 Susține financiar
            img(src="/assets/img/triangle-light-blue.png")
          p.lead N-am moguli care să mă susțină. Nici vreun partid. Voi câștiga doar cu ajutorul vostru.
          a.link.btn.btn-lg.btn-default(href="/donatii/") Susține financiar
          ul.questions
            li Cum pot să susțin financiar?
            li De ce să o susțin pe Monica Macovei?
            li Cum pot să contribui altfel?
