.call-to-action
  .container
    .row
      .col-sm-4
        .column
          h1 Veniți cu mine!
          p.lead Am intrat în această cursă electorală pentru că doresc o Românie vie, sănătoasă, curajoasă și mândră.
          a.link.btn.btn-lg.btn-default(href="/fii-alaturi-de-mine/") Implică-te
          ul.questions
            li.hidden Descarcă kit-ul voluntarului
            li: a(href="assets/misc/fwdafisepentruvoluntariA3.zip", target="_blank") Descarcă afiș format A3
            li: a(href="assets/misc/fwdafisepentruvoluntariA4.zip", target="_blank") Descarcă afiș format A4
      .col-sm-4
        .column
          h1 Strânge semnături
          p.lead Am nevoie de 200.000 de semnături pentru a putea candida la președinție.
          a.link.btn.btn-lg.btn-default(href="/voluntariat/") Strânge semnături
          ul.questions
            li De ce 200.000 semnături?
            li Cum pot ajuta?
            li Unde trimit listele de semnături?
      .col-sm-4
        .column
          h1 Donează
          p.lead N-am moguli care să mă susțină. Nici vreun partid. Voi câștiga doar cu ajutorul vostru.
          a.link.btn.btn-lg.btn-default(href="/donatii/") Donează acum
          ul.questions
            li Cum pot să donez?
            li De ce să donez bani?
            li Cum pot să contribui altfel?
