.dubiStripe
  .container
    h1
      .row
        .col-sm-10
          span Dubi și Monica
        .col-sm-2
          a.pull-right.has-icon(href="/dubi/")
            span Toate
              i.fa.fa-long-arrow-right
    .row
      - var comics = 4;
      - for (var i = 0; i < comics; i++) {
          .col-sm-3: img.stripe(src="#{dubi[i]}")
      - }
