.container
  hr
  p.small
    | © Monica Macovei Presedinte 2014 -
    a(href="http://www.macoveipresedinte.ro") www.macoveipresedinte.ro
  hr
  iframe.embed-responsive( src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMonicaMacoveiUE&layout=standard&action=like&show_faces=true&share=true&height=120', scrolling='no', frameborder='0', style='border: none; overflow: hidden; height: 120px;', allowtransparency='true')
