.container
  hr
  .row
    .col-sm-6
      iframe.embed-responsive( src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMonicaMacoveiUE&layout=standard&action=like&show_faces=true&share=true&height=120', scrolling='no', frameborder='0', style='border: none; overflow: hidden; height: 120px;', allowtransparency='true')
    .col-sm-6
      p.small
        | © Monica Macovei Președinte 2014
        br
        | © fotografii de 
        a(href="http://www.fotografiidefamilie.org/", target="_blank") Bogdan Dincă
        br
        | © ilustrații de 
        a(href="http://paularusu.com/", target="_blank") Paula Rusu
