nav.navbar.navbar-fixed-top(role="nagivation")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo(class="navbar-brand", href="/")
        img(src="/assets/img/logo-macovei-albastru.jpg")

    .collapse.navbar-collapse.navbar-right(id="navbar-collapse")
      ul.nav.navbar-nav

        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown") Despre mine <span class="caret"></span>
          ul.dropdown-menu(role="menu")
            li: a(href="/despre/cine-sunt/") Cine sunt
            li: a(href="/despre/ce-am-facut/") Ce am făcut
            li: a(href="/despre/lumea-despre-mine/") Ceilalți despre mine
            li: a(href="/despre/minciuni-despre-mine/") Minciuni despre mine

        //- li.dropdown
        //-   a.dropdown-toggle(href="/viziune", data-toggle="dropdown") Viziune <span class="caret"></span>
        //-   ul.dropdown-menu(role="menu")
        //-     li: a(href="/viziune/economie") Economie
        //-     li: a(href="/viziune/finante") Finanțe
        //-     li: a(href="/viziune/energie") Energie
        //-     li: a(href="/viziune/securitate-nationala") Securitate Națională
        //-     li: a(href="/viziune/politica-externa") Politică externă
        //-     li: a(href="/viziune/justitie-stat-de-drept") Justiție / Stat de drept
        //-     li: a(href="/viziune/transporturi") Transporturi
        //-     li: a(href="/viziune/politici-sociale") Politici sociale
        //-     li: a(href="/viziune/administratie-publica") Administrație publică
        //-     li: a(href="/viziune/sanatate") Sănătate
        //-     li: a(href="/viziune/agricultura") Agricultură
        //-     li: a(href="/viziune/educatie-invatamant") Educație / Învățământ
        //-     li: a(href="/viziune/mediu") Mediu
        //-     li: a(href="/viziune/piata-libera") Piața liberă
        //-     li: a(href="/viziune/tineret") Tineret
        //-     li: a(href="/viziune/sport") Sport
        //-
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown") Candidatura <span class="caret"></span>
          ul.dropdown-menu(role="menu")
            li: a(href="/candidatura/de-ce-candidez/") De ce candidez
            li: a(href="/candidatura/de-ce-sa-ma-votati/") De ce să mă votați
            li: a(href="/candidatura/depunerea-candidaturii/") Depunerea candidaturii


        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown") Susținători <span class="caret"></span>
          ul.dropdown-menu(role="menu")
            li: a(href="/sustinatori/personalitati/") Personalități
            li: a(href="/sustinatori/testimoniale-video/") Testimoniale video
            li: a(href="/sustinatori/testimoniale-online/") Testimoniale online

        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown") Media <span class="caret"></span>
          ul.dropdown-menu(role="menu")
            li: a(href="/media/aparitii-media/") Apariții media
            li: a(href="/media/evenimente/") Evenimente
            li: a(href="/posts/") Noutăți
            li: a(href="/media/kit-de-presa/") Kit de presă

        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown") Voluntari <span class="caret"></span>
          ul.dropdown-menu(role="menu")
            li: a(href="/strange-semnaturi/") Strânge semnături
            li: a(href="/sustinere-financiara/") Susține financiar

        li: a(href="/contact/") Contact
