nav.navbar.navbar-fixed-top(role="nagivation")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo(class="navbar-brand", href="/")
        img.black(src="/assets/img/logo-nou-macovei-black.png")
        img.white(src="/assets/img/logo-nou-macovei-white.png")

    .collapse.navbar-collapse.navbar-right(id="navbar-collapse")
      ul.nav.navbar-nav

        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown") Despre mine <span class="caret"></span>
          ul.dropdown-menu(role="menu")
            li: a(href="/despre/cine-sunt/") Cine sunt
            li: a(href="/despre/ce-am-facut/") Ce am făcut
            li: a(href="/sustinatori/testimoniale-video/") Cine mă susține
            li: a(href="/despre/20-de-motive-sa-votezi-macovei/") De ce să mă votezi
            li: a(href="/despre/minciuni-despre-mine/") Minciuni despre mine
            li: a(href="/monica-in-dialog/") Monica în dialog
            li: a(href="/agenda/") Agenda

        //- li.dropdown
        //-   a.dropdown-toggle(href="/viziune", data-toggle="dropdown") Viziune <span class="caret"></span>
        //-   ul.dropdown-menu(role="menu")
        //-     li: a(href="/viziune/economie") Economie
        //-     li: a(href="/viziune/finante") Finanțe
        //-     li: a(href="/viziune/energie") Energie
        //-     li: a(href="/viziune/securitate-nationala") Securitate Națională
        //-     li: a(href="/viziune/politica-externa") Politică externă
        //-     li: a(href="/viziune/justitie-stat-de-drept") Justiție / Stat de drept
        //-     li: a(href="/viziune/transporturi") Transporturi
        //-     li: a(href="/viziune/politici-sociale") Politici sociale
        //-     li: a(href="/viziune/administratie-publica") Administrație publică
        //-     li: a(href="/viziune/sanatate") Sănătate
        //-     li: a(href="/viziune/agricultura") Agricultură
        //-     li: a(href="/viziune/educatie-invatamant") Educație / Învățământ
        //-     li: a(href="/viziune/mediu") Mediu
        //-     li: a(href="/viziune/piata-libera") Piața liberă
        //-     li: a(href="/viziune/tineret") Tineret
        //-     li: a(href="/viziune/sport") Sport
        //-
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown") Program politic <span class="caret"></span>
          ul.dropdown-menu(role="menu")
            //- li: a(href="/candidatura/scrisoare-deschisa/") Scrisoare deschisă către tine
            //- li: a(href="/program-politic/") Decalogul Monicăi Macovei
            li: a(href="/program-politic/") Program politic
            li: a(href="/program-politic/1-sa-nu-ai-alti-stapani/") 1. Să nu ai alți stăpâni decât cetățeanul
            li: a(href="/program-politic/2-sa-nu-tradezi-interesul-national/") 2. Să nu trădezi interesul național
            li: a(href="/program-politic/3-sa-nu-ataci-institutiile-statului/") 3. Să nu ataci instituțiile statului
            li: a(href="/program-politic/4-sa-nu-furi-banul-public/") 4. Să nu furi și să nu risipești banul public
            li: a(href="/program-politic/5-sa-nu-minti/") 5. Să nu minți, să nu plagiezi, să nu calomniezi, să nu mituiești
            li: a(href="/program-politic/6-sa-ti-inmultesti-banii-si-creatia/") 6. Să-ți înmulțești banii şi creaţia
            li: a(href="/program-politic/7-sa-ti-educi-copiii/") 7. Să-ți educi copiii
            li: a(href="/program-politic/8-sa-ti-respecti-parintii-si-semenii/") 8. Să-ți respecți părinții și să-ți ajuți semenii
            li: a(href="/program-politic/9-sa-cultivi-solul-si-sa-protejezi-natura/") 9. Să cultivi solul și să protejezi natura
            li: a(href="/program-politic/10-sa-ti-respecti-identitatea/") 10. Să-ți respecți identitatea, valorile și trecutul ca să ai un viitor
            //- li: a(href="/candidatura/depunerea-candidaturii/") Depunerea candidaturii


        //- li.dropdown
        //-   a.dropdown-toggle(data-toggle="dropdown") Susținători <span class="caret"></span>
        //-   ul.dropdown-menu(role="menu")
        //-     li: a(href="/sustinatori/personalitati/") Personalități
        //-     li: a(href="/sustinatori/testimoniale-video/") Testimoniale video
        //-     li: a(href="/sustinatori/testimoniale-online/") Testimoniale online

        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown") Presă <span class="caret"></span>
          ul.dropdown-menu(role="menu")
            //- li: a(href="/posts/") Noutăți
            //- li: a(href="/media/discursuri/") Discursuri
            li: a(href="/posts/") Monica în presă
            //- li: a(href="/media/briefinguri/") Briefinguri de presa
            li: a(href="/media/declaratii-comunicate/") Declaratii si comunicate
            //- li: a(href="/media/evenimente/") Evenimente si program de campanie
            //- li: a(href="/media/galerie-foto-video/") Galerie foto/ video



        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown") Implică-te <span class="caret"></span>
          ul.dropdown-menu(role="menu")
            //- li: a(href="/strange-semnaturi/") Vreau să fiu observator
            li: a(href="/voluntariat/") Vreau să fiu voluntar
            //- li: a(href="/voluntariat/") Materiale promoționale
            li: a(href="/sustinere-financiara/") Susține financiar
            li: a(href="/materiale/") Materiale
            li: a(href="/contact/") Contact

        li: a.doneazaBtn(href="/sustinere-financiara/") DONEAZĂ
//- .quote.head-quote.hidden-xs
