.hero
  img.banner(src="assets/img/hero-banner.png")
  .overlay
    .social-btns
      a(href="https://www.facebook.com/MonicaMacoveiUE")
        img.facebook(src="assets/img/social-facebook.png", alt="Facebook")
      a(href="https://www.youtube.com/user/macoveipresedinte")
        img.youtube(src="assets/img/social-youtube.png", alt="YouTube")
      a(href="http://vimeo.com/user30874894")
        img.vimeo(src="assets/img/social-vimeo.png", alt="Vimeo")
    a(href="/")
      img.logo(src="assets/img/logo-monica-macovei-presedinte.png", alt="Poză Monica Macovei")
    .quote-box(role="quote-box")
      blockquote
        span Monica Macovei, apărătoarea iconică a libertăților românilor.
      .author
        img(src="assets/img/logo-le-monde.png", alt="Logo Le Monde")
