.jumbotron.hero
  .container
    .row
      .col-sm-12
        img.img-responsive(src="assets/img/hero-banner.png")
        .overlay
          .social-btns
            img.facebook(src="assets/img/social-facebook.png")
            img.youtube(src="assets/img/social-youtube.png")
            img.vimeo(src="assets/img/social-vimeo.png")
          img.logo(src="assets/img/logo-monica-macovei-presedinte.png")
          .quotation
            .quote
              span Monica Macovei, apărătoarea iconică<br>a libertăților românilor.
            .author
              img(src="assets/img/logo-le-monde.png")

    hr
    .row
      .col-sm-4
        a.btn.btn-lg.btn-block.btn-default(href="/fii-alaturi-de-mine/")
          | Depunerea candidaturii
          .small 200.000 de semnături
      .col-sm-4
        a.btn.btn-lg.btn-block.btn-default(href="/voluntariat/") Voluntariat
      .col-sm-4
        a.btn.btn-lg.btn-block.btn-default(href="/donatii/") Donații
