.hero
  img.banner(src="assets/img/hero/04-ocs.jpg")
  .overlay
    .social-btns
      a(href="https://www.facebook.com/MonicaMacoveiUE", target="_blank")
        img.facebook(src="assets/img/social-facebook.png", alt="Facebook")
      a(href="https://www.youtube.com/user/macoveipresedinte", target="_blank")
        img.youtube(src="assets/img/social-youtube.png", alt="YouTube")
      a(href="http://vimeo.com/user30874894", target="_blank")
        img.vimeo(src="assets/img/social-vimeo.png", alt="Vimeo")
    a(href="/")

      img.logo(src="assets/img/logo-macovei-albastru.jpg", alt="Poză Monica Macovei")
    .video-box(role="video-box")
      //-   Prives.eu embed code
      //-   span(style="background: #00679e; padding: 0.2em 0.4em;") Conferință de presă Monica Macovei - de la sediul de campanie
      //-   iframe.embed-responsive-item(src='//www.privesc.eu/widget/live/47285', frameborder='0', width='480', height='270', scrolling='no')
      p.small.sustinator
        span Dan Amariei:
      p.sustinator(style="color: white;")
        span "Acum avem cu cine vota: Monica Macovei"
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="//www.youtube.com/embed/mcWa_EloIuc?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)
    //- .quote-box(role="quote-box")
    //-   blockquote
    //-     span Monica Macovei, apărătoarea iconică a libertăților românilor.
    //-   .author
    //-     img(src="assets/img/logo-le-monde.png", alt="Logo Le Monde")
