.hero
  img.banner(src="assets/img/hero-banner.png")
  .overlay
    .social-btns
      a(href="https://www.facebook.com/MacoveiPresedinte")
        img.facebook(src="assets/img/social-facebook.png", alt="Facebook")
      a(href="https://www.youtube.com/user/macoveipresedinte", target="_blank")
        img.youtube(src="assets/img/social-youtube.png", alt="YouTube")
      a(href="http://vimeo.com/user30874894", target="_blank")
        img.vimeo(src="assets/img/social-vimeo.png", alt="Vimeo")
    img.logo(src="assets/img/logo-monica-macovei-presedinte.png", alt="Poză Monica Macovei")
    .quote-box(role="quote-box")

.call-to-action
  .container
    .row
      .column.col-sm-4
        h1 Veniți cu mine!
        p.lead N-am moguli care să mă susțină. Nici vreun partid. Voi câștiga doar cu ajutorul vostru.
        a.link.btn.btn-lg.btn-default(href="/fii-alaturi-de-mine/") Implică-te
        ul.questions
          li Descarcă kit-ul voluntarului
          li Descarcă afișul A4
          li Descarcă afișul A3
      .column.col-sm-4
        h1 Strânge semnături
        p.lead Am nevoie de 200.000 de semnături pentru a putea candida la președinție.
        a.link.btn.btn-lg.btn-default(href="/voluntariat/") Strânge semnături
        ul.questions
          li De ce 200.000 semnături?
          li Cum pot ajuta?
          li Unde trimit listele de semnături?
      .column.col-sm-4
        h1 Donează
        p.lead Transparență până la capăt în toate privințele. Întreg bugetul campaniei va fi disponibil online.
        a.link.btn.btn-lg.btn-default(href="/donatii/") Donează acum
        ul.questions
          li Cum pot să donez?
          li De ce să donez bani?
          li Cum pot să contribui altfel?
