.jumbotron
  .container
    .row
      .col-sm-12
        img.img-responsive(src="http://placehold.it/1200x240")
    hr
    .row
      .col-sm-4
        a.btn.btn-lg.btn-block.btn-default(href="/fii-alaturi-de-mine/")
          | Depunerea candidaturii
          .small 200.000 de semnături
      .col-sm-4
        .btn.btn-lg.btn-block.btn-default Voluntariat
      .col-sm-4
        .btn.btn-lg.btn-block.btn-default Donații
