.hero
  img.banner(src="assets/img/hero/04-ocs.jpg")
  .overlay
    .social-btns
      a(href="https://www.facebook.com/MonicaMacoveiUE", target="_blank")
        img.facebook(src="assets/img/social-facebook.png", alt="Facebook")
      a(href="https://www.youtube.com/user/macoveipresedinte", target="_blank")
        img.youtube(src="assets/img/social-youtube.png", alt="YouTube")
      a(href="http://vimeo.com/user30874894", target="_blank")
        img.vimeo(src="assets/img/social-vimeo.png", alt="Vimeo")
    a(href="/")
      img.logo(src="assets/img/logo-macovei-albastru.jpg", alt="Poză Monica Macovei")
    .video-box(role="video-box")
      //- Prives.eu embed code
      //- .sustinator.sustinator-nume 
      //-   span Conferință de presă Monica Macovei, ora: 14:00
      //- iframe.embed-responsive-item(src='//www.privesc.eu/widget/live/48378', frameborder='0', width='480', height='270', scrolling='no')
      .testimonial
        .sustinator.small.sustinator-nume
          span Am nevoie de semnătura ta!
        //- .sustinator.sustinator-text
        //-   span "Am nevoie de semnătura ta!"
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="//www.youtube.com/embed/fgiHvoR1Zhk?rel=0&iv_load_policy=3&showinfo=0&controls=0", modestbranding="1", frameborder="0", allowfullscreen)
      //- .sustinator.sustinator-nume
      //-   span Cristi Ghinea:
      //- .sustinator.sustinator-text
      //-   span "Votez Monica Macovei pentru DNA, pentru ANI, pentru tot ce a făcut la PE."
      //- .embed-responsive.embed-responsive-16by9
      //-   iframe.embed-responsive-item(src="//www.youtube.com/embed/HkwVC67THqA?rel=0&iv_load_policy=3&showinfo=0&controls=3", modestbranding="1", frameborder="0", allowfullscreen)



    //- .quote-box(role="quote-box")
    //-   blockquote
    //-     span Monica Macovei, apărătoarea iconică a libertăților românilor.
    //-   .author
    //-     img(src="assets/img/logo-le-monde.png", alt="Logo Le Monde")
