
.content
  .link
    .row
      .col-sm-8.col-md-9
        a(href="#{locals.url}")
          h4.media-heading.post-title !{locals.title}
      .col-sm-4.col-md-3
        a.read-more(href="#{locals.url}") Citește
