.liveStripe
  .container
    .row
      .col-sm-4
        h1 Live de la sediul de campanie, de la ora 18:30
      .col-sm-8
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src="//www.privesc.eu/widget/live/54254", width='480', height='270', scrolling='no')
