// Begin MailChimp Signup Form 
link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')

#mc_embed_signup(style="background:#fff; clear:left; font:12px Helvetica,Arial,sans-serif;")
  form#mc-embedded-subscribe-form.validate(action='//macoveipresedinte.us8.list-manage.com/subscribe/post?u=6e75d370860ef4b27981c19bf&id=eeded48dd6', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate', role="form")
    .mc-field-group.form-group
      label(for='mce-EMAIL')
        | Adresă de Email
        span.asterisk *
      input#mce-EMAIL.required.email.form-control(type='email', value='', name='EMAIL')
    .mc-field-group.form-group
      label(for='mce-FNAME')
        | Prenume
        span.asterisk *
      input#mce-FNAME.required.form-control(type='text', value='', name='FNAME')
    .mc-field-group.form-group
      label(for='mce-LNAME')
        | Nume
        span.asterisk *
      input#mce-LNAME.required.form-control(type='text', value='', name='LNAME')
    .mc-field-group.size1of2.form-group
      label(for='mce-MMERGE3') Telefon 
      input#mce-MMERGE3.form-control(type='text', name='MMERGE3', value='')
    .mc-field-group.form-group
      label(for='mce-MMERGE4') Județ 
      select#mce-MMERGE4.form-control(name='MMERGE4')
        option(value='')
        option(value='DIASPORA') DIASPORA
        option(value='Alba') Alba
        option(value='Arad') Arad
        option(value='Arges') Arges
        option(value='Bacau') Bacau
        option(value='Bihor') Bihor
        option(value='Bistrita-Nasaud') Bistrita-Nasaud
        option(value='Botosani') Botosani
        option(value='Braila') Braila
        option(value='Brasov') Brasov
        option(value='Bucuresti') Bucuresti
        option(value='Buzau') Buzau
        option(value='Calarasi') Calarasi
        option(value='Caras-Severin') Caras-Severin
        option(value='Cluj') Cluj
        option(value='Constanta') Constanta
        option(value='Covasna') Covasna
        option(value='Dambovita') Dambovita
        option(value='Dolj') Dolj
        option(value='Galati') Galati
        option(value='Giurgiu') Giurgiu
        option(value='Gorj') Gorj
        option(value='Harghita') Harghita
        option(value='Hunedoara') Hunedoara
        option(value='Ialomita') Ialomita
        option(value='Iasi') Iasi
        option(value='Ilfov') Ilfov
        option(value='Maramures') Maramures
        option(value='Mehedinti') Mehedinti
        option(value='Mures') Mures
        option(value='Neamt') Neamt
        option(value='Olt') Olt
        option(value='Prahova') Prahova
        option(value='Salaj') Salaj
        option(value='Satu Mare') Satu Mare
        option(value='Sibiu') Sibiu
        option(value='Suceava') Suceava
        option(value='Teleorman') Teleorman
        option(value='Timis') Timis
        option(value='Tulcea') Tulcea
        option(value='Valcea') Valcea
        option(value='Vaslui') Vaslui
        option(value='Vrancea') Vrancea
    .mc-field-group.input-group.form-group
      strong Doresc să mă implic 
      ul
        li
          input(type='checkbox', value='2', name='group[13521][2]', id='mce-group[13521]-13521-0')
          label(for='mce-group[13521]-13521-0')  Strângere semnături
        li
          input(type='checkbox', value='4', name='group[13521][4]', id='mce-group[13521]-13521-1')
          label(for='mce-group[13521]-13521-1')  Promovare online
        li
          input(type='checkbox', value='8', name='group[13521][8]', id='mce-group[13521]-13521-2')
          label(for='mce-group[13521]-13521-2')  Contribuție financiară
        li
          input(type='checkbox', value='16', name='group[13521][16]', id='mce-group[13521]-13521-3')
          label(for='mce-group[13521]-13521-3')  Ca voluntar
    #mce-responses.clear
      #mce-error-response.response(style='display: none;')
      #mce-success-response.response(style='display: none;')
    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
    div(style='position: absolute; left: -5000px;')
      input(type='text', name='b_6e75d370860ef4b27981c19bf_eeded48dd6', tabindex='-1', value='')
    .clear
      input#mc-embedded-subscribe.button(type='submit', value='Trimite', name='subscribe')
    .indicates-required
      span.asterisk *
      | indicates required

// End mc_embed_signup
