.photoStripe
  //- video(autoplay='true', loop='true')
  //-   source(src='/assets/placeholder.mp4', type='video/mp4')
  .imgBack
    img(src="/assets/img/hero/08-ocs.jpg")
  .overlay
    .callout
      .container
        span CANDIDEZ INDEPENDENT LA PREȘEDINȚIE
    .hotlinks.text-center
      .container
        a(href="/sustinatori/testimoniale-video/") susținători
        a(href="/candidatura/de-ce-sa-ma-votati/") de ce să mă votați?
        a(href="/voluntariat/") voluntariat
    .social-div
      .container
        div
          .social
            iframe.embed-responsive( src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMonicaMacoveiUE&layout=standard&action=like&show_faces=true&share=true&height=120', scrolling='no', frameborder='0', style='border: none; overflow: hidden; height: 120px', allowtransparency='true')
    .chevron-div
      .container
        div
          .chevron
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9a
                .hi-icon
                  i.fa.fa-chevron-down.fa-2x
    .quote-bar
      .container
        div
          .quote
            span "Monica Macovei, apărătoarea iconică a libertăților românilor."
            img(src="/assets/img/logo-le-monde.png", style="height: 40%;")
