.photoStripe
<<<<<<< HEAD
<<<<<<< HEAD
  //- video(autoplay='true', loop='true')
  //-   source(src='assets/placeholder.mp4', type='video/mp4')
=======
>>>>>>> Refactoring.
=======
  //- video(autoplay='true', loop='true')
  //-   source(src='assets/placeholder.mp4', type='video/mp4')
>>>>>>> Add video to homepage.
  .imgBack
    img(src="assets/img/hero/08-ocs.jpg")
  .overlay
    .container
      .callout CANDIDEZ INDEPENDENT LA PREȘEDINȚIE
      .hotlinks
        .row
          .col-md-2.col-sm-3.col-md-offset-3.col-sm-offset-2 strânge semnături
          .col-md-2.col-sm-3 de ce să mă votați?
          .col-md-2.col-sm-3 viziune
      .chevron
        i.fa.fa-chevron-down.fa-2x
    .quote-bar
      .container
        div
          .quote
            span "Monica Macovei, apărătoarea iconică a libertăților românilor."
            img(src="assets/img/logo-le-monde.png")
