.photoStripe
  //- video(autoplay='true', loop='true')
  //-   source(src='assets/placeholder.mp4', type='video/mp4')
  .imgBack
    img(src="assets/img/hero/08-ocs.jpg")
  .overlay
    .container
      .callout CANDIDEZ INDEPENDENT LA PREȘEDINȚIE
      .hotlinks.text-center
        a(href="/sustinatori/testimoniale-video") susținători
        a(href="/candidatura/de-ce-sa-ma-votati") de ce să mă votați?
        a(href="/voluntariat") voluntariat
      .chevron
        i.fa.fa-chevron-down.fa-2x
    .quote-bar
      .container
        div
          .quote
            span "Monica Macovei, apărătoarea iconică a libertăților românilor."
            img(src="assets/img/logo-le-monde.png", style="height: 40%;")
