- var bgImages = ['/assets/img/hero/20140902-MMConferintaDemisiePDL-0032.jpg','/assets/img/hero/20140903-MMIntalnireSustinatoriSediu-0023.jpg','/assets/img/hero/20140905-MMConferintaUWE-0101.jpg','/assets/img/hero/20140911-MMStudio-0029-1.jpg', '/assets/img/hero/20140911-MMStudio-0042.jpg','/assets/img/hero/hero-dan-amariei.jpg','/assets/img/hero/hero-gradina-bw.jpg','/assets/img/hero/hero-mov.jpg','/assets/img/hero/hero-smile-bw.jpg']
- var bgNow = bgImages[Math.floor(Math.random() * bgImages.length)];
.photoStripe
  //- video(autoplay='true', loop='true')
  //-   source(src='/assets/placeholder.mp4', type='video/mp4')
  .imgBack(style="background-image: url('#{bgNow}')")
    //- img(src="#{bgNow}")
  .overlay.text-center
    .callout
      span Macovei, mai bună decât ei!
    .hotlinks
      a(href="/sustinatori/testimoniale-video/") susținători
      a(href="/candidatura/de-ce-sa-ma-votati/") de ce să mă votați?
      a(href="/voluntariat/") voluntariat
    .chevron-div
      .container
        div
          .chevron
              .hi-icon-wrap.hi-icon-effect-9.hi-icon-effect-9a
                .hi-icon
                  i.fa.fa-chevron-down.fa-2x
    .social-div.hidden-xs
      .container
        div
          .social
            iframe.embed-responsive( src='//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMonicaMacoveiUE&layout=standard&action=like&show_faces=true&share=true&height=120', scrolling='no', frameborder='0', style='border: none; overflow: hidden; height: 120px', allowtransparency='true')
