body
  .jumbotron
    .container
      .row
        .col-sm-7
          img.img-responsive(src="http://placehold.it/500x200")
        .col-sm-5
          ul
            li ceva1
            li ceva2
            li ceva3
            li ceva4

  .container
    div(role="posts-collection")
